<div class="row" style="margin-bottom: 15px">
    <div class="col-xs-6">
        <div class="btn-group">
            <label class="btn btn-default"
                   ng-model="$ctrl.fragmentSizeLimitHa"
                   ng-change="$ctrl.initializeMap()"
                   uib-btn-radio="$ctrl.mooseFragmentSizeLimitHa">
            <span class="text-primary fa fa-check"
                  ng-show="$ctrl.fragmentSizeLimitHa === $ctrl.mooseFragmentSizeLimitHa"></span>
                &nbsp;
                <span translate="harvestpermit.application.fragment.mooseFragment"></span>
            </label>

            <label class="btn btn-default"
                   ng-model="$ctrl.fragmentSizeLimitHa"
                   ng-change="$ctrl.initializeMap()"
                   uib-btn-radio="$ctrl.deerFragmentSizeLimitHa">
            <span class="text-primary fa fa-check"
                  ng-show="$ctrl.fragmentSizeLimitHa === $ctrl.deerFragmentSizeLimitHa"></span>
                &nbsp;
                <span translate="harvestpermit.application.fragment.deerFragment"></span>
            </label>
        </div>
    </div>

    <div class="col-xs-6 text-right">
        <button class="btn btn-default"
                ng-click="$ctrl.exportFragmentExcel()">
            <span class="fa fa-fw fa-file-excel-o"></span>
            <span translate="harvestpermit.decision.area.buttons.fragments"></span>
        </button>
    </div>
</div>

<leaflet id="{{ $ctrl.mapId }}"
         class="r-cursor-arrow"
         defaults="$ctrl.mapDefaults"
         layers="$ctrl.mapDefaults.mmlLayers"
         controls="$ctrl.mapDefaults.controls"
         bounds="$ctrl.mapState.viewBounds"
         event-broadcast="$ctrl.mapEvents"
         r-viewport-height>
</leaflet>
