<form name="carnivoreJustificationForm" r-force-show-errors-check-validity>
    <div class="alert alert-info wizard-info">
        <span class="fa fa-info-circle"></span>

        <div class="alert-content">
            <p class="alert-title" translate="harvestpermit.wizard.carnivore.justification.instructionsTitle"></p>

            <p translate="harvestpermit.wizard.carnivore.justification.instructions"></p>
        </div>
    </div>

    <div class="form-group" show-errors>
        <label class="control-label"
               for="populationAmount"
               translate="harvestpermit.wizard.carnivore.justification.populationAmount">
        </label>

        <textarea class="form-control" rows="4"
                  name="populationAmount"
                  id="populationAmount"
                  ng-model="$ctrl.data.populationAmount"
                  required
                  spellcheck="false"></textarea>
    </div>

    <hr class="invisible">

    <div class="form-group" show-errors>
        <label class="control-label"
               for="alternativeMeasures"
               translate="harvestpermit.wizard.carnivore.justification.alternativeMeasures">
        </label>

        <textarea class="form-control" rows="4"
                  name="alternativeMeasures"
                  id="alternativeMeasures"
                  ng-model="$ctrl.data.alternativeMeasures"
                  required
                  spellcheck="false"></textarea>
    </div>
</form>

<hr class="invisible">
<hr class="invisible">

<permit-application-wizard-navigation
        exit="$ctrl.exit(carnivoreJustificationForm)"
        previous="$ctrl.previous(carnivoreJustificationForm)"
        next-disabled="$ctrl.nextDisabled(carnivoreJustificationForm)"
        next="$ctrl.next()">
</permit-application-wizard-navigation>
