<div ng-show="!groupedEntries" class="well" translate="gamediary.search.noresults"></div>

<div ng-show="groupedEntries">
    <uib-accordion close-others="false">
        <!-- track by $index and one time binding :: do not work together if repeated list changes -->
        <div uib-accordion-group
             class="panel-default"
             is-open="group.accordionOpen"
             ng-repeat="group in groupedEntries track by group.pointOfTime">
            <uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-1">
                        <i class="pull-left glyphicon r-hunting-day-header"
                           ng-class="{'glyphicon-chevron-down': group.accordionOpen, 'glyphicon-chevron-right': !group.accordionOpen}"></i>
                    </div>

                    <div class="col-xs-5">
                        <span class="r-hunting-day-header-date">{{ ::(group.pointOfTime|date:'d.M.yyyy') }}</span>
                    </div>

                    <div class="col-xs-5">
                        <span ng-if="group.totalHarvestSpecimenCount > 0"
                             class="r-hunting-day-harvest-counter">
                            <span>{{ group.totalHarvestSpecimenCount }} <span translate="gamediary.search.pieces" ng-if="false"></span></span>
                            <span class="fa fa-crosshairs"></span>
                        </span>
                        <span ng-if="group.totalObservationSpecimenCount > 0"
                             class="r-hunting-day-harvest-counter">
                            <span>{{ group.totalObservationSpecimenCount }} <span translate="gamediary.search.pieces" ng-if="false"></span></span>
                            <r-binoculars-symbol/>
                        </span>
                        <span ng-if="group.totalSrvaSpecimenCount > 0"
                              class="r-hunting-day-harvest-counter">
                            <span>{{ group.totalSrvaSpecimenCount }} <span translate="gamediary.search.pieces" ng-if="false"></span></span>
                            <span class="fa fa-exclamation-triangle"></span>
                        </span>
                    </div>
                </div>
            </uib-accordion-heading>

            <div class="r-gamediary-hunting-day-content">
                <!-- track by $index and one time binding :: do not work together if repeated list changes -->
                <div class="r-gamediary-hunting-day-list" ng-repeat="entry in group.entries track by (entry.type + entry.id)" ng-click="::(showEntry(entry))">
                    <div class="col1">
                        <img ng-if="!entry.isOtherSpecies()" ng-src="/static/elainlajikuvat/96x96/{{ ::entry.gameSpeciesCode }}.jpg"
                             class="r-gamediary-species-logo" width="24" height="24"/>
                        <span ng-if="entry.isOtherSpecies()" class="fa fa-question fa-lg"></span>
                    </div>

                    <div class="col2">
                        <span class="r-hunting-day-harvest-species">{{ getGameName(entry.gameSpeciesCode) }}</span>
                        <span class="glyphicon glyphicon-briefcase text-warning" ng-show="entry.moderatorOverride"
                              uib-tooltip="{{ 'gamediary.moderatorOverride' | translate }}" tooltip-append-to-body></span>
                    </div>

                    <div class="col3">
                        <span class="r-hunting-day-harvest-amount">{{ ::entry.totalSpecimenAmount || 1 }} {{ 'gamediary.search.pieces' | translate }}</span>
                    </div>

                    <div class="col4">
                        <span class="r-hunting-day-harvest-point-of-time">{{ ::entry.pointOfTime | date:'HH:mm' }}</span>
                    </div>

                    <div class="col5">
                        <span class="fa fa-crosshairs" ng-if="::entry.isHarvest()"></span>
                        <span class="fa fa-exclamation-triangle" ng-if="::entry.isSrva()"></span>
                        <r-binoculars-symbol ng-if="::entry.isObservation()"/>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>
