<form class="form form-horizontal" role="form">
    <div class="form-group" show-errors>
        <label for="beginDate" translate="global.beginDate" class="col-xs-4 control-label"></label>
        <div class="col-xs-8">
            <div class="input-group r-dropdown-align-right" ng-controller="DatePickerController">
                <input id="beginDate" type="text" name="beginDate"
                       class="form-control"
                       uib-datepicker-popup is-open="isDatePickerOpen"
                       datepicker-append-to-body="true"
                       ng-model="state.beginDate"
                       required
                       max-date="state.endDate"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" tabindex="-1"
                            ng-click="toggleDatePopup($event)">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group" show-errors>
        <label for="endDate" translate="global.endDate" class="col-xs-4 control-label"></label>
        <div class="col-xs-8">
            <div class="input-group r-dropdown-align-right" ng-controller="DatePickerController">
                <input id="endDate" type="text" name="endDate"
                       class="form-control"
                       uib-datepicker-popup is-open="isDatePickerOpen"
                       datepicker-append-to-body="true"
                       ng-model="state.endDate"
                       required
                       min-date="state.beginDate"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" tabindex="-1"
                            ng-click="toggleDatePopup($event)">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <ul class="list-unstyled col-xs-offset-1">
        <li>
            <label class="checkbox-inline">
                <input type="checkbox"
                       name="reportedForOthers" id="reportedForOthers"
                       ng-model="state.reportedForOthers">
                <span translate="gamediary.search.reportedForOthers"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline">
                <input type="checkbox"
                       name="onlyTodo" id="onlyTodo"
                       ng-model="state.onlyTodo">
                <span translate="gamediary.search.onlyTodo"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline">
                <input type="checkbox"
                       name="onlyReports" id="onlyReports"
                       ng-model="state.onlyReports">
                <span translate="gamediary.search.onlyHarvestReports"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline">
                <input type="checkbox"
                       name="showHarvest" id="showHarvest"
                       ng-model="state.showHarvest">
                <span translate="gamediary.search.showHarvest"></span>
            </label>
        </li>
        <li>
            <label class="checkbox-inline">
                <input type="checkbox"
                       name="showObservation" id="showObservation"
                       ng-model="state.showObservation">
                <span translate="gamediary.search.showObservation"></span>
            </label>
        </li>
        <li ng-show="enableSrva">
            <label class="checkbox-inline">
                <input type="checkbox"
                       name="showSrvaEvent" id="showSrvaEvent"
                       ng-model="state.showSrvaEvent">
                <span translate="srva.form.showSrvaEvent"></span>
            </label>
        </li>
    </ul>
</form>
