<form class="form form-horizontal">
    <div class="well">
        <div class="form-group" ng-repeat="opt in opts">
            <div class="col-xs-5"
                 ng-show="opt.org.areas">
                <select class="form-control"
                        ng-model="opt.area"
                        ng-options="a.name for a in opt.org.areas track by a.officialCode">
                    <option value="">{{'reporting.contacts.allAreas' | translate}}</option>
                </select>
            </div>

            <div class="col-xs-5"
                 ng-show="opt.area && opt.org.rhySelection">
                <select class="form-control"
                        ng-model="opt.rhy"
                        ng-options="rhy.name for rhy in opt.area.subOrganisations track by rhy.officialCode">
                    <option value="">{{'reporting.contacts.allRHYs' | translate}}</option>
                </select>
            </div>
            <span class="col-xs-1">
                <span class="glyphicon glyphicon-minus" ng-click="removeOpt(opt)"> </span>
                <span class="glyphicon glyphicon-plus" ng-click="addOpt(opt)"> </span>
            </span>
        </div>
    </div>
</form>

<div>
    <ul class="nav nav-pills">
        <li>
            <button type="submit" ng-click="submit()" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="reporting.contacts.search"></span>
            </button>
        </li>

        <li ng-show="pager.total > 0">
            <form action="/api/v1/contactsearch/rhy/excel" method="POST">
                <input type="hidden" name="json" value="{{postData}}"/>
                <input type="hidden" spring-csrf-cookie />
                <button type="submit" class="btn btn-primary" value="">
                    <span class="glyphicon glyphicon-search"></span> &nbsp;
                    <span translate="reporting.common.toExcel"></span>
                </button>
            </form>
        </li>

        <li class="pull-right" ng-show="pager.total > 0">
            <button type="button" class="btn btn-primary"
                    ng-controller="CopyEmailsController as $emailCtrl"
                    ng-click="$emailCtrl.copyEmails(pager.data)">

                <span class="glyphicon glyphicon-envelope"></span> &nbsp;
                <span translate="reporting.common.copyEmails"></span>
            </button>
        </li>
    </ul>

    <h5 ng-show="pager.total === 0" translate="reporting.contacts.noResults"></h5>

    <div ng-show="pager.total > 0">
        <h5>{{'reporting.contacts.resultCount' | translate:getCount()}}</h5>


        <div class="r-contactsearch-results">
            <div ng-show="pager.total > pager.pageSize">
                <ul uib-pagination
                    ng-model="pager.currentPage"
                    items-per-page="pager.pageSize"
                    total-items="pager.total"
                    rotate="true"
                    max-size="15"
                    boundary-links="true"
                    class="pagination-md"
                    previous-text="{{'global.pager.previous' | translate}}"
                    next-text="{{'global.pager.next' | translate}}"
                    first-text="{{'global.pager.first' | translate}}"
                    last-text="{{'global.pager.last' | translate}}"></ul>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="rhy.officialCode"></th>
                        <th translate="organisation.organisation"></th>
                        <th translate="global.person.email"></th>
                        <th translate="global.person.phoneNumber"></th>
                        <th translate="global.address.streetAddress"></th>
                        <th translate="global.address.postalCode"></th>
                        <th translate="global.address.city"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="o in page track by o.officialCode">
                        <td>{{o.officialCode}}</td>
                        <td>{{o.rhyName}}</td>
                        <td>{{o.email}}</td>
                        <td>{{o.phoneNumber}}</td>
                        <td>{{o.streetAddress}}</td>
                        <td>{{o.postalCode}}</td>
                        <td>{{o.city}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
