<table class="table table-condensed property-list">
    <thead>
    <tr>
        <th translate="club.area.map.tab.selectedAreas.propertyIdentifier"></th>
        <th translate="club.area.map.tab.selectedAreas.areaSize"></th>
        <th><span class="glyphicon glyphicon-pushpin"></span></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="f in (palstaFeatureList() | propertyFeaturesChanged | orderBy:['properties.number','id']) track by f.id"
        ng-mouseenter="editor.api.features.setHighlight(f)"
        ng-mouseleave="editor.api.features.removeHighlight(f)">
        <td>
            <span class="glyphicon glyphicon-warning-sign text-danger"></span>
            <a ng-click="editor.api.zoom(f.id)" ng-bind="::(f.properties.number | formatPropertyIdentifier)"></a>
            <br/>
            <span ng-show="f.properties.number != f.properties.new_palsta_tunnus"
                  class="text-danger"
                  ng-bind="::f.properties.new_palsta_tunnus | formatPropertyIdentifier"></span>
        </td>
        <td>
            <span ng-bind="::((f | featureAreaSize))"></span>
        </td>
        <td>
            <span class="text-danger"
                  ng-bind="::(f.properties.diff_area | prettyAreaSize)"></span>
        </td>
        <td>
            <a ng-click="updateChangedFeature(f)">
                <span translate="club.area.map.tab.changed.fix"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
