<div class="r-account-profile row">
    <div class="col-md-5">
        <account-profile-person
                profile="$ctrl.profile">
        </account-profile-person>

        <account-profile-address
                address="$ctrl.profile.address"
                address-source="$ctrl.profile.addressSource"
                on-save="$ctrl.saveAddress(address)">
        </account-profile-address>

        <account-profile-other
                profile="$ctrl.profile"
                on-save="$ctrl.saveOtherInfo(otherInfo)">
        </account-profile-other>

        <account-profile-password
                ng-if="$ctrl.isUserOwnProfile">
        </account-profile-password>

        <account-profile-deactivate ng-if="!$ctrl.profile.foreignPerson"
                                    profile="$ctrl.profile">
        </account-profile-deactivate>
    </div>

    <div class="col-md-7">
        <account-profile-hunter
                profile="$ctrl.profile"></account-profile-hunter>

        <account-profile-shooting-tests
                shooting-tests="$ctrl.shootingTests"></account-profile-shooting-tests>

        <account-profile-invitation ng-if="!$ctrl.profile.foreignPerson"
                                    club-invitations="$ctrl.clubInvitations"
                                    is-user-own-profile="$ctrl.isUserOwnProfile">
        </account-profile-invitation>

        <account-profile-clubs ng-if="!$ctrl.profile.foreignPerson"
                               club-occupations="$ctrl.profile.clubOccupations"
                               is-user-own-profile="$ctrl.isUserOwnProfile"
                               person-id="$ctrl.personId">
        </account-profile-clubs>

        <account-profile-occupations ng-if="!$ctrl.profile.foreignPerson"
                                     occupations="$ctrl.profile.occupations">
        </account-profile-occupations>

        <account-profile-jht ng-if="!$ctrl.profile.foreignPerson"
                             jht-trainings="$ctrl.jhtTrainings">
        </account-profile-jht>

        <account-profile-feature-activation ng-if="!$ctrl.profile.foreignPerson"
                                            profile="$ctrl.profile">
        </account-profile-feature-activation>
    </div>
</div>
