<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" translate="account.profile.srva.title"></h3>
    </div>
    <div class="panel-body">

        <div ng-show="$ctrl.profile.enableSrva" translate="account.profile.srva.enabled"></div>
        <div ng-show="!$ctrl.profile.enableSrva" translate="account.profile.srva.disabled"></div>

        <div class="pull-right">
            <button ng-if="$ctrl.profile.enableSrva"
                    class="btn btn-primary"
                    ng-confirm-click
                    ng-confirm-click-action="$ctrl.deactivate()"
                    translate="account.profile.srva.deactivate"></button>

            <button ng-if="!$ctrl.profile.enableSrva"
                    class="btn btn-primary"
                    ng-click="$ctrl.activate()"
                    translate="account.profile.srva.activate"></button>
        </div>
    </div>
</div>