<form name="hunterExamTrainingForm" role="form" class="form form-horizontal r-annual-statistics-hunter-exam-training-form"
      autocomplete="off"
      r-force-show-errors-check-validity>

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="rhy.annualStats.trainings.hunterExam.form.title"></h3>
    </div>

    <div class="modal-body">
        <div ng-if="$ctrl.isModerator" class="form-group" show-errors>
            <label for="moderatorOverriddenHunterExamTrainingEvents" class="control-label">
                <span translate="rhy.annualStats.trainings.hunterExam.form.moderatorOverriddenHunterExamTrainingEvents"></span>
                <span class="glyphicon glyphicon-asterisk text-danger" ng-if="$ctrl.hunterExamTrainingEventsOverridden"></span>
            </label>

            <div class="form-control-wrapper input-group">
                <input type="number" name="moderatorOverriddenHunterExamTrainingEvents" id="moderatorOverriddenHunterExamTrainingEvents"
                       min="0" max="999" step="1"
                       class="form-control no-spinner"
                       ng-model="$ctrl.data.moderatorOverriddenHunterExamTrainingEvents"
                       ng-required="$ctrl.hunterExamTrainingEventsOverridden"/>

                <div class="input-group-addon">
                    <span translate="global.pcs"></span>
                </div>
            </div>

            <div class="form-control-offset-wrapper" ng-show="hunterExamTrainingForm.moderatorOverriddenHunterExamTrainingEvents.$invalid">
                <p class="help-block" translate="global.messages.invalid"></p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="hunterExamParticipants" class="control-label">
                <span translate="rhy.annualStats.trainings.hunterExam.form.hunterExamParticipants"></span>
            </label>

            <div class="form-control-wrapper input-group">
                <input type="number" name="hunterExamParticipants" id="hunterExamParticipants"
                       min="0" max="99999" ng-step="1"
                       class="form-control no-spinner"
                       ng-model="$ctrl.data.hunterExamTrainingParticipants"/>

                <div class="input-group-addon">
                    <span translate="global.personUnit"></span>
                </div>
            </div>

            <div class="form-control-offset-wrapper" ng-show="hunterExamTrainingForm.hunterExamParticipants.$invalid">
                <p class="help-block" translate="global.messages.invalid"></p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.save()"
                ng-disabled="hunterExamTrainingForm.$invalid"
                translate="global.button.save"></button>
    </div>
</form>
