<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.trainings.hunter.title'"
                               last-modified="$ctrl.hunterTraining.lastModified"
                               has-warning-sign="$ctrl.warnings.length > 0">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr class="subtitle-row">
                        <td colspan="2" translate="rhy.annualStats.trainings.hunter.huntingLeaderTrainings"></td>
                    </tr>
                    <tr ng-repeat-start="type in $ctrl.huntingLeaderTrainingTypes">
                        <td class="col-xs-8" ng-switch="($ctrl.hunterTraining[type + 'TrainingEventsOverridden'])">
                        <span ng-switch-when="true"
                              translate="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingEvents')}}"></span>
                            <div ng-switch-when="false"
                                 computed-marker-title="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingEvents')}}"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getEventCount(type)"></span>&nbsp
                            <span class="unit-suffix" translate="global.pcs"></span>
                        </td>
                    </tr>
                    <tr class="indented-row" ng-repeat-end>
                        <td class="col-xs-8" ng-switch="($ctrl.hunterTraining[type + 'TrainingParticipantsOverridden'])">
                        <span ng-switch-when="true"
                              translate="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingParticipants')}}"></span>
                            <div ng-switch-when="false"
                                 computed-marker-title="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingParticipants')}}"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getParticipantCount(type)"></span>&nbsp
                            <span class="unit-suffix" translate="global.personUnit"></span>
                        </td>
                    </tr>

                    <tr class="subtitle-row">
                        <td colspan="2" translate="rhy.annualStats.trainings.hunter.hunterTrainings"></td>
                    </tr>

                    <tr ng-repeat-start="type in $ctrl.huntingTrainingTypes">
                        <td class="col-xs-8" ng-switch="($ctrl.hunterTraining[type + 'TrainingEventsOverridden'])">
                        <span ng-switch-when="true"
                              translate="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingEvents')}}"></span>
                            <div ng-switch-when="false"
                                 computed-marker-title="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingEvents')}}"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getEventCount(type)"></span>&nbsp
                            <span class="unit-suffix" translate="global.pcs"></span>
                        </td>
                    </tr>
                    <tr class="indented-row" ng-repeat-end>
                        <td class="col-xs-8" ng-switch="($ctrl.hunterTraining[type + 'TrainingParticipantsOverridden'])">
                        <span ng-switch-when="true"
                              translate="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingParticipants')}}"></span>
                            <div ng-switch-when="false"
                                 computed-marker-title="{{('rhy.annualStats.trainings.hunter.' + type + 'TrainingParticipants')}}"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getParticipantCount(type)"></span>&nbsp
                            <span class="unit-suffix" translate="global.personUnit"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.editHunterTraining()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
