<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.trainings.otherHunter.title'"
                               last-modified="$ctrl.otherHunterTraining.lastModified">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat-start="type in $ctrl.trainingTypes">
                        <td class="col-xs-8" ng-switch="::($ctrl.otherHunterTraining[type + 'TrainingEventsOverridden'])">
                            <span ng-switch-when="true" translate="{{::('rhy.annualStats.trainings.otherHunter.' + type + 'TrainingEvents')}}"></span>
                            <div ng-switch-when="false" computed-marker-title="{{::('rhy.annualStats.trainings.otherHunter.' + type + 'TrainingEvents')}}"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getEventCount(type)"></span>&nbsp
                            <span class="unit-suffix" translate="global.pcs"></span>
                        </td>
                    </tr>
                    <tr  class="indented-row" ng-repeat-end>
                        <td class="col-xs-8" ng-switch="::($ctrl.otherHunterTraining[type + 'TrainingParticipantsOverridden'])">
                            <span ng-switch-when="true" translate="{{::('rhy.annualStats.trainings.otherHunter.' + type + 'TrainingParticipants')}}"></span>
                            <div ng-switch-when="false" computed-marker-title="{{::('rhy.annualStats.trainings.otherHunter.' + type + 'TrainingParticipants')}}"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getParticipantCount(type)"></span>&nbsp
                            <span class="unit-suffix" translate="global.personUnit"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.editHunterTraining()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
