<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.trainings.stateAid.title'"
                               last-modified="$ctrl.stateAidTraining.lastModified">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr class="subtitle-row">
                        <td colspan="2" translate="rhy.annualStats.trainings.stateAid.huntingLeaderTrainings"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.mooselikeHuntingLeaderTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.mooselikeHuntingLeaderTrainingEvents"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.mooselikeHuntingLeaderTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.mooselikeHuntingLeaderTrainingParticipants"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.carnivoreHuntingLeaderTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.carnivoreHuntingLeaderTrainingEvents"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.carnivoreHuntingLeaderTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.carnivoreHuntingLeaderTrainingParticipants"></td>
                    </tr>

                    <tr class="subtitle-row">
                        <td colspan="2" translate="rhy.annualStats.trainings.stateAid.hunterTrainings"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.mooselikeHuntingTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.mooselikeHuntingTrainingEvents"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.mooselikeHuntingTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.mooselikeHuntingTrainingParticipants"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.carnivoreHuntingTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.carnivoreHuntingTrainingEvents"></td>
                    </tr>
                    <tr class="indented-row">
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.carnivoreHuntingTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.carnivoreHuntingTrainingParticipants"></td>
                    </tr>

                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.srvaTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.srvaTrainingEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.srvaTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.srvaTrainingParticipants"></td>
                    </tr>

                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.carnivoreContactPersonTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.carnivoreContactPersonTrainingEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.carnivoreContactPersonTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.carnivoreContactPersonTrainingParticipants"></td>
                    </tr>

                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.accidentPreventionTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.accidentPreventionTrainingEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.accidentPreventionTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.accidentPreventionTrainingParticipants"></td>
                    </tr>

                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.schoolTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.schoolTrainingEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.schoolTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.schoolTrainingParticipants"></td>
                    </tr>

                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.collegeTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.collegeTrainingEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.collegeTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.collegeTrainingParticipants"></td>
                    </tr>

                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.otherYouthTargetedTrainingEvents"></td>
                        <td num-pieces="::$ctrl.stateAidTraining.otherYouthTargetedTrainingEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" translate="rhy.annualStats.trainings.stateAid.otherYouthTargetedTrainingParticipants"></td>
                        <td num-persons="::$ctrl.stateAidTraining.otherYouthTargetedTrainingParticipants"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.editStateAidTraining()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
