<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.trainings.youth.title'"
                               last-modified="$ctrl.youthTraining.lastModified">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td class="col-xs-8" ng-switch="$ctrl.youthTraining.schoolTrainingEventsOverridden">
                        <span ng-switch-when="true" translate="rhy.annualStats.trainings.youth.schoolTrainingEvents"></span>
                        <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.youth.schoolTrainingEvents"></div>
                    </td>
                    <td num-pieces="::$ctrl.youthTraining.schoolTrainingEvents"></td>
                </tr>
                <tr class="indented-row">
                    <td class="col-xs-8" ng-switch="$ctrl.youthTraining.schoolTrainingParticipantsOverridden">
                        <span ng-switch-when="true" translate="rhy.annualStats.trainings.youth.schoolTrainingParticipants"></span>
                        <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.youth.schoolTrainingParticipants"></div>
                    </td>
                    <td num-persons="::$ctrl.youthTraining.schoolTrainingParticipants"></td>
                </tr>

                <tr>
                    <td class="col-xs-8" ng-switch="$ctrl.youthTraining.collegeTrainingEventsOverridden">
                        <span ng-switch-when="true" translate="rhy.annualStats.trainings.youth.collegeTrainingEvents"></span>
                        <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.youth.collegeTrainingEvents"></div>
                    </td>
                    <td num-pieces="::$ctrl.youthTraining.collegeTrainingEvents"></td>
                </tr>
                <tr class="indented-row">
                    <td class="col-xs-8" ng-switch="$ctrl.youthTraining.collegeTrainingParticipantsOverridden">
                        <span ng-switch-when="true" translate="rhy.annualStats.trainings.youth.collegeTrainingParticipants"></span>
                        <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.youth.collegeTrainingParticipants"></div>
                    </td>
                    <td num-persons="::$ctrl.youthTraining.collegeTrainingParticipants"></td>
                </tr>

                <tr>
                    <td class="col-xs-8" ng-switch="$ctrl.youthTraining.otherYouthTargetedTrainingEventsOverridden">
                        <span ng-switch-when="true" translate="rhy.annualStats.trainings.youth.otherYouthTargetedTrainingEvents"></span>
                        <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.youth.otherYouthTargetedTrainingEvents"></div>
                    </td>
                    <td num-pieces="::$ctrl.youthTraining.otherYouthTargetedTrainingEvents"></td>
                </tr>
                <tr class="indented-row">
                    <td class="col-xs-8" ng-switch="$ctrl.youthTraining.otherYouthTargetedTrainingParticipantsOverridden">
                        <span ng-switch-when="true" translate="rhy.annualStats.trainings.youth.otherYouthTargetedTrainingParticipants"></span>
                        <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.youth.otherYouthTargetedTrainingParticipants"></div>
                    </td>
                    <td num-persons="::$ctrl.youthTraining.otherYouthTargetedTrainingParticipants"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.editYouthTraining()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
