<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.trainings.otherTraining.title'"
                               last-modified="$ctrl.otherTraining.lastModified">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat-start="type in $ctrl.trainingTypes">
                        <td class="col-xs-8" translate="{{::('rhy.annualStats.trainings.otherTraining.' + type + 'TrainingEvents')}}"></td>
                        <td num-pieces="::($ctrl.otherTraining[type + 'TrainingEvents'])"></td>
                    </tr>
                    <tr ng-repeat-end>
                        <td class="col-xs-8" translate="{{::('rhy.annualStats.trainings.otherTraining.' + type + 'TrainingParticipants')}}"></td>
                        <td num-persons="::($ctrl.otherTraining[type + 'TrainingParticipants'])"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.editOtherTraining()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
