<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.trainings.hunterExam.title'"
                               last-modified="$ctrl.hunterExamTraining.lastModified">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-xs-9" ng-switch="!!$ctrl.hunterExamTraining.hunterExamTrainingEventsLastOverridden">
                            <span ng-switch-when="true" translate="rhy.annualStats.trainings.hunterExam.hunterExamEvents"></span>
                            <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.hunterExam.hunterExamEvents"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getEventCount()"></span>&nbsp
                            <span class="unit-suffix" translate="global.pcs"></span>
                        </td>
                    </tr>

                    <tr class="indented-row">
                        <td class="col-xs-9" ng-switch="$ctrl.hunterExamTraining.hunterExamTrainingParticipantsOverridden">
                            <span ng-switch-when="true" translate="rhy.annualStats.trainings.hunterExam.hunterExamParticipants"></span>
                            <div ng-switch-when="false" computed-marker-title="rhy.annualStats.trainings.hunterExam.hunterExamParticipants"></div>
                        </td>
                        <td class="text-right">
                            <span ng-bind="$ctrl.getParticipantCount()"></span>&nbsp
                            <span class="unit-suffix" translate="global.personUnit"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.editHunterExamTraining()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
