<form name="personalAreaUnionForm" role="form"
      class="form form-horizontal"
      autocomplete="off">

    <div class="modal-header">
        <button riista-modal-close></button>
        <div class="modal-title h3" ng-switch="$ctrl.isUpdate">
            <span ng-switch-when="true" translate="account.areas.editArea"></span>
            <span ng-switch-when="false" translate="account.areas.create"></span>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group" show-errors>
            <label for="areaName" class="col-xs-3 control-label">
                <span translate="account.areas.areaName"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-9">
                <input type="text" name="areaName" id="areaName"
                       class="form-control"
                       minlength="1" maxlength="255"
                       ng-model="$ctrl.areaName"
                       required>

                <p class="help-block has-error"
                   ng-show="personalAreaUnionForm.areaName.$invalid"
                   ng-messages="personalAreaUnionForm.areaName.$error">
                    <span ng-messages-include="common/errorMessages.html"></span>
                </p>
            </div>
        </div>
        <div class="form-group" ng-hide="$ctrl.isUpdate">
            <label for="yearSelect" class="col-xs-3 control-label">
                <span translate="global.huntingYear"></span>
            </label>
            <div class="col-xs-9">
                <select name="yearSelect" id="yearSelect"
                        class="form-control"
                        ng-model="$ctrl.selectedYear"
                        ng-options="year.year as year.name for year in $ctrl.huntingYears | orderBy:'-year'">
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.save(personalAreaUnionForm)"
                ng-disabled="personalAreaUnionForm.$invalid"
                translate="global.button.ok"></button>
    </div>
</form>
