<form name="form" role="form" class="form form-horizontal" autocomplete="off" ng-submit="save()" r-force-show-errors-check-validity>

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="club.main.general.titleEdit"></h3>
    </div>

    <div class="modal-body">
        <div class="form-group" show-errors>
            <label for="nameFI" class="col-xs-4 control-label">
                <span translate="club.main.general.nameFI"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-8">
                <input name="nameFI" id="nameFI" class="form-control"
                       ng-model="club.nameFI"
                       unique-club-name
                       club-id="club.id"
                       ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
                       minlength="5"
                       maxlength="255"
                       required>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="nameSV" class="col-xs-4 control-label">
                <span translate="club.main.general.nameSV"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-8">
                <input name="nameSV" id="nameSV" class="form-control"
                       ng-model="club.nameSV"
                       unique-club-name
                       club-id="club.id"
                       ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
                       minlength="5"
                       maxlength="255"
                       required>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="cancel()"
                translate="global.button.cancel"></button>

        <button type="submit" class="btn btn-primary"
                ng-disabled="form.$invalid"
                translate="global.button.ok"></button>
    </div>
</form>
