<div class="row">
    <div class="col-md-3 col-xs-4">
        <form>
            <select name="huntingYearSelection" id="huntingYearSelection"
                    class="form-control"
                    ng-model="searchModel.year"
                    ng-change="yearChanged()"
                    ng-options="y for y in years">
            </select>
        </form>
    </div>

    <div class="col-md-9 col-xs-8">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th class="col-xs-4" translate="club.harvestsummary.gameCategory"></th>
                <th class="col-xs-4" translate="club.harvestsummary.gameSpecies"></th>
                <th class="col-xs-4 text-center" translate="club.harvestsummary.count"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in summary.items">
                <td>{{ getGameCategory($index, item) }}</td>
                <td>{{ item.species.name | rI18nNameFilter }}</td>
                <td class="text-center">{{ item.count }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
