<div class="row">
    <div class="col-xs-12">
        <h3 name-translated="club"></h3>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="club.main.general.title"></h3>
            </div>

            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <th class="col-xs-3" translate="club.main.general.customerId"></th>
                        <td ng-bind="::$ctrl.club.customerId"></td>
                    </tr>
                    <tr>
                        <th class="col-xs-3" translate="club.main.general.nameFI"></th>
                        <td ng-bind="::$ctrl.club.nameFI"></td>
                    </tr>
                    <tr>
                        <th class="col-xs-3" translate="club.main.general.nameSV"></th>
                        <td ng-bind="::$ctrl.club.nameSV"></td>
                    </tr>

                    <tr ng-if="::$ctrl.moderatorView">
                        <td colspan="2" class="text-right">
                            <a class="btn btn-primary" ng-click="$ctrl.editName()"
                               translate="global.button.edit"></a>
                        </td>
                    </tr>

                    <!-- TYPE -->
                    <tr ng-if="::(!$ctrl.club.subtype)">
                        <th></th>
                        <td>
                            <strong class="text-danger" translate="club.subtype.notSelected"></strong>
                        </td>
                    </tr>

                    <!-- PERSON -->
                    <tr ng-if="::($ctrl.club.subtype == 'PERSON')">
                        <th></th>
                        <td><strong translate="club.subtype.person.title"></strong></td>
                    </tr>
                    <tr ng-if="::($ctrl.club.subtype == 'PERSON' && $ctrl.club.clubPerson)">
                        <th class="col-xs-3" translate="club.subtype.person.link"></th>
                        <td>
                            <span ng-bind="::$ctrl.club.clubPerson.lastName"></span>
                            <span ng-bind="::$ctrl.club.clubPerson.byName"></span>
                        </td>
                    </tr>
                    <tr ng-if="::($ctrl.club.subtype == 'PERSON' && !$ctrl.club.clubPerson)">
                        <th></th>
                        <td>
                            <strong class="text-danger" translate="club.subtype.person.notSelected"></strong>
                        </td>
                    </tr>

                    <!-- BUSINESS -->
                    <tr ng-if="::($ctrl.club.subtype == 'BUSINESS')">
                        <th></th>
                        <td><strong translate="club.subtype.business.title"></strong></td>
                    </tr>
                    <tr ng-if="::($ctrl.club.subtype == 'BUSINESS' && $ctrl.club.businessId)">
                        <th class="col-xs-3" translate="club.subtype.business.link"></th>
                        <td ng-bind="::$ctrl.club.businessId"></td>
                    </tr>
                    <tr ng-if="::($ctrl.club.subtype == 'BUSINESS' && !$ctrl.club.businessId)">
                        <th></th>
                        <td>
                            <strong class="text-danger" translate="club.subtype.business.notSelected"></strong>
                        </td>
                    </tr>

                    <!-- RY -->
                    <tr ng-if="::($ctrl.club.subtype == 'RY')">
                        <th></th>
                        <td><strong translate="club.subtype.ry.title"></strong></td>
                    </tr>
                    <tr ng-if="::($ctrl.club.subtype == 'RY' && $ctrl.club.associationRegistryNumber)">
                        <th class="col-xs-3" translate="club.subtype.ry.link"></th>
                        <td ng-bind="::$ctrl.club.associationRegistryNumber"></td>
                    </tr>
                    <tr ng-if="::($ctrl.club.subtype == 'RY' && !$ctrl.club.associationRegistryNumber)">
                        <th></th>
                        <td>
                            <strong class="text-danger" translate="club.subtype.ry.notSelected"></strong>
                        </td>
                    </tr>

                    <tr ng-if="::$ctrl.club.canEdit">
                        <th></th>
                        <td class="text-right">
                            <a class="btn btn-primary"
                               ng-click="$ctrl.editType()"
                               translate="global.button.edit"></a>
                        </td>
                    </tr>

                    <tr ng-if="::(!$ctrl.club.active)">
                        <td colspan="2">
                            <div class="alert alert-warning" translate="club.main.deactivation.deactive"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default" ng-show="$ctrl.moderatorView">
            <div class="panel-heading">
                <h3 class="panel-title" translate="club.main.deactivation.title"></h3>
            </div>
            <div class="panel-body">
                <div class="well" translate="club.main.deactivation.info"></div>
                <div class="alert alert-warning" ng-show="!$ctrl.club.active"
                     translate="club.main.deactivation.deactive"></div>
                <div class="text-right">
                    <a class="btn btn-danger" ng-show="$ctrl.club.active"
                       ng-confirm-click ng-confirm-click-action="$ctrl.setActive(false)"
                       translate="club.main.deactivation.button.deactivate"></a>
                    <a class="btn btn-danger" ng-show="!$ctrl.club.active"
                       ng-confirm-click ng-confirm-click-action="$ctrl.setActive(true)"
                       translate="club.main.deactivation.button.activate"></a>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="club.main.contactPersons.title"></h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="member in $ctrl.club.yhdyshenkilot">
                        <td class="col-xs-6">
                            <div class="r-contact-name">
                                <div>
                                    <span ng-bind="member.person.lastName + ' ' + member.person.byName"></span>
                                </div>
                            </div>

                            <div class="r-contact-phone" ng-if="member.person.phoneNumber">
                                <span class="glyphicon glyphicon glyphicon-earphone">&nbsp;</span>
                                <span ng-bind="member.person.phoneNumber"></span>
                            </div>

                            <div class="r-contact-email" ng-if="member.person.email">
                                <span class="glyphicon glyphicon-envelope">&nbsp;</span>
                                <a href="mailto:{{member.person.email}}">
                                    <span ng-bind="member.person.email"></span>
                                </a>
                            </div>

                            <div class="r-contact-address">
                                <span ng-bind="member.person.address.streetAddress"></span>
                                <span ng-bind="member.person.address.postalCode"></span>
                                <span ng-bind="member.person.address.city" class="r-city"></span>
                            </div>
                        </td>

                        <td class="col-xs-6 text-right">
                            <div class="label label-info"
                                 ng-show="member.callOrder == 0">
                                <span translate="club.main.contactPersons.primary"></span>
                            </div>

                            <div class="btn-group btn-group-sm"
                                 uib-dropdown
                                 ng-show="$ctrl.club.canEdit && member.callOrder != 0">

                                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                    <span class="glyphicon glyphicon-cog"></span>&nbsp;
                                    <span translate="global.button.edit"></span>&nbsp;
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                    <li>
                                        <a ng-click="$ctrl.setPrimaryContact(member)">
                                            <span translate="club.main.contactPersons.setPrimaryContact"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="club.main.location"></h3>
            </div>
            <div class="panel-body">
                <club-location-edit club="$ctrl.club"></club-location-edit>
            </div>
        </div>
    </div>
</div>
