<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="alert alert-info wizard-info">
            <span class="fa fa-info-circle"></span>

            <div class="alert-content">
                <p class="alert-title" translate="harvestpermit.wizard.species.instructionsTitle"></p>
                <p translate="harvestpermit.wizard.species.instructionsOne"></p>
                <p translate="harvestpermit.wizard.species.instructionsTwo"></p>
            </div>
        </div>
    </div>

    <form class="col-xs-12 col-sm-10 col-sm-offset-1" name="applicationSpeciesForm" r-force-show-errors-check-validity>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th translate="harvestpermit.wizard.species.table.headerSpecies"></th>
                        <th translate="harvestpermit.wizard.species.table.headerAmount"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="s in $ctrl.speciesAmounts">
                        <td class="col-xs-8 vcenter">
                            <label class="checkbox-inline ">
                                <input type="checkbox" name="speciesEnabled-{{::s.gameSpeciesCode}}"
                                       id="speciesEnabled-{{::s.gameSpeciesCode}}"
                                       ng-model="s.enabled">
                                <span ng-bind="::s.name"></span>
                            </label>
                        </td>
                        <td class="col-xs-4">
                            <div class="input-group" show-errors>
                                <input type="number" name="amount-{{::s.gameSpeciesCode}}"
                                       id="amount-{{::s.gameSpeciesCode}}"
                                       ng-required="s.enabled"
                                       ng-disabled="!s.enabled"
                                       ng-min="s.enabled ? 1 : 0"
                                       max="9999"
                                       step="1"
                                       class="form-control no-spinner"
                                       r-click-select
                                       ng-model="s.amount">

                                <div class="input-group-addon" translate="global.pcs"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group" ng-repeat="s in $ctrl.speciesAmounts" ng-show="s.enabled">
            <label for="description-{{::s.gameSpeciesCode}}">
                <span translate="harvestpermit.wizard.species.description"></span>
                <span ng-bind="::s.name"></span>
            </label>

            <textarea name="description-{{::s.gameSpeciesCode}}" id="description-{{::s.gameSpeciesCode}}"
                      class="form-control" rows="4"
                      ng-disabled="!s.enabled"
                      ng-model="s.description"
                      spellcheck="false"></textarea>
        </div>
    </form>
</div>

<permit-application-wizard-navigation
        exit="$ctrl.exit()"
        previous="$ctrl.previous()"
        previous-disabled="applicationSpeciesForm.$invalid"
        next="$ctrl.next()"
        next-disabled="applicationSpeciesForm.$invalid || !$ctrl.speciesSelected()">
</permit-application-wizard-navigation>
