<form name="derogationApplicantForm" r-force-show-errors-check-validity>
    <div class="col-md-6">
        <div class="h3">
            <span class="fa fa-fw fa-university"></span>
            <span translate="harvestpermit.wizard.applicant.permitHolder"></span>
        </div>

        <div class="btn-group btn-group-justified" style="margin-bottom: 10px">
            <a class="btn btn-default"
               ng-model="$ctrl.permitHolder.type"
               uib-btn-radio="'PERSON'">
                    <span class="fa fa-fw fa-check text-primary"
                          ng-show="$ctrl.permitHolder.type === 'PERSON'"></span>
                <span translate="harvestpermit.wizard.applicant.person"></span>
            </a>
            <a class="btn btn-default"
               ng-model="$ctrl.permitHolder.type"
               uib-btn-radio="'BUSINESS'">
                    <span class="fa fa-fw fa-check text-primary"
                          ng-show="$ctrl.permitHolder.type === 'BUSINESS'"></span>
                <span translate="harvestpermit.wizard.applicant.business"></span>
            </a>
            <a class="btn btn-default"
               ng-model="$ctrl.permitHolder.type"
               uib-btn-radio="'RY'">
                    <span class="fa fa-fw fa-check text-primary"
                          ng-show="$ctrl.permitHolder.type === 'RY'"></span>
                <span translate="harvestpermit.wizard.applicant.ry"></span>
            </a>
            <a class="btn btn-default"
               ng-model="$ctrl.permitHolder.type"
               uib-btn-radio="'OTHER'">
                    <span class="fa fa-fw fa-check text-primary"
                          ng-show="$ctrl.permitHolder.type === 'OTHER'"></span>
                <span translate="harvestpermit.wizard.applicant.other"></span>
            </a>
        </div>

        <div class="applicant-data-section"
             ng-switch="$ctrl.permitHolder.type">
            <div ng-switch-when="PERSON">
                <permit-application-wizard-contact-person
                        person="$ctrl.contactPerson"></permit-application-wizard-contact-person>
            </div>

            <div ng-switch-when="RY">
                <p class="text-muted"
                   translate="club.subtype.form.ry.info"></p>

                <div class="form-group" show-errors>
                    <label class="control-label" for="permitHolderCodeRy"
                           translate="harvestpermit.wizard.applicant.businessId">
                    </label>

                    <textarea class="form-control" rows="1"
                              name="permitHolderCodeRy" id="permitHolderCodeRy"
                              ng-model="$ctrl.permitHolder.code"
                              valid-finnish-business-id
                              minlength="9" maxlength="9"
                              required></textarea>
                    <p class="help-block has-error"
                       ng-show="derogationApplicantForm.permitHolderCodeRy.$invalid && derogationApplicantForm.permitHolderCodeRy.$touched"
                       ng-messages="derogationApplicantForm.permitHolderCodeBusiness.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>

                <div class="form-group" show-errors>
                    <label class="control-label" for="permitHolderNameRy"
                           translate="harvestpermit.wizard.applicant.associationName">
                    </label>

                    <textarea class="form-control" rows="1"
                              name="permitHolderNameRy" id="permitHolderNameRy"
                              ng-model="$ctrl.permitHolder.name"
                              maxlength="255"
                              required></textarea>

                    <p class="help-block has-error"
                       ng-show="derogationApplicantForm.permitHolderNameRy.$invalid && derogationApplicantForm.permitHolderNameRy.$touched"
                       ng-messages="derogationApplicantForm.permitHolderNameRy.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div ng-switch-when="BUSINESS">
                <div class="form-group" show-errors>
                    <label class="control-label" for="permitHolderCodeBusiness"
                           translate="harvestpermit.wizard.applicant.businessId"></label>

                    <textarea class="form-control" rows="1"
                              name="permitHolderCodeBusiness" id="permitHolderCodeBusiness"
                              ng-model="$ctrl.permitHolder.code"
                              valid-finnish-business-id
                              minlength="9" maxlength="9"
                              required></textarea>

                    <p class="help-block has-error"
                       ng-show="derogationApplicantForm.permitHolderCodeBusiness.$invalid && derogationApplicantForm.permitHolderCodeBusiness.$touched"
                       ng-messages="derogationApplicantForm.permitHolderCodeBusiness.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>

                <div class="form-group" show-errors>
                    <label class="control-label" for="permitHolderNameBusiness"
                           translate="harvestpermit.wizard.applicant.businessName"></label>

                    <textarea class="form-control" rows="1"
                              name="permitHolderNameBusiness" id="permitHolderNameBusiness"
                              ng-model="$ctrl.permitHolder.name"
                              maxlength="255"
                              required></textarea>

                    <p class="help-block has-error"
                       ng-show="derogationApplicantForm.permitHolderNameBusiness.$invalid && derogationApplicantForm.permitHolderNameBusiness.$touched"
                       ng-messages="derogationApplicantForm.permitHolderNameBusiness.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>
            <div ng-switch-when="OTHER">

                <div class="form-group" show-errors>
                    <label class="control-label" for="permitHolderNameRy"
                           translate="harvestpermit.wizard.applicant.otherName">
                    </label>

                    <textarea class="form-control" rows="1"
                              name="permitHolderNameOther" id="permitHolderNameOther"
                              ng-model="$ctrl.permitHolder.name"
                              maxlength="255"
                              required></textarea>

                    <p class="help-block has-error"
                       ng-show="derogationApplicantForm.permitHolderNameOther.$invalid && derogationApplicantForm.permitHolderNameOther.$touched"
                       ng-messages="derogationApplicantForm.permitHolderNameRy.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
