<div class="content">
    <h3 class="modal-title" translate="reporting.huntingSummary.title"></h3>

    <div class="h5">
        <div ng-bind="$ctrl.permit.permitNumber"></div>
        <div>
            <span translate="reporting.huntingSummary.selectedSpecies"></span>
            <span>{{ $ctrl.getGameSpeciesName() }}</span>
        </div>
    </div>

    <div ng-if="$ctrl.isPermitBasedDeer">
        <div class="radio">
            <label>
                <input type="radio" name="completeHuntingOfPermit" id="completeHuntingOfPermit"
                       ng-value="true"
                       ng-model="$ctrl.completeHuntingOfPermit"
                       ng-change="$ctrl.completeHuntingOfPermitChanged()">
                <span translate="reporting.huntingSummary.completeHuntingOfPermit"></span>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="completeOnlyHuntingOfSelectedPartners" id="completeOnlyHuntingOfSelectedPartners"
                       ng-value="false"
                       ng-model="$ctrl.completeHuntingOfPermit"
                       ng-change="$ctrl.completeHuntingOfPermitChanged()">
                <span translate="reporting.huntingSummary.completeOnlyHuntingOfSelectedPartners"></span>
            </label>
        </div>
    </div>

    <div class="alert alert-warning" role="alert" translate="reporting.huntingSummary.disclaimer"></div>

    <form name="moderatorHuntingSummaryForm" role="form" class="form form-inline" r-force-show-errors-check-validity>
        <table class="table table-condensed table-striped moderator-hunting-summary-table">
            <thead>
            <tr class="topheader">
                <th colspan="3"></th>
                <th colspan="4"><r-with-tooltip content-key="reporting.huntingSummary.harvestedSpecimens.top" tooltip-key="reporting.huntingSummary.harvestedSpecimens.topTooltip"/></th>
                <th colspan="2"><r-with-tooltip content-key="reporting.huntingSummary.notEdible.top" tooltip-key="reporting.huntingSummary.notEdible.topTooltip"/></th>
                <th colspan="2"><r-with-tooltip content-key="reporting.huntingSummary.area.top" tooltip-key="reporting.huntingSummary.area.topTooltip"/></th>
                <th colspan="2"><r-with-tooltip content-key="reporting.huntingSummary.remainingPopulation.top" tooltip-key="reporting.huntingSummary.remainingPopulation.topTooltip"/></th>
            </tr>
            <tr class="lowheader">
                <th translate="reporting.huntingSummary.huntingPartner"></th>
                <th translate="reporting.huntingSummary.moderatorOverridden"></th>
                <th translate="reporting.huntingSummary.override"></th>

                <th><r-with-tooltip content-key="reporting.huntingSummary.harvestedSpecimens.au" tooltip-key="reporting.huntingSummary.harvestedSpecimens.auTooltip"/></th>
                <th><r-with-tooltip content-key="reporting.huntingSummary.harvestedSpecimens.an" tooltip-key="reporting.huntingSummary.harvestedSpecimens.anTooltip"/></th>
                <th><r-with-tooltip content-key="reporting.huntingSummary.harvestedSpecimens.vu" tooltip-key="reporting.huntingSummary.harvestedSpecimens.vuTooltip"/></th>
                <th><r-with-tooltip content-key="reporting.huntingSummary.harvestedSpecimens.vn" tooltip-key="reporting.huntingSummary.harvestedSpecimens.vnTooltip"/></th>

                <th><r-with-tooltip content-key="reporting.huntingSummary.notEdible.a" tooltip-key="reporting.huntingSummary.notEdible.aTooltip"/></th>
                <th><r-with-tooltip content-key="reporting.huntingSummary.notEdible.v" tooltip-key="reporting.huntingSummary.notEdible.vTooltip"/></th>

                <th><r-with-tooltip content-key="reporting.huntingSummary.area.total" tooltip-key="reporting.huntingSummary.area.totalTooltip"/></th>
                <th><r-with-tooltip content-key="reporting.huntingSummary.area.effective" tooltip-key="reporting.huntingSummary.area.effectiveTooltip"/></th>

                <th><r-with-tooltip content-key="reporting.huntingSummary.remainingPopulation.total" tooltip-key="reporting.huntingSummary.remainingPopulation.totalTooltip"/></th>
                <th><r-with-tooltip content-key="reporting.huntingSummary.remainingPopulation.effective" tooltip-key="reporting.huntingSummary.remainingPopulation.effectiveTooltip"/></th>
            </tr>
            </thead>
            <tbody>
            <tr class="summary">
                <td translate="club.permit.sumTitle"></td>
                <td></td>
                <td></td>

                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('adultMales')}}"/></td>
                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('adultFemales')}}"/></td>
                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('youngMales')}}"/></td>
                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('youngFemales')}}"/></td>

                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('adultsNotEdible')}}"/></td>
                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('youngsNotEdible')}}"/></td>

                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('totalHuntingArea')}}"/></td>
                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('effectiveHuntingArea')}}"/></td>

                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('remainingPopulationInTotalArea')}}"/></td>
                <td><r-with-tooltip content-val="{{$ctrl.countTotalSumOf('remainingPopulationInEffectiveArea')}}"/></td>
            </tr>
            <tr ng-repeat="a in $ctrl.huntingSummaries">
                <td>
                    <div name-translated="a"></div>
                </td>
                <td>
                    <div class="checkbox" ng-if="$ctrl.moderatedOriginally(a)">
                        <label>
                            <input type="checkbox"
                                   class="form-control input-sm"
                                   checked
                                   disabled
                                   tabindex="-1" />
                        </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="moderatorOverridden{{$index}}" id="moderatorOverridden{{$index}}"
                                   class="form-control input-sm"
                                   ng-model="a.moderatorOverridden"
                                   ng-disabled="$ctrl.moderationRequired(a) && $ctrl.completeHuntingOfPermit"
                                   tabindex="-1" />
                        </label>
                    </div>
                </td>

                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="adultMales{{$index}}" id="adultMales{{$index}}"
                               min="0" max="99999" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.adultMales"
                               ng-disabled="!a.moderatorOverridden"
                               required/>
                    </div>
                </td>
                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="adultFemales{{$index}}" id="adultFemales{{$index}}"
                               min="0" max="99999" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.adultFemales"
                               ng-disabled="!a.moderatorOverridden"
                               required/>
                    </div>
                </td>
                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="youngMales{{$index}}" id="youngMales{{$index}}"
                               min="0" max="99999" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.youngMales"
                               ng-disabled="!a.moderatorOverridden"
                               required/>
                    </div>
                </td>
                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="youngFemales{{$index}}" id="youngFemales{{$index}}"
                               min="0" max="99999" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.youngFemales"
                               ng-disabled="!a.moderatorOverridden"
                               required/>
                    </div>
                </td>

                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="adultsNotEdible{{$index}}" id="adultsNotEdible{{$index}}"
                               min="0" ng-max="getMaxForNonEdibleAdults(a)" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.adultsNotEdible"
                               ng-disabled="!a.moderatorOverridden"
                               required/>
                    </div>
                </td>
                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="youngsNotEdible{{$index}}" id="youngsNotEdible{{$index}}"
                               min="0" ng-max="getMaxForNonEdibleYoungs(a)" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.youngsNotEdible"
                               ng-disabled="!a.moderatorOverridden"
                               required/>
                    </div>
                </td>

                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="totalHuntingArea{{$index}}" id="totalHuntingArea{{$index}}"
                               min="0" ng-max="a.permitAreaSize" step="1"
                               class="form-control input-sm no-spinner totalHuntingArea"
                               ng-model="a.totalHuntingArea"
                               ng-disabled="!a.moderatorOverridden"
                               ng-required="!$ctrl.isEitherHuntingAreaPresent(a) && a.moderatorOverridden"/>
                    </div>
                </td>
                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="effectiveHuntingArea{{$index}}" id="effectiveHuntingArea{{$index}}"
                               min="0" ng-max="getMaxForEffectiveHuntingArea(a)" step="1"
                               class="form-control input-sm no-spinner effectiveHuntingArea"
                               ng-model="a.effectiveHuntingArea"
                               ng-disabled="!a.moderatorOverridden"
                               ng-required="!$ctrl.isEitherHuntingAreaPresent(a) && a.moderatorOverridden"/>
                    </div>
                </td>

                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="remainingPopulationInTotalArea{{$index}}" id="remainingPopulationInTotalArea{{$index}}"
                               min="0" max="99999" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.remainingPopulationInTotalArea"
                               ng-disabled="!a.moderatorOverridden"
                               ng-required="$ctrl.isRemainingPopulationForTotalAreaRequired(a) && a.moderatorOverridden"/>
                    </div>
                </td>
                <td>
                    <div class="form-group" show-errors>
                       <input type="number" name="remainingPopulationInEffectiveArea{{$index}}" id="remainingPopulationInEffectiveArea{{$index}}"
                               min="0" ng-max="getMaxForRemainingPopulationInEffectiveHuntingArea(a)" step="1"
                               class="form-control input-sm no-spinner"
                               ng-model="a.remainingPopulationInEffectiveArea"
                               ng-disabled="!a.moderatorOverridden"
                               ng-required="$ctrl.isRemainingPopulationForEffectiveAreaRequired(a) && a.moderatorOverridden"/>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>

        <div class="buttons pull-right">
            <button type="button"
                    class="btn btn-danger"
                    ng-confirm-click="{{'reporting.huntingSummary.deleteConfirmationMessage' | translate}}"
                    ng-confirm-click-action="$ctrl.delete()"
                    ng-if="$ctrl.anyPersistentModeratorOverriddenSummariesPresent"
                    translate="reporting.huntingSummary.delete"></button>

            <button type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()"
                    translate="global.button.cancel"></button>

            <button type="button"
                    class="btn btn-primary"
                    ng-click="$ctrl.submit()"
                    ng-disabled="!$ctrl.isValid(moderatorHuntingSummaryForm)"
                    translate="global.button.save"></button>
        </div>

    </form>
</div>

