<uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default"
         is-open="area.isOpen"
         template-url="common/accordion-group.html"
         ng-click="$ctrl.selectArea($event, area)"
         ng-repeat="area in $ctrl.areas track by area.id">

        <uib-accordion-heading>
            <div class="row">
                <div class="col-xs-1 text-center">
                    <span ng-class="$ctrl.getAreaToggleClasses(area)"></span>
                </div>

                <div class="col-xs-7">
                    <span class="text-danger glyphicon glyphicon-remove"
                          title="{{ 'club.area.list.areaIsDeactive' | translate }}"
                          ng-hide="area.active"></span>
                    <span ng-bind="area | rI18nNameFilter"></span>
                    <br/>
                    <span class="text-danger"
                          ng-show="$ctrl.canEdit && area.hasPendingZoneChanges"
                          translate="club.area.list.hasPendingChanges"></span>
                </div>

                <div class="col-xs-4 text-right">
                    <strong ng-bind="area.size.all.total | prettyAreaSize:0"></strong>
                    <br/>
                    <span class="text-danger glyphicon glyphicon-lock"
                          ng-show="area.sourceType === 'EXTERNAL'"></span>
                    <span class="text-danger glyphicon glyphicon-alert"
                          ng-show="$ctrl.canEdit && area.hasPendingZoneChanges"></span>
                </div>
            </div>
        </uib-accordion-heading>

        <club-area-list-details area="area"></club-area-list-details>
    </div>
</uib-accordion>
