<div class="r-club-areas-layout">
    <div class="left-column">
        <r-club-area-category-selection active-tab-index="0"></r-club-area-category-selection>

        <form>
            <div class="form-group">
                <select name="yearSelect" id="yearSelect"
                        class="form-control"
                        ng-model="$ctrl.selectedYear"
                        ng-change="$ctrl.onHuntingYearChange()"
                        ng-options="year.year as year.name for year in $ctrl.huntingYears | orderBy:'year'">
                </select>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="showDeactive"
                               ng-model="$ctrl.showDeactive"
                               ng-change="$ctrl.onShowDeActiveChange()">
                        <span translate="club.area.list.showDeactive"></span>
                    </label>
                </div>
            </div>
        </form>

        <club-area-list-details selected-area="$ctrl.selectedArea" reload-areas="$ctrl.reloadAreas()"></club-area-list-details>

        <h3>
            <span translate="club.area.list.title"></span>

            <button type="button" class="btn btn-primary"
                    ng-show="$ctrl.club.canEdit"
                    ng-click="$ctrl.addArea()">
                <span class="glyphicon glyphicon-plus"></span> &nbsp;
                <span translate="club.area.button.add"></span>
            </button>
        </h3>

        <ul class="list-group">
            <li class="list-group-item"
                ng-class="{'active': $ctrl.selectedArea.id === area.id}"
                ng-repeat="area in $ctrl.areas track by area.id"
                ng-click="$ctrl.showArea($event, area)">

                <span class="list-group-item-heading" ng-bind="area | rI18nNameFilter"></span>
                <span class="text-danger glyphicon glyphicon-lock"
                      ng-show="area.sourceType === 'EXTERNAL'"></span>
                <span class="text-danger glyphicon glyphicon-alert"
                      ng-show="$ctrl.club.canEdit && area.hasPendingZoneChanges"></span>
                <span class="text-danger"
                      ng-show="$ctrl.club.canEdit && area.hasPendingZoneChanges"
                      translate="club.area.list.hasPendingChanges"></span>
                <span class="text-danger glyphicon glyphicon-remove-circle"
                      title="{{ 'club.area.list.areaIsDeactive' | translate }}"
                      ng-hide="area.active"></span>

                <div class="buttons">
                    <span ng-show="area.computedAreaSize">
                        <strong ng-bind="area.computedAreaSize | prettyAreaSize"></strong>
                    </span>

                    <button type="button"
                            ng-show="$ctrl.club.canEdit"
                            ng-click="$ctrl.copyArea($event, area)"
                            class="btn btn-link text-info">
                        <span class="fa fa-clone"></span>
                    </button>

                    <button type="button"
                            ng-show="$ctrl.club.canEdit"
                            ng-click="$ctrl.editArea($event, area)"
                            class="btn btn-link text-info">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div class="main-column">
        <r-geojson-map initial-view-bounds="$ctrl.rhyBounds" feature-collection="$ctrl.featureCollection"></r-geojson-map>
    </div>
</div>
