<div class="content">
    <form id="observationForm" name="observationForm" role="form" class="form form-horizontal">
        <h3 ng-if="!entry.id" class="modal-title" translate="gamediary.form.titleAddObservation"></h3>

        <h3 ng-if="entry.id && isAuthorOrObserver" class="modal-title" translate="gamediary.form.titleEditObservation"></h3>

        <h3 ng-if="entry.id && !isAuthorOrObserver" class="modal-title" translate="gamediary.form.titleViewObservation"></h3>

        <h4 translate="gamediary.form.titleObservationAnimal"></h4>

        <div class="form-group" ng-show="invalidSpeciesForDate()">
            <div class="col-xs-12">
                <span class="text-danger" translate="gamediary.form.invalidSpeciesForDate"></span>
            </div>
        </div>

        <div class="form-group">
            <div ng-class="{ 'has-error': (!entry.gameSpeciesCode) }">
                <label for="gameSpeciesId" class="col-xs-5 control-label">
                    <span translate="gamediary.form.species"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <!-- IE9 and IE10 do not work well with opt-groups, IE9 requires empty value and
                IE10 complains of unselected value if  'required', therefore we force existence of this field manually -->
                <div class="col-xs-7">
                    <select name="gameSpeciesId" id="gameSpeciesId"
                            class="form-control"
                            ng-model="entry.gameSpeciesCode"
                            ng-options="s.code as getGameName(s.code, s) group by getCategoryName(s.categoryId) for s in species | orderBy:['categoryId', 'translatedName']"
                            ie10-optgroup-fix
                            ng-disabled="!entry.canEdit || species.length < 2"><option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('withinMooseHunting')">
            <label for="withinMooseHunting" class="col-xs-5 control-label">
                <span translate="gamediary.form.withinMooseHunting"></span>
            </label>

            <div class="col-xs-7 checkbox">
                <label>
                    <input type="checkbox" name="withinMooseHunting" id="withinMooseHunting"
                           ng-model="entry.withinMooseHunting"
                           ng-disabled="!entry.canEdit || entry.huntingDayId">
                </label>
            </div>
        </div>

        <div class="form-group" ng-if="entry.gameSpeciesCode">
            <div ng-class="{ 'has-error': (!entry.observationType) }">
                <label for="observationType" class="col-xs-5 control-label">
                    <span translate="gamediary.form.observationType"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-xs-7">
                    <select name="observationType" id="observationType"
                            class="form-control"
                            ng-model="entry.observationType"
                            ng-options="type as ('observation.type.' + type) | translate for type in getAvailableObservationTypes()"
                            ng-disabled="!entry.canEdit"><option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <h4 translate="gamediary.form.titleTimeAndPlace"></h4>

        <div class="form-group">
            <label class="col-xs-5 control-label">
                <span translate="gamediary.form.location"></span>
                <small class="glyphicon glyphicon-asterisk text-danger"></small>
            </label>

            <div class="col-xs-7">
                <p class="form-control-static"
                   ng-show="entry.geoLocation.longitude"
                   translate="global.geoLocation.coordinatesText"
                   translate-values="entry.geoLocation"></p>

                <p class="text-danger form-control-static"
                   ng-hide="entry.geoLocation.longitude"
                   translate="global.geoLocation.required"></p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="date" class="col-xs-5 control-label">
                <span translate="gamediary.form.date"></span>
                <small class="glyphicon glyphicon-asterisk text-danger"></small>
            </label>

            <div class="col-xs-7">
                <div class="input-group r-dropdown-align-right"
                     ng-controller="DatePickerController">

                    <input type="text" name="date" id="date"
                           class="form-control"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           date-between-min-max
                           ng-model="viewState.date" required max-date="today()"
                           ng-disabled="!entry.canEdit">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" tabindex="-1"
                                ng-click="toggleDatePopup($event)"
                                ng-disabled="!entry.canEdit">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="time" class="col-xs-5 control-label">
                <span translate="gamediary.form.time"></span>
                <small class="glyphicon glyphicon-asterisk text-danger"></small>
            </label>

            <div class="col-xs-7">
                <input type="text" name="time" id="time"
                       class="form-control"
                       finnish-date-time-in-past="viewState.date"
                       ng-model="viewState.time" required
                       ng-disabled="!entry.canEdit">
            </div>
        </div>

        <h4 ng-if="observationSpecimenTitleVisible()" translate="gamediary.form.titleShowSpecimens"></h4>

        <div ng-if="isFieldVisible('amount')">

            <div class="form-group" show-errors>
                <label for="totalSpecimenAmount" class="col-xs-5 control-label">
                    <span translate="gamediary.form.amount"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('amount')"></small>
                </label>

                <div class="col-xs-7">
                    <select name="totalSpecimenAmount" id="totalSpecimenAmount"
                            class="form-control"
                            ng-model="entry.totalSpecimenAmount"
                            ng-options="n for n in [] | range:1:maxSpecimenCount"
                            ng-required="isFieldRequired('amount')"
                            ng-disabled="!entry.canEdit || !entry.gameSpeciesCode"></select>
                </div>
            </div>

            <div class="form-group" ng-show="showEditSpecimenButton()">
                <div class="col-xs-12 text-right">
                    <button type="button"
                            ng-click="editSpecimen()"
                            ng-disabled="isSpecimenEditDisabled()"
                            class="btn btn-primary">
                        <span translate="gamediary.form.titleShowSpecimens"></span>
                    </button>
                </div>
            </div>

            <div ng-if="showInlineSpecimenEdit()">
                <div class="form-group" ng-if="isFieldVisible('gender')" show-errors>
                    <label for="gender" class="col-xs-5 control-label">
                        <span translate="gamediary.form.gender"></span>
                        <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('gender')"></small>
                    </label>

                    <div class="col-xs-7">
                        <select name="gender" id="gender"
                                class="form-control"
                                ng-model="entry.specimens[0].gender"
                                ng-options="('gamediary.gender.' + a | translate) for a in getAvailableGameGenders()"
                                ng-required="isFieldRequired('gender')"
                                ng-disabled="!entry.canEdit"></select>
                    </div>
                </div>

                <div class="form-group" ng-if="isFieldVisible('age')" show-errors>
                    <label for="age" class="col-xs-5 control-label">
                        <span translate="gamediary.form.age"></span>
                        <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('age')"></small>
                    </label>

                    <div class="col-xs-7">
                        <select name="age" id="age"
                                class="form-control"
                                ng-model="entry.specimens[0].age"
                                ng-options="(age | gameAge: entry.gameSpeciesCode) for age in getAvailableGameAges()"
                                ng-required="isFieldRequired('age')"
                                ng-disabled="!entry.canEdit"></select>
                    </div>
                </div>

                <div class="form-group" ng-if="isFieldVisible('state')" show-errors>
                    <label for="state" class="col-xs-5 control-label">
                        <span translate="gamediary.form.gameState"></span>
                        <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('state')"></small>
                    </label>

                    <div class="col-xs-7">
                        <select name="state" id="state"
                                class="form-control"
                                ng-model="entry.specimens[0].state"
                                ng-options="('observation.gamestate.' + state | translate) for state in getAvailableGameStates()"
                                ng-required="isFieldRequired('state')"
                                ng-disabled="!entry.canEdit"></select>
                    </div>
                </div>

                <div class="form-group" ng-if="isFieldVisible('marking')" show-errors>
                    <label for="marking" class="col-xs-5 control-label">
                        <span translate="gamediary.form.gameMarking"></span>
                        <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('marking')"></small>
                    </label>

                    <div class="col-xs-7">
                        <select name="marking" id="marking"
                                class="form-control"
                                ng-model="entry.specimens[0].marking"
                                ng-options="('observation.marking.' + state | translate) for state in getAvailableGameMarkings()"
                                ng-required="isFieldRequired('marking')"
                                ng-disabled="!entry.canEdit"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('mooselikeMaleAmount')" show-errors>
            <label for="mooselikeMaleAmount" class="col-xs-5 control-label">
                <span translate="gamediary.mooselike.mooselikeMaleAmount"></span>
                <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('mooselikeMaleAmount')"></small>
            </label>

            <div class="col-xs-7">
                <select type="number" name="mooselikeMaleAmount" id="mooselikeMaleAmount"
                        class="form-control"
                        ng-model="entry.mooselikeMaleAmount"
                        ng-options="n for n in [] | range:0:50"
                        ng-required="isFieldRequired('mooselikeMaleAmount')"
                        ng-disabled="!entry.canEdit"></select>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('mooselikeFemaleAmount')" show-errors>
            <label for="mooselikeFemaleAmount" class="col-xs-5 control-label">
                <span translate="gamediary.mooselike.mooselikeFemaleAmount"></span>
                <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('mooselikeFemaleAmount')"></small>
            </label>

            <div class="col-xs-7">
                <select type="number" name="mooselikeFemaleAmount" id="mooselikeFemaleAmount"
                        class="form-control"
                        ng-model="entry.mooselikeFemaleAmount"
                        ng-options="n for n in [] | range:0:50"
                        ng-required="isFieldRequired('mooselikeFemaleAmount')"
                        ng-disabled="!entry.canEdit"></select>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('mooselikeFemale1CalfAmount')" show-errors>
            <label for="mooselikeFemale1CalfAmount" class="col-xs-5 control-label">
                <span translate="gamediary.mooselike.mooselikeFemale1CalfAmount"></span>
                <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('mooselikeFemale1CalfAmount')"></small>
            </label>

            <div class="col-xs-7">
                <select type="number" name="mooselikeFemale1CalfAmount" id="mooselikeFemale1CalfAmount"
                        class="form-control"
                        ng-model="entry.mooselikeFemale1CalfAmount"
                        ng-options="n for n in [] | range:0:50"
                        ng-required="isFieldRequired('mooselikeFemale1CalfAmount')"
                        ng-disabled="!entry.canEdit"></select>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('mooselikeFemale2CalfsAmount')" show-errors>
            <label for="mooselikeFemale2CalfsAmount" class="col-xs-5 control-label">
                <span translate="gamediary.mooselike.mooselikeFemale2CalfsAmount"></span>
                <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('mooselikeFemale2CalfsAmount')"></small>
            </label>

            <div class="col-xs-7">
                <select type="number" name="mooselikeFemale2CalfsAmount" id="mooselikeFemale2CalfsAmount"
                        class="form-control"
                        ng-model="entry.mooselikeFemale2CalfsAmount"
                        ng-options="n for n in [] | range:0:50"
                        ng-required="isFieldRequired('mooselikeFemale2CalfsAmount')"
                        ng-disabled="!entry.canEdit"></select>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('mooselikeFemale3CalfsAmount')" show-errors>
            <label for="mooselikeFemale3CalfsAmount" class="col-xs-5 control-label">
                <span translate="gamediary.mooselike.mooselikeFemale3CalfsAmount"></span>
                <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('mooselikeFemale3CalfsAmount')"></small>
            </label>

            <div class="col-xs-7">
                <select type="number" name="mooselikeFemale3CalfsAmount" id="mooselikeFemale3CalfsAmount"
                        class="form-control"
                        ng-model="entry.mooselikeFemale3CalfsAmount"
                        ng-options="n for n in [] | range:0:50"
                        ng-required="isFieldRequired('mooselikeFemale3CalfsAmount')"
                        ng-disabled="!entry.canEdit"></select>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('mooselikeFemale4CalfsAmount')" show-errors>
            <label for="mooselikeFemale4CalfsAmount" class="col-xs-5 control-label">
                <span translate="gamediary.mooselike.mooselikeFemale4CalfsAmount"></span>
                <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('mooselikeFemale4CalfsAmount')"></small>
            </label>

            <div class="col-xs-7">
                <select type="number" name="mooselikeFemale4CalfsAmount" id="mooselikeFemale4CalfsAmount"
                        class="form-control"
                        ng-model="entry.mooselikeFemale4CalfsAmount"
                        ng-options="n for n in [] | range:0:50"
                        ng-required="isFieldRequired('mooselikeFemale4CalfsAmount')"
                        ng-disabled="!entry.canEdit"></select>
            </div>
        </div>

        <div class="form-group" ng-if="isFieldVisible('mooselikeUnknownSpecimenAmount')" show-errors>
            <label for="mooselikeUnknownSpecimenAmount" class="col-xs-5 control-label">
                <span translate="gamediary.mooselike.mooselikeUnknownSpecimenAmount"></span>
                <small class="glyphicon glyphicon-asterisk text-danger" ng-show="isFieldRequired('mooselikeUnknownSpecimenAmount')"></small>
            </label>

            <div class="col-xs-7">
                <select type="number" name="mooselikeUnknownSpecimenAmount" id="mooselikeUnknownSpecimenAmount"
                        class="form-control"
                        ng-model="entry.mooselikeUnknownSpecimenAmount"
                        ng-options="n for n in [] | range:0:50"
                        ng-required="isFieldRequired('mooselikeUnknownSpecimenAmount')"
                        ng-disabled="!entry.canEdit"></select>
            </div>
        </div>

        <hr/>

        <div class="form-group" show-errors ng-if="isAuthorOrObserver && !viewState.moderatorView">
            <label for="description" class="control-label col-xs-5">
                <span translate="gamediary.form.description"></span>
            </label>

            <div class="col-xs-7">
                <textarea name="description" id="description"
                          class="form-control"
                          rows="6"
                          ng-model="entry.description"></textarea>
            </div>
        </div>

        <div class="form-group" ng-if="isAuthorOrObserver && !viewState.moderatorView">
            <label class="col-xs-5 control-label">
                <span translate="gamediary.form.image"></span>
            </label>

            <div class="col-xs-7">
                <a ng-show="!entry.imageIds || entry.imageIds.length == 0"
                   ng-click="image()"
                   class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> &nbsp;
                    <span translate="gamediary.button.addImage"></span>
                </a>
            </div>

            <div class="col-xs-11 col-xs-offset-1">
                <hr class="invisible"/>

                <div ng-repeat="uuid in entry.imageIds">
                    <img ng-src="{{getUrl(uuid, 100, 100, true)}}">

                    <div class="pull-right">
                        <button type="button" ng-click="image(uuid)" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span> &nbsp;
                            <span translate="gamediary.button.changeImage"></span>
                        </button>

                        <button type="button" ng-click="removeImage(uuid)" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-remove"></span> &nbsp;
                            <span translate="global.button.delete"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="buttons">
    <button type="button"
            class="btn btn-default"
            ng-click="cancel()"
            translate="global.button.cancel"></button>

    <button type="button"
            class="btn btn-primary"
            ng-disabled="observationForm.$invalid || !isValid() || (!isAuthorOrObserver && !entry.canEdit)"
            ng-click="save()"
            translate="global.button.save"></button>
</div>
