<div class="modal-header">
    <button riista-modal-close></button>
    <h3 class="modal-title" translate="harvestpermit.decision.action.titleList"></h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-primary" ng-click="$ctrl.add()">
                <span class="glyphicon glyphicon-plus"></span>
                <span translate="harvestpermit.decision.action.add"></span>
            </button>
        </div>
    </div>

    <hr class="invisible"/>

    <div growl inline="true"></div>

    <div class="table-responsive" style="min-height: 400px;">
        <table class="table" style="table-layout: fixed">
            <thead>
            <tr>
                <th class="col-xs-2" translate="harvestpermit.decision.action.pointOfTime"></th>
                <th class="col-xs-2" translate="harvestpermit.decision.action.type"></th>
                <th translate="harvestpermit.decision.action.text"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="action in $ctrl.actions">
                <td ng-bind="::action.pointOfTime | date:'d.M.yyyy HH:mm'"></td>
                <td>
                    <span ng-bind="::('harvestpermit.decision.action.actionType.' + action.actionType) | translate"></span>
                    <span ng-if="action.communicationType">/</span>
                    <span ng-if="action.communicationType"
                          ng-bind="::('harvestpermit.decision.action.communicationType.' + action.communicationType) | translate"></span>
                </td>
                <td ng-bind="::(action.text | truncateCharacters:120)"></td>
                <td class="text-right">
                    <button type="button" class="btn btn-default"
                            ng-click="$ctrl.editAttachments(action)">
                        <span translate="harvestpermit.decision.action.attachments.showAttachmentsButton"></span>
                        <strong ng-bind="'(' + action.attachmentCount + ' ' + ('global.pcs' | translate) + ')'"></strong>
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="$ctrl.edit(action)">
                        <span translate="global.button.edit"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.close()"
            translate="global.button.close"></button>
</div>
