<div ng-show="!permits || permits.length === 0" translate="harvestpermit.noPermits" class="alert alert-info"></div>

<table class="table table-condensed" ng-show="permits && permits.length > 0">
    <thead>
    <tr>
        <th class="col-xs-2" translate="harvestpermit.permitNumber"></th>
        <th class="col-xs-4" translate="harvestpermit.speciesAndAmount"></th>
        <th class="col-xs-4" translate="harvestpermit.contactPerson"></th>
        <th class="col-xs-1"></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="permit in permits" ng-class="{'r-even-row': ($index%2==0)}">
        <td>
            {{permit.permitNumber}}
        </td>
        <td>
            <div>{{permit.permitType}}</div>
            <div ng-repeat="speciesAmount in permit.speciesAmounts">
                <span name-translated="speciesAmount.gameSpecies.name"></span>
                <span>
                    <span>{{speciesAmount.amount}}</span>
                    <span translate="harvestpermit.pcs"></span>
                </span>
                <span>{{speciesAmount | speciesAmountIntervalText}}</span>
            </div>
        </td>
        <td>
            <div ng-repeat="person in permit.contactPersons|orderBy:['lastName', 'byName']">
                {{person.byName}} {{person.lastName}} {{person.hunterNumber}}
            </div>
        </td>
        <td class="text-right">
            <a ng-if="account.role === 'ROLE_USER'"
               class="btn"
               ng-class="{'btn-warning':requiresAction(permit), 'btn-default':!requiresAction(permit)}"
               ui-sref="harvestreport.main.permit({id:permit.id})"
               translate="global.button.open"></a>

            <a ng-if="account.role !== 'ROLE_USER'"
               class="btn"
               ng-class="{'btn-warning':requiresAction(permit), 'btn-default':!requiresAction(permit)}"
               ui-sref="reporting.harvestpermit({id:permit.id})"
               translate="global.button.open"></a>

        </td>
    </tr>
    </tbody>
</table>
