<div class="clearfix"></div>

<div ng-show="!permits || permits.length === 0" translate="harvestpermit.noPermits" class="alert alert-info"></div>

<table class="table table-condensed" ng-show="permits">
    <thead>
    <tr>
        <th class="col-xs-2" translate="harvestpermit.permitNumber"></th>
        <th class="col-xs-4" translate="harvestpermit.speciesAndAmount"></th>
        <th class="col-xs-4" translate="harvestpermit.contactPerson"></th>
        <th class="col-xs-1"></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat-start="permit in permits" ng-class="{'r-even-row': ($index%2==0)}">
        <td>{{permit.permitNumber}}</td>
        <td>
            <div>{{permit.permitType}}</div>
            <div ng-repeat="speciesAmount in permit.speciesAmounts">
                <span name-translated="speciesAmount.gameSpecies.name"></span>
                <span>
                    <span>{{speciesAmount.amount}}</span>
                    <span translate="harvestpermit.pcs"></span>
                </span>
                <span>{{speciesAmount | speciesAmountIntervalText}}</span>
            </div>
        </td>
        <td>
            <div ng-repeat="person in permit.contactPersons|orderBy:['lastName', 'byName']">
                {{person.byName}} {{person.lastName}} {{person.hunterNumber}}
            </div>
        </td>
        <td class="text-right">
            <button ng-if="moderator"
                    ui-sref="reporting.harvestpermit({id:permit.id})"
                    class="btn btn-default">
                <span translate="global.button.open"></span>
            </button>
        </td>
    </tr>
    <tr ng-repeat-end ng-class="{'r-even-row': ($index%2==0)}" ng-show="permit.harvestReports.length > 0">
        <td>&nbsp;</td>
        <td colspan="3">
            <div class="row">
                <h6 class="col-xs-2" translate="harvestpermit.harvestReport"></h6>
                <h6 class="col-xs-2" translate="harvestpermit.pointOfTime"></h6>
                <h6 class="col-xs-2" translate="harvestpermit.gameInfo"></h6>
                <h6 class="col-xs-2" translate="harvestreport.form.author"></h6>
                <h6 class="col-xs-2" translate="harvestreport.form.hunter"></h6>
                <h6 class="col-xs-2"></h6>
            </div>
            <div ng-repeat="report in getHarvestReports(permit)" ng-class="{'r-even-row-darker': ($index%2==0)}"
                 class="row r-report-permit-row">
                <div class="col-xs-2 r-harvestreport-state-text r-report-permit-row-state" harvest-report-state-to-class="report.state">
                    {{'harvestreport.state.' + report.state | translate}}
                </div>
                <span class="col-xs-2">{{report.pointOfTime | date:'d.M.yyyy HH:mm'}}</span>
                <span class="col-xs-2">
                    <span r-harvest-report-specimen-or-permitted-species="report"></span>
                </span>
                <span class="col-xs-2">{{report.author.byName}} {{report.author.lastName}}</span>
                <span class="col-xs-2">{{report.hunter.byName}} {{report.hunter.lastName}}</span>
                <span class="col-xs-2 text-right">
                    <button type="button" class="btn btn-default"
                            ng-controller="PermitViewReportController"
                            ng-click="editHarvestReport(report.id, reloadCallback)" >
                        <span translate="global.button.open"></span>
                    </button>
                </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>
