<div>
    <span class="h3">{{permit.permitNumber}}</span>
    <span class="h5">{{permit.permitType}}</span>
</div>


<div>
    <span ng-include="'harvestpermit/show-end-of-hunting-report.html'"></span>
</div>

<hr>

<h4 translate="harvestpermit.title.speciesAmounts"></h4>
<span r-permit-species-amounts permit="permit"></span>

<hr>

<span ng-include="'harvestpermit/show-contact-persons.html'"></span>

<hr>

<button type="button" class="btn btn-info"
        ng-if="(!permit.harvestsAsList && permit.harvestReports.length > 0) || (permit.harvestsAsList && permit.endOfHuntingReport)"
        ng-click="exportHarvestReports(permit)">
    <span class="glyphicon glyphicon-export"></span>
    <span translate="reporting.common.toExcel"></span>
</button>

<div ng-if="!permit.harvestsAsList">
    <button type="button" class="btn btn-primary pull-right"
            ng-if="!permit.endOfHuntingReport && permit.endOfHuntingReportRequired"
            ng-repeat="spa in permit.speciesAmounts"
            ng-click="createHarvestReportForPermit(permit, spa.gameSpecies)">
        <span class="glyphicon glyphicon-plus"></span>
        <span translate="harvestreport.button.createReport"></span>
        :
        <span name-translated="spa.gameSpecies.name"></span>
    </button>

    <h4>Luvasta tehdyt saalisilmoitukset</h4>

    <br>

    <div ng-show="permit.harvestReports.length === 0">
        <div class="alert alert-info" translate="harvestpermit.noHarvests"></div>
    </div>
    <div ng-show="permit.harvestReports.length > 0">
        <span ng-include="'harvestpermit/show-reports.html'"></span>
    </div>
</div>

<div ng-if="permit.harvestsAsList">

    <button type="button" class="btn btn-primary pull-right"
            ng-if="!permit.endOfHuntingReport"
            ng-click="createHarvestForListPermit(permit)">
        <span class="glyphicon glyphicon-plus"></span>
        <span translate="gamediary.button.addHarvest"></span>
    </button>

    <h4 translate="harvestpermit.title.harvests"></h4>

    <br>

    <div ng-show="permit.harvests.length === 0">
        <div class="alert alert-info" translate="harvestpermit.noHarvests"></div>
    </div>
    <div ng-show="permit.harvests.length > 0">
        <span ng-include="'harvestpermit/listpermit/show-harvests.html'"></span>
    </div>
</div>
