<form name="form" role="form" class="form" autocomplete="off">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="harvestpermit.decision.authorities.title"></h3>
    </div>

    <div class="modal-body" style="min-height: 280px;">
        <div class="btn-group btn-group-justified r-decision-delivery-tabs" ng-if="$ctrl.referenceEnabled">
            <label class="btn btn-default" ng-model="$ctrl.selectedTab" uib-btn-radio="'a'">
                <span translate="harvestpermit.decision.authorities.fromRka"></span>
            </label>

            <label class="btn btn-default" ng-model="$ctrl.selectedTab" uib-btn-radio="'b'">
                <span translate="harvestpermit.decision.authorities.fromReference"></span>
            </label>
        </div>

        <hr class="invisible">

        <div ng-if="$ctrl.selectedTab === 'a'">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-2">
                        <p class="form-control-static" translate="harvestpermit.decision.authorities.presenter"></p>
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" id="presenter"
                                ng-model="$ctrl.selectedAuthorities.presenter"
                                ng-change="$ctrl.onPresenterSelected($ctrl.selectedAuthorities.presenter)"
                                ng-options="$ctrl.formatAuthority(a) for a in $ctrl.availableRkaAuthorities">
                            <option disabled value="" translate="harvestpermit.decision.authorities.select"></option>
                        </select>
                    </div>
                    <div class="col-xs-5">
                        <div ng-show="$ctrl.decisionAuthorities.presenter">
                            {{$ctrl.decisionAuthorities.presenter.firstName}}
                            {{$ctrl.decisionAuthorities.presenter.lastName}},
                            {{$ctrl.decisionAuthorities.presenter.title}},
                            {{$ctrl.decisionAuthorities.presenter.phoneNumber}},
                            {{$ctrl.decisionAuthorities.presenter.email}}
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-link"
                                ng-show="$ctrl.decisionAuthorities.presenter"
                                ng-click="$ctrl.clear('presenter')">
                            <span class="fa fa-fw fa-2x fa-remove text-danger"></span>
                        </button>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-2">
                        <p class="form-control-static" translate="harvestpermit.decision.authorities.decisionMaker"></p>
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" id="decisionMaker"
                                ng-model="$ctrl.selectedAuthorities.decisionMaker"
                                ng-change="$ctrl.onDecisionMakerSelected($ctrl.selectedAuthorities.decisionMaker)"
                                ng-options="$ctrl.formatAuthority(a) for a in $ctrl.availableRkaAuthorities">
                            <option disabled value="" translate="harvestpermit.decision.authorities.select"></option>
                        </select>
                    </div>
                    <div class="col-xs-5">
                        <div ng-show="$ctrl.decisionAuthorities.decisionMaker">
                            {{$ctrl.decisionAuthorities.decisionMaker.firstName}}
                            {{$ctrl.decisionAuthorities.decisionMaker.lastName}},
                            {{$ctrl.decisionAuthorities.decisionMaker.title}},
                            {{$ctrl.decisionAuthorities.decisionMaker.phoneNumber}},
                            {{$ctrl.decisionAuthorities.decisionMaker.email}}
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-link"
                                ng-show="$ctrl.decisionAuthorities.decisionMaker"
                                ng-click="$ctrl.clear('decisionMaker')">
                            <span class="fa fa-fw fa-2x fa-remove text-danger"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="$ctrl.selectedTab === 'b'">
            <button class="btn btn-default"
                    ng-click="$ctrl.overwriteWithReference()">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span translate="harvestpermit.decision.section.overwrite"></span>
            </button>

            <hr class="invisible">

            <table class="table" style="table-layout: fixed">
                <thead>
                <tr>
                    <th class="col-xs-6" translate="harvestpermit.decision.authorities.presenter"></th>
                    <th class="col-xs-6" translate="harvestpermit.decision.authorities.decisionMaker"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{$ctrl.referenceAuthorities.presenter.lastName}}
                        {{$ctrl.referenceAuthorities.presenter.firstName}}
                        {{$ctrl.referenceAuthorities.presenter.title}}
                        {{$ctrl.referenceAuthorities.presenter.phoneNumber}}
                    </td>
                    <td>
                        {{$ctrl.referenceAuthorities.decisionMaker.lastName}}
                        {{$ctrl.referenceAuthorities.decisionMaker.firstName}}
                        {{$ctrl.referenceAuthorities.decisionMaker.title}}
                        {{$ctrl.referenceAuthorities.decisionMaker.phoneNumber}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.save()"
                ng-disabled="form.$invalid"
                translate="global.button.save"></button>
    </div>
</form>
