<div>
    <div class="row">
        <div class="col-xs-6">
            <h4 class="text-muted" translate="harvestpermit.mine.applications.title"></h4>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary" ui-sref="profile.newpermit">
                <span translate="harvestpermit.mine.applications.create"></span>
            </button>
        </div>
    </div>

    <div ng-show="!$ctrl.applications || $ctrl.applications.length === 0"
         class="alert alert-info"
         translate="harvestpermit.mine.applications.empty"></div>

    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default"
             is-open="permit.isOpen"
             template-url="common/accordion-group.html"
             id="application-{{ ::$index }}"
             ng-repeat="application in ::$ctrl.applications track by application.id">
            <uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-6">
                        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': permit.isOpen, 'glyphicon-chevron-right': !permit.isOpen}"></span>
                        <strong ng-if="::(application.status == 'ACTIVE')"
                                ng-bind="::application.applicationNumber"></strong>
                        <span>{{'harvestpermit.mine.applications.permitTypeCode.' + application.permitTypeCode | translate}}</span>
                        <br/>
                        <span class="r-badge-green"
                              ng-if="::(application.status == 'ACTIVE')"
                              translate="harvestpermit.mine.applications.sent"></span>
                        <span class="r-badge-yellow"
                              ng-if="::(application.status == 'DRAFT')"
                              translate="harvestpermit.mine.applications.draft"></span>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span class="text-muted" ng-bind="::application.applicationName"></span>
                    </div>
                </div>
            </uib-accordion-heading>

            <table class="table">
                <tbody>
                <tr ng-if="::application.status != 'DRAFT'">
                    <th class="col-xs-6" translate="harvestpermit.mine.applications.applicationNumber"></th>
                    <td class="col-xs-6 text-right">
                        <p ng-bind="::application.applicationNumber"></p>
                    </td>
                </tr>
                <tr ng-if="::application.status != 'DRAFT'">
                    <th class="col-xs-6" translate="harvestpermit.mine.applications.submitDate"></th>
                    <td class="col-xs-6 text-right">
                        <p ng-bind="::application.submitDate | date:'d.M.yyyy HH:mm'"></p>
                    </td>
                </tr>
                <tr ng-if="::application.status != 'DRAFT'">
                    <th class="col-xs-6" translate="harvestpermit.mine.applications.areaExternalId"></th>
                    <td class="col-xs-6 text-right">
                        <strong ng-bind="::application.areaExternalId"></strong>
                    </td>
                </tr>
                <tr ng-if="::(application.contactPerson && !application.permitHolder)">
                    <th class="col-xs-6" translate="harvestpermit.mine.applications.permitHolder.person"></th>
                    <td class="col-xs-6 text-right">
                        <span ng-bind="::application.contactPerson.byName"></span>
                        <span ng-bind="::application.contactPerson.lastName"></span>
                        <br>
                        <span ng-bind="::application.contactPerson.hunterNumber"></span>
                    </td>
                </tr>
                <tr ng-if="::application.permitHolder">
                    <th class="col-xs-6" translate="harvestpermit.mine.applications.permitHolder.club"></th>
                    <td class="col-xs-6 text-right">
                        <p name-translated="application.permitHolder"></p>
                    </td>
                </tr>

                <tr>
                    <th class="col-xs-6" translate="harvestpermit.mine.applications.species"></th>
                    <td class="col-xs-6 text-right">
                        <div ng-repeat="spa in ::application.speciesAmounts track by spa.gameSpeciesCode">
                            <span ng-bind="::$ctrl.getSpeciesName(spa.gameSpeciesCode)"></span>
                            <span ng-bind="::spa.amount"></span>
                            <span translate="global.pcs"></span>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="button" class="btn btn-primary"
                            ng-if="::(application.status == 'DRAFT')"
                            ng-click="$ctrl.edit(application)">
                        <span translate="global.button.edit"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-if="::(application.status === 'ACTIVE')"
                            ng-click="$ctrl.zip(application)">
                        <span translate="harvestpermit.mine.applications.zipButton"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-if="::(application.status === 'ACTIVE')"
                            ng-click="$ctrl.mapPdf(application)">
                        <span translate="harvestpermit.mine.applications.mapButton"></span>
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-if="::(application.status === 'ACTIVE')"
                            ng-click="$ctrl.pdf(application)">
                        <span translate="harvestpermit.mine.applications.pdfButton"></span>
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-if="::(application.status === 'ACTIVE')"
                            ng-click="$ctrl.view(application)">
                        <span translate="global.button.open"></span>
                    </button>
                    <button type="button" class="btn btn-info"
                            ng-if="::($ctrl.canAmend(application))"
                            ng-click="$ctrl.startAmending(application)">
                        <span translate="global.button.amend"></span>
                    </button>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>
