<div ng-init="collapsed = true">
    <div class="permit-header" ng-click="collapsed = !collapsed">
        <div class="permit-header-toggle">
            <span class="glyphicon glyphicon-chevron-right" ng-show="collapsed"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-hide="collapsed"></span>
        </div>

        <div class="permit-header-content">
            <p>
                <span ng-show="::$ctrl.requiresAction()" class="text-danger fa fa-exclamation-triangle"></span>
                <strong ng-bind="::$ctrl.permit.permitNumber"></strong>
                <span ng-bind="::$ctrl.permit.permitType"></span>
            </p>
        </div>
    </div>

    <div uib-collapse="collapsed">
        <div class="permit-section" ng-if="$ctrl.hasSpeciesAmounts()">
            <div class="permit-section-header" translate="harvestpermit.speciesAndAmount"></div>
            <div class="permit-section-content" ng-switch="$ctrl.isNestRemovalPermit()">
                <div ng-switch-when="false" ng-repeat="speciesAmount in ::$ctrl.permit.speciesAmounts">
                    <span name-translated="speciesAmount.gameSpecies.name"></span>
                    <span ng-bind="::speciesAmount.amount"></span>
                    <span translate="harvestpermit.pcs"></span>
                    <span ng-bind="::speciesAmount | speciesAmountIntervalText"></span>
                </div>
                <div ng-switch-when="true" ng-repeat="speciesAmount in ::$ctrl.permit.speciesAmounts">
                    <div>
                        <span name-translated="speciesAmount.gameSpecies.name"></span>
                        <span ng-bind="::speciesAmount | speciesAmountIntervalText"></span>
                    </div>
                    <div style="padding-left: 15px">
                        <span ng-if="::speciesAmount.nestAmount">
                            <span ng-bind="::speciesAmount.nestAmount"></span>
                            <span translate="harvestpermit.management.dashboard.permittedAmount.nest"></span>
                        </span>
                        <span ng-if="::speciesAmount.constructionAmount">
                            <span ng-bind="::speciesAmount.constructionAmount"></span>
                            <span translate="harvestpermit.management.dashboard.permittedAmount.construction"></span>
                        </span>
                        <span ng-if="::speciesAmount.eggAmount">
                            <span ng-bind="::speciesAmount.eggAmount"></span>
                            <span translate="harvestpermit.management.dashboard.permittedAmount.egg"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="permit-section">
            <div class="permit-section-header" translate="harvestpermit.contactPerson"></div>
            <div class="permit-section-content">
                <div ng-repeat="person in ::$ctrl.permit.contactPersons | orderBy:['lastName', 'byName'] track by person.id">
                    <span ng-bind="::person.lastName"></span>
                    <span ng-bind="::person.byName"></span>
                    <span ng-bind="::person.hunterNumber"></span>
                </div>
            </div>
        </div>

        <div class="permit-section-actions">
            <button type="button" class="btn btn-primary"
                    ng-click="$ctrl.open()"
                    ng-disabled="$ctrl.actionDisabled()">
                <span translate="harvestpermit.mine.permits.openManagement"></span>
            </button>
        </div>
    </div>
</div>
