<div class="btn-group" style="margin: 10px 0">
    <label class="btn btn-default" style="min-width: 100px"
           ng-model="$ctrl.toggle"
           uib-btn-radio="false">
        <span translate="global.no"></span>
    </label>

    <label class="btn btn-default" style="min-width: 100px"
           ng-model="$ctrl.toggle"
           uib-btn-radio="true">
        <span class="fa fa-fw fa-check text-primary"
              ng-show="$ctrl.toggle"></span>
        <span translate="global.yes"></span>
    </label>
</div>
