<li class="r-main-search">
    <a class="r-main-search-title"
       ng-click="$ctrl.onActiveSearchClick()">
        <span ng-bind="$ctrl.getActiveSearchTitle()"></span>
    </a>

    <ui-select ng-model="$ctrl.uiSelectModel"
               theme="select2"
               on-select="$ctrl.onSearchResultSelect()">

        <ui-select-match>
            <span ng-bind="$ctrl.uiSelectModel.description"></span>
        </ui-select-match>

        <ui-select-choices repeat="item in $ctrl.searchResults"
                           group-by="'categoryTranslated'"
                           minimum-input-length="3"
                           refresh-delay="300"
                           refresh="$ctrl.doSearch($select.search)">
            <span ng-bind="item.description"></span>
        </ui-select-choices>

        <ui-select-no-choice>
            <div ng-show="!$ctrl.searching && $ctrl.search.length < 3"
                 translate="search.formatInputTooShort"
                 translate-values="{count: 3 - $select.search.length}"></div>

            <div ng-show="!$ctrl.searching && $ctrl.searchResults.length === 0"
                 translate="search.formatNoMatches"></div>

            <div ng-show="$ctrl.searching">
                <span class="fa fa-spinner fa-spin"></span>
                <span translate="search.formatSearching"></span>
            </div>
        </ui-select-no-choice>
    </ui-select>
</li>
