<div class="modal-header">
    <button riista-modal-close></button>
    <h3 class="modal-title" translate="decision.action.attachments.title"></h3>
</div>

<div class="modal-body" style="min-height: 400px;">
    <div class="form-group">
        <div class="row" ng-if="!$ctrl.readOnly">
            <div class="col-xs-8" ng-switch="$ctrl.upload.status">
                <div ng-switch-when="'UPLOADING'"
                     class="alert alert-info text-center">
                    <span translate="decision.action.attachments.uploadingInProgress"></span>

                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                    </div>
                </div>

                <div ng-switch-when="'SUCCESS'"
                     class="alert alert-success text-center">
                    <span translate="decision.action.attachments.uploadingComplete"></span>
                </div>

                <div ng-switch-when="'ERROR'"
                     class="alert alert-warning text-center">
                    <span translate="global.messages.error"></span>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="btn btn-primary btn-upload pull-right"
                     upload-button
                     url="{{$ctrl.upload.url}}"
                     data="$ctrl.upload.formdata"
                     accept="{{$ctrl.upload.acceptTypes}}"
                     on-upload="$ctrl.onUpload(files)"
                     on-success="$ctrl.onSuccess(response)"
                     on-error="$ctrl.onError(response)">
                    <span translate="decision.action.attachments.add"></span>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th translate="decision.action.attachments.filename"></th>
            <th translate="decision.action.attachments.creationDate"></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="a in $ctrl.attachments track by a.id">
            <td>
                <a ng-click="$ctrl.download(a)" ng-bind="a.filename"></a>
            </td>
            <td>
                <span ng-bind="a.creationTime | date:'dd.MM.yyyy HH:mm'"></span>
            </td>
            <td class="text-right">
                <button type="button" class="btn btn-default btn-xs"
                        ng-if="!$ctrl.readOnly"
                        ng-confirm-click
                        ng-confirm-click-action="$ctrl.delete(a)">
                    <span class="fa fa-fw fa-lg fa-remove text-danger"></span>
                    <span translate="global.button.delete"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="$ctrl.close()"
            translate="global.button.close"></button>
</div>
