<table class="table">
    <tbody ng-switch="::$ctrl.attachments.length > 0">
    <tr ng-switch-when="true">
        <th class="col-xs-3" translate="harvestpermit.wizard.navigation.attachments"></th>
        <td>
            <p ng-repeat="a in ::$ctrl.attachments track by a.id">
                <a ng-click="$ctrl.downloadAttachment(a.id)" ng-bind="::a.name"></a>
            </p>
        </td>
    </tr>
    <tr ng-switch-when="false">
        <th class="col-xs-3" translate="harvestpermit.wizard.common.map.areaDescription"></th>
        <td ng-bind="$ctrl.application.derogationPermitApplicationAreaDTO.areaDescription"></td>
    </tr>
    </tbody>
</table>
