<div class="col-md-4 col-sm-6">
    <div class="panel panel-permit-management">
        <div class="panel-heading">
            <p class="panel-title">
                <span class="fa fa-2x fa-list"></span>
                <span translate="harvestpermit.management.dashboard.nestRemovalUsage.title"></span>
            </p>
        </div>

        <div class="panel-body">
            <i ng-switch="!!$ctrl.lastModifier">
                <div ng-switch-when="true">
                    <span translate="harvestpermit.management.dashboard.nestRemovalUsage.modificationTime"></span>
                    &nbsp;
                    <span>{{($ctrl.lastModifier.timestamp | date:'d.M.yyyy HH:mm')}}</span>
                    <div>
                        <span ng-if="$ctrl.lastModifier.adminOrModerator" translate="global.organisationType.RK"></span>
                        <span>{{$ctrl.lastModifier.firstName}}&nbsp{{$ctrl.lastModifier.lastName}}</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <span translate="harvestpermit.management.dashboard.nestRemovalUsage.modificationTime"></span>
                    &nbsp;
                    <span>-</span>
                </div>
            </i>
        </div>

        <div class="panel-buttons">
            <button class="btn btn-primary" ng-click="$ctrl.reportUsage()">
                <span translate="harvestpermit.management.dashboard.nestRemovalUsage.button"></span>
            </button>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="panel panel-permit-management">
        <div class="panel-heading">
            <p class="panel-title">
                <span class="fa fa-2x fa-file-text"></span>
                <span translate="harvestpermit.management.endOfHunting.nestRemovalTitle"></span>
            </p>
        </div>

        <div class="panel-body" ng-switch="$ctrl.permit.harvestReportState">
            <div ng-switch-when="true">
                <p translate="harvestpermit.harvestReportDoneInfo"></p>
            </div>

            <div ng-switch-when="false">
                <span translate="harvestpermit.management.dashboard.endOfHunting.instruction"></span>
            </div>
        </div>

        <div class="panel-buttons">
                    <span class="r-harvestreport-state-text pull-left"
                          ng-if="$ctrl.permit.harvestReportState"
                          harvest-report-state-to-class="$ctrl.permit.harvestReportState"
                          translate="harvestreport.state.{{$ctrl.permit.harvestReportState}}"></span>

            <button type="button" class="btn btn-primary"
                    ng-if="$ctrl.permit.canEndHunting"
                    ng-click="$ctrl.showEndOfHuntingReport()">
                <span translate="harvestpermit.management.endOfHunting.createNestRemovalButton"></span>
            </button>

            <button type="button" class="btn btn-default"
                    ng-if="$ctrl.permit.harvestReportState"
                    ng-click="$ctrl.showEndOfHuntingReport()">
                <span class="glyphicon glyphicon-edit"></span>
                &nbsp;
                <span translate="global.button.open"></span>
            </button>
        </div>
    </div>
</div>
