<form name="form" role="form" class="form form-horizontal" autocomplete="off" ng-submit="save()">

    <div class="modal-header">
        <button riista-modal-close></button>
        <div class="modal-title h3">
            <span translate="club.group.form.titleCopy"></span>:
            <span>{{group | rI18nNameFilter}}</span>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group" show-errors>
            <label for="huntingYear" class="col-xs-3 control-label">
                <span translate="club.group.form.huntingYear"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-4">
                <select name="huntingYear" id="huntingYear" class="form-control"
                        ng-model="group.huntingYear"
                        ng-change="onHuntingYearChange(group.huntingYear)"
                        ng-options="y.year as y.name for y in huntingYears"
                        required>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="huntingArea" class="col-xs-3 control-label">
                <span translate="club.group.form.huntingArea"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-4">
                <select name="huntingArea" id="huntingArea"
                        class="form-control"
                        required
                        ng-model="group.huntingAreaId"
                        ng-options="a.id as (a | rI18nNameFilter) for a in areas | orderBy:['huntingYear','id']">
                </select>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="cancel()"
                translate="global.button.cancel"></button>

        <button type="submit" class="btn btn-primary"
                ng-disabled="form.$invalid || !group.gameSpeciesCode"
                translate="global.button.ok"></button>
    </div>
</form>
