<form name="form" role="form" class="form form-horizontal" autocomplete="off">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 ng-show="!$ctrl.group.id" class="modal-title" translate="club.group.form.titleAdd"></h3>
        <h3 ng-show="$ctrl.group.id" class="modal-title" translate="club.group.form.titleEdit"></h3>
    </div>

    <div class="modal-body">
        <div class="form-group" ng-if="!$ctrl.showSpeciesSelection">
            <label for="species" class="col-sm-3 control-label">
                <span translate="club.group.form.species"></span>
            </label>
            <div class="col-sm-4">
                <p class="form-control-static" ng-bind="$ctrl.getGameName($ctrl.group.gameSpeciesCode, null)"></p>
            </div>
        </div>

        <div class="form-group" show-errors ng-if="$ctrl.showSpeciesSelection">
            <label for="species" class="col-sm-3 control-label">
                <span translate="club.group.form.species"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-sm-4">
                <select name="species" id="species" class="form-control"
                        ng-model="$ctrl.group.gameSpeciesCode"
                        ng-change="$ctrl.onGameSpeciesChange()"
                        ng-options="o.code as $ctrl.getGameName(o.code, o) group by $ctrl.getCategoryName(o.categoryId) for o in $ctrl.species | orderBy:['categoryId', 'translatedName']"
                        ie10-optgroup-fix><!-- note: we do not have required here because of IE -->
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="huntingYear" class="col-sm-3 control-label">
                <span translate="global.huntingYear"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-sm-4">
                <select name="huntingYear" id="huntingYear" class="form-control"
                        ng-model="$ctrl.group.huntingYear"
                        ng-change="$ctrl.onHuntingYearChange($ctrl.group.huntingYear)"
                        ng-options="y.year as y.name for y in $ctrl.huntingYears"
                        required
                        ng-disabled="!$ctrl.huntingNotStarted">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="permitSelection" class="col-sm-3 control-label">
                <span translate="club.group.form.harvestPermit"></span>
            </label>

            <div class="col-sm-4">
                <p class="form-control-static">
                   <span ng-show="$ctrl.group.permit"
                         ng-bind="$ctrl.group.permit.permitNumber"></span>
                   <span ng-show="!$ctrl.group.permit"
                         class="text-danger"
                         translate="club.group.form.harvestPermitNotSet"></span>
                </p>
            </div>

            <div class="col-sm-5">
                <div class="form-control-static">
                    <a class="bnt btn-link"
                       ng-show="$ctrl.group.permit && $ctrl.huntingNotStarted"
                       ng-click="$ctrl.clearPermit()"
                       translate="club.group.form.clearPermit"></a>
                </div>
            </div>
        </div>

        <div class="form-group" show-errors ng-if="$ctrl.huntingNotStarted">
            <div class="col-sm-4 col-sm-offset-3">
                <select name="permitSelection" id="permitSelection" class="form-control"
                        ng-model="$ctrl.selectedPermit"
                        ng-change="$ctrl.selectPermit($ctrl.selectedPermit)"
                        ng-options="p.permitNumber for p in $ctrl.permits track by p.id"
                        ng-disabled="!$ctrl.huntingNotStarted">
                    <option value="">{{'club.group.form.choosePermit' | translate}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="huntingArea" class="col-sm-3 control-label">
                <span translate="club.group.form.huntingArea"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-sm-4">
                <select name="huntingArea" id="huntingArea"
                        class="form-control"
                        required
                        ng-model="$ctrl.group.huntingAreaId"
                        ng-options="a.id as (a | rI18nNameFilter) for a in $ctrl.areas | orderBy:['huntingYear','id']"
                        ng-disabled="!$ctrl.huntingNotStarted">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="nameFI" class="col-sm-3 control-label">
                <span translate="global.nameFI"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-sm-4">
                <input name="nameFI" id="nameFI" class="form-control"
                       ng-model="$ctrl.group.nameFI"
                       ng-maxlength="255"
                       focus-me
                       r-copy-on-blur-to-empty-input="nameSV"
                       required>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="nameSV" class="col-sm-3 control-label">
                <span translate="global.nameSV"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-sm-4">
                <input name="nameSV" id="nameSV" class="form-control"
                       ng-model="$ctrl.group.nameSV"
                       ng-maxlength="255"
                       r-copy-on-blur-to-empty-input="nameFI"
                       required>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.save()"
                ng-disabled="form.$invalid || !$ctrl.group.gameSpeciesCode"
                translate="global.button.ok"></button>
    </div>
</form>
