<div class="r-table-header">
    <div class="content">
        <span class="h3">
            <span name-translated="group"></span>
        </span>
    </div>

    <div class="buttons">
        <button ng-show="canDelete()" class="btn btn-danger" ng-confirm-click ng-confirm-click-action="delete()">
            <span class="glyphicon glyphicon-remove"></span> &nbsp;
            <span translate="global.button.delete"></span>
        </button>
        <button ng-show="canCopy()" ng-click="copy()" class="btn btn-default">
            <span class="fa fa-clone"></span> &nbsp;
            <span translate="global.button.copy"></span>
        </button>
        <button ng-show="canEdit()" ng-click="edit()" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> &nbsp;
            <span translate="global.button.edit"></span>
        </button>
    </div>
</div>

<table class="table table-condensed">
    <tbody>
    <tr>
        <td class="col-md-3" translate="global.nameFI"></td>
        <td>{{group.nameFI}}</td>
        <td rowspan="7" style="vertical-align: middle; text-align: center">
            <img ng-src="/static/elainlajikuvat/96x96/{{group.species.code}}.jpg" width="96" height="96"/>
        </td>
    </tr>
    <tr>
        <td class="col-md-3" translate="global.nameSV"></td>
        <td>{{group.nameSV}}</td>
    </tr>
    <tr>
        <td class="col-md-3" translate="global.huntingYear"></td>
        <td>{{ group.huntingYear | rHuntingYear }}</td>
    </tr>
    <tr>
        <td class="col-md-3" translate="club.group.form.species"></td>
        <td name-translated="group.species.name"></td>
    </tr>
    <tr>
        <td class="col-md-3" translate="club.group.form.harvestPermit"></td>
        <td>
            <span ng-show="group.permit" ng-bind="group.permit.permitNumber"></span>
            <span ng-hide="group.permit" translate="club.group.form.harvestPermitNotSet"></span>
        </td>
    </tr>
    <tr>
        <td class="col-md-3" translate="club.group.form.huntingArea"></td>
        <td>
            <span ng-show="huntingArea" ng-bind="huntingArea | rI18nNameFilter"></span>
            <span ng-hide="group.huntingAreaId" translate="club.group.form.huntingAreaNotSet"></span>
        </td>
    </tr>
    </tbody>
</table>

<hr class="invisible"/>

<div class="r-table-header">
    <div class="content">
        <h3>
            <span translate="club.genericMember.title"></span>
            <span class="text-muted">({{ group.memberCount }})</span>
        </h3>
    </div>

    <div class="buttons">
        <button ng-show="group.canEdit" ng-click="addMember()" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> &nbsp;
            <span translate="club.genericMember.button.add"></span>
        </button>
    </div>
</div>

<group-member-list
        members="members"
        can-edit="group.canEdit">
</group-member-list>

<group-moose-data-card-import-list
        moose-data-card-imports="mooseDataCardImports"
        ng-if="group.fromMooseDataCard">
</group-moose-data-card-import-list>
