<form name="form" role="form" class="form" autocomplete="off"
      ng-submit="form.$valid && $ctrl.save()"
      r-force-show-errors-check-validity>

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title">
            <span translate="harvestpermit.decision.sectionId.{{::$ctrl.sectionId}}"></span>
        </h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-default"
                        ng-if="$ctrl.generatePossible"
                        ng-click="$ctrl.generateText()"
                        translate="harvestpermit.decision.section.generateText">
                </button>
                <button type="button"  class="btn btn-default"
                        ng-if="$ctrl.referenceShown"
                        ng-click="$ctrl.overwriteWithReference()"
                        ng-disabled="!$ctrl.referenceContent">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <span translate="harvestpermit.decision.section.overwrite"></span>
                </button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default"
                        ng-if="$ctrl.referenceEnabled"
                        ng-click="$ctrl.toggleReference()">
                    <span ng-if="$ctrl.referenceShown" translate="harvestpermit.decision.section.hideReference"></span>
                    <span ng-if="!$ctrl.referenceShown" translate="harvestpermit.decision.section.showReference"></span>
                </button>
            </div>

            <div class="col-xs-3 text-right">
                <button type="button" class="btn btn-default"
                        ng-click="$ctrl.cancel()"
                        translate="global.button.cancel"></button>

                <button type="submit" class="btn btn-primary"
                        ng-disabled="form.$invalid"
                        translate="global.button.save"></button>
            </div>
        </div>

        <div class="row" ng-if="$ctrl.referenceShown" style="margin-top: 10px">
            <div class="col-xs-offset-6 col-xs-6">
                <label class="checkbox-inline">
                    <input type="checkbox"
                           ng-model="$ctrl.showDiff"
                           ng-change="$ctrl.contentChanged()">
                    <span translate="harvestpermit.decision.section.diff"></span>
                </label>
            </div>
        </div>

        <div class="row" style="margin-top: 10px">
            <div ng-class="{'col-xs-6': $ctrl.referenceShown, 'col-xs-12': !$ctrl.referenceShown}">
                <div class="form-group">
                    <textarea id="textContent"
                              class="form-control"
                              rows="25"
                              focus-me
                              ng-change="$ctrl.contentChanged()"
                              ng-model-options="{ debounce : { 'default' : 750, blur : 0 } }"
                              ng-model="$ctrl.textContent"></textarea>
                </div>
            </div>

            <div ng-class="{'col-xs-6': $ctrl.referenceShown, 'hidden': !$ctrl.referenceShown}">
                <div class="form-group">
                    <textarea id="referenceContent"
                              class="form-control"
                              rows="25"
                              disabled
                              ng-show="!$ctrl.showDiff"
                              ng-model="$ctrl.referenceContent"></textarea>
                    <div class="diffWrapper"
                         ng-bind-html="$ctrl.diff"
                         ng-if="$ctrl.showDiff"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="submit" class="btn btn-primary"
                ng-disabled="form.$invalid"
                translate="global.button.save"></button>
    </div>
</form>
