<form name="form" role="form" class="form form-horizontal" autocomplete="off">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="club.genericMember.titleAdd"></h3>
    </div>

    <div class="modal-body">
        <div class="form-group" show-errors>
            <label for="member" class="col-xs-3 control-label">
                <span translate="club.genericMember.selectExistingMember"></span>
            </label>

            <div class="col-xs-4">
                <select name="member" id="member" class="form-control"
                        ng-model="$ctrl.newMember"
                        ng-options="o as $ctrl.getName(o) for o in $ctrl.memberCandidates">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-disabled="!$ctrl.newMember"
                ng-click="$ctrl.ok()"
                translate="global.button.ok"></button>
    </div>
</form>
