<div class="moose-permit-statistics">

    <ul class="nav nav-pills">
        <li ng-repeat="u in data" ng-class="{ active: isOrgSelected(u) }">
            <a ng-click="selectOrg(u)">
                {{'club.permit.lukeReports.' + u.name | translate}}
            </a>
        </li>
    </ul>

    <ul class="nav nav-pills">
        <li ng-repeat="presentation in uiState.org.presentations"
            ng-class="{ active: isPresentationSelected(presentation)}">
            <a ng-click="selectPresentation(presentation)">
                {{'club.permit.lukeReports.' + presentation.name | translate}}
            </a>
        </li>
    </ul>

    <ol id="moosepermit-main-scroll-to-id-0">
        <li ng-repeat="file in uiState.presentation.files">
            <a ng-click="scrollTo(file)">{{ tocText(file) }}</a>
            <a href="{{newTabUrl(file)}}" target="_blank" class="fa fa-external-link"
               uib-tooltip="{{'club.permit.lukeReports.newTab'|translate}}"></a>
        </li>
    </ol>

    <hr>

    <div ng-if="showFilesForSelectedOrg()">
        <div ng-repeat="file in uiState.presentation.files" class="luke-data"
             id="moosepermit-main-scroll-to-id-{{ getScrollId(file) }}">
            <div class="h2">
                <a ng-click="scrollToTop()" class="fa fa-arrow-up"
                   uib-tooltip="{{'club.permit.lukeReports.toTop'|translate}}"></a>
                {{$index + 1}} {{ tocText(file) }}
                <a href="{{newTabUrl(file)}}" target="_blank" class="fa fa-external-link"
                   uib-tooltip="{{'club.permit.lukeReports.newTab'|translate}}"></a>
            </div>

            <img ng-if="!isPresentationTable()"
                 class="img-responsive"
                 ng-src="{{url(file)}}">

            <div ng-if="isPresentationTable()">
                <div ng-include="url(file)"></div>
            </div>
            <hr>
        </div>
    </div>

    <div ng-if="noFilesForSelectedClub()"
         class="luke-data-missing"
         translate="club.permit.lukeReports.noReports"></div>
</div>
