<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- NEVER show lines containing these texts in stack traces. Be careful what you add here! -->
    <property name="mask"
              value="
            $$EnhancerBySpringCGLIB$$,
            $$FastClassBySpringCGLIB$$,
            java.lang.reflect.Method.invoke,
            org.eclipse.jetty,
            org.springframework.aop,
            org.springframework.cglib.proxy,
            org.springframework.web.filter.OncePerRequestFilter,
            org.springframework.security.web.FilterChainProxy,
            sun.reflect.DelegatingMethodAccessorImpl,
            sun.reflect.NativeMethodAccessorImpl" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{req.remoteHost} %X{req.method} %X{req.requestURI} [%thread] %-5level %logger{50} - %msg%n%ex{full, ${mask}}</pattern>
        </encoder>
    </appender>

    <logger name="fi.riista" level="DEBUG" />
    <logger name="fi.riista.security.otp" level="INFO" />
    <logger name="fi.riista.security.authentication" level="INFO" />
    <logger name="fi.riista.security.csrf" level="INFO" />
    <logger name="fi.riista.security.authorization" level="INFO" />
    <logger name="fi.riista.feature.common.workaround" level="INFO" />
    <logger name="fi.riista.integration.mml" level="INFO"/>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.aop" level="INFO" />
    <logger name="org.springframework.beans" level="WARN" />
    <logger name="org.springframework.core" level="INFO" />
    <logger name="org.springframework.context" level="WARN" />
    <logger name="org.springframework.orm" level="INFO" />
    <logger name="org.springframework.jdbc" level="INFO" />
    <logger name="org.springframework.transaction" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.web.servlet" level="INFO" />
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springframework.security.web" level="INFO" />
    <logger name="org.springframework.security.access.intercept" level="INFO" />
    <logger name="org.springframework.session" level="INFO"/>
    <logger name="org.springframework.retry" level="INFO"/>

    <logger name="ch.qos.logback" level="WARN" />
    <logger name="com.querydsl.jpa" level="INFO" />
    <logger name="com.querydsl.sql" level="INFO" />
    <logger name="HikariPool" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="com.github.jknack.handlebars" level="INFO"/>
    <logger name="com.amazonaws" level="INFO"/>
    <logger name="com.ancientprogramming.fixedformat4j.format" level="INFO"/>
    <logger name="com.onelogin.saml2" level="INFO"/>
    <logger name="org.apache.fontbox" level="INFO"/>
    <logger name="org.apache.pdfbox" level="INFO"/>

    <logger name="org.apache.http" level="INFO" />
    <logger name="org.apache.xml.security" level="INFO"/>
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.cfg" level="WARN" />
    <logger name="org.hibernate.type" level="WARN" />
    <logger name="org.nlab.smtp" level="INFO"/>

    <logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="ERROR" />

    <logger name="org.quartz" level="INFO"/>
    <logger name="liquibase" level="INFO"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
