<div class="panel panel-default" ng-if="$ctrl.selectedPermit">
    <div class="panel-heading">
        <div class="pull-right">
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    <span translate="club.permit.button.functionMenu"></span>
                    &nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-if="$ctrl.listLeadersButtonVisible">
                        <a ng-click="$ctrl.leaders()">
                            <span class="fa fa-trophy"></span>
                            <span translate="club.permit.button.listLeaders"></span>
                        </a>
                    </li>
                    <li ng-if="$ctrl.canEditAllocations">
                        <a ng-click="$ctrl.edit({'permit': $ctrl.selectedPermit})">
                            <span class="fa fa-legal"></span>
                            <span translate="club.permit.allocation.menuText"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.editHuntingSummary()">
                            <span class="fa fa-key"></span>
                            <span translate="club.hunting.huntingSummary.menuTitle"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.editMoosePermitHarvestReport()">
                            <span class="fa fa-eur"></span>
                            <span translate="club.permit.mooseHarvestReport.menuTitle"></span>
                        </a>
                    </li>
                    <li ng-if="$ctrl.isFinishHuntingByModeratorOverrideVisible">
                        <a ng-click="$ctrl.finishHuntingByModeratorOverride()">
                            <span class="fa fa-legal"></span>
                            <span translate="club.permit.finishHuntingByModeratorOverride"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-title">
            <span ng-bind="$ctrl.selectedPermit.permitNumber"></span>
            <br>
            <span class="small" ng-bind="$ctrl.selectedPermit.speciesAmount | speciesAmountIntervalTextPlain"></span>
            <br>
            <span ng-repeat="n in $ctrl.permitNumbers">
                <span r-download-pdf="$ctrl.getPdfUrl(n.permitNumber)"
                      uib-tooltip-html="n.text"
                      tooltip-placement="right"></span>
            </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                        ng-class="{'active': $ctrl.isActive('show', 'edit')}"
                        ng-click="$ctrl.show({'permit': $ctrl.selectedPermit})"
                        translate="club.permit.button.table"></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                        ng-class="{'active': $ctrl.isActive('map')}"
                        ng-click="$ctrl.map({'permit': $ctrl.selectedPermit})"
                        translate="club.permit.button.map"></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                        ng-if="$ctrl.isMoosePermit"
                        ng-class="{'active': $ctrl.isActive('lukereports')}"
                        ng-click="$ctrl.lukereports({'permit': $ctrl.selectedPermit})"
                        translate="club.permit.button.lukeReports"></button>
            </div>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <td colspan="2">
                    <span translate="club.permit.permitHolder"></span>
                    <span class="pull-right" ng-bind="$ctrl.selectedPermit.permitHolder | rI18nNameFilter"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span translate="club.hunting.species"></span>
                    <span class="pull-right" ng-bind="$ctrl.selectedPermit.speciesAmount.gameSpecies.name | rI18nNameFilter"></span>
                </td>
            </tr>
            <tr>
                <td translate="club.permit.originalPermitAmount"></td>
                <td class="text-right" ng-bind="$ctrl.originalPermitAmount | number"></td>
            </tr>
            <tr>
                <td translate="club.permit.amendmentPermitAmount"></td>
                <td class="text-right" ng-bind="$ctrl.amendmentPermitAmount | number"></td>
            </tr>
            <tr>
                <td translate="club.permit.permitAmountTotal"></td>
                <td class="text-right" ng-bind="$ctrl.permitTotal | number"></td>
            </tr>
            <tr ng-if="$ctrl.permitRestrictionType">
                <td colspan="2" class="text-center alert alert-warning">
                    <span translate="harvestpermit.amount.restriction.type"></span>:
                    {{'harvestpermit.amount.restriction.' + $ctrl.permitRestrictionType | translate}} {{$ctrl.permitRestrictionAmount | number}}
                </td>
            </tr>
            <tr>
                <td translate="club.permit.permitUnallocated"></td>
                <td class="text-right" ng-bind="$ctrl.permitUnallocated | number"></td>
            </tr>
            <tr>
                <td translate="club.permit.usedPermitCount"></td>
                <td class="text-right" ng-bind="$ctrl.usedPermits | number"></td>
            </tr>
            <tr ng-if="$ctrl.notEdiblePermits !== $ctrl.amendmentPermitAmount">
                <td colspan="2" class="text-center alert alert-danger">
                    <span translate="club.permit.amendmentPermitsDoNotMatchHarvests "></span>
                </td>
            </tr>
            <tr>
                <td translate="club.permit.notEdibleCount"></td>
                <td class="text-right" ng-bind="$ctrl.notEdiblePermits | number"></td>
            </tr>
            <tr ng-if="$ctrl.isHuntingFinished">
                <td colspan="2" class="text-center alert alert-success">
                    <span translate="club.hunting.huntingSummary.status"></span>
                </td>
            </tr>
            <tr ng-if="$ctrl.isPermitFinished">
                <td colspan="2" class="text-center alert alert-success">
                    <span translate="club.permit.mooseHarvestReport.permitFinished"></span>
                </td>
            </tr>
            <tr ng-if="$ctrl.isModeratorOverridden">
                <td colspan="2" class="text-center alert alert-warning">
                    <span translate="reporting.huntingSummary.overridden"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
