<div class="row year-species-menu">
    <div class="col-xs-4 left">
        <select name="huntingYearSelection" id="huntingYearSelection"
                class="form-control"
                ng-model="$ctrl.selectedYearAndSpecies.huntingYear"
                ng-options="year.year as year.name for year in $ctrl.yearOptions"
                ng-change="$ctrl.reloadState()">
            <option disabled value="">{{'club.hunting.selectHuntingYear' | translate}}</option>
        </select>
    </div>
    <div class="col-xs-8 right">
        <select name="gameSpeciesId" id="gameSpeciesId"
                class="form-control"
                ng-model="$ctrl.selectedYearAndSpecies.species"
                ng-options="s.code as (s.name | rI18nNameFilter) for s in $ctrl.speciesOptions"
                ng-change="$ctrl.reloadState()">
            <option disabled value="">{{'harvestpermit.title.selectSpecies' | translate}}</option>
        </select>
    </div>
</div>

<moose-permit-list-details
        show-func="$ctrl.show"
        edit-func="$ctrl.edit"
        map-func="$ctrl.map"
        lukereports-func="$ctrl.lukereports"
        leaders-func="$ctrl.leaders"
        selected-permit="$ctrl.getSelectedPermit()"></moose-permit-list-details>

<h3>
    <span translate="club.permit.list"></span>
</h3>

<ul class="list-group">
    <li class="list-group-item"
        ng-repeat="permit in $ctrl.permits track by permit.id"
        ng-class="{'active': $ctrl.isSelectedPermit(permit)}"
        ng-click="::($ctrl.show({'permit':permit}))">
            <span ng-if="::permit.currentlyViewedRhyIsRelated" class="r-badge-blue" translate="club.permit.relatedRhy"> </span>

            <span ng-bind="::permit.permitNumber"></span>,
            <span ng-bind="::permit.permitHolder | rI18nNameFilter"></span>
            <span class="pull-right">
                <span ng-if="::permit.mooseHarvestReport" class="fa fa-lock"></span>
            </span>
    </li>
</ul>
