@r-moose-permits-left-sidebar-width: 400px;

.r-moose-permits-layout {
  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  @media (max-width: @screen-xs-max) {
    flex-direction: column;
  }

  .left-column,
  .main-column {
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
  }

  .left-column {
    width: @r-moose-permits-left-sidebar-width;

    padding: 10px 10px 0;

    @media (max-width: @screen-xs-max) {
      width: 100%;
    }

    > h3 {
      padding-left: 10px;
      margin-bottom: 20px;

      button {
        float: right;
        font-family: @font-family-base;
      }
    }

    table {
      margin: 10px 0 0;
    }

    .panel {
      margin: 0 auto 15px;

      .panel-heading {
        overflow: auto;
      }

      .panel-title {
        margin-top: 5px;
      }

      .panel-body > .btn {
        margin-top: 10px;
        float: right;
      }
    }

    .downloadButton {
      position: absolute;
      top: 6px;
      right: 6px;
      @media (max-width: @screen-xs-max) {
        > i {
          display: none;
        }
      }
    }

    .selector-group {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-wrap: wrap;

      .table-map-selector {
        width: 65%;
      }

      @media (max-width: @screen-xs-max) {
        .table-map-selector {
          width: 100%;
        }

        .actions-btn {
          width: 100%;

          button {
            margin-top: 6px;
            width: 100%;
          }
        }
      }
    }

    .list-group > .list-group-item {
      .buttons {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 5px;

        > span {
          font-size: 12px;
          padding-right: 5px;
        }

        .btn {
          padding: 0 3px;
        }
      }

      .list-group-item-heading {
        display: block;
        margin-right: 150px;
      }
    }

    .year-species-menu {
      padding-bottom: 10px;

      div.left {
        padding-right: 5px;
      }

      div.right {
        padding-left: 5px;
      }
    }

    .permit-download {
      display: inline-block;
    }
    .btn>span {
      white-space: pre-wrap;
    }
  }

  .main-column {
    flex-grow: 1;

    @media (max-width: @screen-xs-max) {
      min-height: 456px;
      position: relative;
      .map-overlay-button-container {
        position: absolute;
        top:unset;
        left: unset;
      }
    }
    .permit-map {
      position: relative;
      @media (max-width: @screen-xs-max) {
        height: 456px;
        .r-cursor-pointer {
          height: 100% !important;
        }
      }
    }

    .container-fluid {
      padding: 10px;
      height: 100%;
    }

    .permit-species-logo {
      float: left;
      padding: 0 20px;
    }

    .permit-percentage-table {
      width: 500px;
    }
  }

  .main-column.in {
    top: @sub-nav-height;
  }
}

.moose-permit-infotable {
  @moose-permit-infotable-header-border-style: 1px solid #c5c5c5;
  @moose-permit-infotable-border-style: 1px solid rgb(221, 221, 221);

  td:first-child {
    width: 250px;
  }

  th, td:not(:first-child) {
    .text-center;
    padding: 2px !important;
  }

  .topheader {
    th {
      border-bottom: none;

      &:not(:first-child) {
        border-left: @moose-permit-infotable-header-border-style;
      }
    }
  }

  .lowheader {
    th {
      border-top: 0;
    }
  }

  .summary {
    font-weight: bold;
  }

  .current-club {
    td {
      color: white;
      background-color: darkgray !important;
    }
  }

  tr {
    &:hover {
      background-color: #e0f0eb;
    }

    td {
      padding: 1px !important;

      .fa {
        padding-left: 3px;
        padding-right: 3px;
      }
    }
  }
}

.loop-moose-permit-border-left(@cols; @index: 1) when (@index <= length(@cols)) {
  .loop-moose-permit-border-left(@cols; (@index + 1));

  @i: extract(@cols, @index);
  &:nth-of-type(@{i}) {
    border-left: @moose-permit-infotable-header-border-style;
  }
}

.moose-permit-infotable-allocation {
  .moose-permit-infotable;

  padding-top: 10px;

  @moose-permit-infotable-hunting-border-indexes: 2 3 6 7 13;

  .lowheader > th {
    .loop-moose-permit-border-left(@moose-permit-infotable-hunting-border-indexes);
  }

  tbody > tr > td {
    .loop-moose-permit-border-left(@moose-permit-infotable-hunting-border-indexes);

    line-height: 30px;
    max-width: 30px;

    // Hide spinner on number input fields
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
      .text-center;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}

.moose-permit-infotable-hunting {
  .moose-permit-infotable;

  @moose-permit-infotable-hunting-border-indexes: 2 3 4 5 8 9 15 17;

  .lowheader > th {
    .loop-moose-permit-border-left(@moose-permit-infotable-hunting-border-indexes);
  }

  tr > td {
    .loop-moose-permit-border-left(@moose-permit-infotable-hunting-border-indexes);
  }
}

.moose-permit-infotable-indexes {
  .moose-permit-infotable;

  @moose-permit-infotable-indexes-border-indexes: 2 3 5;

  .lowheader > th {
    .loop-moose-permit-border-left(@moose-permit-infotable-indexes-border-indexes);
  }

  tr > td {
    .loop-moose-permit-border-left(@moose-permit-infotable-indexes-border-indexes);
  }
}

.moose-permit-infotable-payments {
  .moose-permit-infotable;

  @moose-permit-infotable-payments-border-indexes: 2 4 6;

  .lowheader > th {
    .loop-moose-permit-border-left(@moose-permit-infotable-payments-border-indexes);
  }

  tr > td {
    .loop-moose-permit-border-left(@moose-permit-infotable-payments-border-indexes);
  }
}

.moose-permit-statistics {
  .container-fluid;

  .nav {
    padding-top: 10px;
  }

  .luke-data {
    margin-right: 10px;

    h1 {
      .hidden;
    }

    .caption {
      .help-block;
      .alert;
      .alert-info;
    }

    table {
      .table;
      .table-condensed;
      .table-striped;

      th, td {
        .text-center;
      }
    }
  }

  .luke-data-missing {
    margin-top: 10px;
    .alert;
    .alert-info;
  }
}
