<div class="container-fluid">

    <div ng-if="!$ctrl.permit.amendmentPermitsMatchHarvests">
        <div class="alert alert-danger">
            <span class="text-danger fa fa-exclamation-triangle"></span>
            <span translate="club.permit.amendmentPermitsDoNotMatchHarvests"></span>
        </div>
    </div>

    <div class="permit-species-logo">
        <img ng-src="/static/elainlajikuvat/96x96/{{$ctrl.permit.speciesAmount.gameSpecies.code}}.jpg"
             style="float:left"
             width="96" height="96"/>
    </div>

    <table class="table table-condensed permit-percentage-table">
        <thead>
        <tr>
            <th></th>
            <th translate="club.permit.percentage.allocated"></th>
            <th translate="club.permit.percentage.harvests"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="h5" translate="club.permit.percentage.males"></td>
            <td>{{$ctrl.counter.maleAdultPercentage()}}%</td>
            <td>{{$ctrl.counter.maleAdultHarvestPercentage()}}%</td>
        </tr>
        <tr>
            <td class="h5" translate="club.permit.percentage.young"></td>
            <td>{{$ctrl.counter.youngPercentage()}}%</td>
            <td>{{$ctrl.counter.youngHarvestPercentage()}}%</td>
        </tr>
        </tbody>
    </table>

    <form name="form" role="form" class="form-inline" r-force-show-errors-check-validity>
        <uib-tabset active="tabSelection">
            <uib-tab heading="{{'club.permit.tabHunting' | translate}}">
                <moose-permit-table-hunting
                        latest-update="$ctrl.permit.totalStatistics.latestUpdate"
                        latest-updates-by-club-id="$ctrl.latestUpdatesByClubId"
                        harvest-counts="$ctrl.permit.harvestCounts"
                        allocations="$ctrl.allocations"
                        summary-for-partners-table="$ctrl.permit.summaryForPartnersTable"
                        from-moose-data-card="$ctrl.fromMooseDataCard"
                        counter="$ctrl.counter"
                        todos="$ctrl.todos"
                        is-current-club="$ctrl.isCurrentClub"
                        can-navigate-to-club="$ctrl.canNavigateToClub"
                        navigate-to-club-fn="$ctrl.navigateToClub"></moose-permit-table-hunting>
            </uib-tab>
            <uib-tab heading="{{'club.permit.tabIndexes' | translate}}" ng-if="$ctrl.isMoose()">
                <moose-permit-table-indexes
                        total-stats="$ctrl.permit.totalStatistics"
                        stats="$ctrl.permit.statistics"
                        from-moose-data-card="$ctrl.fromMooseDataCard"
                        allocations="$ctrl.allocations"
                        todos="$ctrl.todos"
                        is-current-club="$ctrl.isCurrentClub"
                        can-navigate-to-club="$ctrl.canNavigateToClub"
                        navigate-to-club-fn="$ctrl.navigateToClub"></moose-permit-table-indexes>
            </uib-tab>
            <uib-tab heading="{{'club.permit.tabPayments' | translate}}">
                <moose-permit-table-payments
                        total-payment="$ctrl.permit.totalPayment"
                        amendment-permits-match-harvests="$ctrl.permit.amendmentPermitsMatchHarvests"
                        from-moose-data-card="$ctrl.fromMooseDataCard"
                        counter="$ctrl.counter"
                        harvest-counts="$ctrl.permit.harvestCounts"
                        payments="$ctrl.permit.payments"
                        allocations="$ctrl.allocations"
                        todos="$ctrl.todos"
                        is-current-club="$ctrl.isCurrentClub"
                        can-navigate-to-club="$ctrl.canNavigateToClub"
                        navigate-to-club-fn="$ctrl.navigateToClub"></moose-permit-table-payments>
            </uib-tab>
        </uib-tabset>
    </form>
</div>
