<nav class="navbar r-subnav-navbar" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav r-subnav-nav">
            <li active-if-state-includes="jht.home">
                <a ui-sref="jht.home" translate="admin.menu.main"></a>
            </li>
            <li active-if-state-includes="jht.harvestreport">
                <a ui-sref="jht.harvestreport.list" translate="harvestreport.admin.menu"></a>
            </li>
            <li class="dropdown" active-if-state-includes="jht.applications,jht.decision,jht.nominationdecisions"
                uib-dropdown dropdown-append-to-body>
                <a uib-dropdown-toggle>
                    <span ng-if="$ctrl.myRenewalTodos" class="r-account-todo" ng-bind="$ctrl.myRenewalTodos"></span>
                    <span translate="jht.menu.applicationsAndDecisions"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu r-nav-dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="jht.applications" ui-sref-opts="{inherit: false}">
                            <span ng-if="$ctrl.myRenewalTodos" class="r-account-todo"
                                  ng-bind="$ctrl.myRenewalTodos"></span>
                            <span translate="jht.menu.permitDecisions"></span>
                        </a>

                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jht.nominationdecisions" ui-sref-opts="{inherit: false}">
                            <span translate="jht.menu.nominationDecisions"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li active-if-state-includes="jht.largecarnivorereport">
                <a ui-sref="jht.largecarnivorereport" translate="jht.menu.largeCarnivoreReport"></a>
            </li>
            <li active-if-state-includes="jht.harvestpermits">
                <a ui-sref="jht.harvestpermits" translate="jht.menu.permits"></a>
            </li>
            <li active-if-state-includes="jht.nomination">
                <a ui-sref="jht.nomination" translate="jht.menu.occupationNominations"></a>
            </li>
            <li active-if-state-includes="jht.annualstats">
                <a ui-sref="jht.annualstats" translate="jht.menu.annualStats"></a>
            </li>
            <li active-if-state-includes="jht.areas"
                class="dropdown" uib-dropdown dropdown-append-to-body>

                <a uib-dropdown-toggle>
                    <span translate="jht.menu.areas"></span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu r-nav-dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="jht.areas" ui-sref-opts="{inherit: false}"
                           translate="jht.menu.areasJht"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jht.natura" ui-sref-opts="{inherit: false}"
                           translate="jht.menu.areasNatura"></a>
                    </li>
                </ul>

            </li>
            <li active-if-state-includes="jht.hirvijyvitys">
                <a ui-sref="jht.hirvijyvitys" translate="jht.menu.hirviJyvitys"></a>
            </li>

            <li class="dropdown"
                active-if-state-includes="jht.invoice.search,jht.invoice.fivaldi"
                uib-dropdown dropdown-append-to-body>

                <a uib-dropdown-toggle>
                    <span translate="jht.menu.payments"></span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu r-nav-dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="jht.invoice.search({invoiceType: 1})" ui-sref-opts="{inherit: false}"
                           translate="jht.menu.processingInvoiceSearch"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jht.invoice.search({invoiceType: 2})" ui-sref-opts="{inherit: false}"
                           translate="jht.menu.harvestInvoiceSearch"></a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jht.invoice.fivaldi" translate="jht.menu.fivaldi"></a>
                    </li>
                </ul>
            </li>
            <li ng-if="::$ctrl.isAuthorizedForHarvestRegistry" active-if-state-includes="jht.harvestregistry">
                <a ui-sref="jht.harvestregistry" translate="jht.menu.harvestRegistry"></a>
            </li>
            <li ng-if="::$ctrl.isAuthorizedForOtherwiseDeceased" active-if-state-includes="jht.otherwisedeceased">
                <a ui-sref="jht.otherwisedeceased" translate="jht.menu.otherwiseDeceased"></a>
            </li>
        </ul>
    </div>
</nav>

<div riista-container-css>
    <div growl></div>

    <div ui-view autoscroll="false"></div>
</div>
