<uib-tabset active="active">

    <uib-tab index="0" select="$ctrl.select(0)" heading="Käyttäjät">
        <div class="fa fa-refresh fa-lg" ng-if="!$ctrl.shouldLoadFirstTab" ng-click="$ctrl.loadFirstTab()"></div>

        <div ng-if="$ctrl.shouldLoadFirstTab && $ctrl.selectedTab === 0">
            <div class="row">
                <div class="col-md-5">
                    <h2>Käyttäjät</h2>
                    <dashboard-users></dashboard-users>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h2>PDF lataukset</h2>
                    <dashboard-pdf></dashboard-pdf>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h2>Seurat</h2>
                    <dashboard-clubs></dashboard-clubs>
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="1" select="$ctrl.select(1)" heading="Hirvi">
        <div class="row">
            <div class="col-md-5">
                <h2>Hirvieläinten metsästys kuluvana metsästysvuonna</h2>
                <dashboard-mooselike-hunting ng-if="$ctrl.selectedTab === 1"></dashboard-mooselike-hunting>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="2" select="$ctrl.select(2)" heading="Saalis">
        <div class="row">
            <div class="col-md-5">
                <h2>Saaliskirjaukset ja -ilmoitukset</h2>
                <dashboard-harvest-observations ng-if="$ctrl.selectedTab === 2"></dashboard-harvest-observations>
            </div>

        </div>

        <hr/>
        <h2>Poimintatyökalu</h2>
        <dashboard-harvest-summary></dashboard-harvest-summary>
    </uib-tab>

    <uib-tab index="3" select="$ctrl.select(3)" heading="Srva">
        <div class="row">
            <div class="col-md-5">
                <h2>SRVA-tapahtumat</h2>
                <dashboard-srva ng-if="$ctrl.selectedTab === 3"></dashboard-srva>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="4" select="$ctrl.select(4)" heading="Ampumakoe">
        <h2>Ampumakokeen sähköiset kirjaukset 1.1.2019 alkaen</h2>
        <dashboard-shooting-test ng-if="$ctrl.selectedTab === 4"></dashboard-shooting-test>
    </uib-tab>

    <uib-tab index="5" select="$ctrl.select(5)" heading="MH-luvat">
        <h2>Metsähallituksen lupamäärät</h2>
        <dashboard-mh-permits ng-if="$ctrl.selectedTab === 5"></dashboard-mh-permits>
    </uib-tab>

    <uib-tab index="6" select="$ctrl.select(6)" heading="Viestit">
        <div class="row">
            <div class="col-md-5">
                <h2>Viestit</h2>
                <dashboard-announcement ng-if="$ctrl.selectedTab === 6"></dashboard-announcement>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="7" select="$ctrl.select(7)" heading="Mobiili">
        <h2>Mobiili kirjautumiset</h2>
        <dashboard-mobile-login ng-if="$ctrl.selectedTab === 7"></dashboard-mobile-login>
    </uib-tab>

    <uib-tab index="8" select="$ctrl.select(8)" heading="Muut" ng-if="$ctrl.isAdmin">
        <h2>Muita toimintoja</h2>

        <h2>Hyväksytyt saalisilmoitukset</h2>
        <dashboard-harvest-reports></dashboard-harvest-reports>
        <hr>

        <h2>RHY tietojen muokkaukset</h2>
        <dashboard-rhy></dashboard-rhy>
    </uib-tab>

</uib-tabset>
