<div class="form-group">
    <div class="col-xs-2">
        <div class="input-group" ng-controller="DatePickerController">
            <input type="text" name="harvestReportBeginDate" id="harvestReportBeginDate"
                   class="form-control r-wider-date-input"
                   uib-datepicker-popup is-open="isDatePickerOpen"
                   datepicker-append-to-body="true"
                   max-date="$ctrl.formDates.end"
                   ng-model="$ctrl.formDates.begin"/>

            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" tabindex="-1"
                                    ng-click="toggleDatePopup($event)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="input-group" ng-controller="DatePickerController">
            <input type="text" name="harvestReportEndDate" id="harvestReportEndDate"
                   class="form-control r-wider-date-input"
                   uib-datepicker-popup is-open="isDatePickerOpen"
                   datepicker-append-to-body="true"
                   min-date="$ctrl.formDates.begin"
                   ng-model="$ctrl.formDates.end"/>

            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" tabindex="-1"
                                    ng-click="toggleDatePopup($event)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
        </div>
    </div>
    <div class="col-xs-8">
        <form action="/api/v1/dashboard/harvestreport/excel" method="POST">
            <span class="btn btn-primary" ng-click="$ctrl.updateResolvedHarvestReportMetrics()"
                  translate="reporting.dashboard.otherItemsTab.update"></span>

            <input type="hidden" name="begin" value="{{$ctrl.postParams.begin}}"/>
            <input type="hidden" name="end" value="{{$ctrl.postParams.end}}"/>
            <input type="hidden" spring-csrf-cookie/>

            <button type="submit" class="btn btn-primary" ng-show="$ctrl.resolvedHarvestReportMetrics">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="reporting.common.toExcel"></span>
            </button>

            <span ng-if="$ctrl.loading" class="fa fa-refresh fa-spin fa-lg"></span>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped table-condensed" ng-show="$ctrl.resolvedHarvestReportMetrics">
    <thead>
    <tr>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.area"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.species"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.permitType"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.permitTypeId"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.season"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.permit"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.addedByUser"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.addedByModerator"></th>
        <th translate="reporting.dashboard.otherItemsTab.harvestReports.total"></th>
    </tr>
    </thead>
    <tr ng-repeat="row in $ctrl.resolvedHarvestReportMetrics">
        <td ng-bind="row.rka"></td>
        <td ng-bind="row.species"></td>
        <td ng-bind="row.permitType"></td>
        <td ng-bind="row.permitTypeCode"></td>
        <td><span ng-show="row.season">X</span></td>
        <td><span ng-show="row.permit">X</span></td>
        <td ng-bind="row.userCount"></td>
        <td ng-bind="row.moderatorCount"></td>
        <td ng-bind="row.reportsTotal"></td>
    </tr>
</table>
