<div class="form-group">
    <div class="col-xs-2">
        <div class="input-group" ng-controller="DatePickerController">
            <input type="text" name="rhyEditBeginDate" id="rhyEditBeginDate"
                   class="form-control r-wider-date-input"
                   uib-datepicker-popup is-open="isDatePickerOpen"
                   datepicker-append-to-body="true"
                   max-date="$ctrl.formDates.end"
                   ng-model="$ctrl.formDates.begin"/>

            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" tabindex="-1"
                                    ng-click="toggleDatePopup($event)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="input-group" ng-controller="DatePickerController">
            <input type="text" name="rhyEditEndDate" id="rhyEditEndDate"
                   class="form-control r-wider-date-input"
                   uib-datepicker-popup is-open="isDatePickerOpen"
                   datepicker-append-to-body="true"
                   min-date="$ctrl.formDates.begin"
                   ng-model="$ctrl.formDates.end"/>

            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" tabindex="-1"
                                    ng-click="toggleDatePopup($event)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
        </div>
    </div>
    <div class="col-xs-8">
        <form action="/api/v1/dashboard/rhyedit/excel" method="POST">
            <span class="btn btn-primary" ng-click="$ctrl.updateResolvedRhyEditMetrics()">Päivitä</span>

            <input type="hidden" name="begin" value="{{$ctrl.postParams.begin}}"/>
            <input type="hidden" name="end" value="{{$ctrl.postParams.end}}"/>
            <input type="hidden" spring-csrf-cookie/>

            <button type="submit" class="btn btn-primary" ng-show="$ctrl.resolvedRhyEditMetrics">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="reporting.common.toExcel"></span>
            </button>

            <span ng-if="$ctrl.loading" class="fa fa-refresh fa-spin fa-lg"></span>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped table-condensed" ng-show="$ctrl.resolvedRhyEditMetrics">
    <thead>
    <tr>
        <th translate="reporting.dashboard.otherItemsTab.rhyEdits.areaCode"></th>
        <th translate="reporting.dashboard.otherItemsTab.rhyEdits.rhyCode"></th>
        <th translate="reporting.dashboard.otherItemsTab.rhyEdits.rhyName"></th>
        <th translate="reporting.dashboard.otherItemsTab.rhyEdits.coordinators"></th>
        <th translate="reporting.dashboard.otherItemsTab.rhyEdits.moderators"></th>
        <th translate="reporting.dashboard.otherItemsTab.rhyEdits.eventsByCoordinators"></th>
        <th translate="reporting.dashboard.otherItemsTab.rhyEdits.eventsByModerators"></th>
    </tr>
    </thead>
    <tr ng-repeat="row in $ctrl.resolvedRhyEditMetrics">
        <td ng-bind="row.areaCode"></td>
        <td ng-bind="row.rhyCode"></td>
        <td ng-bind="row.rhyName"></td>
        <td ng-bind="row.occupations.coordinator.sum"></td>
        <td ng-bind="row.occupations.moderator.sum"></td>
        <td ng-bind="row.events.coordinator.sum"></td>
        <td ng-bind="row.events.moderator.sum"></td>
    </tr>
</table>