<div class="alert alert-info wizard-info">
    <span class="fa fa-info-circle"></span>

    <div class="alert-content">
        <span class="alert-title" translate="harvestpermit.wizard.common.map.areaTitle"></span>
        <p translate="harvestpermit.wizard.common.map.instructions"></p>
    </div>
</div>

<ng-form name="derogationAreaForm">

    <form name="areaSizeForm" r-force-show-errors-check-validity>
        <div class="row">
            <div class="col-md-4">

                <div class="form-group" show-errors>
                    <label for="areaSize" translate="harvestpermit.wizard.common.map.areaSize"></label>

                    <div class="input-group">
                        <input type="number" class="form-control"
                               id="areaSize" name="areaSize"
                               min="1" max="9999999"
                               ng-model="$ctrl.areaInfo.areaSize"
                               required>

                        <div class="input-group-addon">
                            <span translate="global.hectares"></span>
                        </div>
                    </div>

                    <p class="help-block has-error"
                       ng-show="protectedAreaForm.areaSize.$invalid && protectedAreaForm.areaSize.$touched"
                       ng-messages="protectedAreaForm.areaSize.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>
        </div>
    </form>

    <hr class="invisible">
    <hr class="invisible">

    <div class="alert alert-info">
        <span ng-if="$ctrl.areaInfo.geoLocation" class="fa fa-info-circle"></span>
        <span ng-if="!$ctrl.areaInfo.geoLocation" class="fa fa-exclamation-triangle"></span>

        <div class="alert-content">
            <span translate="harvestpermit.wizard.common.map.geoLocationInstruction"></span>
        </div>
    </div>

    <derogation-application-location-editor protected-area="$ctrl.areaInfo"></derogation-application-location-editor>

</ng-form>

<hr class="invisible">

<permit-application-wizard-navigation
        exit="$ctrl.exit(derogationAreaForm)"
        previous="$ctrl.previous(derogationAreaForm)"
        next="$ctrl.next()"
        next-disabled="$ctrl.nextDisabled(derogationAreaForm)">
</permit-application-wizard-navigation>
