@announcement-item-width: 200px;

.announcement-modal {
  .badge {
    padding: 5px 5px 5px 10px;
    background-color: #678424;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 10px;
    margin-right: 10px;

    .glyphicon-remove {
      cursor: pointer;
      margin-left: 5px;
      font-size: 16px;
      vertical-align: top;
      margin-top: 3px;
    }
  }
}

.announcement-confirm-send-email-dialog {
  .btn {
    width: 100px;
  }
}

.announcement-panel {
  .top-pane {
    padding-bottom: 20px;
  }
}

.announcement-list {
  .pager {
    width: 300px;
    margin: 0 auto 10px;
  }

  .total-pages {
    display: inline-block;
    padding: 5px 0;
    font-family: @font-family-open-sans;
  }
}

.announcement {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin-bottom: 20px;

  > .announcement-title {
    position: relative;
    overflow: hidden;
    background-color: #f7f7f7;
    padding: 10px;
    font-family: @font-family-open-sans;
    cursor: pointer;

    .row > .right {
      text-align: right;
      padding-right: 20px;
    }

    .subject {
      font-size: 20px;
      line-height: 1.5em;
    }

    .sender, .receiver {
      color: #777;
    }

    .date {
      font-size: 18px;
      font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
      line-height: 32px;
      color: #555;
    }
  }

  > .announcement-content {
    display: table;
    border-collapse: collapse;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ddd;
    width: 100%;

    .body {
      display: table-cell;

      .content {
        position: relative;
        text-align: justify;
        line-height: 1.4em;
        min-height: 75px;

        p {
          margin: 10px;
        }
      }
    }

    .actions {
      display: table-cell;
      width: @announcement-item-width;
      background-color: #f7f7f7;
      border-left: 1px solid #ccc;
      padding: 10px;

      .btn-container {
        display: table;
        width: 100%;
        border-collapse: collapse;

        .btn {
          display: table-cell;
          margin: 5px 0 5px;
          width: 100%;
        }

        .btn + .btn {
          margin-top: 10px;
        }
      }
    }
  }
}
