<div class="btn-group" role="group" uib-dropdown dropdown-append-to-body>
    <button type="button"
            class="btn btn-primary" uib-dropdown-toggle
            ng-show="$ctrl.canSend"
            translate="announcements.list.buttonSend">
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
                <a ng-click="$ctrl.openSendModal('ALL')" ng-if="::$ctrl.canSendToAll">
                    <span translate="announcements.form.visibleToAll"></span>
                </a>
                <a ng-click="$ctrl.openSendModal('RHY')" ng-if="::$ctrl.canSendToRhy">
                    <span translate="announcements.form.visibleToRhyMembers"></span>
                </a>
                <a ng-click="$ctrl.openSendModal('CUSTOM')" ng-if="::$ctrl.canSend">
                    <span translate="announcements.list.selectRecipients"></span>
                </a>
            </li>
        </ul>
    </button>
</div>
