<form name="announcementSendEmailForm" role="form"
      class="announcement-confirm-send-email-dialog"
      novalidate autocomplete="false" autocorrect="off" autocapitalize="none">

    <div class="modal-header">
        <h3 class="modal-title" translate="announcements.confirmSendEmail.title"></h3>
    </div>

    <div class="modal-body">
        <p translate="announcements.confirmSendEmail.body"></p>
    </div>

    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-click="$ctrl.yes()">
            <span translate="global.yes"></span>
        </button>

        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.no()">
            <span translate="global.no"></span>
        </button>
    </div>
</form>
