<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.administration.huntingControl.title'"
                               last-modified="$ctrl.huntingControl.lastModified">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-xs-8" ng-switch="$ctrl.huntingControl.huntingControlEventsOverridden">
                            <span ng-switch-when="true" translate="rhy.annualStats.administration.huntingControl.events"></span>
                            <div ng-switch-when="false" computed-marker-title="rhy.annualStats.administration.huntingControl.events"></div>
                        </td>
                        <td num-pieces="::$ctrl.huntingControl.huntingControlEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" ng-switch="$ctrl.huntingControl.huntingControlCustomersOverridden">
                            <span ng-switch-when="true" translate="rhy.annualStats.administration.huntingControl.customers"></span>
                            <div ng-switch-when="false" computed-marker-title="rhy.annualStats.administration.huntingControl.customers"></div>
                        </td>
                        <td num-pieces="::$ctrl.huntingControl.huntingControlCustomers"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" ng-switch="$ctrl.huntingControl.proofOrdersOverridden">
                            <span ng-switch-when="true" translate="rhy.annualStats.administration.huntingControl.proofOrders"></span>
                            <div ng-switch-when="false" computed-marker-title="rhy.annualStats.administration.huntingControl.proofOrders"></div>
                        </td>
                        <td num-pieces="::$ctrl.huntingControl.proofOrders"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-8" computed-marker-title="rhy.annualStats.administration.huntingControl.controllers"></td>
                        <td num-persons="::$ctrl.huntingControl.huntingControllers"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable && $ctrl.isModerator" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.openEditDialog()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
