<div class="content r-gamediary-entry-show">
    <div>
        <img ng-if="::!entry.isOtherSpecies()"
             ng-src="/static/elainlajikuvat/96x96/{{::entry.gameSpeciesCode}}.jpg"
             class="species-logo"
             width="96" height="96"/>

        <span ng-if="::entry.isOtherSpecies()"
              class="fa fa-question fa-2x"></span>

        <span class="species-name" ng-bind="::getGameNameWithAmount(entry)"></span>

        <span class="species-name" ng-if="::entry.isOtherSpecies()">&nbsp;-&nbsp;{{::entry.otherSpeciesDescription}}</span>
    </div>

    <div class="r-harvestreport-state-text"
         ng-if="::entry.harvestReportState"
         harvest-report-state-to-class="entry.harvestReportState">
        <span translate="harvestreport.button.currentState.{{::entry.harvestReportState}}"></span>
    </div>

    <div class="r-harvestreport-state-text"
         ng-if="!entry.harvestReportState && entry.stateAcceptedToHarvestPermit"
         harvest-report-state-to-class="entry.stateAcceptedToHarvestPermit">
        <span translate="gamediary.stateVerbose.{{::entry.stateAcceptedToHarvestPermit}}"></span>
    </div>

    <div ng-if="::entry.permitNumber" class="alert alert-info">
        <h4 translate="gamediary.form.withPermit"></h4>

        <p>
            <span ng-bind="::entry.permitType"></span>
            <br/>
            <span ng-bind="::entry.permitNumber"></span>
        </p>

        <div ng-if="::entry.permittedMethod">
            <span translate="gamediary.form.withPermittedMethod"></span>

            <ul>
                <li ng-if="::entry.permittedMethod.tapeRecorders">
                    <span translate="permittedMethod.TAPE_RECORDERS"></span>
                </li>
                <li ng-if="::entry.permittedMethod.traps">
                    <span translate="permittedMethod.TRAPS"></span>
                </li>
                <li ng-if="::entry.permittedMethod.other">
                    <span translate="permittedMethod.OTHER"></span>:
                    <span ng-bind="::entry.permittedMethod.description"></span>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="::(entry.isSrva() && entry.state !== 'UNFINISHED')">
        <div class="r-harvestreport-state-text"
             harvest-report-state-to-class="'{{entry.state}}'">
            <span translate="srva.state.{{::entry.state}}"></span>
        </div>
    </div>

    <div class="alert alert-info" ng-show="entry.moderatorOverride">
        <p translate="gamediary.moderatorOverride"></p>
    </div>

    <div>
        <h5 ng-if="::entry.isHarvest()" translate="gamediary.harvest"></h5>
        <h5 ng-if="::entry.isObservation()" translate="gamediary.observation"></h5>
        <h5 ng-if="::entry.isSrva()" translate="srva.form.srvaEvent"></h5>

        <p ng-bind="::entry.pointOfTime | date:'d.M.yyyy HH:mm'"></p>

        <h5 translate="gamediary.form.location"></h5>

        <p translate="global.geoLocation.coordinatesText" translate-values="entry.geoLocation"></p>

    </div>

    <div>
        <h5 translate="gamediary.author"></h5>
        <span ng-bind="::entry.authorInfo.byName"></span>
        <span ng-bind="::entry.authorInfo.lastName"></span>
    </div>

    <div ng-if="::(entry.isSrva() && entry.approverInfo)">
        <h5 translate="srva.form.approverOrRejecter"></h5>

        <span ng-bind="::entry.approverInfo.byName"></span>
        <span ng-bind="::entry.approverInfo.lastName"></span>
    </div>

    <div ng-if="::entry.isHarvest()">
        <h5 translate="gamediary.actualShooter"></h5>

        <span ng-bind="::entry.actorInfo.byName"></span>
        <span ng-bind="::entry.actorInfo.lastName"></span>

        <div ng-if="::season">
            <h5 translate="gamediary.form.season"></h5>
            <span ng-bind="::season.name | rI18nNameFilter"></span>
        </div>

        <div ng-if="::harvestArea">
            <h5 translate="gamediary.form.harvestarea"></h5>
            <span ng-bind="::harvestArea | rI18nNameFilter"></span>
        </div>

        <div ng-if="::rhy">
            <h5 translate="gamediary.form.rhy"></h5>
            <span ng-bind="::rhy | rI18nNameFilter"></span>
        </div>

        <div ng-if="::municipalityName">
            <h5 translate="gamediary.form.municipality"></h5>
            <span ng-bind="::municipalityName | rI18nNameFilter"></span>
        </div>

        <div ng-if="::entry.propertyIdentifier">
            <h5 translate="gamediary.form.propertyIdentifier"></h5>
            <span ng-bind="::entry.propertyIdentifier | formatPropertyIdentifier"></span>
        </div>

        <h4 ng-show="::hasExtraFields()" translate="gamediary.form.extraFields"></h4>

        <div ng-if="::entry.huntingMethod">
            <h5 translate="gamediary.form.huntingMethod"></h5>
            <span translate="gamediary.huntingMethod.{{::entry.huntingMethod}}"></span>
        </div>

        <div ng-if="::(entry.reportedWithPhoneCall === true || entry.reportedWithPhoneCall === false)">
            <h5 translate="gamediary.form.reportedWithPhoneCall"></h5>
            <span translate="{{::entry.reportedWithPhoneCall ? 'global.yes' : 'global.no'}}"></span>
        </div>

        <div ng-if="::(entry.feedingPlace === true || entry.feedingPlace === false)">
            <h5 translate="gamediary.form.feedingPlace"></h5>
            <span translate="{{::entry.feedingPlace ? 'global.yes' : 'global.no'}}"></span>
        </div>

        <div ng-if="::(entry.taigaBeanGoose === true || entry.taigaBeanGoose === false)">
            <h5 translate="gamediary.form.taigaBeanGoose"></h5>
            <span translate="{{::entry.taigaBeanGoose ? 'global.yes' : 'global.no'}}"></span>
        </div>

        <div ng-if="::entry.huntingAreaType">
            <h5 translate="gamediary.form.huntingAreaType"></h5>
            <span translate="gamediary.huntingAreaType.{{::entry.huntingAreaType}}"></span>
        </div>

        <div ng-if="::entry.huntingParty">
            <h5 translate="gamediary.form.huntingParty"></h5>
            <span ng-bind="::entry.huntingParty"></span>
        </div>

        <div ng-if="::entry.huntingAreaSize">
            <h5 translate="gamediary.form.huntingAreaSize"></h5>
            <span ng-bind="::entry.huntingAreaSize"></span>
        </div>

        <div ng-if="::entry.lukeStatus">
            <h5 translate="gamediary.form.lukeStatus"></h5>
            <span translate="harvestreport.lukeStatus.{{::entry.lukeStatus}}"></span>
        </div>

        <div ng-if="::entry.harvestReportMemo">
            <h5 translate="gamediary.form.moderatorDescription"></h5>
            <span ng-bind="::entry.harvestReportMemo"></span>
        </div>
    </div>

    <div ng-if="::entry.isObservation()">
        <div ng-if="::carnivoreObserverPresent()">
            <h5 translate="gamediary.carnivoreObserver"></h5>
            <span ng-bind="::entry.observerName"></span>
            <span ng-bind="::entry.observerPhoneNumber"></span>
        </div>

        <div ng-if="::!carnivoreObserverPresent()">
            <h5 translate="gamediary.observer"></h5>
            <span ng-bind="::entry.actorInfo.byName"></span>
            <span ng-bind="::entry.actorInfo.lastName"></span>
        </div>

        <h5 translate="gamediary.form.observationType"></h5>
        <span translate="observation.type.{{::entry.observationType}}"></span>

        <div ng-if="::(entry.withinMooseHunting === true || entry.withinMooseHunting === false)">
            <h5 translate="gamediary.form.withinMooseHunting"></h5>
            <span translate="{{ ::entry.withinMooseHunting ? 'global.yes' : 'global.no' }}"></span>
        </div>

        <div ng-if="::(entry.verifiedByCarnivoreAuthority === true || entry.verifiedByCarnivoreAuthority === false)">
            <h5 translate="gamediary.form.verifiedByCarnivoreAuthority"></h5>
            <span translate="{{ ::entry.verifiedByCarnivoreAuthority ? 'global.yes' : 'global.no' }}"></span>
        </div>
    </div>

    <div ng-if="::entry.isSrva()">
        <div>
            <h5 translate="srva.form.event"></h5>
            <span translate="{{ 'srva.event.' + entry.eventName }}"></span>
        </div>

        <div>
            <h5 translate="srva.form.type"></h5>
            <span translate="{{ 'srva.type.' + entry.eventType }}"></span>
            <br ng-if="::entry.otherTypeDescription">
            <span ng-if="::entry.otherTypeDescription"
                  ng-bind="::entry.otherTypeDescription"></span>
        </div>

        <div ng-if="::entry.eventResult">
            <h5 translate="global.result"></h5>
            <span translate="srva.result.{{::entry.eventResult}}"></span>
        </div>

        <div ng-if="::showSrvaMethodsInSidebar(entry.methods)">
            <h5 translate="srva.form.method"></h5>
            <div ng-repeat="method in getSrvaMethodsForSidebar(entry.methods)">
                <span translate="srva.method.{{::method}}"></span>
            </div>
            <div ng-if="::entry.otherMethodDescription">
                <span ng-bind="::entry.otherMethodDescription"></span>
            </div>
        </div>

        <div ng-if="::entry.personCount">
            <h5 translate="srva.form.personsInvolved"></h5>
            <span ng-bind="::entry.personCount"></span>
        </div>

        <div ng-if="::entry.timeSpent">
            <h5 translate="srva.form.combinedHours"></h5>
            <span ng-bind="::entry.timeSpent"></span>
        </div>
    </div>

    <r-show-entry-specimens entry="entry"></r-show-entry-specimens>

    <div class="r-gamediary-entry-description">
        <p ng-repeat="paragraph in ::entry.description.split('\n') track by $index"
           ng-bind="::paragraph"></p>
    </div>

    <div ng-repeat="uuid in ::entry.imageIds" class="r-gamediary-entry-show-image">
        <img ng-src="{{::getUrl(uuid, 330, 330, true)}}"/>
    </div>
</div>

<div class="buttons">
    <button type="button"
            class="btn btn-default"
            ng-click="cancel()"
            translate="global.button.close"></button>

    <button type="button" class="btn btn-danger"
            ng-click="remove()"
            ng-disabled="moderator || !entry.canEdit"
            translate="global.button.delete"></button>

    <button type="button"
            class="btn btn-primary"
            ng-click="edit()"
            ng-disabled="!entry.canEdit"
            translate="global.button.edit"></button>
</div>

