<r-show-harvest-entry ng-if="entry.isHarvest()" entry="entry" computed-fields="computedFields"></r-show-harvest-entry>
<r-show-observation-entry ng-if="entry.isObservation()" entry="entry"></r-show-observation-entry>
<r-show-srva-entry ng-if="entry.isSrva()" entry="entry"></r-show-srva-entry>

<div class="buttons">
    <button type="button"
            class="btn btn-default"
            ng-click="cancel()"
            translate="global.button.close"></button>

    <button type="button" class="btn btn-danger"
            ng-click="remove()"
            ng-disabled="moderator || !entry.canEdit"
            translate="global.button.delete"></button>

    <button type="button"
            class="btn btn-primary"
            ng-click="edit()"
            ng-disabled="!entry.canEdit"
            translate="global.button.edit"></button>
</div>
