.r-account-profile {
  .panel > .panel-body {
    padding: 15px;

    p {
      margin: 0;
    }

    .table {
      margin: 0 0 10px;
    }

    .well {
      margin-bottom: 10px;
    }

    .info {
      color: gray;
      font-size: 12px;
      margin: 0 0 10px;
    }
  }
}

.account-club-create-note {
  .alert;
  .alert-info;
  margin-bottom: 10px;
}

// Password strength indicator
// -------------------------

input.ng-pristine + ul#strength {
  display:none;
}
ul#r-pw-strength {
  display:block;
  list-style:none;
  margin: 10px 0 0 5px;
  padding:0;
  vertical-align:2px;
}
.r-pw-point {
  background:#DDD;
  border: 1px solid #bbb;
  border-radius:3px;
  display:inline-block;
  height:10px;
  margin-right:2px;
  width:10%;
}
.r-pw-point-last {
  margin:0 !important;
}

.r-account-todo {
  .r-badge-red;
  margin-left: 8px;
}
.r-account-todo-yellow {
  .r-badge-yellow;
  margin-left: 8px;
}
