<form name="accountPasswordForm" role="form" class="form"
      novalidate autocomplete="off" autocorrect="off" autocapitalize="none"
      ng-submit="$ctrl.changePassword(accountPasswordForm)">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="change_password.title"></h3>
    </div>

    <div class="modal-body">
        <div class="alert alert-danger"
             ng-show="$ctrl.errorStatus == 'error'"
             translate="change_password.messages.error.global"></div>

        <div class="alert alert-danger"
             ng-show="$ctrl.doNotMatch"
             translate="change_password.messages.error.dontmatch"></div>

        <div style="opacity: 0; position: absolute">
            <!-- Trick browser autofill to fill-in hidden input fields,
                because autocomplete="off"" always ignores forms with password.-->
            <input type="text" name="autofill_username" autocomplete="username" tabindex="-1">
            <input type="password" name="autofill_password" autocomplete="current-password" tabindex="-1">
        </div>

        <div class="form-group" show-errors>
            <label for="passwordCurrent" class="control-label"
                   translate="change_password.form.previouspassword"></label>

            <input type="password" name="passwordCurrent" id="passwordCurrent"
                   autocomplete="new-password"
                   class="form-control"
                   focus-me
                   required
                   ng-model="$ctrl.passwordCurrent">

            <p class="help-block"
               ng-show="accountPasswordForm.passwordCurrent.$error.required && accountPasswordForm.passwordCurrent.$dirty"
               translate="change_password.messages.validate.previouspassword.required"></p>

            <p class="help-block text-error"
               ng-show="accountPasswordForm.passwordCurrent.$error.incorrect"
               translate="change_password.messages.error.wrongPassword"></p>
        </div>

        <div class="form-group" show-errors>
            <label for="password" class="control-label"
                   translate="change_password.form.newpassword"></label>

            <input type="password" name="password" id="password"
                   autocomplete="new-password"
                   class="form-control"
                   required
                   ng-model="$ctrl.password"
                   ng-minlength="8">
            <p class="help-block"
               ng-show="accountPasswordForm.password.$error.required && accountPasswordForm.password.$dirty"
               translate="change_password.messages.validate.newpassword.required"></p>

            <ul id="r-pw-strength" check-pw-strength="$ctrl.password"></ul>

            <p class="help-block"
               ng-show="accountPasswordForm.password.$error.minlength && accountPasswordForm.password.$dirty"
               translate="change_password.messages.validate.newpassword.minlength"></p>
        </div>

        <div class="form-group" show-errors>
            <label for="passwordConfirm" class="control-label"
                   translate="change_password.form.confirmpassword"></label>

            <input type="password" name="passwordConfirm" id="passwordConfirm"
                   autocomplete="new-password"
                   class="form-control"
                   required
                   ng-model="$ctrl.passwordConfirm">

            <p class="help-block"
               ng-show="accountPasswordForm.passwordConfirm.$error.required && accountPasswordForm.passwordConfirm.$dirty"
               translate="change_password.messages.validate.confirmpassword.required"></p>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="change_password.form.cancel"></button>

        <button type="submit" class="btn btn-primary"
                ng-disabled="accountPasswordForm.$invalid && !accountPasswordForm.passwordCurrent.$error.incorrect"
                translate="change_password.form.button"></button>
    </div>
</form>
