<form name="accountClubCreateForm" role="form" class="form form-horizontal" autocomplete="off"
      r-force-show-errors-check-validity>

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="account.profile.createClub.title"></h3>
    </div>

    <div class="modal-body">
        <div class="account-club-create-note" translate="account.profile.createClub.note"></div>
        <div class="account-club-create-note" translate="account.profile.createClub.note2"></div>

        <div class="form-group" show-errors>
            <label for="nameFI" class="col-xs-3 control-label">
                <span translate="global.nameFI"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-9">
                <input type="text" name="nameFI" id="nameFI"
                       focus-me
                       class="form-control"
                       ng-model="modalCtrl.club.nameFI"
                       unique-club-name
                       ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
                       r-copy-on-blur-to-empty-input="nameSV"
                       minlength="5"
                       maxlength="255"
                       required
                       autocomplete="off"/>

                <p class="help-block"
                   ng-show="accountClubCreateForm.nameFI.$error.validClubName"
                   translate="club.main.general.duplicateName"></p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="nameSV" class="col-xs-3 control-label">
                <span translate="global.nameSV"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-9">
                <input type="text" name="nameSV" id="nameSV"
                       class="form-control"
                       ng-model="modalCtrl.club.nameSV"
                       unique-club-name
                       ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
                       r-copy-on-blur-to-empty-input="nameFI"
                       minlength="5"
                       maxlength="255"
                       required
                       autocomplete="off"/>

                <p class="help-block"
                   ng-show="accountClubCreateForm.nameSV.$error.validClubName"
                   translate="club.main.general.duplicateName"></p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label">
                <span translate="account.profile.createClub.location"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-9">
                <span ng-show="modalCtrl.club.geoLocation" translate="global.geoLocation.coordinatesText" translate-values="modalCtrl.club.geoLocation"></span>
                <span ng-show="!modalCtrl.club.geoLocation" translate="global.geoLocation.required" class="text text-danger"></span>

                <leaflet class="r-cursor-pointer"
                         id="viewClubCreateMap"
                         defaults="modalCtrl.mapDefaults"
                         layers="modalCtrl.mapDefaults.mmlLayers"
                         controls="modalCtrl.mapDefaults.controls"
                         event-broadcast="modalCtrl.mapEvents"
                         lf-center="modalCtrl.mapState.center"
                         r-geolocation-marker="modalCtrl.club.geoLocation"
                         r-geolocation-editable="true"
                         r-geolocation-marker-force-finland="true"
                         height="300px">
                </leaflet>
                <hr>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="modalCtrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="modalCtrl.save()"
                ng-disabled="form.$invalid || !modalCtrl.canSave()"
                translate="account.profile.createClub.confirm"></button>
    </div>
</form>
