<form name="profileAddressForm"
      role="form" class="form"
      novalidate autocomplete="off"
      ng-submit="$ctrl.save()">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="account.edit.title"></h3>
    </div>

    <div class="modal-body">
        <div class="form-group" show-errors>
            <label for="streetAddress">
                <span translate="account.edit.form.streetAddress"></span>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
            </label>

            <input type="text" name="streetAddress" id="streetAddress"
                   focus-me
                   class="form-control"
                   required
                   ng-model="$ctrl.address.streetAddress"
                   ng-maxlength="255">

            <p class="help-block"
               ng-show="profileAddressForm.streetAddress.$invalid"
               translate="account.edit.messages.invalid"></p>
        </div>

        <div class="form-group" show-errors>
            <label for="city">
                <span translate="account.edit.form.city"></span>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
            </label>

            <input type="text" name="city" id="city"
                   class="form-control"
                   required
                   ng-model="$ctrl.address.city"
                   ng-maxlength="255">

            <p class="help-block"
               ng-show="profileAddressForm.city.$invalid"
               translate="account.edit.messages.invalid"></p>
        </div>

        <div class="form-group" show-errors>
            <label for="postalCode">
                <span translate="account.edit.form.postalCode"></span>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
            </label>

            <input type="text" name="postalCode" id="postalCode"
                   class="form-control" style="width: 90px"
                   required
                   ng-model="$ctrl.address.postalCode"
                   ng-maxlength="10">

            <p class="help-block"
               ng-show="profileAddressForm.postalCode.$invalid"
               translate="account.edit.messages.invalid"></p>
        </div>

        <div class="form-group" show-errors>
            <label for="country">
                <span translate="account.edit.form.country"></span>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
            </label>

            <input type="text" name="country" id="country"
                   class="form-control" style="width: 90px"
                   required
                   ng-model="$ctrl.address.country">

            <p class="help-block"
               ng-show="profileAddressForm.country.$invalid"
               translate="account.edit.messages.invalid"></p>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="submit" class="btn btn-primary"
                ng-disabled="profileAddressForm.$invalid"
                translate="global.button.save"></button>
    </div>
</form>
