html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


/* ----------------------------------------------- */

body {
    font-family: "Times New Roman", "Times", serif;
    width: 180mm; /* 21cm - 3cm */
    height: 277mm; /* 29.7cm - 2cm */
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    line-height: 1.2;
}

img {
    border: 0;
    max-width: 100%;
}

p {
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
    line-height: 14pt;
    margin: 0;
    overflow: auto;
}

p + p {
    margin-bottom: 12pt;
}

hr {
    border: none;
    border-bottom: 1pt solid #999;
    margin: 7pt 0 7pt;
}

sup {
    font-size: 70%;
    vertical-align: super;
}

h1 {
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
    margin-top: 14pt;
    margin-bottom: 7pt;
}

h2 {
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

ul {
    padding-left: 0;
    font-size: 12pt;
    list-style: none;
}

.container {
    position: relative;
    margin-left: 0pt;
    margin-right: 0pt;
}

.header-text {
    position: absolute;
    right: 0;
    top: 18pt;
    color: #333;
    font-weight: bolder;
    /*line-height: 16pt;*/
}

.header-logo {
    page-break-before: always;
    padding-top: 20pt;
}

.footer {
    position: relative;
    z-index: -2000;
    page-break-inside: avoid;
    page-break-after: avoid;
    margin-left: -20pt;
    margin-right: -20pt;
}

.footer-table {
    position: absolute;
    left: 20pt;
    bottom: 10pt;
    font-size: 7pt;
    line-height: 9pt;
    font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}

.footer-table td {
    padding-top: 2pt;
    padding-right: 15pt;
    border-top: 1px solid #999;
    color: #999;
}

.footer-table td:last-child {
    padding-right: 5pt;
}

.footer-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}


dl {
    overflow: auto;
    width: 100%;
}

dt {
    float: left;
    clear: left;
    width: 5.5cm;
    padding-bottom: 15pt;
}

dd {
    float: left;
    width: 8cm;
    padding-bottom: 15pt;
    font-weight: bold;
}

strong {
    font-weight: bold;
}
