<form name="printForm" role="form" class="form form-horizontal" autocomplete="off" ng-submit="$ctrl.save()">

    <div class="modal-header">
        <button riista-modal-close></button>
        <div class="modal-title h3">
            <span translate="global.map.print.modalTitle"></span>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group" show-errors>
            <label for="paperSize" class="col-xs-4 control-label">
                <span translate="global.map.print.paperSizeLabel"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-8">
                <select name="paperSize" id="paperSize" class="form-control"
                        ng-model="$ctrl.request.paperSize" required>
                    <option value="A4">A4</option>
                    <option value="A3">A3</option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="paperOrientation" class="col-xs-4 control-label">
                <span translate="global.map.print.paperOrientationLabel"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-8">
                <select name="paperOrientation" id="paperOrientation" class="form-control"
                        ng-model="$ctrl.request.paperOrientation" required>
                    <option value="PORTRAIT" translate="global.map.print.paperOrientation.portrait"></option>
                    <option value="LANDSCAPE" translate="global.map.print.paperOrientation.landscape"></option>
                </select>
            </div>

        </div>

        <div class="form-group" show-errors>
            <label for="paperDpi" class="col-xs-4 control-label">
                <span translate="global.map.print.paperDpiLabel"></span>
                <span class="glyphicon glyphicon-asterisk text-danger small"></span>
            </label>

            <div class="col-xs-8">
                <select name="paperDpi" id="paperDpi" class="form-control"
                        ng-model="$ctrl.request.paperDpi" required>
                    <option value="150">150 dpi</option>
                    <option value="300">300 dpi</option>
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="submit" class="btn btn-primary"
                ng-disabled="printForm.$invalid"
                translate="global.map.print.submitButton"></button>
    </div>
</form>
