.map-overlay-button-container {
  position: absolute;
  top: 10px;
  left: 55px;
  overflow: auto;
  z-index: 550;

  .btn {
    margin-left: 10px;
  }

  .btn:first-child {
    margin-left: 0;
  }
}

.leaflet-interactive {
  mix-blend-mode: lighten;
  isolation: isolate;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.leaflet-touch .leaflet-bar a {
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 36px;
  height: 36px;
}

.leaflet-marquee {
  position: absolute;
  background: rgba(0,0,0, 0.2);
  border: 1px #000 dashed;
  cursor: move;
}

.leaflet-control-scale-line {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}

.awesome-marker.leaflet-interactive:focus {
  outline: none;
}

.awesome-marker.leaflet-interactive {
  pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
  pointer-events: auto;
}

@media (min-width: 768px) {
  .r-leaflet-marker-popup-field dt {
    float: left;
    width: 80px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .r-leaflet-marker-popup-field dd {
    margin-left: 90px;
  }
}

.r-map-menu-title {
  .text-uppercase();
  background-color: #888;
  color: rgb(255, 255, 255);
  margin: 0px -15px 15px 0px;
  padding: 6px 15px 6px 15px;
}

.r-map-filter-form {
  padding: 0 15px;
}

/* coordinates control */

.leaflet-container .leaflet-control-coordinates {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5px 10px;
  margin:0;
  color: #333;
  font: 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* geojson layers control */

.leaflet-control-geojson {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
}

.leaflet-control-geojson-toggle {
  display: block;
  width: 36px;
  height: 36px;
  text-align: center;
}

.leaflet-control-geojson-toggle .glyphicon {
  font-size: 24px;
  line-height: 36px;
  color: #777;
}

.leaflet-control-geojson .leaflet-control-geojson-list {
  display: none;
}

.leaflet-control-geojson-expanded .leaflet-control-geojson-list {
  display: block;
  position: relative;
}

.leaflet-control-geojson-expanded {
  padding: 6px 6px 6px 6px;
  color: #333;
  background: #fff;
}

.leaflet-control-geojson-scrollbar {
  overflow-y: scroll;
  padding-right: 12px;
}

.leaflet-control-geojson-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

.leaflet-control-geojson label {
  display: block;
}

.leaflet-control-geojson-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px 0 5px -6px;
}

.leaflet-touch .leaflet-control-geojson {
  box-shadow: none;
}

.leaflet-touch .leaflet-control-geojson {
  border: 2px solid rgba(0,0,0,0.2);
}

.leaflet-simple-legend {
  padding: 6px;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 6px;
  border: 1px solid #333;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 20px;
      font-size: 14px;
      font-family: @font-family-open-sans;

      .icon {
        overflow: hidden;
        position: relative;
        top: 1px;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        border: 1px solid black;
      }
    }
  }
}

.leaflet-pseudo-fullscreen {
  z-index: 999;//should be less than modal dialog, in case modal is opened from map click
}
.leaflet-control-fullscreen a {
  background-image: none;
  font-size: 20px;
  .glyphicon;
  .glyphicon-fullscreen;
}
