<div class="row">
    <div class="col-sm-3">
        <h4 ng-bind="$ctrl.species.name | rI18nNameFilter | capitalize" style="margin:0"></h4>
    </div>

    <div class="col-sm-9">
        <div class="form-group" ng-class="{ 'has-error': $ctrl.parentForm[$ctrl.appearedInputId].$invalid }">
            <label class="control-label col-sm-7">
                <span translate="club.hunting.mooseHuntingSummary.appearance"></span>
            </label>

            <div class="col-sm-5">
                <div class="btn-group btn-group-justified">
                    <label class="btn btn-default"
                           uib-btn-radio="false"
                           ng-model="$ctrl.appearance.appeared">
                        <span translate="global.no"></span>
                    </label>

                    <label class="btn btn-default"
                           uib-btn-radio="true"
                           ng-model="$ctrl.appearance.appeared">
                        <span translate="global.yes"></span>
                    </label>
                </div>
            </div>
        </div>

        <div ng-if="$ctrl.appearance.appeared">
            <div class="form-group" show-errors>
                <label for="{{ $ctrl.trendOfGrowthSelectId }}" class="control-label col-sm-7">
                    <span class="text-right"
                          translate="club.hunting.mooseHuntingSummary.trendOfMooselikePopulationGrowth"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-sm-5">
                    <select name="{{ $ctrl.trendOfGrowthSelectId }}" id="{{ $ctrl.trendOfGrowthSelectId }}"
                            class="form-control"
                            ng-model="$ctrl.appearance.trendOfPopulationGrowth"
                            required
                            ng-options="('club.hunting.mooseHuntingSummary.populationGrowthTrend.' + t | translate) for t in $ctrl.populationGrowthTrends">
                        <option disabled value=""></option>
                    </select>

                    <p class="help-block has-error"
                       ng-show="$ctrl.parentForm[$ctrl.trendOfGrowthSelectId].$invalid"
                       ng-messages="$ctrl.parentForm[$ctrl.trendOfGrowthSelectId].$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div class="form-group" show-errors ng-if="!$ctrl.isBeaver">
                <label for="{{ $ctrl.estimatedAmountOfSpecimensInputId }}" class="control-label col-sm-7">
                    <span translate="club.hunting.mooseHuntingSummary.estimatedAmountOfSpecimens"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="number"
                               id="{{ $ctrl.estimatedAmountOfSpecimensInputId }}"
                               name="{{ $ctrl.estimatedAmountOfSpecimensInputId }}"
                               min="0" max="999999" step="1"
                               r-decimal-separator-fix
                               class="form-control no-spinner"
                               ng-model="$ctrl.appearance.estimatedAmountOfSpecimens"
                               required/>
                        <span class="input-group-addon" translate="global.pcs"></span>
                    </div>

                    <p class="help-block has-error"
                       ng-show="$ctrl.parentForm[$ctrl.estimatedAmountOfSpecimensInputId].$invalid"
                       ng-messages="$ctrl.parentForm[$ctrl.estimatedAmountOfSpecimensInputId].$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div class="form-group" show-errors ng-if="$ctrl.isBeaver">
                <label for="{{ $ctrl.amountOfInhabitedWinterNestsInputId }}" class="control-label col-sm-7">
                    <span translate="club.hunting.mooseHuntingSummary.amountOfInhabitedWinterNests"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="number"
                               name="{{ $ctrl.amountOfInhabitedWinterNestsInputId }}"
                               id="{{ $ctrl.amountOfInhabitedWinterNestsInputId }}"
                               min="0" max="9999" step="1"
                               r-decimal-separator-fix
                               class="form-control no-spinner"
                               ng-model="$ctrl.appearance.amountOfInhabitedWinterNests"
                               required/>
                        <span class="input-group-addon" translate="global.pcs"></span>
                    </div>

                    <p class="help-block has-error"
                       ng-show="$ctrl.parentForm[$ctrl.amountOfInhabitedWinterNestsInputId].$invalid"
                       ng-messages="$ctrl.parentForm[$ctrl.amountOfInhabitedWinterNestsInputId].$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div class="form-group" show-errors ng-if="$ctrl.isWildBoar">
                <label for="{{ $ctrl.estimatedAmountOfSowWithPigletsInputId }}" class="control-label col-sm-7">
                    <span translate="club.hunting.mooseHuntingSummary.estimatedAmountOfSowWithPiglets"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="number"
                               name="{{ $ctrl.estimatedAmountOfSowWithPigletsInputId }}"
                               id="{{ $ctrl.estimatedAmountOfSowWithPigletsInputId }}"
                               min="0" max="999999" step="1"
                               r-decimal-separator-fix
                               class="form-control no-spinner"
                               ng-model="$ctrl.appearance.estimatedAmountOfSowWithPiglets"
                               required/>
                        <span class="input-group-addon" translate="global.pcs"></span>
                    </div>

                    <p class="help-block has-error"
                       ng-show="$ctrl.parentForm[$ctrl.estimatedAmountOfSowWithPigletsInputId].$invalid"
                       ng-messages="$ctrl.parentForm[$ctrl.estimatedAmountOfSowWithPigletsInputId].$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div class="form-group" show-errors ng-if="$ctrl.isBeaver">
                <label for="{{ $ctrl.beaverHarvestAmountInputId }}" class="control-label col-sm-7">
                    <span translate="club.hunting.mooseHuntingSummary.beaverHarvestAmount"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="number"
                               name="{{ $ctrl.beaverHarvestAmountInputId }}"
                               id="{{ $ctrl.beaverHarvestAmountInputId }}"
                               min="0" max="9999" step="1"
                               r-decimal-separator-fix
                               class="form-control no-spinner"
                               ng-model="$ctrl.appearance.harvestAmount"
                               required/>
                        <span class="input-group-addon" translate="global.pcs"></span>
                    </div>

                    <p class="help-block has-error"
                       ng-show="$ctrl.parentForm[$ctrl.beaverHarvestAmountInputId].$invalid"
                       ng-messages="$ctrl.parentForm[$ctrl.beaverHarvestAmountInputId].$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div class="form-group" show-errors ng-if="$ctrl.isBeaver">
                <label for="{{ $ctrl.areaOfDamageInputId }}" class="control-label col-sm-7">
                    <span class="text-right" translate="club.hunting.mooseHuntingSummary.areaOfDamage"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="number"
                               id="{{ $ctrl.areaOfDamageInputId }}"
                               name="{{ $ctrl.areaOfDamageInputId }}"
                               min="0" max="999999" step="1"
                               r-decimal-separator-fix
                               class="form-control no-spinner"
                               ng-model="$ctrl.appearance.areaOfDamage"
                               required/>
                        <span class="input-group-addon" translate="global.hectares"></span>
                    </div>

                    <p class="help-block has-error"
                       ng-show="$ctrl.parentForm[$ctrl.areaOfDamageInputId].$invalid"
                       ng-messages="$ctrl.parentForm[$ctrl.areaOfDamageInputId].$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div class="form-group" show-errors ng-if="$ctrl.isBeaver">
                <label for="{{ $ctrl.areaOccupiedByWaterInputId }}" class="control-label col-sm-7">
                    <span translate="club.hunting.mooseHuntingSummary.areaOccupiedByWater"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="number"
                               id="{{ $ctrl.areaOccupiedByWaterInputId }}"
                               name="{{ $ctrl.areaOccupiedByWaterInputId }}"
                               min="0" max="999999" step="1"
                               r-decimal-separator-fix
                               class="form-control no-spinner"
                               ng-model="$ctrl.appearance.areaOccupiedByWater"
                               required/>
                        <span class="input-group-addon" translate="global.hectares"></span>
                    </div>

                    <p class="help-block has-error"
                       ng-show="$ctrl.parentForm[$ctrl.areaOccupiedByWaterInputId].$invalid"
                       ng-messages="$ctrl.parentForm[$ctrl.areaOccupiedByWaterInputId].$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>

            <div ng-if="$ctrl.isBeaver">
                <div class="form-group" show-errors>
                    <label for="{{ $ctrl.additionalBeaverInfoInputId }}" class="control-label col-sm-7">
                        <span translate="club.hunting.mooseHuntingSummary.additionalBeaverInfo"></span>
                    </label>

                    <div class="col-sm-5">
                        <textarea name="{{ $ctrl.additionalBeaverInfoInputId }}"
                                  id="{{ $ctrl.additionalBeaverInfoInputId }}"
                                  class="form-control"
                                  focus-me
                                  ng-model="$ctrl.appearance.additionalInfo"
                                  rows="4"
                                  spellcheck="false"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
