<div class="content">
    <form id="specimenForm" name="specimenForm" class="form form-horizontal">
        <table class="table table-striped">
            <thead>
            <tr>
                <td class="col-xs-4">
                    <span translate="gamediary.form.gender"></span>
                    <small ng-if="isFieldRequired('gender')"
                           class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
                <td class="col-xs-4">
                    <span translate="gamediary.form.age"></span>
                    <small ng-if="isFieldRequired('age')"
                           class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
                <td class="col-xs-4">
                    <span translate="gamediary.form.weight"></span>
                    <small ng-if="isFieldRequired('weight')"
                           class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="specimen in entry.specimens | limitTo:maxVisibleSpecimens" ng-form="specimenForm">
                <td class="col-xs-4 form-group" show-errors>
                    <select name="gender" id="gender"
                            class="form-control"
                            ng-model="specimen.gender"
                            ng-options="('gamediary.gender.' + a | translate) for a in getAvailableGameGenders()"
                            ng-required="isFieldRequired('gender')"
                            ng-disabled="!entry.canEdit">
                        <option ng-disabled="isFieldRequired('gender')" value=""></option>
                    </select>
                </td>

                <td class="col-xs-4 form-group" show-errors>
                    <select name="age" id="age"
                            class="form-control"
                            ng-model="specimen.age"
                            ng-options="('gamediary.age.' + a | translate) for a in getAvailableGameAges()"
                            ng-required="isFieldRequired('age')"
                            ng-disabled="!entry.canEdit">
                        <option ng-disabled="isFieldRequired('age')" value=""></option>
                    </select>
                </td>

                <td class="col-xs-4 form-group" show-errors>
                    <input type="number" name="weight" id="weight"
                           class="form-control"
                           min="0" step="0.1"
                           r-decimal-separator-fix
                           ng-model="specimen.weight"
                           ng-required="isFieldRequired('weight')"
                           ng-disabled="!entry.canEdit"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="buttons">
    <button type="button"
            class="btn btn-default"
            ng-click="$close()"
            translate="global.button.cancel"></button>

    <button type="button"
            class="btn btn-primary"
            ng-click="$close()"
            ng-disabled="specimenForm.$invalid"
            translate="global.button.save"></button>
</div>
