<div class="content">
    <form id="specimenForm" name="specimenForm" class="form form-horizontal">
        <table class="table table-striped">
            <thead>
            <tr>
                <td class="col-xs-2" ng-if="genderVisible">
                    <span translate="gamediary.form.gender"></span>
                    <small ng-if="genderRequired" class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
                <td class="col-xs-2" ng-if="ageVisible">
                    <span translate="gamediary.form.age"></span>
                    <small ng-if="ageRequired" class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
                <td class="{'col-xs-1': lengthOfPawVisible, 'col-xs-2': !lengthOfPawVisible}" ng-if="widthOfPawVisible">
                    <span translate="gamediary.form.widthOfPaw"></span>
                    <small ng-if="widthOfPawRequired" class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
                <td class="col-xs-1" ng-if="lengthOfPawVisible">
                    <span translate="gamediary.form.lengthOfPaw"></span>
                    <small ng-if="lengthOfPawRequired" class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
                <td class="col-xs-2" ng-if="stateVisible">
                    <span translate="gamediary.form.gameState"></span>
                    <small ng-if="stateRequired" class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
                <td class="col-xs-2" ng-if="markingVisible">
                    <span translate="gamediary.form.gameMarking"></span>
                    <small ng-if="markingRequired" class="glyphicon glyphicon-asterisk text-danger"></small>
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="specimen in entry.specimens | limitTo:maxVisibleSpecimens" ng-form="specimenForm">
                <td class="col-xs-2 form-group" ng-if="genderVisible" show-errors>
                    <select name="gender" id="gender-{{$index}}"
                            class="form-control"
                            ng-model="specimen.gender"
                            ng-options="('gamediary.gender.' + a | translate) for a in getAvailableGameGenders()"
                            ng-required="genderRequired"
                            ng-disabled="!canEdit()"></select>
                </td>

                <td class="col-xs-2 form-group" ng-if="ageVisible" show-errors>
                    <select name="age" id="age-{{$index}}"
                            class="form-control"
                            ng-model="specimen.age"
                            ng-options="(age | gameAge: entry.gameSpeciesCode) for age in getAvailableGameAges()"
                            ng-required="ageRequired"
                            ng-disabled="!canEdit()"></select>
                </td>

                <td ng-class="{'col-xs-1': lengthOfPawVisible, 'col-xs-2': !lengthOfPawVisible}" ng-if="widthOfPawVisible">
                    <select name="widthOfPaw" id="widthOfPaw-{{$index}}"
                            class="form-control"
                            ng-model="specimen.widthOfPaw"
                            ng-options="n for n in getWidthOfPawOptions()"
                            ng-required="isFieldRequired('widthOfPaw')"
                            ng-disabled="!canEdit()"></select>
                </td>

                <td class="col-xs-1" ng-if="lengthOfPawVisible">
                    <select name="lengthOfPaw" id="lengthOfPaw-{{$index}}"
                            class="form-control"
                            ng-model="specimen.lengthOfPaw"
                            ng-options="n for n in getLengthOfPawOptions()"
                            ng-required="isFieldRequired('lengthOfPaw')"
                            ng-disabled="!canEdit()"></select>
                </td>

                <td class="col-xs-2 form-group" ng-if="stateVisible" show-errors>
                    <select name="state" id="state-{{$index}}"
                            class="form-control"
                            ng-model="specimen.state"
                            ng-options="('observation.gamestate.' + state | translate) for state in getAvailableGameStates()"
                            ng-required="stateRequired"
                            ng-disabled="!canEdit()"></select>
                </td>

                <td class="col-xs-2 form-group" ng-if="markingVisible" show-errors>
                    <select name="marking" id="marking-{{$index}}"
                            class="form-control"
                            ng-model="specimen.marking"
                            ng-options="('observation.marking.' + marking | translate) for marking in getAvailableGameMarkings()"
                            ng-required="markingRequired"
                            ng-disabled="!canEdit()"></select>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="buttons">
    <button type="button"
            class="btn btn-default"
            ng-click="$close()"
            translate="global.button.cancel"></button>

    <button type="button"
            class="btn btn-primary"
            ng-click="$close()"
            ng-disabled="specimenForm.$invalid"
            translate="global.button.save"></button>
</div>