<div class="footer-body">
    <div class="container">
        <div class="footer-apps-title" translate="main.appTitle"></div>
        <div class="footer-app-links">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4 text-center">
                    <a href="https://play.google.com/store/apps/details?id=fi.riista.mobile" target="_blank">
                        <img alt="Hanki Google Playsta" src="/static/badges/playstore.png" width="158" height="50"/>
                    </a>
                    <br>
                    <a class="footer-app-links-text"
                       href="https://play.google.com/store/apps/details?id=fi.riista.mobile" target="_blank">Android
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <a href="https://itunes.apple.com/fi/app/oma-riista/id912777656?l=fi&mt=8" target="itunes_store">
                        <img alt="App Store" src="/static/badges/appstore.png" width="158" height="50"/>
                    </a>
                    <br>
                    <a class="footer-app-links-text"
                       href="https://itunes.apple.com/fi/app/oma-riista/id912777656?l=fi&mt=8" target="itunes_store">
                        IPhone
                    </a>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-sm-4 footer-links">
                <ul>
                    <li>
                        <a href="{{'global.about.aboutUrl'| translate}}" translate="global.about.about"></a>
                    </li>
                    <li>
                        <a href="{{'global.about.termsAndConditionsUrl' | translate}}"
                           translate="global.about.termsAndConditions"></a>
                    </li>
                    <li>
                        <a href="{{'global.about.privacyPolicyUrl' | translate}}"
                           translate="global.about.privacyPolicy"></a>
                    </li>
                    <li>
                        <a href="{{'global.about.technicalRequirementsUrl' | translate}}"
                           translate="global.about.technicalRequirements"></a>
                    </li>
                    <li>
                        <a href="{{'global.about.contactInformationUrl' | translate}}"
                           translate="global.about.contactInformation"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5">
                <div class="footer-title" translate="main.footer.title"></div>
                <div>
                    <div class="footer-support-title" translate="main.footer.support.title"></div>
                    <div translate="main.footer.support.telephone"></div>
                    <div>
                        <span translate="main.footer.support.email"></span>
                    </div>
                </div>
                <div>
                    <div class="footer-support-title" translate="main.footer.customerService.title"></div>
                    <div translate="main.footer.customerService.telephone"></div>
                    <div>
                        <span translate="main.footer.customerService.email"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 footer-twitter">
                <a href="https://twitter.com/omariistafi">
                    <img alt="Twitter" src="/static/badges/twitter.png" width="41" height="41"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container footer-logos">
    <div class="row">
        <div class="col-sm-3 text-center">
            <a href="http://riista.fi" class="footer-logo footer-logo-riista">Riista.fi</a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="http://www.mmm.fi" class="footer-logo footer-logo-mmm">mmm.fi</a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="http://www.metsa.fi" class="footer-logo footer-logo-metsahallitus">metsa.fi</a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="http://www.luke.fi" class="footer-logo footer-logo-luke">luke.fi</a>
        </div>
    </div>
</div>
