<div class="navbar navbar-primary r-main-navbar" role="navigation"
     ng-if="$ctrl.isAuthenticated()">
    <div class="container">
        <div class="navbar-header hidden-xs">
            <nav-active-role></nav-active-role>
        </div>

        <ul class="nav navbar-nav r-main-navbar-nav"
            ng-if="$ctrl.isAdminOrModerator()">

            <li ng-show="$ctrl.isAdmin()"
                active-if-state-includes="admin">
                <a ui-sref="admin.home" translate="global.menu.admin"></a>
            </li>

            <li active-if-state-includes="jht">
                <a ui-sref="jht.home">JHT</a>
            </li>

            <li active-if-state-includes="reporting">
                <a ui-sref="reporting.home" translate="global.menu.reports"></a>
            </li>
        </ul>

        <ul class="nav navbar-nav r-main-navbar-nav-right">
            <nav-search ng-if="$ctrl.isAdminOrModerator()"></nav-search>

            <li class="hidden-xs" ng-if="$ctrl.isUser()">
                <a href="{{'login.instructionsLink' | translate}}" target="_blank" translate="global.menu.help"></a>
            </li>

            <nav-language class="hidden-xs"></nav-language>
            <nav-change-role></nav-change-role>
        </ul>
        <riista-mobile-menu></riista-mobile-menu>
    </div>
</div>
