<form name="communicationForm" role="form" class="form" autocomplete="off"
      r-force-show-errors-check-validity>

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="rhy.annualStats.misc.communication.form.title"></h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-group col-xs-6" show-errors>
                <label for="interviews" class="control-label">
                    <span translate="rhy.annualStats.misc.communication.form.interviews"></span>
                </label>

                <div class="form-control-wrapper input-group">
                    <input type="number" name="interviews" id="interviews"
                           min="0" max="99999" step="1"
                           class="form-control no-spinner"
                           ng-model="$ctrl.data.interviews"/>

                    <div class="input-group-addon">
                        <span translate="global.pcs"></span>
                    </div>
                </div>

                <p class="help-block"
                   ng-show="communicationForm.interviews.$invalid"
                   translate="global.messages.invalid"></p>
            </div>

            <div class="form-group col-xs-6" show-errors>
                <label for="announcements" class="control-label">
                    <span translate="rhy.annualStats.misc.communication.form.announcements"></span>
                </label>

                <div class="form-control-wrapper input-group">
                    <input type="number" name="announcements" id="announcements"
                           min="0" max="99999" step="1"
                           class="form-control no-spinner"
                           ng-model="$ctrl.data.announcements"/>

                    <div class="input-group-addon">
                        <span translate="global.pcs"></span>
                    </div>
                </div>

                <p class="help-block"
                   ng-show="communicationForm.announcements.$invalid"
                   translate="global.messages.invalid"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="www" class="control-label">
                <span translate="rhy.annualStats.misc.communication.form.www"></span>
            </label>

            <div class="form-control-wrapper">
                <input type="text" name="www" id="www"
                       class="form-control"
                       maxlength="255"
                       ng-model="$ctrl.data.homePage"/>
            </div>
        </div>

        <div class="form-group">
            <label for="someInfo" class="control-label">
                <span translate="rhy.annualStats.misc.communication.form.someChannels"></span>
            </label>

            <div class="form-control-wrapper">
                <input type="text" name="someInfo" id="someInfo"
                       class="form-control"
                       ng-model="$ctrl.data.someInfo"/>
            </div>
        </div>

        <div ng-if="false" class="form-group">
            <label for="info" class="control-label">
                <span translate="rhy.annualStats.misc.communication.form.info"></span>
            </label>

            <div class="form-control-wrapper">
                <textarea name="info" id="info"
                          class="form-control"
                          rows="6"
                          ng-model="$ctrl.data.info"
                          spellcheck="false"></textarea>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.save()"
                ng-disabled="communicationForm.$invalid"
                translate="global.button.save"></button>
    </div>
</form>
