<div class="panel panel-default">
    <timestamped-panel-heading title-key="'rhy.annualStats.misc.otherHuntingRelated.title'"
                               last-modified="$ctrl.otherHuntingRelated.lastModified">
    </timestamped-panel-heading>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-xs-9" computed-marker-title="rhy.annualStats.misc.otherHuntingRelated.harvestPermitApplicationPartners"></td>
                        <td num-pieces="::$ctrl.otherHuntingRelated.harvestPermitApplicationPartners"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-9" translate="rhy.annualStats.misc.otherHuntingRelated.mooselikeTaxationPlanningEvents"></td>
                        <td num-pieces="::$ctrl.otherHuntingRelated.mooselikeTaxationPlanningEvents"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-9" translate="rhy.annualStats.misc.otherHuntingRelated.wolfTerritoryWorkgroups"></td>
                        <td num-pieces="::$ctrl.otherHuntingRelated.wolfTerritoryWorkgroups"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="$ctrl.editable" class="text-right">
            <button class="btn btn-primary"
                    ng-click="$ctrl.openEditDialog()"
                    translate="global.button.edit"></button>
        </div>
    </div>
</div>
