<div class="srva-sidebar-layout sidebar-layout">
    <riista-sidebar-collapse></riista-sidebar-collapse>

    <div class="left-column">
        <h5 translate="gamediary.state.title"></h5>
        <div class="checkbox" ng-repeat="state in $ctrl.searchParams.states">
            <label>
                <input type="checkbox" ng-model="state.isChecked">
                <span translate="srva.state.{{state.name}}"></span>
            </label>
        </div>

        <h5 translate="srva.form.event"></h5>
        <div class="checkbox" ng-repeat="event in $ctrl.searchParams.eventNames">
            <label>
                <input type="checkbox"
                       ng-model="event.isChecked"
                       ng-change="$ctrl.onEventChanged(event)">
                <span translate="srva.event.{{event.name}}"></span>
            </label>
            <div class="srva-search-filter-checkbox"
                 ng-if="event.name === 'ACCIDENT'"
                 ng-repeat="eventType in $ctrl.searchParams.eventTypes">
                <label>
                    <input type="checkbox"
                           ng-model="eventType.isChecked"
                           ng-change="$ctrl.onEventTypeChanged(event)">
                    <span translate="srva.type.{{eventType.name}}"></span>
                </label>
            </div>
        </div>

        <div class="alert alert-info" ng-if="!$ctrl.moderatorView" translate="srva.form.notAllEventsInfo"></div>

        <div class="row srva-dates">
            <div class="col-xs-6">
                <h5 translate="global.beginDate"></h5>
                <div class="input-group" ng-controller="DatePickerController">
                    <input type="text" name="beginDate" id="beginDate"
                           class="form-control"
                           ng-model="$ctrl.searchParams.dateRange.beginDate"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           datepicker-append-to-body="true"
                           max-date="$ctrl.searchParams.dateRange.endDate"/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="toggleDatePopup($event)">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                </div>
            </div>

            <div class="col-xs-6">
                <h5 translate="global.endDate"></h5>
                <div class="input-group" ng-controller="DatePickerController">
                    <input type="text" name="endDate" id="endDate"
                           class="form-control"
                           ng-model="$ctrl.searchParams.dateRange.endDate"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           datepicker-append-to-body="true"
                           min-date="$ctrl.dateRange.beginDate"
                           max-date="today()"/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="toggleDatePopup($event)">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                </div>
            </div>
        </div>

        <h5 translate="srva.form.animal"></h5>
        <select name="srvaSpeciesId" id="srvaSpeciesId"
                class="form-control"
                ng-model="$ctrl.searchParams.gameSpeciesCode"
                ng-options="item.code as $ctrl.getGameName(item.code, item) for item in $ctrl.srvaSpecies"
                ie10-optgroup-fix>
            <option value="" translate="harvestreport.admin.all"></option>
        </select>

        <h5 translate="srva.form.selectArea"></h5>
        <organisation-select-by-rhy tabs="$ctrl.tabs"
                                    organisation-changed="$ctrl.orgChanged(type, code)"></organisation-select-by-rhy>

        <div class="text-right">
            <button type="button" class="btn btn-default"
                    ng-click="$ctrl.exportSrva()">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="reporting.common.toExcel"></span>
            </button>

            <button type="button" class="btn btn-primary"
                    ng-click="$ctrl.search()">
                <span class="glyphicon glyphicon-search"></span>&nbsp;
                <span translate="gamediary.button.search"></span>
            </button>
        </div>

        <div ng-show="$ctrl.markers.length <= 0" class="col-xs-12 well">
            <h5 translate="gamediary.search.noresults"></h5>
        </div>
    </div>

    <div class="main-column">
        <leaflet class="r-cursor-pointer"
                 id="accidentsMap"
                 r-viewport-height
                 defaults="$ctrl.mapDefaults"
                 layers="$ctrl.mapDefaults.mmlLayers"
                 controls="$ctrl.mapDefaults.controls"
                 lf-center="$ctrl.mapState.center"
                 bounds="$ctrl.mapState.viewBounds"
                 event-broadcast="$ctrl.mapEvents"
                 width="100%">
            <marker-cluster id="accidentsMapMarkers" leaflet-markers="$ctrl.markers"></marker-cluster>
        </leaflet>
    </div>
</div>
