<form name="freeHuntingForm" class="form-horizontal">
    <div class="form-group" show-errors>
        <label for="shooterOnlyClub" class="control-label col-xs-9" translate="harvestpermit.wizard.shooterCount.onlyClub"></label>

        <div class="col-xs-3">
            <div class="input-group" show-errors>
                <input type="number" name="shooterOnlyClub" id="shooterOnlyClub"
                       class="form-control no-spinner"
                       required
                       min="0" max="9999" step="1"
                       r-click-select
                       ng-model="$ctrl.shooterCounts.shooterOnlyClub">

                <div class="input-group-addon" translate="global.pcs"></div>
            </div>

            <p class="help-block has-error"
               ng-show="freeHuntingForm.shooterOnlyClub.$invalid"
               ng-messages="freeHuntingForm.shooterOnlyClub.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <div class="form-group" show-errors>
        <label for="shooterOtherClubPassive" class="control-label col-xs-9" translate="harvestpermit.wizard.shooterCount.otherClubPassive"></label>

        <div class="col-xs-3">
            <div class="input-group" show-errors>
                <input type="number" name="shooterOtherClubPassive" id="shooterOtherClubPassive"
                       class="form-control no-spinner"
                       required
                       min="0" max="9999" step="1"
                       r-click-select
                       ng-model="$ctrl.shooterCounts.shooterOtherClubPassive">

                <div class="input-group-addon" translate="global.pcs"></div>
            </div>

            <p class="help-block has-error"
               ng-show="freeHuntingForm.shooterOtherClubPassive.$invalid"
               ng-messages="freeHuntingForm.shooterOtherClubPassive.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <div class="form-group" show-errors>
        <label for="shooterOtherClubActive" class="control-label col-xs-9" translate="harvestpermit.wizard.shooterCount.otherClubActive">

        </label>

        <div class="col-xs-3">
            <div class="input-group" show-errors>
                <input type="number" name="shooterOtherClubActive" id="shooterOtherClubActive"
                       class="form-control no-spinner"
                       required
                       min="0" max="9999" step="1"
                       r-click-select
                       ng-model="$ctrl.shooterCounts.shooterOtherClubActive">

                <div class="input-group-addon" translate="global.pcs"></div>
            </div>

            <p class="help-block has-error"
               ng-show="freeHuntingForm.shooterOtherClubActive.$invalid"
               ng-messages="freeHuntingForm.shooterOtherClubActive.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <div class="form-group" show-errors>
        <label for="shooterTotal" class="control-label col-xs-9" translate="harvestpermit.wizard.shooterCount.total">

        </label>

        <div class="col-xs-3">
            <div class="input-group" show-errors>
                <input type="number" name="shooterTotal" id="shooterTotal"
                       class="form-control no-spinner"
                       disabled
                       ng-value="$ctrl.shooterTotalCount()">

                <div class="input-group-addon" translate="global.pcs"></div>
            </div>
        </div>
    </div>
</form>
