<hr class="invisible">

<div class="alert alert-info" ng-show="$ctrl.paymentList.length === 0">
    <span translate="harvestpermit.management.noOpenPayments"></span>
</div>

<div ng-repeat="p in ::$ctrl.paymentList track by p.id">
    <div class="row" style="margin: 0;">
        <div class="col-xs-12">
            <p>
                <span class="h3 text-primary"
                      translate="harvestpermit.management.invoiceType.{{::p.invoiceType}}"></span>
                <br/>
                <span class="text-muted" ng-bind="::p.invoiceDescription"></span>
            </p>
        </div>
    </div>

    <div class="row" style="margin: 20px 0 40px;">
        <div class="col-xs-3 text-muted">
            <p class="text-uppercase" translate="payment.amount"></p>

            <p style="font-size: 36px; line-height: 32px; font-weight: 300; margin-bottom: 24px">
                <span ng-bind="::p.amount"></span> &euro;
            </p>

            <button class="btn btn-primary"
                    ng-click="$ctrl.startPayment(p)">
                <span class="fa fa-credit-card"></span>
                &nbsp;
                <span class="text-uppercase" translate="payment.payButton"></span>
            </button>
        </div>
        <div class="col-xs-3 text-muted">
            <p class="text-uppercase" translate="invoice.info"></p>

            <p style="margin-bottom: 6px">
                <span translate="invoice.invoiceNumber"></span>:
                <span ng-bind="::p.invoiceNumber"></span>
            </p>
            <p style="margin-bottom: 6px">
                <span translate="global.date"></span>:
                <span ng-bind="::p.invoiceDate | date:'dd.MM.yyyy'"></span>
            </p>
            <p style="margin-bottom: 6px">
                <span translate="payment.dueDate"></span>:
                <span ng-bind="::p.dueDate | date:'dd.MM.yyyy'"></span>
            </p>
        </div>
        <div class="col-xs-6 text-muted">
            <p class="text-uppercase" translate="invoice.items"></p>

            <p>
                <span ng-bind="::p.invoiceDescription"></span>,<br/>
                <span translate="harvestpermit.management.invoiceType.{{::p.invoiceType}}"></span>
            </p>
        </div>
    </div>

    <hr/>
</div>
