<div class="content" ng-click="$close()">
    <h3 translate="antlerGuide.roeDeerTitle"></h3>

    <div class="row">
        <div class="col-xs-4 r-antler-image">
            <img ng-src="/static/antler-guide/metsakauris-pituus.png">
        </div>
        <div class="col-xs-8">
            <h4 translate="antlerGuide.antlersLengthTitle"></h4>
            <span translate="antlerGuide.antlersLengthText"></span>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-4 r-antler-image">
            <img ng-src="/static/antler-guide/metsakauris-tyvi.png">
        </div>
        <div class="col-xs-8">
            <h4 translate="antlerGuide.antlerShaftWidthTitle"></h4>
            <span translate="antlerGuide.antlerShaftWidthText"></span>
        </div>
    </div>
</div>

<div class="buttons">
    <span class="fa fa-2x fa-chevron-right r-antler-button" ng-click="$close()"></span>
</div>