<div class="content" ng-click="$close()">
    <h3 translate="antlerGuide.whiteTailedDeerTitle"></h3>

    <div class="row">
        <div class="col-xs-4 r-antler-image">
            <img ng-src="/static/antler-guide/vhp-tyvi.png">
        </div>
        <div class="col-xs-8">
            <h4 translate="antlerGuide.antlersGirthTitle"></h4>
            <span translate="antlerGuide.antlersGirthText"></span>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-4 r-antler-image">
            <img ng-src="/static/antler-guide/vhp-pituus.png">
        </div>
        <div class="col-xs-8">
            <h4 translate="antlerGuide.antlersLengthTitle"></h4>
            <span translate="antlerGuide.antlersLengthText"></span>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12 r-antler-image">
            <img ng-src="/static/antler-guide/vhp-sisaleveys.png">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 translate="antlerGuide.antlersInnerWidthTitle"></h4>
            <span translate="antlerGuide.antlersInnerWidthText"></span>
        </div>
    </div>
</div>

<div class="buttons">
    <span class="fa fa-2x fa-chevron-right r-antler-button" ng-click="$close()"></span>
</div>