<div class="panel-body dogunleash-list-row">
    <div class="row">

        <!-- left column -->

        <div class="col-sm-6">
            <table class="table">
                <tbody>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.dogsAmount"></th>
                    <td class="text-right" ng-bind="$ctrl.event.dogsAmount"></td>
                </tr>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.eventDate"></th>
                    <td class="text-right">
                        <r-show-dates begin-date="$ctrl.event.beginDate" end-date="$ctrl.event.endDate"></r-show-dates>
                    </td>
                </tr>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.geoLocation"></th>
                    <td class="text-right" translate="global.geoLocation.coordinatesTextShort"
                        translate-values="$ctrl.event.geoLocation"></td>
                </tr>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.naturaArea"></th>
                    <td class="text-right" ng-bind="$ctrl.event.naturaArea"></td>
                </tr>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.contactPerson"></th>
                    <td class="text-right">
                        <p ng-bind="$ctrl.event.contactName"></p>
                        <p ng-bind="$ctrl.event.contactPhone"></p>
                        <p><a ng-bind="$ctrl.event.contactMail" href="mailto:{{$ctrl.event.contactMail}}"></a></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- right column -->

        <div class="col-sm-6">
            <table class="table-single-column">
                <tbody>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.eventDescription"></th>
                </tr>
                <tr>
                    <td>
                        <r-paragraphed-text content="$ctrl.event.eventDescription"></r-paragraphed-text>
                    </td>
                </tr>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.locationDescription"></th>
                </tr>
                <tr>
                    <td>
                        <r-paragraphed-text content="$ctrl.event.locationDescription"></r-paragraphed-text>
                    </td>
                </tr>
                <tr>
                    <th translate="harvestpermit.wizard.dogunleash.eventDetails.additionalInfo"></th>
                </tr>
                <tr>
                    <td>
                        <r-paragraphed-text content="$ctrl.event.additionalInfo"></r-paragraphed-text>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- buttons -->

    <div class="row button-row">
        <div class="col-xs-12">

            <button class="btn btn-primary"
                    ng-click="$ctrl.edit()"
                    translate="global.button.edit">
            </button>
            &nbsp;
            <button class="btn btn-default"
                    ng-click="$ctrl.copy()"
                    translate="global.button.copy">
            </button>
            &nbsp;
            <button class="btn btn-danger"
                    ng-click="$ctrl.delete()"
                    translate="global.button.delete">
            </button>


        </div>
    </div>
</div>
