html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------------- */

body {
    font-family: "Times New Roman", "Times", serif;
    width: 180mm; /* 21cm - 3cm */
    height: 277mm; /* 29.7cm - 2cm */
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    line-height: 1.2;
}

#main-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;
}

/*-------------- COMMON -------------------------- */

strong {
    font-weight: bold;
}

/*-------------- TABLE -------------------------- */

.layout-container table {
    min-width: 8cm;
    margin-bottom: 6pt;
    width: 100%;
}

.layout-container table > tbody > tr {
    page-break-inside: avoid !important;
}

.layout-container table > tbody > tr > td {
    page-break-inside: avoid !important;
    border-collapse: collapse;
    min-width: 1.5cm;
    max-width: 9cm;
    word-break: break-word;
    overflow-wrap: break-word;
    padding: 0 3pt 3pt 0;
}

.layout-container table > thead > tr > td:nth-child(3) {
    text-align: right;
    padding-right: 6pt;
}

.layout-container table > tbody > tr > td:nth-child(3) {
    text-align: right;
    padding-right: 6pt;
}

.layout-container table > thead {
    page-break-inside: avoid !important;
}

.layout-container table > thead > tr {
    page-break-inside: avoid !important;
}

.layout-container table > thead > tr > th {
    page-break-inside: avoid !important;
    text-align: left;
    font-style: italic;
    padding-bottom: 3pt;
}
