<permit-decision-nav-header decision="$ctrl.decision"></permit-decision-nav-header>

<div class="alert alert-info"
     ng-if="$ctrl.activeRevision === null"
     translate="decision.revision.notLocked"></div>

<div ng-show="$ctrl.activeRevision !== null">
    <div class="row">
        <div class="col-xs-1">
            <h4 style="margin-top: 6px" translate="decision.revision.decision"></h4>
        </div>

        <div class="col-xs-6">
            <decisision-revision-selection revisions="$ctrl.revisions"
                                           on-active-revision-changed="$ctrl.onActiveRevisionChanged(revision)"
                                           download-pdf="$ctrl.downloadPdf()">
            </decisision-revision-selection>
        </div>
        <div class="col-xs-2 text-right">
            <button class="btn btn-default"
                    ng-if="::$ctrl.isAnnualPermit"
                    ng-click="$ctrl.openRenewalDialog()">
                <span translate="decision.annualRenewal.createForNextYear"></span>
            </button>
        </div>
        <div class="col-xs-3 text-right" ng-switch="::$ctrl.permits.length">
            <div ng-switch-when="0"></div>
            <div ng-switch-when="1">
                <button class="btn btn-default"
                        ng-click="$ctrl.moveToOnlyPermit()">
                    <span translate="decision.revision.moveToPermit"></span>
                    <span class="fa fa-fw fa-chevron-right"></span>
                </button>
            </div>
            <div ng-switch-default>
                <button class="btn btn-default dropdown" uib-dropdown dropdown-append-to-body uib-dropdown-toggle>
                    <span translate="decision.revision.permitMenu"></span>
                    <span class="caret"></span>
                    <ul class="dropdown-menu " uib-dropdown-menu>
                        <li ng-repeat="p in $ctrl.permits | orderBy:'permitNumber':($ctrl.isAnnualPermit) track by p.id">
                            <a ng-click="$ctrl.moveToPermit(p.id)">
                                <span ng-bind="::p.permitNumber"></span>
                                <span class="fa fa-fw fa-chevron-right"></span>
                            </a>
                        </li>
                    </ul>
                </button>
            </div>
        </div>
    </div>

    <decision-revision-details active-revision="$ctrl.activeRevision"></decision-revision-details>

    <hr>

    <decision-revision-attachments attachments="$ctrl.attachments"
                                   download-url="$ctrl.attachmentDownloadUrl"
                                   allow-edit-of-additional-attachments="$ctrl.allowEditOfAdditionalAttachments"
                                   open-attachment-dialog="$ctrl.openAttachmentEditor()"></decision-revision-attachments>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <h4 translate="decision.revision.invoiceForms"></h4>
        </div>

        <div class="col-xs-6 text-right">
            <button class="btn btn-default"
                    ng-disabled="!$ctrl.decision.applicationNumber"
                    ng-click="$ctrl.moveToInvoices()">
                <span translate="decision.revision.moveToInvoices"></span>
                <span class="fa fa-fw fa-chevron-right"></span>
            </button>
        </div>
    </div>

    <div ng-if="$ctrl.decision.hasDecisionInvoice">
        <div ng-switch="$ctrl.getProcessingInvoiceDownloadStatus()">
            <p ng-switch-when="NOT_AVAILABLE" class="text-danger">
                <span class="fa fa-lg fa-fw fa-file-pdf-o"></span>
                <span translate="decision.revision.processingInvoiceNotCreated"></span>
            </p>

            <p ng-switch-when="DISABLED_BY_ELECTRONIC_INVOICING" class="text-danger">
                <span class="fa fa-lg fa-fw fa-file-pdf-o"></span>
                <span translate="decision.revision.electronicProcessingInvoiceNote"></span>
            </p>

            <p ng-switch-default>
                <a ng-click="$ctrl.downloadProcessingInvoice()">
                    <span class="fa fa-lg fa-fw fa-file-pdf-o text-primary"></span>
                    <span translate="decision.revision.downloadProcessingInvoice"></span>
                </a>
            </p>
        </div>
    </div>

    <div ng-if="$ctrl.decision.hasHarvestInvoices">
        <p ng-repeat="gameSpeciesCode in $ctrl.mooselikeSpeciesCodes track by gameSpeciesCode">
            <a ng-click="$ctrl.downloadHarvestInvoice(gameSpeciesCode)">
                <span class="fa fa-lg fa-fw fa-file-pdf-o text-primary"></span>
                <span translate="decision.revision.downloadHarvestInvoice"></span>
                (<span ng-bind="::(gameSpeciesCode | translateSpeciesCode)"></span>)
            </a>
        </p>
    </div>

    <div ng-if="!$ctrl.decision.hasDecisionInvoice && !$ctrl.decision.hasHarvestInvoices" class="well">
        <span translate="decision.revision.noInvoices"></span>
    </div>

    <hr>

    <div ng-if="$ctrl.showHarvestReports">
        <div class="row">
            <div class="col-xs-12">
                <h4 translate="decision.revision.harvestReportTitle"></h4>
            </div>
        </div>

        <p>
            <a ng-click="$ctrl.downloadPermitHarvestReport()">
                <span class="fa fa-lg fa-fw fa-file-pdf-o text-primary"></span>
                <span translate="decision.revision.downloadBirdHarvestReport"></span>
            </a>
        </p>

        <hr>
    </div>

    <h4 translate="decision.revision.deliveryType"></h4>

    <div class="well" ng-if="!$ctrl.activeRevision.postalByMail">
        <div class="row">
            <div class="col-xs-1">
                <span class="fa fa-4x fa-at text-primary"></span>
            </div>
            <div class="col-xs-11">
                <p>
                    <strong translate="decision.revision.deliveryElectronic"></strong>
                </p>

                <p class="text-muted" translate="decision.revision.deliveryElectronicNote"></p>
            </div>
        </div>
    </div>

    <div class="well" ng-if="$ctrl.activeRevision.postalByMail">
        <div class="row">
            <div class="col-xs-1">
                <span class="fa fa-4x fa-fw fa-envelope text-primary"></span>
            </div>

            <div class="col-xs-7">
                <p>
                    <strong translate="decision.revision.deliveryPostal"></strong>
                </p>

                <p class="text-muted" style="margin-top: 20px;"
                   translate="decision.revision.deliveryPostalNote"></p>
            </div>
            <div class="col-xs-4 text-right">
                <p><br></p>

                <div class="btn-group pull-right" style="margin-left: 20px">
                    <label class="btn btn-default form-control-static"
                           ng-model="$ctrl.activeRevision.posted"
                           ng-change="$ctrl.togglePosted($ctrl.activeRevision.posted)"
                           ng-disabled="!$ctrl.activeRevision.canTogglePosted"
                           uib-btn-radio="false">
                            <span class="text-muted fa fa-check"
                                  ng-class="{invisible: $ctrl.activeRevision.posted}"></span>
                        &nbsp;
                    </label>
                    <label class="btn btn-default form-control-static"
                           ng-model="$ctrl.activeRevision.posted"
                           ng-change="$ctrl.togglePosted($ctrl.activeRevision.posted)"
                           ng-disabled="!$ctrl.activeRevision.canTogglePosted"
                           uib-btn-radio="true">
                            <span class="text-primary fa fa-check"
                                  ng-class="{invisible: !$ctrl.activeRevision.posted}"></span>
                        &nbsp;
                    </label>
                </div>

                <p ng-if="!$ctrl.activeRevision.posted" class="form-control-static">
                    <strong translate="decision.revision.postalNotDone"></strong>
                </p>

                <p ng-if="$ctrl.activeRevision.posted" class="form-control-static">
                    <strong class="text-primary" translate="decision.revision.postalDone"></strong>
                </p>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.contactPersonReceivers.length > 0">
        <hr>

        <h4 translate="decision.revision.recipientsContactPerson"></h4>

        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-4" translate="decision.revision.recipientName"></th>
                    <th class="col-xs-4" translate="decision.revision.recipientEmail"></th>
                    <th class="col-xs-4" translate="decision.revision.recipientSent"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in $ctrl.contactPersonReceivers track by r.id">
                    <td ng-bind="r.name"></td>
                    <td>
                        <span ng-if="r.email" ng-bind="r.email"></span>
                        <span ng-if="!r.email" translate="decision.revision.recipientPostal"></span>
                    </td>
                    <td>
                        <span ng-if="r.email" ng-bind="r.sentDate | date:'d.M.yyyy HH:mm'"></span>
                        <span ng-if="!r.email" translate="decision.revision.recipientPostal"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="$ctrl.otherReceivers.length > 0">
        <hr>

        <h4 translate="decision.revision.recipientsOther"></h4>

        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-4" translate="decision.revision.recipientName"></th>
                    <th class="col-xs-4" translate="decision.revision.recipientEmail"></th>
                    <th class="col-xs-4" translate="decision.revision.recipientSent"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in $ctrl.otherReceivers track by r.id">
                    <td ng-bind="r.name"></td>
                    <td ng-bind="r.email"></td>
                    <td ng-bind="r.sentDate | date:'d.M.yyyy HH:mm'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="$ctrl.otherReceivers.length > 0">
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <h4 translate="decision.revision.recipientsInformationRequest"></h4>
            </div>

            <div class="col-xs-6 text-right">
                <button class="btn btn-primary"
                        ng-if="$ctrl.hasInformationRequestLinkHandlingPermission()"
                        ng-click="$ctrl.openInformationRequestLinkSendingModal()">
                    <span translate="decision.revision.sendApplicationAndDecisionToInformationRequester"></span>
                    <span class="fa fa-fw fa-chevron-right"></span>
                </button>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-2" translate="decision.revision.linkType"></th>
                    <th class="col-xs-2" translate="decision.revision.recipientName"></th>
                    <th class="col-xs-2" translate="decision.revision.recipientEmail"></th>
                    <th class="col-xs-2" translate="decision.revision.linkOpenedCount"></th>
                    <th class="col-xs-4" colspan="2" translate="decision.revision.recipientSent"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in $ctrl.requestLinks track by r.id">
                    <td translate="decision.revision.{{r.linkType}}"></td>
                    <td ng-bind="r.recipientName"></td>
                    <td ng-bind="r.recipientEmail"></td>
                    <td ng-bind="r.linkOpenedCount"></td>
                    <td ng-bind="r.creationTime | date:'d.M.yyyy HH:mm'"></td>
                    <td class="text-right">
                        <button class="btn btn-danger btn-small"
                                ng-if="$ctrl.hasInformationRequestLinkHandlingPermission()"
                                ng-click="$ctrl.openInformationRequestLinkDeactivationModal(r)">
                            <span translate="decision.revision.deactivateInformationRequestLink"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
