<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th translate="harvestRegistry.item.species"></th>
            <th translate="harvestRegistry.item.amount"></th>
            <th ng-if="$ctrl.includedFields !== 'COMMON'" translate="harvestRegistry.item.shooterName"></th>
            <th ng-if="$ctrl.includedFields !== 'COMMON'" translate="harvestRegistry.item.shooterHunterNumber"></th>
            <th ng-if="$ctrl.includedFields === 'FULL'" translate="harvestRegistry.item.shooterAddress"></th>
            <th translate="harvestRegistry.item.date"></th>
            <th translate="harvestRegistry.item.timeOfDay"></th>
            <th translate="harvestRegistry.item.age"></th>
            <th translate="harvestRegistry.item.gender"></th>
            <th translate="harvestRegistry.item.weight"></th>
            <th translate="harvestRegistry.item.geoLocation"></th>
            <th ng-if="$ctrl.includedFields === 'FULL'" translate="harvestRegistry.item.harvestArea"></th>
            <th translate="harvestRegistry.item.municipality"></th>
            <th ng-if="$ctrl.includedFields === 'FULL'" translate="harvestRegistry.item.rka"></th>
            <th ng-if="$ctrl.includedFields === 'FULL'" translate="harvestRegistry.item.rhy"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in $ctrl.items">
            <td class="text-capitalize" ng-bind="::item.species | rI18nNameFilter">
            </td>
            <td ng-bind="::item.amount">
            </td>
            <td ng-if="$ctrl.includedFields !== 'COMMON'" style="width: 100px" ng-bind="::item.shooterName">
            </td>
            <td ng-if="$ctrl.includedFields !== 'COMMON'" ng-bind="::item.shooterHunterNumber">
            </td>
            <td  ng-if="$ctrl.includedFields === 'FULL'">
                <label ng-if="::item.shooterAddress">
                    <span ng-bind="::item.shooterAddress.streetAddress"></span><br/>
                    <span ng-bind="::item.shooterAddress.postalCode"></span>
                    <span ng-bind="::item.shooterAddress.city"></span><br/>
                    <span ng-bind="::item.shooterAddress.country"></span><br/>
                </label>
            </td>
            <td ng-bind="::(item.date | date: 'd.M.yyyy')"></td>
            <td ng-bind="::(item.time)"></td>
            <td>
                <span ng-if="::item.age">{{::('gamediary.age.' + item.age | translate)}}</span>
            </td>
            <td>
                <span ng-if="::item.gender">{{::('gamediary.gender.' + item.gender | translate)}}</span>
            </td>
            <td>
                <span ng-if="::item.weight">{{::item.weight}} kg</span>
            </td>
            <td>
                <div ng-if="::item.geoLocation" class="harvest-registry-table-location-column">
                    <label translate="global.geoLocation.plainCoordinatesText"
                            translate-values="::item.geoLocation"></label>
                    <button type="button" class="btn btn-default pull-right"
                            ng-click="$ctrl.showLocationDialog(item.geoLocation)">
                        <span class="fa fa-map-marker"></span>
                    </button>
                </div>
            </td>
            <td ng-if="$ctrl.includedFields === 'FULL'">
                <span ng-bind="::item.harvestArea| rI18nNameFilter"></span>
            </td>
            <td>
                <span ng-bind="::item.municipality | rI18nNameFilter"></span>
            </td>
            <td ng-if="$ctrl.includedFields === 'FULL'">
                <label style="width: 200px" ng-bind="::item.rka| rI18nNameFilter"></label>
            </td>
            <td ng-if="$ctrl.includedFields === 'FULL'">
                <label style="width: 250px" ng-bind="::item.rhy| rI18nNameFilter"></label>
            </td>
        </tr>

        </tbody>
    </table>

</div>
