<div class="r-club-hunting-layout sidebar-layout">
    <riista-sidebar-collapse></riista-sidebar-collapse>

    <div class="left-column">
        <uib-tabset type="pills" justified="true" active="$ctrl.activeTabIndex">
            <uib-tab classes="btn-lg" index="0">
                <uib-tab-heading>
                    <span class="count">{{ $ctrl.filteredDiary.length || 0 }}</span>
                    <span translate="club.hunting.tabHeaders.filters"></span><br/>
                </uib-tab-heading>

                <div class="wrapper">
                    <club-hunting-filters
                            on-filter-change="$ctrl.onFilterChange(filter)"></club-hunting-filters>

                    <div class="btn-group btn-group-justified buttons">
                        <a class="btn btn-info" ng-click="$ctrl.exportToExcel()">
                            <span class="glyphicon glyphicon-export"></span>
                            &nbsp;
                            <span translate="club.hunting.huntingDay.exportToExcel"></span>
                        </a>
                    </div>

                    <club-hunting-statistics
                            diary="$ctrl.filteredDiary"
                            show-observation="$ctrl.mooseGroupSelected">
                    </club-hunting-statistics>
                </div>
            </uib-tab>

            <uib-tab classes="btn-lg" index="1">
                <uib-tab-heading>
                    <span class="count">{{ $ctrl.filteredHuntingDays.length }}</span>
                    <span translate="club.hunting.tabHeaders.huntingDays"></span><br/>
                </uib-tab-heading>

                <club-hunting-list
                        hunting-days="$ctrl.filteredHuntingDays"
                        on-select-entry="$ctrl.selectEntry(diaryEntry, huntingDay)"
                        on-create-hunting-day="$ctrl.createHuntingDay(startDateAsString)"
                        on-edit-hunting-day="$ctrl.editHuntingDay(id)">
                </club-hunting-list>
            </uib-tab>
        </uib-tabset>
    </div>

    <div class="main-column">
        <div class="map-overlay-button-container">
            <button type="button"
                    ng-click="$ctrl.createHuntingDay(null)"
                    ng-show="$ctrl.isCreateHuntingDayVisible()"
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-calendar"></span>
                &nbsp;
                <span translate="club.hunting.createHuntingDay"></span>
            </button>
            <button type="button"
                    ng-click="$ctrl.addObservation()"
                    ng-show="$ctrl.isAddObservationVisible()"
                    class="btn btn-primary">
                <span r-binoculars-symbol></span>&nbsp;
                <span translate="gamediary.button.addObservation"></span>
            </button>
            <button type="button"
                    ng-click="$ctrl.addHarvest()"
                    ng-show="$ctrl.isAddHarvestVisible()"
                    class="btn btn-primary">
                <span class="fa fa-crosshairs"></span>&nbsp;
                <span translate="gamediary.button.addHarvest"></span>
            </button>
        </div>

        <club-hunting-map diary="$ctrl.filteredDiary"
                          hunting-area="$ctrl.huntingData.huntingArea"
                          default-bounds="$ctrl.rhyBounds"
                          force-bounds-calculation="$ctrl.forceBoundsCalculation"
                          on-marker-click="$ctrl.selectEntryById(type, id)">
        </club-hunting-map>
    </div>
</div>
