<form name="mammalJustificationForm" r-force-show-errors-check-validity>
    <div class="alert alert-info">
        <span class="fa fa-info-circle"></span>

        <div class="alert-content">
            <p class="alert-title" translate="harvestpermit.wizard.mammal.cause.instruction1"></p>
            <p translate="harvestpermit.wizard.mammal.cause.instruction2"></p>
        </div>
    </div>


</form>

<form name="deviationForm">

    <div ng-repeat="reason in $ctrl.reasons">

        <label>
            <strong ng-bind="::reason.speciesCodes | uppercase"></strong>
        </label>
        <br/>
        <div ng-switch="reason.lawSection">
            <span ng-switch-when="SECTION_41A" translate="harvestpermit.wizard.mammal.cause.reasonSection41A"></span>
            <span ng-switch-when="SECTION_41C" translate="harvestpermit.wizard.mammal.cause.reasonSection41C"></span>
        </div>
        <div class="form-group">
            <div class="checkbox" ng-repeat="sectionReason in reason.lawSectionReasons">
                <input type="checkbox" ng-model="sectionReason.checked">
                <span>{{::'harvestpermit.wizard.mammal.cause.' + sectionReason.reasonType | translate}}</span>
            </div>
        </div>

        <hr>
    </div>

</form>

<hr class="invisible">
<hr class="invisible">

<permit-application-wizard-navigation
        exit="$ctrl.exit(mammalJustificationForm)"
        previous="$ctrl.previous(mammalJustificationForm)"
        next-disabled="$ctrl.nextDisabled(mammalJustificationForm)"
        next="$ctrl.next()">
</permit-application-wizard-navigation>
