<p class="pull-right">
    <button class="btn btn-primary"
            ng-if="$ctrl.club.canEdit"
            ng-click="$ctrl.addMembersBulk()">
        <span class="glyphicon glyphicon-plus"></span> &nbsp;
        <span translate="club.genericMember.button.invite"></span>
    </button>
    <button class="btn btn-info"
            ng-if="$ctrl.club.canEdit"
            ng-click="$ctrl.exportMembers()">
        <span class="glyphicon glyphicon-export"></span>

        <span translate="club.genericMember.button.exportToExcel"></span>
    </button>
</p>

<div ng-if="$ctrl.invitations.length" class="table-responsive">
    <h3>
        <span translate="club.genericMember.titleInvite"></span>
        <span class="text-muted">({{ $ctrl.invitations.length }})</span>
    </h3>

    <club-invitation-list
            reload="$ctrl.reloadInvitations()"
            invitations="$ctrl.invitations"
            can-edit="$ctrl.club.canEdit">
    </club-invitation-list>
</div>

<h3>
    <span translate="club.genericMember.title"></span>
    <span class="text-muted">({{ $ctrl.members.length }})</span>
</h3>

<club-member-list
        reload="$ctrl.reloadMembers()"
        members="$ctrl.members"
        can-edit="$ctrl.club.canEdit">
</club-member-list>

