<div class="row">
    <div class="col-xs-6">
        <rhy-annual-statistics-state state="::$ctrl.statistics.state"
                                     rhy="::$ctrl.rhy"
                                     calendar-year="::$ctrl.calendarYear"
                                     submit-event="::$ctrl.statistics.submitEvent">
        </rhy-annual-statistics-state>
    </div>

    <div class="col-xs-6">
        <div class="row">
            <div class="r-annual-statistics-top-control">
                <div class="form-group">
                    <label for="yearSelection" class="control-label">
                        <span translate="global.year"></span>
                    </label>

                    <select name="yearSelection" id="yearSelection"
                            class="form-control r-annual-statistics-year-select"
                            ng-model="$ctrl.calendarYear"
                            ng-options="year for year in $ctrl.availableYears"
                            ng-change="$ctrl.onSelectedYearChanged()">

                        <option disabled value="">{{'global.selectCalendarYear' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="r-annual-statistics-top-control">
                <div class="btn-group" role="group" uib-dropdown dropdown-append-to-body>

                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                        <span translate="rhy.annualStats.button.exportToFile"></span>
                        &nbsp;
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li>
                            <a ng-click="$ctrl.exportToExcel()">
                                <span class="glyphicon glyphicon-th"></span>
                                &nbsp;
                                <span translate="rhy.annualStats.button.exportRhyToExcel"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.exportToPdf()">
                                <span class="fa fa-file-pdf-o"></span>
                                &nbsp;
                                <span translate="rhy.annualStats.button.exportRhyToPDF"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.exportAllAnnualStatisticsToExcel(false)">
                                <span class="glyphicon glyphicon-th"></span>
                                &nbsp;
                                <span translate="rhy.annualStats.button.exportAllToExcel"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.exportAllAnnualStatisticsToExcel(true)">
                                <span class="glyphicon glyphicon-th"></span>
                                &nbsp;
                                <span translate="rhy.annualStats.button.exportAllWithRkaGroupingToExcel"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="r-annual-statistics-top-control">
                <button type="button" class="btn btn-block btn-warning"
                        translate="rhy.annualStats.button.submitForInspection"
                        ng-confirm-click="{{'rhy.annualStats.message.submitConfirmation' | translate}}"
                        ng-confirm-click-action="$ctrl.submitForInspection()"
                        ng-if="$ctrl.isSubmitForInspectionButtonVisible()"
                        ng-disabled="$ctrl.isSubmittingForInspectionDisabled()"></button>

                <button type="button" class="btn btn-block btn-warning"
                        translate="rhy.annualStats.button.approve"
                        ng-confirm-click="{{'rhy.annualStats.message.approvalConfirmation' | translate}}"
                        ng-confirm-click-action="$ctrl.approve()"
                        ng-if="$ctrl.isApproveButtonVisible()"
                        ng-disabled="!$ctrl.statistics.completeForApproval"></button>

                <button type="button" class="btn btn-block btn-warning"
                        translate="rhy.annualStats.button.cancelApproval"
                        ng-confirm-click="{{'rhy.annualStats.message.cancelApprovalConfirmation' | translate}}"
                        ng-confirm-click-action="$ctrl.cancelApproval()"
                        ng-if="$ctrl.isCancelApprovalButtonVisible()"></button>
            </div>
        </div>
    </div>
</div>

<div class="r-annual-statistics-tabset">
    <rhy-annual-statistics-tabset active-tab="$ctrl.activeTab"
                                  on-active-tab-changed="$ctrl.onActiveTabChanged(activeTab)">
    </rhy-annual-statistics-tabset>
</div>

<div>
    <div ng-show="$ctrl.activeTab === 0">
        <annual-statistics-overview statistics="::$ctrl.statistics"
                                    is-editable="::($ctrl.isModerator && $ctrl.isEditable)">
        </annual-statistics-overview>
    </div>

    <div ng-show="$ctrl.activeTab === 1">
        <annual-administration-statistics statistics="::$ctrl.statistics"
                                          is-editable="::$ctrl.isEditable"
                                          is-moderator="::$ctrl.isModerator">
        </annual-administration-statistics>
    </div>

    <div ng-show="$ctrl.activeTab === 2">
        <annual-srva-statistics statistics="::$ctrl.statistics"
                                all-species-names="::$ctrl.allSpeciesNames">
        </annual-srva-statistics>
    </div>

    <div ng-show="$ctrl.activeTab === 3">
        <annual-training-statistics statistics="::$ctrl.statistics"
                                    is-editable="::$ctrl.isEditable"
                                    is-moderator="::$ctrl.isModerator">
        </annual-training-statistics>
    </div>

    <div ng-show="$ctrl.activeTab === 4">
        <annual-misc-statistics statistics="::$ctrl.statistics"
                                is-editable="::$ctrl.isEditable"
                                is-moderator="::$ctrl.isModerator">
        </annual-misc-statistics>
    </div>
</div>
