<form name="form" role="form" class="form form-inline" autocomplete="off" r-force-show-errors-check-validity>

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="{{::$ctrl.titleKey}}"></h3>
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th class="col-xs-6" translate="{{::$ctrl.header0}}"></th>
                    <th translate="{{::$ctrl.header1}}"></th>
                    <th translate="{{::$ctrl.header2}}"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in $ctrl.groups">
                    <td class="col-xs-6 vcenter" translate="{{::$ctrl.getGroupTitle(group)}}"></td>
                    <td>
                        <div class="form-group" show-errors>
                            <div class="input-group">
                                <input type="number" name="{{::group.value1Key}}" id="{{::group.value1Key}}"
                                       ng-min="$ctrl.getValue1Min(group)" ng-max="$ctrl.getValue1Max(group)" step="1"
                                       class="form-control no-spinner"
                                       ng-model="$ctrl.data[group.value1Key]"/>

                                <div class="input-group-addon">
                                    <span translate="{{::$ctrl.value1UnitKey}}"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" show-errors>
                            <div class="input-group">
                                <input type="number" name="{{::group.value2Key}}" id="{{::group.value2Key}}"
                                       ng-min="$ctrl.getValue2Min(group)" ng-max="$ctrl.getValue2Max(group)" step="1"
                                       class="form-control no-spinner"
                                       ng-model="$ctrl.data[group.value2Key]"/>

                                <div class="input-group-addon">
                                    <span translate="{{::$ctrl.value2UnitKey}}"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.save()"
                ng-disabled="form.$invalid"
                translate="global.button.save"></button>
    </div>
</form>
