<form name="invoiceSearchForm" ng-submit="$ctrl.search()">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="form-group">
                <label for="byNumberSearchType">
                    <span translate="jht.payments.invoice.byNumberSearchType"></span>
                </label>
                <select name="byNumberSearchType" id="byNumberSearchType" class="form-control"
                        ng-model="$ctrl.byNumberSearchType"
                        ng-change="$ctrl.onByNumberSearchTypeChanged()"
                        ng-options="('jht.payments.invoice.byNumberSearchTypes.' + option | translate) for option in $ctrl.byNumberSearchTypes">
                    <option value="">{{'jht.payments.invoice.selectByNumberSearchType' | translate}}</option>
                </select>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="form-group" ng-if="$ctrl.isInvoiceNumberFieldVisible()">
                <label for="invoiceNumber">
                    <span translate="jht.payments.invoice.byNumberSearchTypes.invoiceNumber"></span>
                </label>
                <input name="invoiceNumber" id="invoiceNumber" class="form-control"
                       type="number"
                       min="200000"
                       ng-model="$ctrl.filters.invoiceNumber"/>
            </div>

            <div class="form-group" ng-if="$ctrl.isCreditorReferenceFieldVisible()">
                <label for="creditorReference">
                    <span translate="jht.payments.invoice.byNumberSearchTypes.creditorReference"></span>
                </label>
                <input name="creditorReference" id="creditorReference" class="form-control"
                       type="text"
                       ng-model="$ctrl.filters.creditorReference"/>
            </div>

            <div class="form-group" ng-if="$ctrl.isApplicationNumberFieldVisible()">
                <label for="applicationNumber">
                    <span translate="jht.payments.invoice.byNumberSearchTypes.applicationNumber"></span>
                </label>
                <input name="applicationNumber" id="applicationNumber" class="form-control"
                       type="number"
                       min="10000"
                       ng-model="$ctrl.filters.applicationNumber"/>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="form-group">
                <label for="invoiceType">
                    <span translate="jht.payments.invoice.invoiceType"></span>
                </label>
                <select name="invoiceType" id="invoiceType" class="form-control"
                        ng-model="$ctrl.filters.type"
                        ng-options="('invoice.invoiceTypes.' + option | translate) for option in $ctrl.invoiceTypes"
                        ng-disabled="$ctrl.isExactNumberSearchActive()">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="form-group">
                <label for="deliveryType">
                    <span translate="invoice.deliveryType"></span>
                </label>
                <select name="deliveryType" id="deliveryType" class="form-control"
                        ng-model="$ctrl.filters.deliveryType"
                        ng-options="('invoice.deliveryTypes.' + option | translate) for option in $ctrl.deliveryTypes"
                        ng-disabled="$ctrl.isExactNumberSearchActive()">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="form-group">
                <label for="beginDate">
                    <span translate="global.beginDate"></span>
                </label>
                <div class="input-group" ng-controller="DatePickerController">
                    <input type="text" name="beginDate" id="beginDate"
                           class="form-control"
                           ng-model="$ctrl.filters.beginDate"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           max-date="$ctrl.filters.endDate"
                           ng-disabled="$ctrl.isExactNumberSearchActive()"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="toggleDatePopup($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="form-group">
                <label for="endDate">
                    <span translate="global.endDate"></span>
                </label>
                <div class="input-group" ng-controller="DatePickerController">
                    <input type="text" name="endDate" id="endDate"
                           class="form-control"
                           ng-model="$ctrl.filters.endDate"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           min-date="$ctrl.filters.beginDate"
                           max-date="today()"
                           ng-disabled="$ctrl.isExactNumberSearchActive()"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="toggleDatePopup($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="hidden-xs hidden-sm col-md-offset-3 col-md-3">
            <button type="submit" class="btn btn-primary btn-block invoice-search-button">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="global.button.search"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-6 col-xs-6 col-sm-offset-8 col-sm-4 hidden-md hidden-lg">
            <button type="submit" class="btn btn-primary btn-block invoice-search-button">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="global.button.search"></span>
            </button>
        </div>
    </div>

</form>
