<div class="invoice-view">
    <div class="modal-header">
        <h3 class="modal-title modal-title-invoice">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <span translate="invoice.invoice"></span>
                    <span ng-bind="::$ctrl.invoice.invoiceNumber"></span>
                </div>
                <div class="col-xs-5 col-md-5 {{::$ctrl.getStateClass()}}">
                    <span class="{{::$ctrl.getStateIcon()}}"></span>&nbsp;
                    <span>{{'invoice.states.' + $ctrl.invoice.state | translate}}</span>
                </div>
            </div>
        </h3>
        <button riista-modal-close></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-push-6 col-xs-6 col-md-push-0 col-md-3">
                <p class="column-title">
                    <span translate="global.sum"></span>
                </p>

                <div class="payment-amount-value" ng-bind="::$ctrl.invoice.paymentAmount | currency: '&euro;' : 2"></div>
            </div>

            <div class="col-xs-pull-6 col-xs-6 col-md-pull-0 col-md-5">
                <p class="column-title">
                    <span translate="invoice.recipient"></span>
                </p>

                <div class="invoice-text">
                    <div ng-bind="::$ctrl.invoice.invoiceRecipient.name"></div>
                    <div ng-bind="::$ctrl.invoice.invoiceRecipient.addressLine1"></div>
                    <div ng-bind="::$ctrl.invoice.invoiceRecipient.addressLine2"></div>
                </div>
            </div>

            <div class="col-xs-6 col-md-4">
                <p class="column-title">
                    <span translate="jht.payments.invoice.paymentDetails"></span>
                </p>

                <div class="invoice-text">
                    <table style="width: 100%;">
                        <tr>
                            <td><span translate="invoice.invoiceNumber"></span>:</td>
                            <td class="text-right" ng-bind="::$ctrl.invoice.invoiceNumber"></td>
                        </tr>
                        <tr>
                            <td><span translate="payment.creditorReference"></span>:</td>
                            <td class="text-right" ng-bind="::$ctrl.invoice.creditorReference"></td>
                        </tr>
                        <tr>
                            <td><span translate="global.date"></span>:</td>
                            <td class="text-right" ng-bind="::$ctrl.invoice.invoiceDate | date: 'd.M.yyyy'"></td>
                        </tr>
                        <tr>
                            <td><span translate="payment.dueDate"></span>:</td>
                            <td class="text-right" ng-bind="::$ctrl.invoice.dueDate | date: 'd.M.yyyy'"></td>
                        </tr>
                        <tr>
                            <td><span translate="invoice.deliveryType"></span>:</td>
                            <td class="text-right" ng-switch="$ctrl.invoice.electronicInvoicingEnabled">
                                <span ng-switch-when="true" translate="invoice.deliveryTypes.EMAIL"></span>
                                <span ng-switch-when="false" translate="invoice.deliveryTypes.LETTER"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-xs-6 col-md-offset-3 col-md-5">
                <p class="column-title">
                    <span translate="invoice.items"></span>
                </p>

                <div class="invoice-text">
                    <div>
                        <span translate="harvestpermit.decision.sectionId.decision"></span>
                        <span ng-bind="::$ctrl.invoice.permitNumber"></span>
                    </div>
                    <div ng-bind="'invoice.invoiceTypes.' + $ctrl.invoice.type | translate"></div>
                </div>
            </div>

            <div ng-if="::(!!$ctrl.invoice.fivaldiState)" class="col-xs-6 col-md-4">
                <p class="column-title">
                    <span>Fivaldi</span>
                </p>

                <div class="invoice-text">
                    <span class="{{::$ctrl.getFivaldiStateClass()}} {{::$ctrl.getFivaldiStateIcon()}}"></span>&nbsp;
                    <span ng-bind="'invoice.fivaldiStates.' + $ctrl.invoice.fivaldiState | translate"></span>
                </div>
            </div>
        </div>

        <div ng-if="$ctrl.invoice.events.length > 0" class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-9">
                <p class="column-title">
                    <span translate="jht.payments.invoice.events"></span>
                </p>

                <div class="alert alert-warning">
                    <table class="invoice-event-table">
                        <tr ng-repeat="event in $ctrl.invoice.events track by event.id">
                            <td class="text-nowrap" ng-bind="::event.eventTime | date:'d.M.yyyy HH:mm'"></td>
                            <td class="text-nowrap" ng-bind="::event.moderatorName"></td>
                            <td ng-bind="'invoice.stateChangeEventTypes.' + event.type | translate"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                ng-if="$ctrl.canDisableElectronicInvoicing()"
                ng-confirm-click="{{'jht.payments.invoice.confirm.disableElectronicInvoicing' | translate}}"
                ng-confirm-click-action="$ctrl.disableElectronicInvoicing()">

            <span class="fa fa-exclamation-triangle"></span>
            &nbsp;
            <span translate="jht.payments.invoice.button.disableElectronicInvoicing"></span>
        </button>

        <button type="button" class="btn btn-danger"
                ng-if="$ctrl.isPrintReminderButtonVisible()"
                ng-confirm-click="{{'jht.payments.invoice.confirm.printReminder' | translate}}"
                ng-confirm-click-action="$ctrl.printReminder()">

            <span class="fa fa-file-pdf-o"></span>
            &nbsp;
            <span translate="jht.payments.invoice.button.printReminder"></span>
        </button>

        <button type="button" class="btn btn-primary"
                ng-if="!$ctrl.invoice.electronicInvoicingEnabled"
                ng-click="$ctrl.downloadPdf()">

            <span class="fa fa-file-pdf-o"></span>
            &nbsp;
            <span translate="global.button.downloadPdf"></span>
        </button>

        <button type="button" class="btn btn-default" ng-click="$ctrl.openPermitDecision()">
            <span translate="jht.payments.invoice.button.openPermitDecision"></span>
            <span class="fa fa-fw fa-chevron-right"></span>
        </button>

        <button type="button" class="btn btn-default"
                ng-click="$ctrl.close()"
                translate="global.button.close"></button>
    </div>
</div>
