<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-info">
            <span class="fa fa-info-circle"></span>

            <div class="alert-content">
                <p class="alert-title" translate="harvestpermit.wizard.partners.instructionsTitle"></p>
                <p translate="harvestpermit.wizard.partners.instructions"></p>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="!$ctrl.partners || $ctrl.partners.length === 0">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="alert alert-danger">
            <p translate="harvestpermit.wizard.partners.table.empty"></p>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-2 col-xs-offset-1">
        <button type="button" class="btn btn-primary btn-block"
                ng-click="$ctrl.showAddPartner()">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;
            <span translate="harvestpermit.wizard.partners.button.addClubArea"></span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <harvest-permit-area-partner-area-list
                ng-if="$ctrl.partners && $ctrl.partners.length > 0"
                partners="$ctrl.partners"
                on-remove-partner="$ctrl.onPartnerRemove(id)"
                on-refresh-partner="$ctrl.onPartnerRefresh(id)">
        </harvest-permit-area-partner-area-list>
    </div>
</div>

<permit-application-wizard-navigation
        exit="$ctrl.exit()"
        previous="$ctrl.previous()"
        next="$ctrl.next()"
        next-disabled="$ctrl.areaSelectionEmpty()">
</permit-application-wizard-navigation>
