<form>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" name="showOnlyChanged" id="showOnlyChanged" ng-model="$ctrl.showOnlyChanged">
            <span translate="global.map.editor.tab.mml.showOnlyChanged"></span>
        </label>
    </div>
</form>

<button type="button" class="btn btn-default btn-block"
        style="margin-bottom: 10px"
        ng-click="$ctrl.showBulkInsert()">
    <span class="fa fa-lg fa-fw fa-filter"></span>
    <span translate="global.map.editor.tab.mml.massInsert"></span>
</button>

<p class="well well-sm" ng-if="$ctrl.isEmpty()">
    <span translate="global.map.editor.tab.mml.emptySelection"></span>
</p>

<div ng-if="!$ctrl.showOnlyChanged">
    <ul class="list-group" vs-repeat vs-scroll-parent=".left-column">
        <li class="list-group-item"
            ng-click="$ctrl.zoomFeature(f); $event.stopPropagation();"
            ng-repeat="f in $ctrl.getFeatureList() track by f.id"
            ng-mouseenter="$ctrl.setHighlight(f)"
            ng-mouseleave="$ctrl.removeHighlight(f)">

            <div class="row">
                <div class="col-xs-5">
                    <span ng-bind="f.properties.number | formatPropertyIdentifier"></span>
                </div>
                <div class="col-xs-4">
                    <strong ng-bind="f | featureAreaSize"></strong>
                    <span ng-show="f.properties.changed"
                          class="glyphicon glyphicon-warning-sign text-danger"></span>
                </div>
                <div class="col-xs-3 text-right">
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="$ctrl.removeFeature(f); $event.stopPropagation();">
                        <span translate="global.button.delete"></span>
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="alert alert-info"
     ng-show="$ctrl.showOnlyChanged"
     translate="global.map.editor.tab.mml.changedHelpText">
</div>

<div ng-if="$ctrl.showOnlyChanged">
    <ul class="list-group" vs-repeat vs-scroll-parent=".left-column">
        <li class="list-group-item"
            ng-click="$ctrl.zoomFeature(f); $event.stopPropagation();"
            ng-repeat="f in $ctrl.getFeatureList() | propertyFeaturesChanged track by f.id"
            ng-mouseenter="$ctrl.setHighlight(f)"
            ng-mouseleave="$ctrl.removeHighlight(f)">

            <div class="row">
                <div class="col-xs-5"
                     uib-tooltip="{{ ::('global.map.editor.tab.mml.tooltipPropertyNumber' | translate) }}">
                    <span ng-bind="f.properties.number | formatPropertyIdentifier"></span>
                    <br/>
                    <span ng-show="f.properties.number != f.properties.new_palsta_tunnus"
                          class="text-danger"
                          ng-bind="f.properties.new_palsta_tunnus | formatPropertyIdentifier"></span>
                </div>
                <div class="col-xs-4"
                     uib-tooltip="{{ ::('global.map.editor.tab.mml.tooltipAreaSize' | translate) }}">
                    <strong ng-bind="f | featureAreaSize"></strong>
                    <br/>

                    <div class="text-primary" ng-if="f.properties.diff_area > 0">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        <strong ng-bind="f | featureAreaSizeDiff"></strong>
                    </div>

                    <div class="text-danger" ng-if="f.properties.diff_area < 0">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <strong ng-bind="f | featureAreaSizeDiff"></strong>
                    </div>
                </div>
                <div class="col-xs-3 text-right">
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="$ctrl.updateChangedFeature(f); $event.stopPropagation();">
                        <span translate="global.map.editor.tab.mml.fix"></span>
                        <span class="glyphicon glyphicon-wrench text-info"></span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
