<div ng-if="$ctrl.okPropertyCount" class="alert alert-info">
    <span>{{'global.map.editor.tab.massInsert.okPropertyCount' | translate:{count:$ctrl.okPropertyCount} }}</span>
</div>

<div class="alert alert-danger"
     ng-if="$ctrl.invalidPropertyList && $ctrl.invalidPropertyList.length">
    <span translate="global.map.editor.tab.massInsert.propertyIdentifiersNotFound"></span>

    <div ng-repeat="p in $ctrl.invalidPropertyList">
        {{p | formatPropertyIdentifier}}
    </div>
</div>

<form name="propertyListForm">
    <div class="form-group" show-errors>
        <label class="control-label" for="propertyList">
            <span translate="global.map.editor.tab.massInsert.inputPropertyIdentifier"></span>
        </label>

        <textarea name="propertyList" id="propertyList"
                  focus-me
                  class="form-control"
                  ng-model="$ctrl.propertyList"
                  rows="10"
                  property-identifier-list
                  spellcheck="false"></textarea>

        <p class="help-block"
           ng-show="propertyListForm.propertyList.$invalid"
           translate="global.map.editor.tab.massInsert.placeholder"></p>
    </div>

    <button type="button" class="btn btn-block btn-primary"
            ng-disabled="propertyListForm.$invalid"
            ng-click="$ctrl.addPropertiesAsText(propertyListForm)"
            translate="global.button.add"></button>
</form>
