<div class="r-harvestreport-list">
    <div class="row">
        <a ng-click="createHarvestReportOnBehalf()" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> &nbsp;
            <span translate="harvestreport.button.createReportOnBehalf"></span>
        </a>
    </div>

    <form class="form form-horizontal">
        <div class="row">
            <div class="col-xs-3"><h5 translate="harvestreport.form.reportType"></h5></div>
            <div class="col-xs-2"><h5 translate="harvestreport.form.harvestarea"></h5></div>
            <div class="col-xs-2"><h5 translate="global.organisationType.RKA"></h5></div>
            <div class="col-xs-3"><h5 translate="global.organisationType.RHY"></h5></div>
            <div class="col-xs-2"><h5 translate="harvestreport.state.title"></h5></div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <select class="form-control" ng-model="selectedFieldOrSeason"
                        ng-options="o as o.name group by o.type for o in fieldsAndSeasons|orderBy:'name'"
                        ng-change="updateHarvestAreas(selectedFieldOrSeason)"
                        ie10-optgroup-fix>
                    <option value="">{{'harvestreport.admin.all'|translate}}</option>
                </select>
            </div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="harvestArea"
                        ng-options="ha as (ha | rI18nNameFilter) for ha in harvestAreas"
                        ie10-optgroup-fix
                        ng-disabled="!harvestAreas.length">
                    <option value="">{{'harvestreport.admin.all'|translate}}</option>
                </select>
            </div>
            <div class="col-xs-2">
                <select class="form-control" ng-model="area"
                        ng-options="a as a.name for a in areas"
                        ng-change="updateRhys(area)"
                        ie10-optgroup-fix>
                    <option value="">{{'harvestreport.admin.all'|translate}}</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="form-control" ng-model="rhy"
                        ng-options="r as r.name for r in rhys | orderBy:['name']"
                        ie10-optgroup-fix>
                    <option value="">{{'harvestreport.admin.all'|translate}}</option>
                </select>
            </div>
            <div class="col-xs-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="states.PROPOSED">
                        {{'harvestreport.state.PROPOSED'|translate}}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="states.SENT_FOR_APPROVAL">
                        {{'harvestreport.state.SENT_FOR_APPROVAL'|translate}}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="states.APPROVED"> {{'harvestreport.state.APPROVED'|translate}}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="states.REJECTED"> {{'harvestreport.state.REJECTED'|translate}}
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label for="beginDate" translate="global.beginDate"
                       class="control-label pull-right"></label>
            </div>
            <div class="col-xs-2">
                <div class="input-group" ng-controller="DatePickerController">
                    <input type="text" name="beginDate" id="beginDate"
                           class="form-control"
                           ng-model="dateRange.beginDate"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           max-date="dateRange.endDate"/>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="toggleDatePopup($event)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                </div>
            </div>
            <div class="col-xs-2">
                <label for="endDate" translate="global.endDate"
                       class="control-label pull-right"></label>
            </div>
            <div class="col-xs-2">
                <div class="input-group" ng-controller="DatePickerController">
                    <input type="text" name="endDate" id="endDate"
                           class="form-control"
                           ng-model="dateRange.endDate"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           min-date="dateRange.beginDate"/>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="toggleDatePopup($event)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                </div>
            </div>
        </div>

        <hr class="invisible">

        <div class="row">
            <div class="col-xs-3">
                <label for="descriptionSearch" translate="harvestreport.admin.textSearch"
                       class="control-label pull-right"></label>
            </div>
            <div class="col-xs-3">
                <input id="descriptionSearch" type="text" class="form-control" ng-model="textSearch">
            </div>
            <div class="col-xs-6">
                <span class="form-control-static help-block" translate="harvestreport.admin.textSearchHelp"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label for="permitNumberSearch" translate="harvestpermit.permitNumber"
                       class="control-label pull-right"></label>
            </div>
            <div class="col-xs-3">
                <input id="permitNumberSearch" type="text" class="form-control"
                       maxlength="18"
                       ng-model="permitNumberSearch">
            </div>
            <div class="col-xs-6">
                <span class="form-control-static help-block" translate="harvestpermit.admin.permitNumberHelp"></span>
            </div>
        </div>

    </form>

    <hr class="invisible"/>

    <div class="row">
        <div class="col-md-2">
            <form action="/api/v1/harvestreport/admin/search/excel" method="POST">
                <input type="hidden" name="json" value="{{postData}}"/>
                <input type="hidden" spring-csrf-cookie />

                <div class="form-group" ng-show="harvestReports">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> &nbsp;
                        <span translate="reporting.common.toExcel"></span>
                    </button>
                </div>
            </form>
        </div>

        <div class="col-md-9 text-center">
            <ul uib-pagination
                ng-show="pager.total > 0"
                ng-model="pager.page"
                ng-change="search(false)"
                total-items="pager.total"
                items-per-page="pager.pageSize"
                rotate="true"
                max-size="8"
                boundary-links="true"
                previous-text="{{'global.pager.previous' | translate}}"
                next-text="{{'global.pager.next' | translate}}"
                first-text="{{'global.pager.first' | translate}}"
                last-text="{{'global.pager.last' | translate}}"></ul>
        </div>

        <div class="col-md-1 text-right">
            <a ng-click="search(true)" class="btn btn-primary" ng-disabled="!canSearch()">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="harvestreport.admin.button.search"></span>
            </a>
        </div>
    </div>

    <div ng-hide="harvestReports.length" class="well" style="margin-top: 20px">
        <span translate="harvestreport.admin.noresults"></span>
    </div>

    <table ng-show="harvestReports.length" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th class="col-xs-1" translate="harvestreport.admin.state"></th>
            <th class="col-xs-1" translate="harvestreport.admin.pointOfTime"></th>
            <th class="col-xs-2" translate="harvestreport.admin.gameInfo"></th>
            <th class="col-xs-2" translate="harvestreport.admin.area"></th>
            <th class="col-xs-2" translate="harvestreport.form.author"></th>
            <th class="col-xs-2" translate="harvestreport.form.hunter"></th>
            <th class="col-xs-1" translate="harvestreport.form.creator"></th>
            <th class="col-xs-1"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="report in harvestReports">
            <td>
                <div harvest-report-state-to-class="report.state"
                     class="r-harvestreport-state-text">
                    {{ ::('harvestreport.state.' + report.state | translate) }}
                </div>
            </td>
            <td>{{ ::(report.pointOfTime | date:'d.M.yyyy HH:mm') }}</td>
            <td>
                <span r-harvest-report-specimen-or-permitted-species="report"></span>
            </td>
            <td>
                {{ ::(getHuntingArea(report)) }}<br/>
                {{ ::(getAreaName(report)) }}<br/>
                {{ ::(getRhyName(report)) }}
            </td>
            <td>{{ ::report.authorInfo.byName }} {{ ::report.authorInfo.lastName }}</td>
            <td>{{ ::report.hunterInfo.byName }} {{ ::report.hunterInfo.lastName }}</td>
            <td><span ng-if="report.creator">{{ ::report.creator }}</span></td>
            <td>
                <a ng-click="show(report)" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span class="glyphicon glyphicon-thumbs-down"></span> &nbsp;
                    <span translate="global.button.open"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
