<div class="alert alert-info">
    <span class="fa fa-info-circle"></span>

    <div class="alert-content">
        <p class="alert-title" translate="harvestpermit.wizard.bird.methods.instruction1"></p>
        <p translate="harvestpermit.wizard.bird.methods.instruction2"></p>
    </div>
</div>

<form name="methodsForm" r-force-show-errors-check-validity>
    <p>
        <label for="deviateSection32" translate="harvestpermit.wizard.bird.methods.deviate32Label"></label>
    </p>

    <bird-application-method-toggle toggle="$ctrl.toggle32"></bird-application-method-toggle>

    <div ng-if="$ctrl.toggle32">
        <label class="control-label" for="deviateSection32"
               translate="harvestpermit.wizard.bird.methods.deviateAdditionalDetails"></label>
        <div class="form-group" show-errors>
        <textarea class="form-control" rows="6"
                  name="deviateSection32" id="deviateSection32"
                  ng-model="$ctrl.forbiddenMethods.deviateSection32"
                  required></textarea>

            <p class="help-block has-error"
               ng-show="methodsForm.deviateSection32.$invalid && methodsForm.deviateSection32.$touched"
               ng-messages="methodsForm.deviateSection32.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <hr>

    <p translate="harvestpermit.wizard.bird.methods.deviate33Label"></p>

    <bird-application-method-toggle toggle="$ctrl.toggle33"></bird-application-method-toggle>

    <div ng-if="$ctrl.toggle33">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="$ctrl.forbiddenMethods.tapeRecorders">
                    {{'harvestpermit.wizard.bird.methods.tapeRecorders' |translate}}
                </label>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="control-label" for="deviateSection33"
                   translate="harvestpermit.wizard.bird.methods.otherMethod"></label>
            <textarea class="form-control" rows="6"
                      name="deviateSection33" id="deviateSection33"
                      ng-model="$ctrl.forbiddenMethods.deviateSection33"
                      ng-required="!$ctrl.forbiddenMethods.tapeRecorders"></textarea>

            <p class="help-block has-error"
               ng-show="methodsForm.deviateSection33.$invalid && methodsForm.deviateSection33.$touched"
               ng-messages="methodsForm.deviateSection33.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <hr>

    <p>
        <label for="deviateSection34" translate="harvestpermit.wizard.bird.methods.deviate34Label"></label>
    </p>

    <bird-application-method-toggle toggle="$ctrl.toggle34"></bird-application-method-toggle>

    <div ng-if="$ctrl.toggle34">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="$ctrl.forbiddenMethods.traps">
                    {{'harvestpermit.wizard.bird.methods.traps' |translate}}
                </label>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="control-label" for="deviateSection34"
                   translate="harvestpermit.wizard.bird.methods.otherMethod"></label>

            <textarea class="form-control" rows="6"
                      name="deviateSection34" id="deviateSection34"
                      ng-model="$ctrl.forbiddenMethods.deviateSection34"
                      ng-required="!$ctrl.forbiddenMethods.traps"></textarea>

            <p class="help-block has-error"
               ng-show="methodsForm.deviateSection34.$invalid && methodsForm.deviateSection34.$touched"
               ng-messages="methodsForm.deviateSection34.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <hr>

    <p>
        <label for="deviateSection35" translate="harvestpermit.wizard.bird.methods.deviate35Label"></label>
    </p>

    <bird-application-method-toggle toggle="$ctrl.toggle35"></bird-application-method-toggle>

    <div ng-if="$ctrl.toggle35">
        <label class="control-label" for="deviateSection35"
               translate="harvestpermit.wizard.bird.methods.deviateAdditionalDetails"></label>
        <div class="form-group" show-errors>
        <textarea class="form-control" rows="6"
                  name="deviateSection35" id="deviateSection35"
                  ng-model="$ctrl.forbiddenMethods.deviateSection35"
                  required></textarea>

            <p class="help-block has-error"
               ng-show="methodsForm.deviateSection35.$invalid && methodsForm.deviateSection35.$touched"
               ng-messages="methodsForm.deviateSection35.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <hr>

    <p>
        <label for="deviateSection51" translate="harvestpermit.wizard.bird.methods.deviate51Label"></label>
    </p>

    <bird-application-method-toggle toggle="$ctrl.toggle51"></bird-application-method-toggle>

    <div ng-if="$ctrl.toggle51">
        <label class="control-label" for="deviateSection51"
               translate="harvestpermit.wizard.bird.methods.deviateAdditionalDetails"></label>
        <div class="form-group" show-errors>
        <textarea class="form-control" rows="6"
                  name="deviateSection51" id="deviateSection51"
                  ng-model="$ctrl.forbiddenMethods.deviateSection51"
                  required></textarea>

            <p class="help-block has-error"
               ng-show="methodsForm.deviateSection51.$invalid && methodsForm.deviateSection51.$touched"
               ng-messages="methodsForm.deviateSection51.$error">
                <span ng-messages-include="common/errorMessages.html"></span>
            </p>
        </div>
    </div>

    <hr class="invisible">

    <div ng-if="$ctrl.showSpecies()">
        <p><strong translate="harvestpermit.wizard.bird.methods.methodJustification1"></strong></p>
        <p translate="harvestpermit.wizard.bird.methods.methodJustification2"></p>

        <div class="form-group"
             ng-repeat="a in $ctrl.forbiddenMethods.speciesJustifications"
             show-errors>
            <hr class="invisible">

            <label class="control-label" for="justification-{{a.gameSpeciesCode}}">
                <strong ng-bind="a.gameSpeciesCode | translateSpeciesCode | uppercase"></strong>
            </label>

            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-true-value="false"
                           ng-false-value="true"
                           ng-model="a.forbiddenMethodsUsed">
                    {{'harvestpermit.wizard.bird.methods.methodsNotInUseForSpecies' |translate}}
                </label>
            </div>

            <textarea ng-show="a.forbiddenMethodsUsed" class="form-control" rows="6"
                      name="justification-{{a.gameSpeciesCode}}"
                      id="justification-{{a.gameSpeciesCode}}"
                      ng-model="a.justification"
                      ng-required="a.forbiddenMethodsUsed"></textarea>
        </div>
    </div>

</form>

<permit-application-wizard-navigation
        exit="$ctrl.exit(methodsForm)"
        previous="$ctrl.previous(methodsForm)"
        next="$ctrl.next()"
        next-disabled="$ctrl.nextDisabled(methodsForm)">
</permit-application-wizard-navigation>
