<form name="form" role="form" class="form form-horizontal" autocomplete="off" ng-submit="$ctrl.save()">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="harvestpermit.wizard.applicant.selectPermitHolder"></h3>
    </div>

    <div class="modal-body">
        <a class="r-applicant-selection"
           ng-click="$ctrl.selectPermitHolderPerson(a)">
            <div class="h5">
                <span class="fa fa-user fa-2x"></span>
                <br>
                <span translate="harvestpermit.wizard.applicant.contactPerson"></span>
            </div>
        </a>
        <a class="r-applicant-selection"
           ng-repeat="a in $ctrl.permitHolderCandidates track by a.id"
           ng-click="$ctrl.selectPermitHolderClub(a)">
            <div class="h5">
                <span ng-if="!a.subtype" class="fa fa-question fa-2x"></span>
                <span ng-if="a.subtype == 'RY'" class="fa fa-university fa-2x"></span>
                <span ng-if="a.subtype == 'BUSINESS'" class="fa fa-briefcase fa-2x"></span>
                <span ng-if="a.subtype == 'PERSON'" class="fa fa-group fa-2x"></span>
                <br>
                <span ng-bind="a | rI18nNameFilter"></span>
            </div>
        </a>

        <div class="form-group" ng-if="$ctrl.moderator">
            <hr>
            <div class="h4 form-control-static col-xs-12">Hae seura asiakasnumerolla</div>

            <label for="codeQuery" class="col-xs-4 control-label">
                <span translate="account.profile.registerClub.searchByCode"></span>
            </label>

            <div class="col-xs-8">
                <input type="text" name="codeQuery" id="codeQuery"
                       focus-me
                       class="form-control"
                       ng-model="$ctrl.officialCodeSearch"
                       ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
                       minlength="7"
                       ng-change="$ctrl.searchByCode()"
                       autocomplete="off"/>
                <p class="help-block"
                   ng-show="modalCtrl.codeQueryPending"
                   translate="search.formatSearching"></p>
            </div>
        </div>
        <div ng-if="$ctrl.searchResultClub">
            <a class="r-applicant-selection"
               ng-click="$ctrl.selectPermitHolderClub($ctrl.searchResultClub)">
                <div class="h5">
                    <span ng-if="!$ctrl.searchResultClub.subtype" class="fa fa-question fa-2x"></span>
                    <span ng-if="$ctrl.searchResultClub.subtype == 'RY'" class="fa fa-university fa-2x"></span>
                    <span ng-if="$ctrl.searchResultClub.subtype == 'BUSINESS'" class="fa fa-briefcase fa-2x"></span>
                    <span ng-if="$ctrl.searchResultClub.subtype == 'PERSON'" class="fa fa-group fa-2x"></span>
                    <br>
                    <span ng-bind="$ctrl.searchResultClub | rI18nNameFilter"></span>
                </div>
            </a>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>
    </div>
</form>
