<form name="applicationNameForm" role="form"
      class="form form-horizontal" autocomplete="off"
      ng-submit="applicationNameForm.$valid && $ctrl.ok()">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title">
            <span class="text-muted" translate="harvestpermit.new.nameModal.title"></span>
        </h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <p class="col-xs-10" translate="harvestpermit.new.nameModal.instructions"></p>

            <div class="form-group" show-errors="{ trigger: 'keypress' }">
                <label for="applicationName" class="col-xs-4 control-label">
                    <span translate="harvestpermit.new.nameModal.nameLabel"></span>
                </label>

                <div class="col-xs-8">
                    <input name="applicationName" id="applicationName"
                           class="form-control"
                           minlength="5"
                           maxlength="255"
                           focus-me
                           required
                           ng-model="$ctrl.applicationName">

                    <p class="help-block has-error"
                       ng-show="applicationNameForm.applicationName.$invalid"
                       ng-messages="applicationNameForm.applicationName.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="harvestpermit.new.nameModal.cancel"></button>

        <button type="submit"
                ng-disabled="applicationNameForm.$invalid"
                class="btn btn-primary" translate="harvestpermit.new.nameModal.ok"></button>
    </div>
</form>
