<div class="col-md-6 col-xs-12  fa-border" style="margin-bottom: 20px">
    <img ng-src="/static/{{$ctrl.imagePath}}/512x512/{{$ctrl.imageFileName}}.jpg" width="192"
         height="192"/>
</div>

<div class="col-md-6 col-xs-12" style="margin-bottom: 20px; white-space: pre-line">
    <p>
        <strong>{{'harvestpermit.mine.applications.permitCategory.' + $ctrl.type.category| translate}}</strong>
    </p>
    <div ng-bind="$ctrl.type.instructions | rI18nNameFilter">
    </div>
    <hr class="invisible"/>
    <button ng-if="$ctrl.isActive()"
            ng-disabled="!$ctrl.hasPermission()"
            class="btn btn-primary"
            ng-click="$ctrl.onSelectType()"
            translate="harvestpermit.new.selectTypeButton">
    </button>

</div>
