<span ng-if="$ctrl.subtype == 'RY'" class="fa fa-university"></span>
<span ng-if="$ctrl.subtype == 'BUSINESS'" class="fa fa-briefcase"></span>
<span ng-if="$ctrl.subtype == 'PERSON'" class="fa fa-group"></span>
<span ng-if="$ctrl.subtype == null" class="fa fa-user"></span>
&nbsp;

<span translate="harvestpermit.wizard.applicant.permitHolder"></span>
<span ng-if="$ctrl.subtype == 'RY'" translate="harvestpermit.wizard.applicant.type.ry"></span>
<span ng-if="$ctrl.subtype == 'BUSINESS'" translate="harvestpermit.wizard.applicant.type.business"></span>
<span ng-if="$ctrl.subtype == 'PERSON'" translate="harvestpermit.wizard.applicant.type.club"></span>
<span ng-if="$ctrl.subtype == null" translate="harvestpermit.wizard.applicant.type.person"></span>
