<div class="row permit-application-wizard-container">
    <div class="col-xs-10 col-xs-offset-1">
        <button class="btn btn-default"
                ui-sref="profile.permits">
            <span class="fa fa-chevron-left"></span>
            &nbsp;
            <span translate="global.button.cancel"></span>
        </button>

        <permit-application-select-type ng-if="!$ctrl.typeSelected"
                                        application-types="$ctrl.applicationTypes"
                                        on-select="$ctrl.selectType(applicationType)">
        </permit-application-select-type>

        <permit-application-select-name ng-if="$ctrl.typeSelected"
                                        application-name="$ctrl.applicationName"
                                        selected-category="$ctrl.selectedCategory"
                                        selected-category-price="$ctrl.selectedCategoryPrice"
                                        on-create="$ctrl.createApplication(name)">
        </permit-application-select-name>
    </div>
</div>
