<form name="applicationNameForm">
    <h3 translate="harvestpermit.mine.applications.permitCategory.{{$ctrl.selectedCategory}}"></h3>

    <div class="row">
        <div class="col-md-9">
            <div class="form-group" show-errors>
                <label for="applicationName" class="control-label">
                    <span translate="harvestpermit.new.nameModal.nameLabel"></span>
                </label>

                <input name="applicationName" id="applicationName"
                       class="form-control"
                       ng-model="$ctrl.applicationName"
                       minlength="5"
                       maxlength="255"
                       focus-me
                       required/>

                <p class="help-block has-error"
                   ng-show="applicationNameForm.applicationName.$invalid"
                   ng-messages="applicationNameForm.applicationName.$error">
                    <span ng-messages-include="common/errorMessages.html"></span>
                </p>
            </div>
        </div>
    </div>

    <hr class="invisible">

    <p>
        <span>
            <strong translate="invoice.invoiceTypes.PERMIT_PROCESSING"></strong>
            <strong>: {{$ctrl.selectedCategoryPrice | currency : '&euro;' : 0}}</strong>
        </span>
    </p>
    <button class="btn btn-primary"
            ng-disabled="applicationNameForm.applicationName.$invalid || !$ctrl.hasPermission()"
            ng-click="$ctrl.onCreate({name : $ctrl.applicationName})">
        <span translate="harvestpermit.new.createButton"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</form>

<hr class="invisible"/>

<div class="alert alert-info">
    <div class="row">
        <div ng-switch="$ctrl.wizardType">
            <div ng-switch-when="mooselike" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.mooselikePath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="bird" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.birdPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="carnivore" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.carnivorePath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="mammal" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.mammalPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="nestremoval" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.nestRemovalPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="lawsectionten" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.lawSectionTenPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="weapontransportation" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.weaponTransportationPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="disability" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.disabilityPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="dogunleash" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.dogEventPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="dogdisturbance" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.dogEventPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="deportation" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.deportationPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="research" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.researchPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="importing" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.importingPath' | translate | withVersion"></div>
            </div>
            <div ng-switch-when="gamemanagement" class="col-xs-11">
                <div ng-include="'harvestpermit.new.instructions.gameManagementPath' | translate | withVersion"></div>
            </div>
        </div>
    </div>
</div>

