.permit-application-wizard-navigation {
  text-align: center;
  border-top: 1px solid @hr-border;
  padding-top: 20px;
  margin-top: 40px;

  @media (min-width: @screen-sm-min) {
    button + button {
      margin-left: 30px;
    }
  }
}

.permit-application-wizard-container {
  .panel-group .panel {
    margin-bottom: 15px;
  }

  .panel-heading {
    padding: 12px 15px;

    .panel-title {
      .glyphicon-chevron-down,
      .glyphicon-chevron-right {
        margin-right: 10px;
      }
    }

    .fa-check {
      font-size: 24px;
      line-height: 20px;
    }
  }

  .panel-body {
    padding: 20px 20px 0;
  }

  .alert {
    background-color: #F7F7F7;
    border-color: @table-border-color;
    margin: 10px 0 20px;
    padding: 15px 15px 10px;
    color: #555;
    overflow: auto;

    a {
      color: #000;
    }

    .alert-content {
      margin-left: 60px;
    }

    .alert-title {
      font-size: 18px;
      font-weight: bold;
    }

    .fa-info-circle {
      color: @brand-info;
      font-size: 48px;
      float: left;
    }

    .fa-exclamation-triangle {
      color: @brand-danger;
      font-size: 32px;
      float: left;
    }

    .fa-remove {
      color: @brand-danger;
    }
  }

  .applicant-data-section {
    .well;
    min-height: 140px;
  }

  .contact-person-data-section {
    .applicant-data-section;
    margin-top: 60px;
  }

}

.r-applicant-selection{
  .btn;
  .btn-default;
  width: 200px;
  height: 120px;
  margin: 5px;
  white-space: normal;
  padding-top: 15px;
  .fa {
    margin-bottom: 10px;
  }
}

.application-wizard-attachment-list {
  .left-column {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 100px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    > .attachment-logo {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: @brand-primary;
    }

    > .attachment-name {
      position: absolute;
      left: 55px;
      top: 50%;
      right: 45px;
      transform: translateY(-50%);
      overflow: hidden;
      text-overflow: ellipsis
    }

    > .remove-button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
