<hr />
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
        <button type="button" class="btn btn-default btn-lg"
                ng-disabled="$ctrl.previousDisabled()"
                ng-click="$ctrl.previous()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span translate="global.pager.previous"></span>
        </button>

        <button type="button" class="btn btn-warning btn-lg"
                ng-click="$ctrl.exit()">
            <span translate="harvestpermit.wizard.navigation.exit"></span>
        </button>

        <button type="button" class="btn btn-primary btn-lg"
                ng-disabled="$ctrl.nextDisabled()"
                ng-click="$ctrl.next()">
            <span ng-if="!$ctrl.nextTitle" translate="global.pager.next"></span>
            <span ng-if="$ctrl.nextTitle" ng-bind="::$ctrl.nextTitle | translate"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>
