.permit-application-wizard-container {
  .panel-group .panel {
    margin-bottom: 15px;
  }

  .panel-heading {
    padding: 12px 15px;

    .panel-title {
      .glyphicon-chevron-down,
      .glyphicon-chevron-right {
        margin-right: 10px;
      }
    }

    .fa-check {
      font-size: 24px;
      line-height: 20px;
    }
  }

  .panel-body {
    padding: 20px 20px 0;
  }

  .alert-info {
    background-color: #F7F7F7;
    border-color: @table-border-color;
    margin: 10px 0 20px;
    padding: 20px 20px 10px;
    color: #444;

    .alert-title {
      font-size: 20px;
      font-weight: bold;
    }

    .fa-info-circle {
      font-size: 50px;
      color: @brand-info;
    }
  }
}

.r-applicant-selection{
  .btn;
  .btn-default;
  width: 200px;
  height: 120px;
  margin: 5px;
  white-space: normal;
  padding-top: 15px;
  .fa {
    margin-bottom: 10px;
  }
}
