<div>
    <ul class="nav nav-pills">
        <li ng-repeat="role in roles" ng-class="{ active: isRoleSelected(role) }">
            <a ng-click="selectRole(role)">{{ 'global.role.' + role | translate }}</a>
        </li>
        <li class="pull-right">
            <button type="button" class="btn btn-primary" ng-click="create()">
                <span class="glyphicon glyphicon-plus"></span>
                <span translate="admin.users.create"></span>
            </button>
        </li>
    </ul>

    <hr class="invisible"/>

    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th translate="admin.users.username"></th>
                <th translate="admin.users.role"></th>
                <th translate="admin.users.email"></th>
                <th translate="admin.users.phonenumber"></th>
                <th translate="admin.users.firstname"></th>
                <th translate="admin.users.lastname"></th>
                <th/>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in page.content track by user.id">
                <td>{{user.username}}</td>
                <td>{{ ('global.role.' + user.role) | translate }}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td class="text-right r-table-actions-cell">
                    <button type="button" class="btn btn-link" ng-click="edit(user.id)">
                        <span class="glyphicon glyphicon-edit" title="{{'admin.users.edit' | translate}}"></span>
                    </button>
                    <button type="button" class="btn btn-link" ng-confirm-click="{{ 'admin.users.delete_confirm' | translate:{'username': user.username} }}"
                       ng-confirm-click-action="delete(user.id)"><span class="glyphicon glyphicon-remove " title="{{'admin.users.delete' | translate}}"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
