<div class="container-transparent r-login-container">

    <div class="text-center">
        <br/>
        <a href="/"><span class="r-logo r-logo-white">Oma Riista</span></a>
        <br/><br/>
        <div class="r-login-main-title" translate="main.title"></div>
        <br/>
    </div>

    <ul class="nav nav-tabs pull-right" ng-controller="LanguageController as $langCtrl">
        <li ng-class="{'active': $langCtrl.isSelected('fi')}">
            <a ng-click="$langCtrl.changeLanguage('fi')"><span translate="global.language.fi"></span></a>
        </li>
        <li ng-class="{'active': $langCtrl.isSelected('sv')}">
            <a ng-click="$langCtrl.changeLanguage('sv')"><span translate="global.language.sv"></span></a>
        </li>
        <li ng-class="{'active': $langCtrl.isSelected('en')}" show-in-development>
            <a ng-click="$langCtrl.changeLanguage('en')"><span translate="global.language.en"></span></a>
        </li>
    </ul>
    <div class="clearfix"></div>

    <div class="r-login-well">
        <h4 translate="login.title" class="text-center"></h4>

        <div growl inline="true"></div>

        <form class="form-horizontal" novalidate role="form" ng-submit="login()">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" name="username" id="username"
                           class="form-control"
                           required
                           autocorrect="off" autocapitalize="none"
                           autofocus="true" focus-me="true"
                           placeholder="{{'login.form.usernamePlaceholder' | translate}}"
                           ng-model="credentials.username"></div>
                <div class="col-sm-4">
                    <input type="password" name="password" id="password"
                           class="form-control"
                           required
                           autocomplete="off"
                           placeholder="{{'login.form.passwordPlaceholder' | translate}}"
                           ng-model="credentials.password"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary btn-block">
                        <span translate="login.form.button"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 text-center form-control-static">
                    <a ui-sref="registration-email-changed" translate="login.emailChanged"></a>
                </div>
                <div class="col-sm-4 text-center form-control-static">
                    <a ui-sref="recoverPassword" translate="login.recoverPassword"></a>
                </div>
                <div class="col-sm-4 text-center checkbox">
                    <label>
                        <input type="checkbox" ng-model="credentials.rememberMe" checked>
                        <span translate="login.form.rememberme"></span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="r-login-well-lower row">
        <div class="col-sm-12 text-center">
            <button class="r-login-create-account" ui-sref="registration-send-email" translate="login.register"></button>
        </div>
        <div class="col-sm-12 text-center ">
            <a href="{{'login.instructionsLink' | translate}}" target="_blank" translate="login.instructionsTitle"></a>
        </div>
    </div>
</div>
<div class="container r-twitter-feed-container text-center twitter-feed-container">
        <h3 class="text-center" translate="main.news"></h3>
        <br/>
        <a class="twitter-timeline"
           data-chrome="noheader nofooter transparent"
           height="267px"
           data-widget-id="464632970985209856"
           data-dnt="true"
           href="https://twitter.com/omariistafi">Twiittejä käyttäjältä @omariistafi</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
