<form name="form" role="form" novalidate class="form" ng-submit="submit()">
    <div class="modal-header">
        <h3 class="modal-title" translate="login.otp.title"></h3>
    </div>

    <div class="modal-body">
        <p translate="login.otp.instructionText"></p>

        <hr class="invisible"/>

        <div class="form-group text-center" show-errors>
            <label for="otp" class="control-label">
                <span translate="login.otp.codeLabel"></span>
            </label>

            <input type="text" name="otp" id="otp"
                   class="form-control input-lg"
                   focus-me
                   maxlength="6"
                   required
                   ng-model="formData.otp"
                   ng-pattern="/^\d{6}$/">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()"
                translate="global.button.cancel"></button>

        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid"
                translate="global.button.ok"></button>
    </div>
</form>
