<button type="button"
        class="btn btn-default"
        ng-if="::(!moderator || !showModeratorButtons)"
        ng-click="::(viewHarvest())">
    <span ng-if="!harvest._showThisHarvest" translate="global.button.open"></span>
    <span ng-if="harvest._showThisHarvest" translate="global.button.close"></span>
</button>

<div class="btn-group"
     uib-dropdown
     ng-if="::(moderator && showModeratorButtons)">
    <button type="button"
            class="btn btn-default"
            ng-click="::(viewHarvest())">
        <span ng-if="!harvest._showThisHarvest" translate="global.button.open"></span>
        <span ng-if="harvest._showThisHarvest" translate="global.button.close"></span>
    </button>
    <button type="button"
            class="btn btn-default"
            uib-dropdown-toggle>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
        <li><a ng-click="::(createCopy())">Luo kopio</a></li>
        <li class="divider" ng-if="::harvest.creator"></li>
        <li ng-if="::(harvest.creator && harvest.canModeratorDelete)">
            <a ng-confirm-click ng-confirm-click-action="::(delete())">
                <span class="glyphicon glyphicon-remove"></span>
                <span translate="global.button.delete"></span>
            </a>
        </li>
        <li ng-if="::(harvest.creator && !harvest.canModeratorDelete)" class="disabled">
            <a>
                <span class="glyphicon glyphicon-remove"></span>
                <span translate="global.button.delete"></span>
            </a>
        </li>
    </ul>
</div>
