<h5 translate="gamediary.form.titleShowSpecimens"></h5>

<div class="r-gamediary-entry-description">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th translate="gamediary.form.gender"></th>
            <th translate="gamediary.form.age"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="specimen in $ctrl.entry.specimens">
            <td>
                <span ng-if="specimen.gender">{{ 'gamediary.gender.' + specimen.gender | translate }}</span>
                <span ng-if="!specimen.gender">-</span>
            </td>
            <td>
                <span ng-if="specimen.age">{{ specimen.age | gameAge: $ctrl.entry.gameSpeciesCode }}</span>
                <span ng-if="!specimen.age">-</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
