<h5 translate="gamediary.form.titleShowSpecimens"></h5>

<div class="r-gamediary-entry-description" ng-if="!$ctrl.showMooselikeObservationAmounts()">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th ng-if="$ctrl.isGenderVisible" translate="gamediary.form.gender"></th>
            <th ng-if="$ctrl.isAgeVisible" translate="gamediary.form.age"></th>
            <th ng-if="$ctrl.isStateVisible" translate="global.state"></th>
            <th ng-if="$ctrl.isMarkingVisible" translate="global.marking"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="specimen in $ctrl.entry.specimens">
            <td ng-if="$ctrl.isGenderVisible">
                <span ng-if="specimen.gender">{{ 'gamediary.gender.' + specimen.gender | translate }}</span>
                <span ng-if="!specimen.gender">-</span>
            </td>
            <td ng-if="$ctrl.isAgeVisible">
                <span ng-if="specimen.age">{{ specimen.age | gameAge: $ctrl.entry.gameSpeciesCode }}</span>
                <span ng-if="!specimen.age">-</span>
            </td>
            <td ng-if="$ctrl.isStateVisible">
                <span ng-if="specimen.state">{{ 'observation.gamestate.' + specimen.state | translate }}</span>
                <span ng-if="!specimen.state">-</span>
            </td>
            <td ng-if="$ctrl.isMarkingVisible">
                <span ng-if="specimen.marking">{{ 'observation.marking.' + specimen.marking | translate }}</span>
                <span ng-if="!specimen.marking">-</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-if="$ctrl.showMooselikeObservationAmounts()">
    <table class="table">
        <thead>
        <tr>
            <th translate="gamediary.mooselikeAbbrv.mooselikeMaleAmount"></th>
            <th translate="gamediary.mooselikeAbbrv.mooselikeFemaleAmount"></th>
            <th translate="gamediary.mooselikeAbbrv.mooselikeFemale1CalfAmount"></th>
            <th translate="gamediary.mooselikeAbbrv.mooselikeFemale2CalfsAmount"></th>
            <th translate="gamediary.mooselikeAbbrv.mooselikeFemale3CalfsAmount"></th>
            <th ng-if="!$ctrl.entry.isMoose()" translate="gamediary.mooselikeAbbrv.mooselikeFemale4CalfsAmount"></th>
            <th translate="gamediary.mooselikeAbbrv.mooselikeUnknownSpecimenAmount"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ $ctrl.entry.mooselikeMaleAmount }}</td>
            <td>{{ $ctrl.entry.mooselikeFemaleAmount }}</td>
            <td>{{ $ctrl.entry.mooselikeFemale1CalfAmount }}</td>
            <td>{{ $ctrl.entry.mooselikeFemale2CalfsAmount }}</td>
            <td>{{ $ctrl.entry.mooselikeFemale3CalfsAmount }}</td>
            <td ng-if="!$ctrl.entry.isMoose()">{{ $ctrl.entry.mooselikeFemale4CalfsAmount }}</td>
            <td>{{ $ctrl.entry.mooselikeUnknownSpecimenAmount }}</td>
        </tr>
        </tbody>
    </table>
</div>