<li uib-dropdown class="r-role-nav">
    <a uib-dropdown-toggle>
        <div class="role-logo"
             ng-if="$ctrl.selectedRole()">
            <span class="fa fa-fw" ng-class="$ctrl.getRoleLogo($ctrl.selectedRole())"></span>
        </div>

        <div class="role-title"
             ng-if="$ctrl.selectedRole()">
            <span ng-bind="'global.role.' + $ctrl.selectedRole().type | translate"></span>
            <br/>
            <strong ng-bind="$ctrl.getRoleDisplayName($ctrl.selectedRole()) | uppercase"></strong>
        </div>

        <b class="caret"></b>
    </a>

    <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="role in $ctrl.roles()"
            ng-click="$ctrl.selectRole(role)"
            ng-class="{'active': $ctrl.isSelectedRole(role)}">
            <a>
                <div class="role-logo">
                    <span class="fa fa-fw"
                          ng-class="::$ctrl.getRoleLogo(role)"></span>
                </div>

                <div class="role-title">
                    <span translate="global.role.{{::role.type}}"></span>
                    <br/>
                    <strong ng-bind="::$ctrl.getRoleDisplayName(role)"></strong>
                </div>
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a ui-sref="logout">
                <div class="role-logo" style="top: -2px">
                    <span class="fa fa-fw fa-sign-out"></span>
                </div>

                <div class="role-title">
                    <strong translate="global.menu.account.logout"></strong>
                </div>
            </a>
        </li>
    </ul>
</li>
