<li uib-dropdown class="r-role-nav">
    <a uib-dropdown-toggle>
        <div ng-if="$ctrl.getActiveRole()">
            <div class="role-logo">
                <span class="fa fa-fw" ng-class="$ctrl.getActiveRoleLogo()"></span>
            </div>

            <div class="role-title">
                <span translate="global.role.{{$ctrl.getActiveRoleType()}}"></span>
                <br/>
                <strong ng-bind="$ctrl.getActiveRoleDisplayName() | uppercase"></strong>
            </div>
        </div>

        <b class="caret"></b>
    </a>

    <ul class="dropdown-menu" uib-dropdown-menu>
        <li ng-repeat="role in $ctrl.getAvailableRoles()"
            ng-click="$ctrl.selectRole(role)"
            ng-class="{'active': $ctrl.isSelectedRole(role)}">
            <a>
                <div class="role-logo">
                    <span class="fa fa-fw"
                          ng-class="::$ctrl.getRoleLogo(role)"></span>
                </div>

                <div class="role-title">
                    <span translate="global.role.{{::role.type}}"></span>
                    <br/>
                    <strong ng-bind="::$ctrl.getRoleDisplayName(role)"></strong>
                </div>
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a ng-click="$ctrl.logout()">
                <div class="role-logo" style="top: -2px">
                    <span class="fa fa-fw fa-sign-out"></span>
                </div>

                <div class="role-title">
                    <strong translate="global.menu.account.logout"></strong>
                </div>
            </a>
        </li>
    </ul>
</li>
