<table class="table">
    <tbody>
    <tr>
        <td colspan="2" name-translated="$ctrl.application.rhy"></td>
    </tr>
    <tr>
        <th translate="harvestpermit.application.speciesList"></th>
        <td class="text-right">
            <strong ng-bind="::$ctrl.speciesNames"></strong>
        </td>
    </tr>
    <tr>
        <th translate="harvestpermit.application.application"></th>
        <td class="text-right">
            <div uib-tooltip="{{'harvestpermit.application.application' | translate}}"
                 tooltip-placement="left">
                <a ng-show="$ctrl.application.huntingYear >= 2018"
                   ng-click="$ctrl.zip()">
                    <i class="fa fa-2x fa-fw fa-file-archive-o"></i>
                </a>

                <a ng-show="$ctrl.application.huntingYear < 2018"
                   ng-click="$ctrl.pdf()">
                    <i class="fa fa-2x fa-fw fa-file-pdf-o"></i>
                </a>
            </div>
        </td>
    </tr>

    <tr ng-if="$ctrl.application.areaSize">
        <th translate="global.map.size.landAreaSize"></th>
        <td class="text-right">
            <span ng-bind="$ctrl.application.areaSize.all.land | prettyAreaSize:0"></span>
        </td>
    </tr>
    </tbody>
</table>
