<table class="table">
    <tbody>
    <tr>
        <td colspan="2" name-translated="$ctrl.application.rhy"></td>
    </tr>
    <tr>
        <th translate="harvestpermit.application.speciesList"></th>
        <td class="text-right">
            <strong ng-bind="::$ctrl.speciesNames"></strong>
        </td>
    </tr>
    <tr>
        <th translate="harvestpermit.application.application"></th>
        <td class="text-right">
            <div uib-tooltip="{{'harvestpermit.application.application' | translate}}"
                 tooltip-placement="left">
                <button type="button" class="btn btn-link btn-sm"
                        ng-click="$ctrl.zip()">
                    <span class="fa fa-download fa-lg"></span>
                </button>
            </div>
        </td>
    </tr>

    <tr ng-if="$ctrl.application.areaSize">
        <th translate="club.area.landAreaSize"></th>
        <td class="text-right">
            <span ng-bind="$ctrl.application.areaSize.all.land | prettyAreaSize:0"></span>
        </td>
    </tr>
    </tbody>
</table>
