.container {
    margin: 0;
    max-width: 100%;
    padding: 20px;
}

.dropzone {
    background: #fafafa;
    border: 2px dashed #007236;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 54px;
}

.dropzone .dz-message {
    font-size: 18px;
    font-weight: 400;
}

.dropzone .dz-preview {
    width: 155px;
}

.dropzone .dz-preview .dz-image {
    width: 155px;
}

.dropzone .dz-preview .dz-details {
    padding: 1em 1em;
}

.dropzone .dz-preview .dz-details .dz-filename {
    font-size: 12px;
    height: 70px;
    white-space: normal;
}

.dropzone .dz-preview .dz-details .dz-size {
    font-size: 14px;
}

.dropzone .dz-preview.dz-processing > .dz-progress {
    visibility: visible;
}

.dropzone .dz-preview:not(.dz-processing) > .dz-progress {
    visibility: hidden;
}

.dropzone .dz-preview.dz-processing > .dz-remove,
.dropzone .dz-preview.dz-success > .dz-remove,
.dropzone .dz-preview.dz-error > .dz-remove,
.dropzone .dz-preview.dz-complete > .dz-remove {
    visibility: hidden;
}

.uploads-info-container > ul {
    list-style: none;
    padding-left: 15px;
}

.uploads-info-container li {
    padding-left: 15px;
}

.upload-item {
    padding-bottom: 10px;
}

.upload-item > ul {
    list-style-type: disc;
}

.upload-item .upload-item-filename {
    font-weight: 700;
}

.upload-item .upload-item-failure-message {
    color: #D7245A;
}
