<div class="row">
    <div class="col-xs-12 col-sm-6">
        <show-shooting-test-event-info event="::$ctrl.event"
                                       has-update-permission="::$ctrl.hasUpdatePermission"
                                       open-official-assign-dialog="$ctrl.openEvent()"
                                       reload="$ctrl.reloadState()">
        </show-shooting-test-event-info>
    </div>

    <div class="col-xs-12 col-sm-6" ng-if="::$ctrl.isEventOpened">
        <show-shooting-test-event-workflow-summary total-paid-amount="::$ctrl.event.totalPaidAmount"
                                                   last-modifier="::$ctrl.event.lastModifier">
        </show-shooting-test-event-workflow-summary>
    </div>
</div>

<div class="row" ng-if="::$ctrl.isEventOpened">
    <hr class="invisible"/>

    <div class="col-xs-12 col-md-6">
        <show-shooting-test-event-officials shooting-test-event-id="::$ctrl.event.shootingTestEventId"
                                            officials="::$ctrl.event.officials"
                                            can-update-officials="::$ctrl.canUpdateOfficials"
                                            reload="$ctrl.reloadState()">
        </show-shooting-test-event-officials>
    </div>
</div>
