<form name="form" role="form" class="form form-horizontal" autocomplete="off" r-force-show-errors-check-validity>

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" translate="harvestpermit.derogation.derogationReasonTitle"></h3>
    </div>

    <div class="modal-body">
        <div class="form-group" ng-repeat="reason in $ctrl.derogationReasons">
            <div class="col-xs-10 col-xs-offset-1">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="reason.checked">
                        <span translate="harvestpermit.derogation.reason.{{reason.reasonType}}"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()"
                translate="global.button.cancel"></button>

        <button type="button" class="btn btn-primary"
                ng-click="$ctrl.save()"
                ng-disabled="form.$invalid"
                translate="global.button.save"></button>
    </div>
</form>
