<div class="panel panel-decision">
    <div class="panel-heading">
        <p class="panel-title" translate="harvestpermit.derogation.derogationReasonTitle"></p>
    </div>

    <div class="panel-body">
        <div class="pull-right">
            <a ng-show="$ctrl.canEditContent"
               ng-click="$ctrl.updateDerogationReasons()">
                <span class="fa fa-2x fa-edit text-primary"></span>
            </a>
        </div>


        <ul ng-repeat="lawSection in $ctrl.derogationLawSections">
            <h5 translate="harvestpermit.derogation.reason.{{lawSection.lawSection}}"></h5>
            <p ng-if="::$ctrl.getSelectedReasons(lawSection).length === 0"
               class="text-danger"
               translate="harvestpermit.derogation.nothingSelectedInstruction">
            </p>
            <li ng-repeat="reason in lawSection.reasons" ng-if="reason.checked">
                <span translate="harvestpermit.derogation.reason.{{reason.reasonType}}"></span>
            </li>
        </ul>
    </div>
</div>
