<div ng-switch="$ctrl.showGrantStatusHeader">
    <permit-decision-section-header
            ng-switch-when="false"
            decision="$ctrl.decision"
            section-id="$ctrl.sectionId"
            deny-complete="$ctrl.denyComplete()">
    </permit-decision-section-header>
    <permit-decision-section-header-with-grant-status
            ng-switch-when="true"
            decision="$ctrl.decision"
            section-id="$ctrl.sectionId"
            deny-complete="$ctrl.denyComplete()">
    </permit-decision-section-header-with-grant-status>
</div>

<div ng-switch="$ctrl.decision.decisionType">
    <div ng-switch-when="HARVEST_PERMIT">
        <div ng-if="$ctrl.showProtectedAreaTypes">
            <permit-decision-protected-area-types decision-id="$ctrl.decision.id"
                                                  can-edit-content="$ctrl.canEditContent()"
                                                  protected-area-types="$ctrl.protectedAreaTypes">
            </permit-decision-protected-area-types>
        </div>

        <div ng-if="$ctrl.showLegalFields">
            <permit-decision-legal-fields decision-id="$ctrl.decision.id"
                                          can-edit-content="$ctrl.canEditContent()"
                                          legal-fields="$ctrl.legalFields">
            </permit-decision-legal-fields>
        </div>

        <permit-decision-species-amounts
                ng-if="$ctrl.showSpeciesAmounts"
                decision-id="$ctrl.decision.id"
                permit-type-code="$ctrl.decision.permitTypeCode"
                can-edit-content="$ctrl.canEditContent()"
                species-amounts="$ctrl.speciesAmounts"
                harvest-permit-category="$ctrl.decision.harvestPermitCategory">
        </permit-decision-species-amounts>


        <button type="button" class="permit-decision-type-change-button"
                ng-if="$ctrl.canChangePermitTypeCode()"
                ng-show="$ctrl.decision.status === 'DRAFT'"
                ng-click="$ctrl.changePermitTypeCode()">
            <span ng-show="$ctrl.alternatePermitTypeCode === 'FORBIDDEN_METHOD'"
                  translate="decision.buttons.permitTypeCode.forbiddenMethod"></span>
            <span ng-show="$ctrl.alternatePermitTypeCode === 'ORIGINAL'"
                  translate="decision.buttons.permitTypeCode.original"></span>
        </button>

        <div ng-if="$ctrl.showDerogationReasons">
            <permit-decision-derogation-reasons decision-id="$ctrl.decision.id"
                                                can-edit-content="$ctrl.canEditContent()"
                                                derogation-law-sections="$ctrl.derogationLawSections">
            </permit-decision-derogation-reasons>
        </div>
    </div>
</div>

<permit-decision-document-text-section
        section-id="$ctrl.extraSectionId"
        decision="$ctrl.decision"
        reference="$ctrl.reference">
</permit-decision-document-text-section>
