<table class="table r-decision-species-table">
    <thead>
    <tr>
        <th colspan="4" translate="decision.species.title"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="s in $ctrl.speciesList track by s.code">
        <td>
            <span class="r-decision-table-species-name" ng-bind="::(s.code | translateSpeciesCode)"></span>
        </td>
        <td class="r-permit-decision-table-amount-column">
           <permit-decision-species-amount-details get-amounts="$ctrl.getAmountByCode(s.code)">
        </td>
        <td>
            <a class="edit-link"
               ng-if="$ctrl.canEditContent"
               ng-click="$ctrl.editSpeciesAmounts(s.code)">
                <div class="logo">
                    <span ng-hide="s.amountComplete" class="fa fa-fw fa-2x fa-edit"></span>
                    <span ng-show="s.amountComplete" class="fa fa-fw fa-2x fa-check-circle"></span>
                </div>

                <div class="text">
                    Määrät ja
                    <br/>
                    aika
                </div>
            </a>
        </td>
        <td>
            <a class="edit-link"

               ng-click="$ctrl.editForbiddenMethods(s.code)">
                <div class="logo">
                    <span ng-hide="s.forbiddenMethodComplete" class="fa fa-fw fa-2x fa-edit"></span>
                    <span ng-show="s.forbiddenMethodComplete" class="fa fa-fw fa-2x fa-check-circle"></span>
                </div>
                <div class="text">
                    Kielletyt <br/>
                    menetelmät
                </div>
            </a>
        </td>
    </tr>
    </tbody>
</table>
