<div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <span class="hidden-xs">
                <span translate="global.year"></span>
                <span>&nbsp;&nbsp;</span>
            </span>
            <select name="yearSelection" id="yearSelection"
                    class="form-control decision-year-select"
                    ng-model="$ctrl.year"
                    ng-options="year for year in ::$ctrl.yearOptions"
                    ng-change="$ctrl.loadStatistics()">
                <option disabled value="">{{'global.selectCalendarYear' | translate}}</option>
            </select>
        </div>
    </div>
    <div class="col-xs-offset-4 col-xs-4 text-right">
        <button type="button" ng-click="$ctrl.exportToExcel()" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> &nbsp;
            <span translate="reporting.common.toExcel"></span>
        </button>
    </div>
</div>

<slice-pager slice="$ctrl.pageInfo" load-page="$ctrl.selectPage(page)"></slice-pager>

<div class="reporting-applications">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th colspan="3" ng-repeat="categoryStatus in $ctrl.stats[0].categoryStatuses track by $index">
                <span translate="harvestpermit.admin.application.menu.statusTableHeadings.{{categoryStatus.category}}.row1"></span><br>
                <span translate="harvestpermit.admin.application.menu.statusTableHeadings.{{categoryStatus.category}}.row2"></span><br>
                <span translate="harvestpermit.admin.application.menu.statusTableHeadings.{{categoryStatus.category}}.row3"></span>
            </th>
        </tr>
        <tr>
            <th>Alue</th>

            <th ng-repeat-start="n in [].constructor($ctrl.stats[0].categoryStatuses.length) track by $index">H</th>
            <th>K</th>
            <th ng-repeat-end>V</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="stat in $ctrl.stats track by $index">
            <td>
                <span ng-bind="stat.rka.officialCode"></span>
                <span name-translated="stat.rka"></span>
            </td>

            <td ng-repeat-start="categoryStatus in stat.categoryStatuses track by $index">
                <span class="{{$ctrl.getClass(categoryStatus.statuses.H)}}"
                      ng-bind="categoryStatus.statuses.H"></span></td>
            <td><span class="{{$ctrl.getClass(categoryStatus.statuses.K)}}"
                      ng-bind="categoryStatus.statuses.K"></span></td>
            <td ng-repeat-end><span ng-bind="categoryStatus.statuses.V"></span></td>
        </tr>
        </tbody>
    </table>
</div>
