<form ng-submit="$ctrl.search()">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label translate="harvestpermit.application.selectedYear"></label>
                <select name="yearSelect" id="yearSelect"
                        class="form-control"
                        ng-model="$ctrl.filters.huntingYear"
                        ng-disabled="$ctrl.filters.applicationNumber"
                        ng-options="year.year as year.name for year in $ctrl.huntingYears | orderBy:'year'">
                </select>
            </div>
            <div class="form-group">
                <label translate="harvestpermit.application.selectedSpecies"></label>
                <select name="gameSpecies" id="gameSpecies"
                        class="form-control"
                        ng-model="$ctrl.filters.gameSpeciesCode"
                        ng-disabled="$ctrl.filters.applicationNumber"
                        ng-options="s.code as (s.name | rI18nNameFilter:'translated') for s in $ctrl.availableSpecies | orderBy:'name.translated' track by s.code">
                    <option value="" translate="harvestpermit.application.showAllSpecies"></option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Valitse organisaatio</label>
                <organisation-selection
                        ng-if="!$ctrl.filters.applicationNumber"
                        show-rk="true"
                        show-rka="true"
                        area-code="$ctrl.filters.rkaOfficialCode"
                        rhy-code="$ctrl.filters.rhyOfficialCode"></organisation-selection>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label translate="Tila"></label>
                <select name="statusText" id="statusText"
                        class="form-control"
                        ng-model="$ctrl.filters.statusText"
                        ng-disabled="$ctrl.filters.applicationNumber"
                        ng-options="'harvestpermit.decision.unifiedStatus.' + t | translate for t in $ctrl.statusList">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <label translate="Käsittelijä"></label>
                <select name="handler" id="handler"
                        class="form-control"
                        ng-model="$ctrl.filters.handlerId"
                        ng-disabled="$ctrl.filters.applicationNumber"
                        ng-options="t.handlerId as t.name for t in $ctrl.handlers | orderBy: 'name' track by t.handlerId">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label translate="Hakemusnumero"></label>
                <input name="applicationNumber" id="applicationNumber"
                       type="number"
                       min="10000"
                       class="form-control"
                       ng-model="$ctrl.filters.applicationNumber">
                </input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <button type="submit"
                   class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="harvestreport.admin.button.search"></span>
            </button>
        </div>
    </div>
</form>

