<div class="row">
    <div class="col-xs-3" ng-if="$ctrl.tab !== 'postalQueue'">
        <moderator-application-search-filters
                filters="$ctrl.filters"
                available-species="$ctrl.availableSpecies"
                handlers="$ctrl.handlers"
                reset="$ctrl.reset()"
                search="$ctrl.loadPage(0)">
        </moderator-application-search-filters>
    </div>

    <div ng-class="{'col-xs-9': $ctrl.tab !== 'postalQueue', 'col-xs-12': $ctrl.tab === 'postalQueue'}">
        <div ng-if="$ctrl.tab !== 'postalQueue'">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.exportResultsToExcel()">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="global.button.exportToExcel"></span>
            </button>
            <hr class="invisible"/>
        </div>

        <slice-pager slice="$ctrl.results" load-page="$ctrl.loadPage(page)"></slice-pager>

        <moderator-application-results-list results="$ctrl.results.content"></moderator-application-results-list>
    </div>
</div>
