<form>
    <div class="btn-group btn-group-justified" style="margin-bottom: 20px">
        <label class="btn"
               ng-class="{'btn-default': $ctrl.filterMode !== 'mine', 'btn-primary': $ctrl.filterMode === 'mine'}"
               ng-click="$ctrl.showMine()">
            <span class="fa fa-3x fa-user"></span>
            <br>
            <span translate="harvestpermit.admin.application.filterMine"></span>
        </label>
        <label class="btn"
               ng-class="{'btn-default': $ctrl.filterMode !== 'other', 'btn-primary': $ctrl.filterMode === 'other'}"
               ng-click="$ctrl.showOther()">
            <span class="fa fa-3x fa-filter"></span>
            <br>
            <span translate="harvestpermit.admin.application.filterOthers"></span>
        </label>
    </div>

    <div class="form-group">
        <label for="harvestPermitCategory" translate="harvestpermit.admin.application.permitType"></label>

        <select name="harvestPermitCategory" id="harvestPermitCategory"
                class="form-control"
                ng-model="$ctrl.filters.harvestPermitCategory"
                ng-change="$ctrl.onFilterChange()"
                ng-disabled="$ctrl.filters.applicationNumber"
                ng-options="s as ('harvestpermit.wizard.summary.permitCategory.' + s | translate) for s in $ctrl.permitCategoryList">
            <option value="" translate="global.showAll"></option>
        </select>
    </div>

    <div class="form-group">
        <label translate="harvestpermit.admin.application.status"></label>

        <div class="btn-group btn-group-justified"
             ng-repeat="s in $ctrl.statusList">
            <label class="btn"
                   ng-class="{'btn-default': $ctrl.filters.status !== s, 'btn-primary': $ctrl.filters.status === s}"
                   ng-model="$ctrl.filters.status"
                   ng-change="$ctrl.onFilterChange()"
                   uib-btn-radio="s">
                <span translate="decision.unifiedStatus.{{s}}"></span>
            </label>
        </div>
    </div>

    <fieldset ng-disabled="$ctrl.filters.applicationNumber">
        <div class="form-group">
            <label translate="harvestpermit.admin.application.selectOrganisation"></label>

            <organisation-selection
                    show-rk="true"
                    show-rka="true"
                    area-code="$ctrl.filters.rkaOfficialCode"
                    rhy-code="$ctrl.filters.rhyOfficialCode"
                    show-inactive-rhys="true"></organisation-selection>
        </div>
    </fieldset>

    <div class="form-group" show-errors>
        <label for="yearSelect" translate="harvestpermit.application.selectedYear"></label>

        <select name="yearSelect" id="yearSelect"
                class="form-control"
                ng-model="$ctrl.filters.huntingYear"
                ng-change="$ctrl.onFilterChange()"
                ng-disabled="$ctrl.filters.applicationNumber"
                ng-options="year as year for year in $ctrl.availableYears">
            <option value="" translate="global.showAll"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="handler" translate="harvestpermit.admin.application.handler"></label>

        <select name="handler" id="handler"
                class="form-control"
                ng-model="$ctrl.filters.handlerId"
                ng-change="$ctrl.onFilterChange()"
                ng-disabled="$ctrl.filters.applicationNumber"
                ng-options="t.handlerId as t.name for t in $ctrl.handlers | orderBy: 'name'">
            <option value="" translate="global.showAll"></option>
        </select>
    </div>

    <div class="form-group" show-errors>
        <label for="applicationNumber" translate="harvestpermit.admin.application.applicationNumber"></label>

        <input name="applicationNumber" id="applicationNumber"
               type="number"
               class="form-control"
               ng-model="$ctrl.filters.applicationNumber"
               ng-model-options="{'debounce': 500}"
               ng-change="$ctrl.onFilterChange()">
    </div>

    <p>
        <a ng-click="$ctrl.collapseAdditionalFilters = !$ctrl.collapseAdditionalFilters">
            <span class="glyphicon glyphicon-chevron-right" ng-show="$ctrl.collapseAdditionalFilters"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-hide="$ctrl.collapseAdditionalFilters"></span>
            <span translate="harvestpermit.admin.application.moreFilters"></span>
        </a>
    </p>

    <div uib-collapse="$ctrl.collapseAdditionalFilters">
        <div class="form-group">
            <label for="gameSpecies" translate="harvestpermit.application.selectedSpecies"></label>

            <select name="gameSpecies" id="gameSpecies"
                    class="form-control"
                    ng-model="$ctrl.filters.gameSpeciesCode"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="g.code as g.name group by g.category for g in $ctrl.availableSpecies | orderBy:'sortOrder'"
                    ie10-optgroup-fix>
                <option value="" translate="harvestpermit.application.showAllSpecies"></option>
            </select>
        </div>

        <div class="form-group" show-errors>
            <label for="validityYearsSelect" translate="harvestpermit.application.validityYears.title"></label>

            <select name="validityYearsSelect" id="validityYearsSelect"
                    class="form-control"
                    ng-model="$ctrl.filters.validityYears"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="('harvestpermit.application.validityYears.years' + a | translate) for a in $ctrl.validityYearsList">
                <option value="" translate="global.showAll"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="decisionType" translate="harvestpermit.admin.application.decisionType"></label>

            <select name="decisionType" id="decisionType"
                    class="form-control"
                    ng-model="$ctrl.filters.decisionType"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="s as ('decision.decisionType.' + s | translate) for s in $ctrl.decisionTypeList">
                <option value="" translate="global.showAll"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="grantStatus" translate="decision.grantStatus.title"></label>

            <select name="grantStatus" id="grantStatus"
                    class="form-control"
                    ng-model="$ctrl.filters.grantStatus"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="s as ('decision.grantStatus.' +s | translate) for s in $ctrl.grantStatusList">
                <option value="" translate="global.showAll"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="appealStatus" translate="harvestpermit.admin.application.appealStatus"></label>

            <select name="appealStatus" id="appealStatus"
                    class="form-control"
                    ng-model="$ctrl.filters.appealStatus"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="s as ('decision.appealStatus.' + s | translate) for s in $ctrl.appealStatusList">
                <option value="" translate="global.showAll"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="protectedArea" translate="harvestpermit.admin.application.protectedArea"></label>

            <select name="protectedArea" id="protectedArea"
                    class="form-control"
                    ng-model="$ctrl.filters.protectedArea"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="s as ('harvestpermit.derogation.area.type.' + s | translate) for s in $ctrl.protectedAreaTypeList">
                <option value="" translate="global.showAll"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="derogationReason" translate="harvestpermit.admin.application.derogationReason"></label>

            <select name="derogationReason" id="derogationReason"
                    class="form-control"
                    ng-model="$ctrl.filters.derogationReason"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="s as ('harvestpermit.derogation.reason.' + s | translate) for s in $ctrl.derogationReasonList">
                <option value="" translate="global.showAll"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="appealStatus" translate="harvestpermit.admin.application.forbiddenMethod"></label>

            <select name="forbiddenMethod" id="forbiddenMethod"
                    class="form-control"
                    ng-model="$ctrl.filters.forbiddenMethod"
                    ng-change="$ctrl.onFilterChange()"
                    ng-disabled="$ctrl.filters.applicationNumber"
                    ng-options="s as ('decision.forbiddenMethod.' + s | translate) for s in $ctrl.forbiddenMethodList">
                <option value="" translate="global.showAll"></option>
            </select>
        </div>
    </div>
</form>
