<form name="form" role="form" novalidate class="form form-horizontal r-occupation-form" ng-submit="remove()">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 class="modal-title" id="myUserLabel" translate="occupation.remove.title"></h3>
    </div>

    <div class="modal-body">
        <div class="alert alert-info" translate="occupation.remove.info"></div>

        <div class="form-group">
            <label class="col-xs-3 control-label" translate="occupation.occupation"></label>

            <div class="col-xs-9">
                <p class="form-control-static">
                    <span>{{'occupation.type.' + occupation.occupationType | translate}}</span>
                    <span ng-show="occupation.callOrder != null">{{occupation.callOrder}}</span>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label" translate="occupation.remove.validity"></label>

            <div class="col-xs-9">
                <p class="form-control-static">
                    <span class="validity" ng-if="occupation.beginDate == null && occupation.endDate == null">
                        {{'occupation.indefinitely' | translate}}
                    </span>
                    <span class="validity" ng-if="occupation.beginDate != null && occupation.endDate == null">
                        {{occupation.beginDate|date:'d.M.yyyy'}} - {{'occupation.indefinitely' | translate}}
                    </span>
                    <span class="validity" ng-if="occupation.beginDate == null && occupation.endDate != null">
                        {{'occupation.ending' | translate}} {{occupation.endDate|date:'d.M.yyyy'}}
                    </span>
                    <span class="validity" ng-if="occupation.beginDate != null && occupation.endDate != null">
                        {{occupation.beginDate|date:'d.M.yyyy'}} - {{occupation.endDate|date:'d.M.yyyy'}}
                    </span>
                </p>
            </div>
        </div>

        <div ng-show="occupation.person" class="col-xs-offset-3 well well-sm">
            <div class="r-contact-name">
                {{occupation.person.lastName}} {{occupation.person.firstName}}
            </div>

            <div class="r-contact-address">
                <span>{{occupation.person.address.streetAddress}}</span>
                <span>{{occupation.person.address.postalCode}}</span>
                <span class="r-city">{{occupation.person.address.city}}</span>
                <span>{{occupation.person.address.country}}</span>
            </div>

            <div class="r-contact-phone">
                <span class="glyphicon glyphicon glyphicon-earphone">&nbsp;</span>

                <span ng-if="occupation.person.phoneNumber">{{occupation.person.phoneNumber}}</span>
                <span ng-if="!occupation.person.phoneNumber" translate="occupation.no_phonenumber"></span>
            </div>

            <div class="r-contact-email">
                <span class="glyphicon glyphicon-envelope">&nbsp;</span>

                <a ng-if="occupation.person.email" href="mailto:{{occupation.person.email}}">{{occupation.person.email}}</a>
                <span ng-if="!occupation.person.email" translate="occupation.no_email"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" translate="occupation.remove.button.cancel"></button>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" translate="occupation.remove.button.save"></button>
    </div>
</form>
