<form name="huntingSummaryForm" role="form" class="form form-horizontal" autocomplete="off"
      r-force-show-errors-check-validity>

    <div class="modal-header">
        <h3 ng-if="!$ctrl.isHuntingFinished()" class="modal-title"
            translate="club.hunting.huntingSummary.editTitle"></h3>
        <h3 ng-if="$ctrl.isHuntingFinished()" class="modal-title"
            translate="club.hunting.huntingSummary.finalSubmitDoneTitle"></h3>
    </div>

    <div class="modal-body" style="min-height: 400px;">
        <fieldset ng-disabled="$ctrl.isHuntingFinishedOrLocked()">
            <div class="h4">
                <span translate="club.hunting.deerHuntingSummary.huntingAreaAndEstimatedPopulationTitle"></span>
                <span ng-bind="::$ctrl.getGameSpeciesName()"></span>
            </div>

            <div ng-show="$ctrl.showAlertForPermitAreaSize()"
                 class="alert alert-warning">
                <span translate="club.hunting.huntingSummary.totalHuntingAreaInfoText"></span>
                <span ng-bind="$ctrl.summary.permitAreaSize"></span>
                <span translate="global.hectares"></span>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group" show-errors>
                        <label for="totalHuntingArea" class="control-label col-xs-6">
                            <span translate="club.hunting.huntingSummary.totalHuntingArea"></span>
                            <small ng-show="$ctrl.isTotalHuntingAreaRequired()"
                                   class="glyphicon glyphicon-asterisk text-danger"></small>
                        </label>

                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="number" name="totalHuntingArea" id="totalHuntingArea"
                                       min="0" ng-max="$ctrl.summary.permitAreaSize" step="1"
                                       class="form-control no-spinner"
                                       ng-model="$ctrl.summary.totalHuntingArea"/>
                                <span class="input-group-addon" translate="global.hectares"></span>
                            </div>

                            <p class="help-block has-error"
                               ng-show="huntingSummaryForm.totalHuntingArea.$invalid"
                               ng-messages="huntingSummaryForm.totalHuntingArea.$error">
                                <span ng-messages-include="common/errorMessages.html"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group" show-errors>
                        <label for="remainingPopulationInTotalArea" class="control-label col-xs-6">
                            <span translate="club.hunting.deerHuntingSummary.remainingPopulationInTotalArea"></span>
                            <small ng-show="$ctrl.isRemainingPopulationForTotalAreaRequired()"
                                   class="glyphicon glyphicon-asterisk text-danger"></small>
                        </label>

                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="number" name="remainingPopulationInTotalArea" id="remainingPopulationInTotalArea"
                                       min="0" max="99999" step="1"
                                       class="form-control no-spinner"
                                       ng-model="$ctrl.summary.remainingPopulationInTotalArea"/>
                                <span class="input-group-addon" translate="global.pcs"></span>
                            </div>

                            <p class="help-block has-error"
                               ng-show="huntingSummaryForm.remainingPopulationInTotalArea.$invalid"
                               ng-messages="huntingSummaryForm.remainingPopulationInTotalArea.$error">
                                <span ng-messages-include="common/errorMessages.html"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group" show-errors>
                        <label for="effectiveHuntingArea" class="control-label col-xs-6">
                            <span translate="club.hunting.huntingSummary.effectiveHuntingArea"></span>
                            <small class="glyphicon glyphicon-asterisk text-danger"
                                   ng-show="$ctrl.isEffectiveHuntingAreaRequired()"></small>
                        </label>

                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="number" name="effectiveHuntingArea" id="effectiveHuntingArea"
                                       min="0" ng-max="$ctrl.getMaxForEffectiveHuntingArea()" step="1"
                                       class="form-control no-spinner"
                                       ng-model="$ctrl.summary.effectiveHuntingArea"/>
                                <span class="input-group-addon" translate="global.hectares"></span>
                            </div>

                            <p class="help-block has-error"
                               ng-show="huntingSummaryForm.effectiveHuntingArea.$invalid"
                               ng-messages="huntingSummaryForm.effectiveHuntingArea.$error">
                                <span ng-messages-include="common/errorMessages.html"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group" show-errors>
                        <label for="remainingPopulationInEffectiveArea" class="control-label col-xs-6">
                            <span translate="club.hunting.deerHuntingSummary.remainingPopulationInEffectiveArea"></span>
                            <small class="glyphicon glyphicon-asterisk text-danger"
                                   ng-show="$ctrl.isRemainingPopulationForEffectiveAreaRequired()"></small>
                        </label>

                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="number" name="remainingPopulationInEffectiveArea"
                                       id="remainingPopulationInEffectiveArea"
                                       min="0" ng-max="$ctrl.getMaxForRemainingPopulationInEffectiveArea()" step="1"
                                       class="form-control no-spinner"
                                       ng-model="$ctrl.summary.remainingPopulationInEffectiveArea"/>
                                <span class="input-group-addon" translate="global.pcs"></span>
                            </div>

                            <p class="help-block has-error"
                               ng-show="huntingSummaryForm.remainingPopulationInEffectiveArea.$invalid"
                               ng-messages="huntingSummaryForm.remainingPopulationInEffectiveArea.$error">
                                <span ng-messages-include="common/errorMessages.html"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h4 translate="club.hunting.huntingSummary.huntingFinishingTitle"></h4>

            <div class="form-group" show-errors>
                <label for="huntingEndDate" class="control-label col-xs-3">
                    <span translate="club.hunting.huntingSummary.huntingEndDate"></span>
                    <small class="glyphicon glyphicon-asterisk text-danger"></small>
                </label>

                <div class="col-xs-3">
                    <div class="input-group r-dropdown-align-right"
                         ng-controller="DatePickerController">

                        <input type="text" name="huntingEndDate" id="huntingEndDate"
                               class="form-control"
                               uib-datepicker-popup is-open="isDatePickerOpen"
                               ng-model="$ctrl.huntingEndDate"
                               date-between-min-max
                               min-date="$ctrl.speciesAmount.beginDate"
                               max-date="$ctrl.speciesAmount.endDate"
                               min-date2="$ctrl.speciesAmount.beginDate2"
                               max-date2="$ctrl.speciesAmount.endDate2">

                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" tabindex="-1"
                                            ng-click="toggleDatePopup($event)">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                    </div>
                    <p class="help-block has-error"
                       ng-show="huntingSummaryForm.huntingEndDate.$invalid"
                       ng-messages="huntingSummaryForm.huntingEndDate.$error">
                        <span ng-messages-include="common/errorMessages.html"></span>
                    </p>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="modal-footer">
        <button type="button"
                class="btn btn-danger pull-left"
                ng-click="$ctrl.markUnfinished()"
                ng-if="!$ctrl.summary.moderatorOverridden && $ctrl.isHuntingFinishedAndNotLocked()"
                translate="club.hunting.huntingSummary.markUnfinished"></button>

        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.cancel()"
                ng-if="!$ctrl.markedUnfinished"
                translate="global.button.cancel"></button>

        <button type="button"
                class="btn btn-primary"
                ng-click="$ctrl.submit(huntingSummaryForm)"
                ng-if="!$ctrl.summary.moderatorOverridden && !$ctrl.isHuntingFinishedOrLocked()"
                ng-disabled="!$ctrl.isValid(huntingSummaryForm)"
                translate="club.hunting.huntingSummary.saveUnfinished"></button>

        <button type="button"
                class="btn btn-danger"
                ng-click="$ctrl.doFinalSubmit(huntingSummaryForm)"
                ng-if="!$ctrl.summary.moderatorOverridden && !$ctrl.isHuntingFinishedOrLocked()"
                ng-disabled="!$ctrl.isValidForFinalSubmit(huntingSummaryForm)"
                translate="global.button.submit"></button>
    </div>
</form>
