<div class="rhy-sidebar-layout sidebar-layout">

    <riista-sidebar-collapse></riista-sidebar-collapse>

    <div class="left-column">
        <form>
            <div class="r-rhy-year-species-menu">
                <r-hunting-year-and-species-selection hunting-years="$ctrl.huntingYears"
                                                      available-species="$ctrl.availableSpecies"
                                                      on-hunting-year-or-species-changed="$ctrl.selectHuntingYearAndSpeciesCode(huntingYear, speciesCode)">
                </r-hunting-year-and-species-selection>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="tab in $ctrl.tabs" ng-class="{ active: $ctrl.isTabSelected(tab) }">
                    <a ng-click="$ctrl.selectTab(tab)"> {{'rhy.moosePermitStats.buttons.' + tab.type|translate}}</a>
                </li>
            </ul>

            <hr class="invisible">

            <div class="form-group">
                <select name="orgSelect" id="orgSelect"
                        class="form-control"
                        ng-model="$ctrl.selectedOrgCode"
                        ng-change="$ctrl.orgChanged($ctrl.selectedOrgCode)"
                        ng-options="org.officialCode as org.name for org in $ctrl.selectedTab.organisations">
                </select>
            </div>
        </form>

        <button type="button" ng-click="$ctrl.exportToExcel()" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> &nbsp;
            <span translate="reporting.common.toExcel"></span>
        </button>
    </div>

    <div class="main-column">
        <div class="container-fluid">
            <moose-permit-stats-table
                    statistics="$ctrl.statistics"
                    can-navigate-to-permit="$ctrl.canNavigateToPermit()"
                    navigate-to-permit="$ctrl.navigateToPermit(permitId)">
            </moose-permit-stats-table>
        </div>
    </div>
</div>
