<div class="row">
    <div class="col-xs-6">
        <permit-decision-nav-header decision="$ctrl.decision"></permit-decision-nav-header>
    </div>

    <div class="col-xs-6">
        <ul class="nav nav-pills pull-right ">
            <li ng-class="{'active': $ctrl.isActiveTab('normal')}">
                <a ng-click="$ctrl.showTab('normal')" translate="decision.area.menu.area"></a>
            </li>
            <li ng-class="{'active': $ctrl.isActiveTab('partner')}">
                <a ng-click="$ctrl.showTab('partner')" translate="decision.area.menu.partners"></a>
            </li>
            <li ng-class="{'active': $ctrl.isActiveTab('fragment')}">
                <a ng-click="$ctrl.showTab('fragment')" translate="decision.area.menu.fragments"></a>
            </li>
            <li ng-class="{'active': $ctrl.isActiveTab('conflicts')}">
                <a ng-click="$ctrl.showTab('conflicts')" translate="decision.area.menu.conflicts"></a>
            </li>
        </ul>
    </div>
</div>

<decision-application-normal-map
        ng-if="$ctrl.isActiveTab('normal')"
        application-id="$ctrl.applicationId"
></decision-application-normal-map>

<decision-application-partner-map
        ng-if="$ctrl.isActiveTab('partner')"
        application-id="$ctrl.applicationId"
        feature-collection="$ctrl.featureCollection"
></decision-application-partner-map>

<decision-application-fragments
        ng-if="$ctrl.isActiveTab('fragment')"
        application-id="$ctrl.applicationId"
        fragment-size-limit="$ctrl.fragmentSizeLimit"
        feature-collection="$ctrl.featureCollection"
></decision-application-fragments>

<harvest-permit-application-conflicts
        ng-if="$ctrl.isActiveTab('conflicts')"
        application-id="$ctrl.applicationId"
        conflicts="$ctrl.conflicts"
></harvest-permit-application-conflicts>
