<form name="form" role="form" class="form form-horizontal r-event-form" ng-submit="save(viewState)">

    <div class="modal-header">
        <button riista-modal-close></button>
        <h3 ng-if="!viewState.event.id" class="modal-title" translate="event.form.titleAdd"></h3>
        <h3 ng-if="viewState.event.id" class="modal-title" translate="event.form.titleEdit"></h3>
    </div>

    <div class="modal-body">

        <div class="form-group" show-errors>
            <label for="eventType" class="col-xs-4 control-label">
                <span translate="event.form.eventType"></span>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
            </label>

            <div class="col-xs-8">
                <select class="form-control"
                        name="eventType" id="eventType"
                        ng-model="viewState.event.calendarEventType"
                        ng-options="('event.type.'+o|translate) for o in eventTypes"
                        ng-disabled="isEventTypeSelectionDisabled()"
                        required
                        ng-change="onSelectionChange()"></select>
                <div class="alert alert-info"
                     ng-if="isHunterExamTraining()"
                     translate="event.form.hunterExamTrainingInfo"></div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="venue" class="col-xs-4 control-label">
                <span translate="event.form.venue"></span>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
            </label>

            <div class="col-xs-8">
                <select class="form-control"
                        name="venue" id="venue"
                        ng-model="viewState.event.venue"
                        ng-options="o.name for o in venues"
                        ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()"
                        required></select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="date" class="col-xs-4 control-label">
                <span translate="event.form.date"></span>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
            </label>

            <div class="col-xs-8">
                <div class="input-group" ng-controller="DatePickerController">
                    <input type="text" class="form-control"
                           name="date" id="date"
                           ng-model="viewState.event.date"
                           ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()"
                           required
                           uib-datepicker-popup is-open="isDatePickerOpen"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" tabindex="-1"
                                ng-click="toggleDatePopup($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>

                <div class="alert alert-danger"
                     ng-if="isDateRequiredAtLeast7DaysIntoFuture() && !viewState.event.lockedAsPastCalendarEvent"
                     translate="event.form.dateRequiredAtLeast7DaysIntoFuture"></div>
                <div class="alert alert-danger"
                     ng-if="isDateTooFarInThePast() && !viewState.event.lockedAsPastCalendarEvent"
                     translate="event.form.dateTooFarInThePast"></div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="beginTime" class="col-xs-4 control-label">
                    <span translate="event.form.beginTime"></span>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                </label>

                <div class="col-xs-2">
                    <input type="text" class="form-control"
                           name="beginTime" id="beginTime"
                           finnish-time
                           ng-model="viewState.event.beginTime"
                           ng-disabled="viewState.event.lockedAsPastCalendarEvent ||isInRowEditMode()"
                           required/>
                </div>
            </div>
            <div>
                <label for="endTime" class="col-xs-3 control-label" translate="event.form.endTime"></label>

                <div class="col-xs-2">
                    <input type="text" class="form-control"
                           name="endTime" id="endTime"
                           finnish-time
                           ng-model="viewState.event.endTime"
                           ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()"/>
                </div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="name" class="col-xs-4 control-label" translate="event.form.name"></label>

            <div class="col-xs-8">
                <input type="text" class="form-control"
                       name="name" id="name"
                       ng-maxlength="255"
                       ng-model="viewState.event.name"
                       ng-disabled="isInRowEditMode()"/>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="description" class="col-xs-4 control-label" translate="event.form.description"></label>

            <div class="col-xs-8">
                <textarea class="form-control"
                          name="description" id="description"
                          rows="10"
                          ng-model="viewState.event.description"
                          ng-disabled="isInRowEditMode()"></textarea>
            </div>
        </div>

        <div class="form-group" ng-if="isParticipantsShown()">
            <div>
                <label for="participants" class="col-xs-4 control-label">
                    <span translate="event.form.participants"></span>
                </label>

                <div class="col-xs-2">
                    <input type="number" class="form-control"
                           name="participants" id="participants"
                           ng-model="viewState.event.participants"
                           ng-disabled="viewState.event.lockedAsPastStatistics"
                           min="0"
                           max="99999"
                           step="1"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="visibility" class="col-xs-4 control-label" translate="event.form.visible"></label>
            <div id="visibility" class="btn-group col-xs-8">
                <label class="btn btn-default"
                       ng-model="viewState.event.publicVisibility"
                       uib-btn-radio="true"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="text-muted fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: !viewState.event.publicVisibility}"></span>
                </label>

                <label class="btn"
                       ng-class="viewState.event.publicVisibility ? 'btn-default': 'btn-primary'"
                       ng-model="viewState.event.publicVisibility"
                       uib-btn-radio="false"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: viewState.event.publicVisibility}"></span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="excluded" class="col-xs-4 control-label" translate="event.form.excludedFromStatistics"></label>
            <div id="excluded" class="btn-group col-xs-8">
                <label class="btn btn-default"
                       ng-model="viewState.event.excludedFromStatistics"
                       uib-btn-radio="false"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="text-muted fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: viewState.event.excludedFromStatistics}"></span>
                </label>

                <label class="btn"
                       ng-class="viewState.event.excludedFromStatistics ? 'btn-primary' : 'btn-default'"
                       ng-model="viewState.event.excludedFromStatistics"
                       uib-btn-radio="true"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: !viewState.event.excludedFromStatistics}"></span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="nonSubsidizable" class="col-xs-4 control-label" translate="event.form.nonSubsidizable"></label>
            <div name="nonSubsidizable" id="nonSubsidizable" class="btn-group col-xs-8">
                <label class="btn btn-default"
                       ng-model="viewState.event.nonSubsidizable"
                       uib-btn-radio="false"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="text-muted fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: viewState.event.nonSubsidizable}"></span>
                </label>

                <label class="btn"
                       ng-class="viewState.event.nonSubsidizable ? 'btn-primary' : 'btn-default'"
                       ng-model="viewState.event.nonSubsidizable"
                       uib-btn-radio="true"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: !viewState.event.nonSubsidizable}"></span>
                </label>
            </div>
        </div>

        <div class="form-group" ng-if="isRemoteEventAllowed(viewState.event.calendarEventType)">
            <label for="remote" class="col-xs-4 control-label" translate="event.form.remoteTrainingEvent"></label>
            <div id="remote" class="btn-group col-xs-8">
                <label class="btn btn-default"
                       ng-model="viewState.event.remoteEvent"
                       uib-btn-radio="false"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="text-muted fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: viewState.event.remoteEvent}"></span>
                </label>

                <label class="btn"
                       ng-class="viewState.event.remoteEvent ? 'btn-primary' : 'btn-default'"
                       ng-model="viewState.event.remoteEvent"
                       uib-btn-radio="true"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent || isInRowEditMode()">
                    <span class="fa fa-fw fa-lg fa-check-circle"
                          ng-class="{invisible: !viewState.event.remoteEvent}"></span>
                </label>
            </div>
        </div>

        <div ng-if="isAdditionalEventsTableVisible()">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-4" translate="event.venue"></th>
                    <th class="col-xs-4" translate="event.form.date"></th>
                    <th class="col-xs-2" translate="event.date"></th>
                    <th class="col-xs-2"></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="additionalCalendarEvent in viewState.event.additionalCalendarEvents"
                    ng-include="viewState.editedEvent && additionalCalendarEvent.key === viewState.editedEvent.key ? 'edit' : 'display'">
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="isAdditionalEventsAllowed()">
            <button type="button" ng-click="addAdditionalEvent()" class="btn btn-primary"
                    ng-disabled="isInRowEditMode()"
                    ng-if="!viewState.event.lockedAsPastCalendarEvent">
                <span class="glyphicon glyphicon-plus"></span> &nbsp;
                <span translate="event.button.addAdditionalEvent"></span>
            </button>
        </div>

        <script type="text/ng-template" id="display">
            <td>
                <div ng-bind="additionalCalendarEvent.venue.name | truncateCharacters:50"></div>
                <div class="r-contact-address">
                    <span ng-bind="additionalCalendarEvent.venue.address.streetAddress | truncateCharacters:30"></span>
                    <span ng-bind="additionalCalendarEvent.venue.address.postalCode"></span>
                    <span ng-bind="additionalCalendarEvent.venue.address.city | truncateCharacters:30" class="r-city"></span>
                </div>
            </td>
            <td>
                <div ng-bind="additionalCalendarEvent.date |date:'d.M.yyyy'"></div>
            </td>
            <td>
                <div>
                    <span ng-bind="additionalCalendarEvent.beginTime"></span>
                    <span ng-if="additionalCalendarEvent.endTime"> - </span>
                    <span ng-if="additionalCalendarEvent.endTime" ng-bind="additionalCalendarEvent.endTime"></span>
                </div>
            </td>
            <td></td>
            <td class="text-right r-table-actions-cell">
                <button type="button" ng-click="editEvent(additionalCalendarEvent)" class="btn btn-link"
                        ng-if="!viewState.event.lockedAsPastCalendarEvent"
                        ng-disabled="isInRowEditMode()">
                    <span class="glyphicon glyphicon-edit" title="{{'event.button.edit' | translate}}"></span>
                </button>
                <button type="button" class="btn btn-link"
                        ng-click="removeAdditionalEvent(additionalCalendarEvent.key)"
                        ng-if="!viewState.event.lockedAsPastCalendarEvent"
                        ng-disabled="isInRowEditMode()">

                    <span class="glyphicon glyphicon-remove"
                          title="{{'event.button.remove' | translate}}"></span>
                </button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td>
                <ng-form name="venueForm">
                    <div class="form-group" show-errors>
                        <label for="editedVenue" class="col-xs-1 control-label">
                            <span class="glyphicon glyphicon-asterisk text-danger"></span>
                        </label>
                        <div class="input-group col-xs-10">
                            <select class="form-control"
                                    name="editedVenue" id="editedVenue"
                                    ng-model="viewState.editedEvent.venue"
                                    ng-options="o.name for o in venues"
                                    ng-disabled="viewState.event.lockedAsPastCalendarEvent"
                                    required></select>
                        </div>
                    </div>
                </ng-form>
            </td>
            <td>
                <ng-form name="dateForm">
                    <div class="form-group" show-errors>
                        <label for="editedDate" class="col-xs-1 control-label">
                            <span class="glyphicon glyphicon-asterisk text-danger"></span>
                        </label>
                        <div class="input-group col-xs-10" ng-controller="DatePickerController">
                            <input type="text" class="form-control"
                                   name="editedDate" id="editedDate"
                                   ng-model="viewState.editedEvent.date"
                                   ng-disabled="viewState.event.lockedAsPastCalendarEvent"
                                   required
                                   uib-datepicker-popup is-open="isDatePickerOpen"/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" tabindex="-1"
                                        ng-click="toggleDatePopup($event)">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </ng-form>
            </td>
            <td>
                <ng-form name="beginTimeForm">
                    <div class="form-group" show-errors>
                        <label for="editedBeginTime" class="col-xs-1 control-label">
                            <span class="glyphicon glyphicon-asterisk text-danger"></span>
                        </label>
                        <div class="col-xs-8 input-group">
                            <input type="text" class="form-control"
                                   name="editedBeginTime" id="editedBeginTime"
                                   finnish-time
                                   ng-model="viewState.editedEvent.beginTime"
                                   ng-disabled="viewState.event.lockedAsPastCalendarEvent"
                                   required/>
                        </div>
                    </div>
                </ng-form>
            </td>
            <td>
                <input type="text" class="form-control"
                       name="endTime" id="editedEndTime"
                       finnish-time
                       ng-model="viewState.editedEvent.endTime"
                       ng-disabled="viewState.event.lockedAsPastCalendarEvent"/>
            </td>
            <td class="text-right r-table-actions-cell">
                <button type="button"
                        ng-click="saveEditEvent(additionalCalendarEvent.key)"
                        class="btn btn-link"
                        ng-disabled="beginTimeForm.editedBeginTime.$invalid || venueForm.editedVenue.$invalid || dateForm.editedDate.$invalid"
                        ng-if="!viewState.event.lockedAsPastCalendarEvent">
                    <span class="glyphicon glyphicon-ok" title="{{'global.button.ok' | translate}}"></span>
                </button>
                <button type="button" class="btn btn-link"
                        ng-click="viewState.cancelEditedEventFunc(additionalCalendarEvent.key)"
                        ng-if="!viewState.event.lockedAsPastCalendarEvent">

                    <span class="glyphicon glyphicon-remove"
                          title="{{'global.button.cancel' | translate}}"></span>
                </button>
            </td>
        </script>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()" translate="global.button.cancel"></button>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || isDateInvalid() || isInRowEditMode()" translate="global.button.save"></button>
    </div>
</form>
