<div class="panel panel-default"
     ng-repeat="a in $ctrl.areaList">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <a class="r-jht-area-panel-toggle" ng-click="$ctrl.toggle(a)">
                    <span class="fa fa-fw fa-lg fa-chevron-right" ng-show="a.isCollapsed"></span>
                    <span class="fa fa-fw fa-lg fa-chevron-down" ng-hide="a.isCollapsed"></span>
                </a>

                <a class="panel-title r-jht-area-panel-title"
                   ng-click="$ctrl.toggle(a)"
                   ng-bind="a.name"></a>

                <a class="r-jht-area-edit-link" ng-click="$ctrl.edit(a)">
                    <span class="fa fa-pencil r-jht-area-edit-icon"></span>
                    <span translate="account.areas.editInfo" class="r-jht-area-info-text"></span>
                </a>
            </div>

            <div class="col-xs-6 text-right">
                <a class="r-jht-area-print-link"
                   ng-show="$ctrl.canPrintArea(a)"
                   ng-click="$ctrl.printArea(a)">
                    <span class="fa fa-2x fa-lg fa-print"></span>
                    <span translate="global.button.print" class="r-jht-area-info-text"></span>
                </a>

                <button type="button" class="btn btn-primary"
                        ng-click="$ctrl.editMap(a)">
                    <span translate="account.areas.editMap"></span>
                </button>
                &nbsp;
                <moderator-area-functions area="a"></moderator-area-functions>
            </div>
        </div>
    </div>

    <div class="panel-body" ng-if="!a.isCollapsed">
        <div class="row">
            <div class="col-md-6">
                <moderator-area-list-map area="a"></moderator-area-list-map>
            </div>

            <div class="col-md-6">
                <moderator-area-list-info area="a"></moderator-area-list-info>
            </div>
        </div>
    </div>
</div>
