<div class="row">
    <div class="col-md-3">
        <form class="form">
            <div class="form-group">
                <label for="beginDate" translate="global.beginDate" class="control-label"></label>
                <div class="input-group" ng-controller="DatePickerController">
                    <input id="beginDate" type="text" name="beginDate"
                           class="form-control r-wider-date-input"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           ng-model="dates.beginDate"
                           max-date="endDate"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" tabindex="-1"
                                ng-click="toggleDatePopup($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="endDate" translate="global.endDate" class="control-label"></label>
                <div class="input-group" ng-controller="DatePickerController">
                    <input id="endDate" type="text" name="endDate"
                           class="form-control r-wider-date-input"
                           uib-datepicker-popup is-open="isDatePickerOpen"
                           ng-model="dates.endDate"
                           min-date="beginDate"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" tabindex="-1"
                                ng-click="toggleDatePopup($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="reportScheme"><span translate="harvestreport.form.reportType"></span></label>
                <select id="reportScheme"
                        class="form-control"
                        ng-model="selectedFieldOrSeason"
                        ng-options="o as o.name group by o.type for o in fieldsAndSeasons | orderBy:'name'"
                        ie10-optgroup-fix>
                    <option value="">{{'harvestreport.admin.all'|translate}}</option>
                </select>
            </div>

            <span translate="harvestreport.state.title"></span>
            <div class="form-group">
                <span class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="states.PROPOSED">
                        {{'harvestreport.state.PROPOSED'|translate}}
                    </label>
                </span>
                <span class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="states.SENT_FOR_APPROVAL">
                        {{'harvestreport.state.SENT_FOR_APPROVAL'|translate}}
                    </label>
                </span>
                <span class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="states.APPROVED"> {{'harvestreport.state.APPROVED'|translate}}
                    </label>
                </span>
            </div>

            <div class="form-group">
                <label for="permitNumberSearch" translate="harvestpermit.permitNumber"
                       class="control-label"></label>
                <input id="permitNumberSearch" type="text" class="form-control"
                       maxlength="18"
                       ng-model="permitNumberSearch">
                <p class="help-block" translate="harvestpermit.admin.permitNumberHelp"></p>
            </div>

            <a ng-click="search()" class="btn btn-primary pull-right" ng-disabled="!canSearch()">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="harvestreport.admin.button.search"></span>
            </a>

            <div class="clearfix"></div>
            <p>&nbsp;</p>

        </form>
    </div>

    <div class="col-md-9">

        <leaflet class="r-cursor-pointer"
                 id="rhyHarvestReportMap"
                 defaults="mapDefaults"
                 layers="mapDefaults.mmlLayers"
                 controls="mapDefaults.controls"
                 lf-center="mapCenter"
                 bounds="bounds"
                 geojson="rhyGeometry"
                 geojson-watch-options="mapDefaults.geojsonWatchOptions"
                 event-broadcast="mapEvents"
                 height="550px">
            <marker-cluster id="rhyHarvestReportMarkers" leaflet-markers="markers" />
        </leaflet>

        <p>&nbsp;</p>

        <div ng-show="harvestReports.length === 0" class="well" translate="harvestreport.admin.noresults"></div>

        <div ng-show="harvestReports && harvestReports.length > 0">
            <form action="/api/v1/harvestreport/rhy/search/excel" method="POST">
                <input type="hidden" name="json" value="{{postData}}"/>
                <input type="hidden" spring-csrf-cookie />

                <div class="form-group" ng-show="harvestReports">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> &nbsp;
                        <span translate="reporting.common.toExcel"></span>
                    </button>
                </div>
            </form>

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-xs-1" translate="harvestreport.admin.state"></th>
                        <th class="col-xs-2" translate="harvestreport.admin.pointOfTime"></th>
                        <th class="col-xs-2" translate="harvestreport.admin.gameInfo"></th>
                        <th class="col-xs-2" translate="harvestreport.admin.area"></th>
                        <th class="col-xs-2" translate="harvestreport.form.author"></th>
                        <th class="col-xs-2" translate="harvestreport.form.hunter"></th>
                        <th class="col-xs-1"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="report in harvestReports">
                        <td>
                            <div harvest-report-state-to-class="::report.state"
                                 class="r-harvestreport-state-text">{{ ::('harvestreport.state.' + report.state | translate) }}
                            </div>
                        </td>
                        <td>{{ ::(report.pointOfTime | date:'d.M.yyyy HH:mm') }}</td>
                        <td>
                            <span r-harvest-report-specimen-or-permitted-species="report"></span>
                        </td>
                        <td>
                            {{ ::(getHuntingArea(report)) }}<br/>
                            {{ ::(getAreaName(report)) }}<br/>
                            {{ ::(getRhyName(report)) }}
                        </td>
                        <td>{{ ::report.authorInfo.byName }} {{ ::report.authorInfo.lastName }}</td>
                        <td>{{ ::report.hunterInfo.byName }} {{ ::report.hunterInfo.lastName }}</td>
                        <td>
                            <a ng-click="show(report)" class="btn btn-default pull-right">
                                <span translate="global.button.open"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
