<div class="radio" ng-repeat="tab in $ctrl.tabs">
    <label>
        <input type="radio"
               ng-model="$ctrl.selectedTab"
               ng-value="tab"
               ng-click="$ctrl.selectTab(tab)">
        <span translate="rhy.organisationSelect.type.{{tab.type}}"></span>
    </label>
</div>

<select name="orgSelect" id="orgSelect"
        class="form-control"
        ng-hide="$ctrl.selectedTab.organisations.length <= 1"
        ng-model="$ctrl.selectedOrgCode"
        ng-change="$ctrl.orgChanged($ctrl.selectedOrgCode)"
        ng-options="org.officialCode as org.name for org in $ctrl.selectedTab.organisations">
    <option disabled value="" translate="rhy.organisationSelect.chooseOrganisation"></option>
</select>
