<form class="form form-horizontal">
    <div class="form-group">
        <div class="col-xs-2">
            <label for="speciesSearch" translate="harvestpermit.admin.species"
                   class="control-label pull-right"></label>
        </div>
        <div class="col-xs-6">
            <select class="form-control" ng-model="species"
                    id="speciesSearch"
                    ng-options="s as (s.name | rI18nNameFilter) for s in allSpecies | orderBy:speciesSortProperty"
                    ie10-optgroup-fix>
                <option value="">{{'harvestreport.admin.all'|translate}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2">
            <label for="permitNumberSearch" translate="harvestpermit.permitNumber"
                   class="control-label pull-right"></label>
        </div>
        <div class="col-xs-6">
            <input id="permitNumberSearch" type="text" class="form-control"
                   maxlength="18"
                   ng-model="permitNumber">
            <p class="help-block" translate="harvestpermit.admin.permitNumberHelp"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2">
            <label for="yearSearch" translate="harvestpermit.admin.year"
                   class="control-label pull-right"></label>
        </div>
        <div class="col-xs-6">
            <input id="yearSearch" type="text" class="form-control"
                   maxlength="4"
                   ng-pattern="/^20[1-9][0-9]$/"
                   ng-model="year">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary btn-lg"
                    ng-click="search()" ng-disabled="!canSearch()">
                <span class="glyphicon glyphicon-search"></span> &nbsp;
                <span translate="harvestreport.admin.button.search"></span>
            </button>
        </div>
    </div>
</form>

<span r-harvest-permit-listing="permits"></span>
