@rhy-sidebar-width: 320px;

.rhy-sidebar-layout {
  overflow: hidden;

  .left-column,
  .main-column {
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    min-height: 1px;
    background: #fff;
  }

  .left-column {
    left: 0;
    bottom: 0;
    width: @rhy-sidebar-width;
    top: @main-nav-height;
    padding: 20px 10px 0;
  }

  .main-column {
    top: @main-nav-height;
    left: @rhy-sidebar-width;
    bottom: 0;
    right: 0;

    .container-fluid {
      padding: 10px;
      margin: 0;
    }
  }
  .main-column.in {
    top: @sub-nav-height;
  }
}

.r-rhy-year-species-menu {
  padding-bottom: 10px;

  div.left {
    padding-right: 5px;
  }

  div.right {
    padding-left: 5px;
  }
}

.organisation-select-by-rhy {
  margin-bottom: 10px;
}

.harvest-registry-empty-result-info {
  margin-top: 20px
}

.harvest-registry-search-reason-selection {
  margin-bottom: 15px;
}

.rhy-harvestregistry-search {
  .alert {
    background-color: #F7F7F7;
    border-color: @table-border-color;
    margin: 10px 0 20px;
    padding: 15px 15px 10px;
    color: #555;
    overflow: auto;

    .alert-content {
      margin-left: 60px;
    }

    .alert-title {
      font-size: 18px;
      font-weight: bold;
    }

    .fa-info-circle {
      color: @brand-info;
      font-size: 48px;
      float: left;
    }
  }
}
