<div class="alert alert-info wizard-info">
    <span class="fa fa-info-circle"></span>

    <div class="alert-content">
        <p class="alert-title">
            <span translate="harvestpermit.wizard.deportation.species.instructions"></span>
        </p>
        <p>
            <span translate="harvestpermit.wizard.deportation.species.instructionText"></span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <form name="addSpeciesForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select class="form-control"
                                name="selectedSpeciesCode"
                                id="selectedSpeciesCode"
                                ng-model="$ctrl.selectedSpeciesCode"
                                ng-options="g.code as g.name group by g.category for g in $ctrl.availableSpeciesOptions | orderBy:'sortOrder'"
                                ie10-optgroup-fix
                                ng-disabled="$ctrl.speciesAmount.gameSpeciesCode">
                            <option disabled value="" translate="global.selectSpecies"></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block"
                            ng-disabled="!$ctrl.selectedSpeciesCode"
                            ng-click="$ctrl.addSpecies()">
                        <span class="fa fa-fw fa-plus"></span>
                        <span translate="harvestpermit.wizard.species.addSpecies"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>

<form name="speciesAmountForm" r-force-show-errors-check-validity>
    <div class="row" ng-if="$ctrl.speciesAmount.gameSpeciesCode">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" translate="harvestpermit.wizard.species.species"></label>

                <input type="text" disabled class="form-control"
                       ng-value="$ctrl.speciesAmount.gameSpeciesCode | translateSpeciesCode">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group" show-errors>
                <label class="control-label" for="amount"
                       translate="harvestpermit.wizard.deportation.species.speciesAmount"></label>

                <div class="input-group">
                    <input type="number" class="form-control no-spinner"
                           name="amount"
                           id="amount"
                           ng-model="$ctrl.speciesAmount.amount"
                           required
                           min="1" max="99999" step="1"
                           r-click-select>
                    <div class="input-group-addon">
                        <span translate="global.pcs"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2" style="padding-top: 24px">
            <a class="btn btn-link"
               ng-click="$ctrl.removeSpecies()">
                <span class="fa fa-fw fa-remove text-danger"></span>
                <span class="text-danger" translate="harvestpermit.wizard.species.removeSpecies"></span>
            </a>
        </div>
    </div>
</form>

<permit-application-wizard-navigation
        exit="$ctrl.exit(speciesAmountForm)"
        previous="$ctrl.previous(speciesAmountForm)"
        next="$ctrl.next()"
        next-disabled="$ctrl.nextDisabled(speciesAmountForm)">
</permit-application-wizard-navigation>
