<p>
    Päätös on noudettavissa oheisesta linkistä<br>
    <a href="{{url}}">{{url}}</a>
</p>
<p>Terveisin,</p>
<p>Suomen riistakeskus</p>
<p>Julkiset hallintotehtävät</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
