<p>Finlands viltcentral har fattat beslut gällande er ansökan.</p>
<p>
    Beslut med tillhörande bilagor kan betalas och hämtas via webb-länken nedan<br>
    <a href="{{url}}">{{url}}</a><br>
    Genom att klicka på webb-länken kommer du till Oma riista -tjänstens inloggningssida, där du fyller i
    ditt Oma riista -användarsignum. Efter detta kommer du direkt till licensinnehavar-vyn, var du kan betala
    och granska licensbeslutet samt sköta administrativa uppgifter angående licensbeslutet.
</p>
<p>Hälsningar,</p>
<p>Finlands viltcentral</p>
<p>Offentliga förvaltningsuppgifter</p>
<hr/>
<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
