<p>Finlands viltcentral har utvärderat och gjort beslut beträffande ert anmälningsförfarande.</p>
<p>
    Beslut kan hämtas via webb-länken nedan<br>
    <a href="{{url}}">{{url}}</a><br>
</p>
<p>Hälsningar,</p>
<p>Finlands viltcentral</p>
<p>Offentliga förvaltningsuppgifter</p>
<hr/>
<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
