<p>Suomen riistakeskus on arvioinut ja tehnyt päätöksen ilmoitusmenettelyänne koskien.</p>
<p>
    Päätös on noudettavissa oheisesta linkistä.<br>
    <a href="{{url}}">{{url}}</a><br>
</p>
<p>Terveisin,</p>
<p>Suomen riistakeskus</p>
<p>Julkiset hallintotehtävät</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
