<p>Suomen riistakeskus on tehnyt päätöksen hakemustanne koskien.</p>
<p>
    Päätös liitteineen on maksettavissa ja noudettavissa oheisesta linkistä<br>
    <a href="{{url}}">{{url}}</a><br>
    Linkkiä painamalla siirryt Oma riista -palvelun kirjautumisnäkymään, johon täydennät Oma riista -tunnuksesi.
    Tämän jälkeen siirryt automaattisesti luvanhaltijan näkymään, jossa voit maksaa lupapäätöksen, tarkastella
    lupapäätöstä ja sen liitteitä sekä hoitaa lupaan liittyviä hallinnollisia tehtäviä.
</p>
<p>Terveisin,</p>
<p>Suomen riistakeskus</p>
<p>Julkiset hallintotehtävät</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
