<p>
    Teille myönnetyn Suomen riistakeskuksen poikkeusluvan {{permitNumber}} ({{speciesNames}}) saalisilmoitus on yhä tekemättä.
    Lupaan liittyy metsästyslainsäädännön mukainen saalisilmoitusvelvollisuus: Poikkeusluvan saajan on ilmoitettava
    Suomen riistakeskukselle suurpedon tai saukon pyynnin tuloksesta ensimmäisenä arkipäivänä siitä, kun poikkeusluvassa
    tarkoitettu riistaeläin on pyydetty tai jos riistaeläin on jäänyt pyydystämättä, seuraavana arkipäivänä poikkeusluvan
    voimassaolon päättymisestä.
</p>

<p>
    Muiden poikkeuslupien osalta saalisilmoitus on toimitettava poikkeusluvan voimassaolon päätyttyä seitsemän vuorokauden
    kuluessa. Jos poikkeuslupa on myönnetty vuotta pidemmäksi ajaksi, ilmoitus on tehtävä kunkin kalenterivuoden päätyttyä
    seitsemän vuorokauden kuluessa.
</p>

<p>
    Luvansaajan tulee huolehtia saaliskirjauksista sekä päättää luvalla metsästys Oma riista -palvelun luvan
    pääkäyttäjänäkymässä. Tämä viesti on lähetetty Teille, koska metsästyksen päättymisilmoitus on lupanne kohdalla vielä
    tekemättä. Pyydämme Teitä siis tekemään päättymisilmoituksen, ja tarkistamaan samalla lupaan tehdyt saaliskirjaukset.
    Jos luvalla ei ole saatu saalista, riittää että metsästys merkitään päättyneeksi.
</p>

<p>
    <a target="_blank" href="{{dashboardUri}}">Siirry sähköiseen ilmoitukseen</a>.
</p>

<p>
    Mikäli saalisilmoituksen jättäminen Oma riista -palvelussa ei ole mahdollista, saalisilmoituksen voi palauttaa
    sähköpostilla osoitteeseen saaliit@riista.fi tai postitse osoitteella Suomen riistakeskus,
    Sompiontie 1, 00730 Helsinki.
</p>

<hr/>

<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>