<p>Hei,</p>

<p>Suomen riistakeskus on täydentänyt vuoden {{year}} toimintatietoja seuraavien tietojen osalta:</p>
<ul>
{{#each groupsFI}}
  <li>{{this}}</li>
{{/each}}
</ul>

<p>Jos havaitset tiedoissa korjattavaa, niin ota yhteyttä rhy.valtionapu@riista.fi tai rhy:n valtionapu- ja valvontatiimin toimihenkilöihin.</p>

<p>Terveisin,</p>
<p>Rhy:n valtionapu- ja valvontatiimi</p>

<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
