<p>Hei,</p>

<p>Suomen riistakeskus on vastaanottanut hakemuksenne riistanhoitoyhdistyksen valtionavustukseksi.</p>

<p>Terveisin,</p>
<p>Rhy:n valtionapu- ja valvontatiimi</p>

<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
