<p>Hyvä vastaanottaja,</p>

<p>Olet hakenut ja saanut päätöksen hirvieläimen pyytämiseksi. Päätöksen yhteydessä sait myös käsittelymaksun, jota et
    ole vielä maksanut. Muistathan maksaa maksun ennen eräpäivää.</p>

<p><a href="{{url}}">{{url}}</a></p>

<p>Kiitos.</p>

<p>Ystävällisin terveisin,</p>
<p>Suomen riistakeskus</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
