<h2>
    {{ firstName }} {{lastName}},<br/>
    Unohditko salasanasi oma.riista.fi -palveluun?
</h2>

<hr/>

<p>Järjestelmä on saanut pyynnön nollata oma.riista.fi-tilisi salasanan.</p>

<p>Nollaa salasanasi alla olevalla linkillä (tai kopioi ja liitä URL-osoite selaimeesi):</p>

<p><a href="{{ link }}">{{ link }}</a></p>

<p>Jos saat paljon salasanan nollausviestejä, joita et ole pyytänyt, niin ota yhteyttä palvelun ylläpitoon.</p>

<hr />

-- Älä vastaa tähän viestiin; se lähetettiin sähköpostiosoitteesta, jota ei seurata.
