<h1>Ilmoitus JHT-nimitysesityksestä Oma riista -palvelussa.</h1>

<p>{{ rhyName }} {{ occupationName }}</p>

<p><a href="{{ link }}">Klikkaa tästä siirtyäksesi Esitetty-näkymään.</a></p>

<hr/>

Tämä on Oma riista -palvelun automaattisesti lähettämä viesti.
