<h2>
    {{ firstName }} {{lastName}},<br/>
    Har du glömt ditt lösenord till tjänsten oma.riista.fi?
</h2>

<hr/>

<p>Systemet har begärts nolla lösenordet till ditt oma.riista.fi-konto.</p>

<p>Nolla ditt lösenord via länken nedan (eller kopiera och klistra in URL-adressen i din webbläsare):</p>

<p><a href="{{ link }}">{{ link }}</a></p>

<p>Om du får många meddelanden om nollning av lösenord utan att du har begärt det, kontakta upprätthållaren av tjänsten.</p>

<hr />

-- Svara inte på det här meddelandet; det skickades från en e-postadress som inte tar emot svar.
