Hej,<br />

I Oma riista -tjänsten har det för dig antecknats jaktledaruppgiften i föreningen/sällskapet {{clubName.swedish}} i gruppen {{groupName.swedish}} ({{speciesName.swedish}}, {{permitNumber}}).<br />
<br />
I Oma riista -webbtjänsten kan du själv bestämma om dina kontaktuppgifter ska vara synliga för de övriga samlicensdeltagarnas jaktledare och/eller för jaktledarna inom jaktvårdsföreningens område, där du jagar ifrågavarande djurart.<br />
<br />
Om kontaktuppgifterna är synliga, underlättar det för jaktledarna i jaktföreningarna och -sällskapen som jagar på området att hålla kontakt med varandra. Finlands viltcentral rekommenderar att man håller kontakt för att på ett ändamålsenligt sätt organisera jakten och särskilt för att kunna beakta säkerhetsfaktorerna. Kontaktuppgifterna är synliga för jaktledarna under Föreningens TILLSTÅND-meny, under menyn Funktioner.<br />
<br />
<br />

Du kan fastställa omfattningen av uppgifternas synlighet vid mellanbladet "Egna uppgifter".<br />
<br />
Här är en direkt länk för fastställandet av kontaktuppgifternas synlighet: <a href="https://oma.riista.fi/#/profile/me/huntingleaderconfig">Länk</a>.<br />
<br />
Det här är ett automatiskt meddelande som skickats via Oma riista -tjänsten. Svara inte på det här meddelandet.