<p>
    Tämä on Oma riista –palvelun automaattisesti luoma viesti.
<p>

<p>
    Olet ottanut haltuun seuran "{{ club.customerId }} - {{ club.nameFI }}".
    Voit nyt toimia seuran yhteyshenkilönä Oma riista –palvelussa.
    Asiasta on lähetetty automaattisesti viesti seurasi alueen riistanhoitoyhdistykselle,
    jossa kerrotaan nimesi, sähköpostiosoitteesi ja puhelinnumerosi.
</p>

<p>
    Teidät on nyt merkitty seuran yhteyshenkilöksi.
    Voit valita tämän roolin kirjautumisen yhteydessä.
    Yhteyshenkilön roolissa voit heti alkaa määrittelemään seurasi alueita,
    muodostamaan ryhmiä ja kutsumaan seurasi jäseniä palveluun heidän metsästyskortin numeroillaan.

    Valitse yksi tai useampi henkilö varayhteyshenkilöksi kutsun hyväksyneistä jäsenistä.
</p>

<p>
    Lisää ohjeita löydät

    <a href="http://riista.fi/riistahallinto/sahkoinen-asiointi/">
        http://riista.fi/riistahallinto/sahkoinen-asiointi/
    </a>
</p>

<p>
    Väärinkäytökset johtavat Oma riista -käyttäjätunnuksen deaktivointiin.
</p>

<hr/>

-- Älä vastaa tähän viestiin; se lähetettiin sähköpostiosoitteesta, jota ei seurata.
