<p>
Hirvieläinten pyyntiluvan {{permitNumber}} ({{speciesName}}) kaikki osakkaat ovat päättäneet metsästyksen.
</p>

<p>
Seuraavaksi luvan saajan tulee päättää luvalla metsästys ja maksaa pyyntilupamaksu Oma riista -palvelun luvan pääkäyttäjänäkymässä.
</p>

<p>
<a target="_blank" href="{{dashboardUri}}">Siirry sähköiseen ilmoitukseen</a>.
</p>

<p>
Pyyntilupamaksu on maksettava viimeistään 7 vuorokauden kuluessa pyyntiluvassa mainittujen eläinten tultua pyydystetyiksi taikka,
jos eläimiä on jäänyt pyydystämättä, 7 vuorokauden kuluessa rauhoitusajan alkamisesta.
</p>

<hr/>

<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
