<p>
    Det här är ett automatiskt skapat meddelande från Oma riista –tjänsten .
<p>

<p>
    Du har tagit föreningen "{{ club.customerId }} - {{ club.nameSV }}" i besittning.
    Du kan nu vara verksam som föreningens kontaktperson i Oma riista –tjänsten.
    Om ärendet har sänts ett automatiskt meddelande till din förenings regionala jaktvårdsförening,
    i vilket det informeras om ditt namn, e-postadress och ditt telefonnummer.
</p>

<p>
    Ni har nu antecknats som föreningens kontaktperson.
    Du kan välja den här rollen i samband med inloggningen.
    I rollen som kontaktperson kan du genast börja fastställa områden för din förening,
    skapa grupper och bjuda in medlemmar från din förening till tjänsten med deras jaktkortsnummer.

    Välj en eller flera personer som vicekontaktperson bland medlemmarna som accepterat inbjudan.
</p>

<p>
    Ytterligare anvisningar finner du här

    <a href="http://riista.fi/sv/viltforvaltningen/elektroniska-tjanster/">
        http://riista.fi/sv/viltforvaltningen/elektroniska-tjanster/
    </a>
</p>

<p>
    Missbruk leder till deaktivering av Oma riista-användarkoden.
</p>

<hr/>

–- Svara inte på det här meddelandet; det sändes från en e-postadress som inte uppföljs.
