<h1>SUOMEN RIISTAKESKUS</h1>

<h2>Tietopyyntö</h2>
<p>
    Ohje: Tämä on vastine Suomen riistakeskuksen saamaan tietopyyntöön.
    Tietopyyntöä koskevat materiaalit löytyvät tästä sähköpostista löytyvän linkin takaa. Linkki on voimassa {{dateTime validUntil "dd.MM.yyyy HH:mm"}} asti.
</p>

{{#if message}}
<p>{{message}}</p>
{{/if}}

<p>
    Linkki materiaaleihin: {{link}}
</p>

<p>Terveisin,</p>
<p>Suomen riistakeskus</p>
<p>Julkiset hallintotehtävät</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
