<p>
Alla delägare i jaktlicensen {{permitNumber}} för {{speciesName}} har avslutat jakten.
</p>

<p>
Som följande ska licensmottagaren avsluta jakten med stöd av licensen och betala licensavgiften via Oma riista -tjänsten under vyn för Huvudanvändaren.
</p>

<p>
<a target="_blank" href="{{dashboardUri}}">Gå till elektroniska meddelandet</a>.
</p>

<p>
Licensavgiften ska betalas senast inom 7 dygn efter att i jaktlicensen nämnda djur har fällts,
eller om djur inte har fällts, inom 7 dygn från det att fredningstiden har börjat.
</p>

<hr/>

<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
