Hei,<br />

Sinulle on merkitty Oma riista -palveluun metsästyksenjohtajan tehtävä seuran/seurueen {{clubName.finnish}} ryhmään {{groupName.finnish}} ({{speciesName.finnish}}, {{permitNumber}}).<br />
<br />
Voit itse määrittää Oma riista -verkkopalvelussa yhteystietojesi näkyvyyden muiden lupaosakkaiden metsästyksenjohtajille ja/tai sen riistanhoitoyhdistyksen alueen metsästyksenjohtajille, jossa kyseistä eläinlajia metsästät.<br />
<br />
Yhteystietojen näkyminen helpottaa alueella metsästävien seurojen ja seurueiden yhteydenpitoa metsästyksenjohtajien kesken. Suomen riistakeskus suosittelee yhteydenpitoa metsästyksen tarkoituksenmukaiseksi järjestämiseksi ja erityisesti turvallisuustekijöiden huomioon ottamiseksi. Yhteystiedot näkyvät metsästyksenjohtajille Seuran LUVAT -valikosta Toiminnot -valinnan alta.<br />
<br />
<br />

Voit määritellä tietojen näkymisen laajuutta "Omat tiedot" -välilehdeltä.<br />
<br />
Tässä suora linkki yhteystietojen näkyvyyden määrittämiseen: <a href="https://oma.riista.fi/#/profile/me/huntingleaderconfig">Linkki</a>.<br />
<br />
Tämä on automaattisesti Oma riista -palvelusta lähetetty viesti. Älä vastaa tähän viestiin.