<p>
    Ni har beviljats dispens av Finlands viltcentral {{permitNumber}} ({{speciesNames}}) vars dispenstid nu har upphört
    att gälla. Dispensen omfattas av skyldighet att göra fångstanmälan i enlighet med jaktlagstiftningen: Dispenshavaren
    ska underrätta Finlands viltcentral om utfallet av den fångst av ett stort rovdjur eller en utter den första vardagen
    efter det att det i dispensen nämnda viltet har fällts eller, om viltet inte har fällts, den första vardagen efter
    det att dispenstiden har upphört att gälla.
</p>

<p>
    För övriga dispenser ska fångstanmälan lämnas in inom sju dygn efter att dispenstiden har upphört att gälla.
    Om en dispens har beviljats för längre tid än ett år, ska anmälan göras inom sju dygn från utgången av respektive
    kalenderår.
</p>

<p>
    Dispenshavaren ska sörja för bytesregistreringarna och avsluta den jakt som dispensen avser i Oma riista-tjänstens
    vy för huvudanvändaren. Detta meddelande har sänts till Er, eftersom anmälan om avslutad jakt för er dispens
    fortfarande är ogjord. Vi ber Er således göra anmälan om avslutad jakt och samtidigt kontrollera bytesregistreringarna
    som gjorts gällande dispensen. Om inget byte har fällts med dispensen, räcker det att jakten meddelas vara avslutad.
</p>

<p><a target="_blank" href="{{dashboardUri}}">Gå till elektronisk anmälan</a>.</p>

<p>
    Om det inte är möjligt att göra fångstanmälan i Oma riista-tjänsten, kan fångstanmälan returneras per e-post
    på adressen saaliit@riista.fi eller per post på adressen Finlands viltcentral, Sompiovägen 1, 00730 Helsingfors.
</p>

<hr/>

<p>Detta är ett automatiskt systemgenererat meddelande, svara inte på detta meddelande.</p>