<h1>FINLANDS VILTCENTRAL</h1>

<h2>Begäran om information</h2>
<p>
    Anvisning: Det här är genmälet till begäran om information som Finlands viltcentral har mottagit.
    Materialen som berör begäran hittas via länken som finns i denna e-post. Länken är i kraft ända till den {{dateTime validUntil "dd.MM.yyyy HH:mm"}}.
</p>

{{#if message}}
<p>{{message}}</p>
{{/if}}

<p>
    Länk till materialen: {{link}}
</p>

<p>Hälsningar,</p>
<p>Finlands viltcentral</p>
<p>Offentliga förvaltningsuppgifter</p>
<hr/>
<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
