<p>Hej,</p>

<p>Finlands viltcentral har märkt verksamhetsuppgifterna för {{year}} färdig.</p>

<p>Hälsningar,</p>
<p>Teamet för jvf:s statsunderstöd- och tillsyn.</p>

<hr/>
<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
