<p>Jaktvårdsföreningens skjutprovstillfälle i Oma riista är fortfarande öppet, i läget Väntar.</p>
<p>Du kontrollerar väl provets uppgifter så fort som möjligt och stänger skjutprovstillfället.</p>

<ul>
{{~#each this}}
  <li>{{date}} {{time}}</li>
{{~/each}}
</ul>

<p>Med vänlig hälsning,</p>
<p>Finlands viltcentral</p>
<hr/>
<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
