<p>Riistanhoitoyhdistyksen ampumakoetilaisuus  Oma riistassa on  edelleen avoinna,  Odottaa- tilassa.</p>
<p>Tarkistathan kokeen tiedot mahdollisimman pian ja suljet ampumakoetilaisuuden.</p>

<ul>
{{~#each this}}
  <li>{{date}} {{time}}</li>
{{~/each}}
</ul>

<p>Ystävällisin terveisin,</p>
<p>Suomen riistakeskus</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
