<p>Ärade mottagare,</p>

<p>Du har ansökt och beviljats jaktlicens för hjortdjur. I samband med beslutet fick du även en handläggningsavgift, som
    du inte ännu har betalat. Du kommer väl ihåg att betala avgiften före förfallodagen.</p>

<p><a href="{{url}}">{{url}}</a></p>

<p>Tack</p>

<p>Med vänlig hälsning,</p>
<p>Finlands viltcentral</p>
<hr/>
<p>Detta är ett automatiskt meddelande, svara inte på detta meddelande.</p>
