<p>Hyvä vastaanottaja,</p>

<p>Olet hakenut ja saanut Suomen riistakeskuksen päätöksen. Päätöksen yhteydessä sait myös käsittelymaksun.
Muistathan maksaa maksun ennen eräpäivää.</p>

<p><a href="{{url}}">{{url}}</a></p>

<p>Kiitos.</p>

<p>Ystävällisin terveisin,</p>
<p>Suomen riistakeskus</p>
<hr/>
<p>Tämä on automaattinen järjestelmän muodostama viesti, älä vastaa tähän viestiin.</p>
