<p>Olet rekisteröitymässä Oma riista -palveluun. Vahvistamme tällä viestillä sähköpostiosoitteesi toimivuuden.</p>

<p>Jatka rekisteröitymistä klikkaamalla allaolevaa linkkiä.</p>

<a href="{{ registerLink }}">Jatka rekisteröintiä</a>

<p>P.S. Mikäli et ole käynnistänyt rekisteröitymistä, joku on saattanut vahingossa käyttää sähköpostiosoitettasi. Voit tällöin jättää tämän sähköpostin huomiotta.</p>

<p>P.P.S. Mikäli yllä oleva linkki ei toimi suoraan sähköpostiohjelmassasi voit kopioida alla olevan osoitteen suoraan selaimeesi:<br>
<pre>

{{ registerLink }}

</pre>

<p>&nbsp;</p>
