<p>Du håller på att registrera dig i tjänsten Oma riista. Med det här e-postmeddelandet försäkrar vi oss om att din e-postadress fungerar.</p>

<p>Fortsätt registreringen genom att klicka på länken nedan.</p>

<a href="{{ registerLink }}">Fortsätt registrering</a>

<p>P.S. Om du inte har startat registreringen, kan någon av misstag ha använt din e-postadress. I så fall kan du ignorera det här e-postmeddelandet.</p>

<p>P.P.S. Om länken ovan inte fungerar direkt i ditt e-postprogram kan du kopiera adressen nedan direkt till din webbläsare:<br>
<pre>

{{ registerLink }}

</pre>

<p>&nbsp;</p>
