<div class="row">
    <div class="col-xs-8">
        <p class="h3">
            <span ng-bind="::$ctrl.permit.permitType"></span>
            <span ng-bind="::$ctrl.permit.permitNumber"></span>
        </p>
    </div>
    <div class="col-xs-4 text-right">
        <a class="btn btn-link"
           style="margin-top: 36px;"
           ng-click="$ctrl.editContactPersons()">
            <strong translate="harvestpermit.management.contactPerson.editButton"></strong>
            &nbsp;
            <span class="fa fa-user"></span>
        </a>
    </div>
</div>

<div class="permit-management-section" ng-if="$ctrl.duePayment">
    <div class="section-title">
        <span class="fa fa-credit-card"></span>
        &nbsp;
        <span translate="harvestpermit.management.dashboard.payments"></span>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <p class="column-title" translate="harvestpermit.management.invoiceType.{{$ctrl.duePayment.invoiceType}}"></p>

            <p>
                <span ng-bind="::$ctrl.permit.permitType"></span>
                <span ng-bind="::$ctrl.permit.permitNumber"></span>
            </p>
        </div>
        <div class="col-xs-3">
            <p class="column-title" translate="payment.dueDate"></p>

            <p class="large-text" ng-bind="::$ctrl.duePayment.dueDate | date:'d.M.yyyy'"></p>
        </div>
        <div class="col-xs-3">
            <p class="column-title" translate="payment.amount"></p>

            <p class="large-text">
                <span ng-bind="::$ctrl.duePayment.amount"></span>
                &euro;
            </p>
        </div>
        <div class="col-xs-3">
            <p class="column-title">&nbsp;</p>

            <button class="btn btn-primary btn-block"
                    ng-click="$ctrl.startPayment()">
                <span class="fa fa-credit-card"></span>
                &nbsp;
                <span class="text-uppercase" translate="payment.payButton"></span>
            </button>
        </div>
    </div>
</div>

<div class="permit-management-section">
    <div class="section-title">
        <span class="fa fa-gavel"></span>
        &nbsp;
        <span translate="harvestpermit.management.dashboard.decisionAndAttachments.title"></span>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <p class="column-title" translate="harvestpermit.management.dashboard.decisionAndAttachments.decision"></p>

            <p>
                <a ng-if="::$ctrl.isMooselikePermit"
                   ng-click="$ctrl.downloadPdf()">
                    <span class="fa fa-file-pdf-o"></span>
                    &nbsp;
                    <span translate="harvestpermit.management.dashboard.decisionAndAttachments.decision"></span>
                    <span ng-bind="::$ctrl.permit.permitNumber"></span>
                </a>

                <span ng-if="::(!$ctrl.isMooselikePermit)">
                    <span translate="harvestpermit.management.dashboard.decisionAndAttachments.decision"></span>
                    <span ng-bind="::$ctrl.permit.permitNumber"></span>
                </span>
            </p>
        </div>

        <div class="col-xs-3">
            <p class="column-title" translate="harvestpermit.management.dashboard.decisionAndAttachments.attachments"></p>

            <p ng-if="::($ctrl.attachmentList.length === 0)" translate="harvestpermit.management.dashboard.decisionAndAttachments.noAttachments">
            </p>

            <p ng-repeat="a in ::$ctrl.attachmentList">
                <a ng-click="$ctrl.downloadAttachment(a)">
                    <span class="fa fa-file-pdf-o"></span>
                    &nbsp;
                    <span ng-bind="::a.description"></span>
                </a>
            </p>
        </div>
        <div class="col-xs-3">
            <p class="column-title" translate="harvestpermit.management.dashboard.decisionAndAttachments.permittedAmount"></p>

            <div ng-repeat="spa in $ctrl.speciesAmounts">
                <div class="species-amount-value" ng-bind="::spa.amount | number"></div>
                <div class="species-amount-text">
                    <span ng-bind="$ctrl.getGameSpeciesName(spa.gameSpecies.code)"></span>
                    <br>
                    <span ng-if="spa.restrictionType" translate="harvestpermit.amount.restriction.{{spa.restrictionType}}"></span>
                    <span ng-if="spa.restrictionType" ng-bind="spa.restrictionAmount"></span>
                </div>
            </div>

            <div ng-if="::$ctrl.permit.gameSpeciesCodes.length === 0"
                 class="species-amount-value">-</div>
        </div>
        <div class="col-xs-3">
            <p class="column-title" translate="harvestpermit.management.dashboard.decisionAndAttachments.permittedDate"></p>

            <div ng-repeat="spa in $ctrl.speciesAmounts"
                 class="species-date-text">
                <div ng-show="::(spa.beginDate || spa.endDate)">
                    <span ng-bind="::spa.beginDate | date:'d.M.yyyy'"></span>
                    &dash;
                    <span ng-bind="::spa.endDate | date:'d.M.yyyy'"></span>
                </div>

                <div ng-show="::(spa.beginDate2 || spa.endDate2)">
                    <span ng-bind="::spa.beginDate2 | date:'d.M.yyyy'"></span>
                    &dash;
                    <span ng-bind="::spa.endDate2 | date:'d.M.yyyy'"></span>
                </div>
            </div>
            <div ng-if="::$ctrl.permit.gameSpeciesCodes.length === 0"
                 class="species-amount-value">-</div>
        </div>
    </div>

    <hr class="invisible">

    <ul class="nav nav-tabs-riista"
        ng-if="$ctrl.isMooselikePermit && $ctrl.permit.gameSpeciesCodes.length > 1">
        <li ng-class="{'active': $ctrl.selectedGameSpeciesCode === gameSpeciesCode}"
            ng-click="$ctrl.changeGameSpeciesCode(gameSpeciesCode)"
            ng-repeat="gameSpeciesCode in $ctrl.permit.gameSpeciesCodes">
            <a ng-bind="$ctrl.getGameSpeciesName(gameSpeciesCode)"></a>
        </li>
    </ul>

    <hr class="invisible">

    <div class="row" style="margin-top: 16px" ng-if="$ctrl.permit.gameSpeciesCodes.length > 0">
        <div class="col-xs-4" ng-if="::$ctrl.isMooselikePermit">
            <div class="panel panel-permit-management">
                <div class="panel-heading">
                    <p class="panel-title">
                        <span class="fa fa-2x fa-pencil-square"></span>
                        <span translate="harvestpermit.management.dashboard.allocation.title"></span>
                    </p>
                </div>

                <div class="panel-body">
                    <p>
                        <span translate="harvestpermit.management.dashboard.allocation.instruction"></span>
                        <strong ng-bind="$ctrl.getGameSpeciesName($ctrl.selectedGameSpeciesCode)"></strong>.
                    </p>
                    <p></p>
                </div>

                <div class="panel-buttons">
                    <button class="btn btn-primary"
                            ng-click="$ctrl.editAllocations($ctrl.selectedGameSpeciesCode)">
                        <span translate="harvestpermit.management.dashboard.allocation.button"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-4" ng-if="::(!$ctrl.isMooselikePermit)">
            <div class="panel panel-permit-management">
                <div class="panel-heading">
                    <p class="panel-title">
                        <span class="fa fa-2x fa-list"></span>
                        <span translate="harvestpermit.management.dashboard.usage.title"></span>
                    </p>
                </div>

                <div class="panel-body">
                    <span translate="harvestpermit.management.dashboard.usage.instruction"></span>.
                </div>

                <div class="panel-buttons">
                    <button class="btn btn-primary" ui-sref="permitmanagement.usage">
                        <span translate="harvestpermit.management.dashboard.usage.button"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-4" ng-if="::$ctrl.isMooselikePermit">
            <div class="panel panel-permit-management">
                <div class="panel-heading">
                    <p class="panel-title">
                        <span class="fa fa-2x fa-group"></span>
                        <span translate="harvestpermit.management.dashboard.huntingGroupLeaders.title"></span>
                    </p>
                </div>

                <div class="panel-body">
                    <span translate="harvestpermit.management.dashboard.huntingGroupLeaders.instruction"></span>
                    <strong ng-bind="$ctrl.getGameSpeciesName($ctrl.selectedGameSpeciesCode)"></strong>.
                    <span translate="harvestpermit.management.dashboard.huntingGroupLeaders.instruction2"></span>.
                </div>

                <div class="panel-buttons">
                    <button class="btn btn-primary"
                            ng-click="$ctrl.showHuntingGroupLeaders($ctrl.selectedGameSpeciesCode)">
                        <span translate="harvestpermit.management.dashboard.huntingGroupLeaders.button"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-4" ng-if="::$ctrl.isMooselikePermit">
            <div class="panel panel-permit-management">
                <div class="panel-heading">
                    <p class="panel-title">
                        <span class="fa fa-2x fa-map-marker"></span>
                        <span translate="harvestpermit.management.dashboard.partnerMap.title"></span>
                    </p>
                </div>

                <div class="panel-body">
                    <span translate="harvestpermit.management.dashboard.partnerMap.instruction"></span>
                    <strong ng-bind="$ctrl.getGameSpeciesName($ctrl.selectedGameSpeciesCode)"></strong>.
                    <span translate="harvestpermit.management.dashboard.partnerMap.instruction2"></span>
                </div>

                <div class="panel-buttons">
                    <button class="btn btn-primary"
                            ng-click="$ctrl.showMap($ctrl.selectedGameSpeciesCode)">
                        <span translate="harvestpermit.management.dashboard.partnerMap.button"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-4" ng-if="::$ctrl.isMooselikePermit">
            <div class="panel panel-permit-management">
                <div class="panel-heading">
                    <p class="panel-title">
                        <span class="fa fa-2x fa-table"></span>
                        <span translate="harvestpermit.management.dashboard.tables.title"></span>
                    </p>
                </div>

                <div class="panel-body">
                    <span translate="harvestpermit.management.dashboard.tables.instruction"></span>
                    <strong ng-bind="$ctrl.getGameSpeciesName($ctrl.selectedGameSpeciesCode)"></strong>.
                </div>

                <div class="panel-buttons">
                    <button class="btn btn-primary"
                            ng-click="$ctrl.showTables($ctrl.selectedGameSpeciesCode)">
                        <span translate="harvestpermit.management.dashboard.tables.button"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-4" ng-if="::$ctrl.canEditMooseHarvestReport">
            <div class="panel panel-permit-management">
                <div class="panel-heading">
                    <p class="panel-title">
                        <span class="fa fa-2x fa-file-text"></span>
                        <span translate="harvestpermit.management.dashboard.mooseHarvestReport.title"></span>
                    </p>
                </div>

                <div class="panel-body">
                    <span translate="harvestpermit.management.dashboard.mooseHarvestReport.instruction"></span>
                    <strong ng-bind="$ctrl.getGameSpeciesName($ctrl.selectedGameSpeciesCode)"></strong>.
                </div>

                <div class="panel-buttons">
                    <button class="btn btn-primary"
                            ng-click="$ctrl.showMooseHarvestReport($ctrl.selectedGameSpeciesCode)">
                        <span translate="harvestpermit.management.dashboard.mooseHarvestReport.button"></span>
                    </button>
                </div>
            </div>
        </div>


        <div class="col-xs-4" ng-if="::(!$ctrl.isMooselikePermit)">
            <div class="panel panel-permit-management">
                <div class="panel-heading">
                    <p class="panel-title">
                        <span class="fa fa-2x fa-file-text"></span>
                        <span translate="harvestpermit.management.endOfHunting.normalTitle"></span>
                    </p>
                </div>

                <div class="panel-body">
                    <div ng-if="::$ctrl.permit.harvestReportState">
                        <p translate="harvestpermit.harvestReportDoneInfo"></p>
                    </div>

                    <div ng-if="::(!$ctrl.permit.harvestReportState)">
                        <span translate="harvestpermit.management.dashboard.endOfHunting.instruction"></span>
                    </div>
                </div>

                <div class="panel-buttons">
                    <span class="r-harvestreport-state-text pull-left"
                          ng-if="::$ctrl.permit.harvestReportState"
                          harvest-report-state-to-class="$ctrl.permit.harvestReportState"
                          translate="harvestreport.state.{{::$ctrl.permit.harvestReportState}}"></span>

                    <button type="button" class="btn btn-primary"
                            ng-if="::$ctrl.permit.canEndHunting"
                            ng-click="$ctrl.showEndOfHuntingReport()">
                        <span translate="harvestpermit.management.endOfHunting.createButton"></span>
                    </button>

                    <button type="button" class="btn btn-default"
                            ng-if="::$ctrl.permit.harvestReportState"
                            ng-click="$ctrl.showEndOfHuntingReport()">
                        <span class="glyphicon glyphicon-edit"></span>
                        &nbsp;
                        <span translate="global.button.open"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
