<uib-accordion close-others="true">
    <div uib-accordion-group
         class="panel-default"
         is-open="day.isOpen"
         template-url="common/accordion-group.html"
         ng-repeat="day in $ctrl.huntingDays | orderBy: ['-startDate']">
        <uib-accordion-heading>
            <div class="row">
                <div class="col-xs-5">
                    <span ng-class="$ctrl.getDayToggleClasses(day)"></span>
                    &nbsp;
                    <span ng-bind="::(day.startDate | date:'d.M.yyyy')"></span>
                    <span class="glyphicon glyphicon-asterisk text-danger"
                          ng-show="$ctrl.showHuntingDayAsterisk(day)"></span>
                </div>

                <div class="col-xs-5">
                    <span ng-class="{'count-zero': day.totalHarvestSpecimenCount === 0}"
                          class="harvest-counter">
                        <span ng-bind="::(day.totalHarvestSpecimenCount)"></span>
                        <span class="fa fa-crosshairs"></span>
                    </span>

                    <span ng-class="{'count-zero': day.totalObservationSpecimenCount === 0}"
                          ng-show="$ctrl.observationsViable()"
                          class="harvest-counter">
                        <span ng-bind="::(day.totalObservationSpecimenCount)"></span>
                        <r-binoculars-symbol></r-binoculars-symbol>
                    </span>
                </div>

                <div class="col-xs-2 text-right" ng-show="day.canEdit && $ctrl.isMooseGroupSelected()">
                    <a ng-show="day.id"
                       ng-click="$ctrl.editHuntingDay($event, day)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a ng-hide="day.id"
                       ng-click="$ctrl.createHuntingDay($event, day)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </div>
            </div>
        </uib-accordion-heading>
        <div ng-switch="$ctrl.getGroupType()">
            <club-hunting-day-list-moose ng-switch-when="MOOSE_GROUP"
                                         hunting-day="day"
                                         on-select-entry="$ctrl.onSelectEntry({diaryEntry:entry, huntingDay: day})"></club-hunting-day-list-moose>
            <club-hunting-day-list-deer ng-switch-when="DEER_GROUP"
                                        hunting-day="day"
                                        on-select-entry="$ctrl.onSelectEntry({diaryEntry:entry, huntingDay: day})"></club-hunting-day-list-deer>
            <club-hunting-day-list-white-tailed-deer ng-switch-when="WHITE_TAILED_DEER_GROUP"
                                                     hunting-day="day"
                                                     on-select-entry="$ctrl.onSelectEntry({diaryEntry:entry, huntingDay: day})"></club-hunting-day-list-white-tailed-deer>
        </div>
    </div>
</uib-accordion>
