<uib-accordion close-others="true">
    <div uib-accordion-group
            class="panel-default"
            is-open="day.isOpen"
            template-url="common/accordion-group.html"
            ng-repeat="day in ctrl.huntingDays | orderBy: ['-startDate']">
        <uib-accordion-heading>
            <div class="row">
                <div class="col-xs-5">
                    <span ng-class="ctrl.getDayToggleClasses(day)"></span>
                    &nbsp;
                    <span ng-bind="::(day.startDate | date:'d.M.yyyy')"></span>
                    <span class="glyphicon glyphicon-asterisk text-danger"
                          ng-show="ctrl.showHuntingDayAsterisk(day)"></span>
                </div>

                <div class="col-xs-5">
                    <span ng-class="{'count-zero': day.totalHarvestSpecimenCount === 0}"
                          class="harvest-counter">
                        <span ng-bind="::(day.totalHarvestSpecimenCount)"></span>
                        <span class="fa fa-crosshairs"></span>
                    </span>

                    <span ng-class="{'count-zero': day.totalObservationSpecimenCount === 0}"
                          ng-show="ctrl.isMooseGroupSelected()"
                          class="harvest-counter">
                        <span ng-bind="::(day.totalObservationSpecimenCount)"></span>
                        <r-binoculars-symbol></r-binoculars-symbol>
                    </span>
                </div>

                <div class="col-xs-2 text-right" ng-show="day.canEdit && ctrl.isMooseGroupSelected()">
                    <a ng-show="day.id"
                       ng-click="ctrl.editHuntingDay($event, day)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a ng-hide="day.id"
                       ng-click="ctrl.createHuntingDay($event, day)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </div>
            </div>
        </uib-accordion-heading>

        <table>
            <thead ng-if="day.id && ctrl.isMooseGroupSelected()">
            <tr>
                <th translate="club.hunting.huntingDay.startTime"></th>
                <td colspan="2" ng-bind="::(day.startTime | date:'HH:mm')"></td>
            </tr>
            <tr>
                <th translate="club.hunting.huntingDay.endTime"></th>
                <td colspan="2" ng-bind="::(day.endTime | date:'HH:mm')"></td>
            </tr>
            <tr>
                <th translate="club.hunting.huntingDay.breakDuration"></th>
                <td colspan="2" ng-bind="::(day.breakDurationInMinutes | prettyMinutes)"></td>
            </tr>
            <tr>
                <th translate="club.hunting.huntingDay.duration"></th>
                <td colspan="2" ng-bind="::(day.durationInMinutes | prettyMinutes)"></td>
            </tr>
            <tr>
                <th translate="club.hunting.huntingDay.snowDepth"></th>
                <td colspan="2" ng-bind="::(day.snowDepth)"></td>
            </tr>
            <tr>
                <th translate="club.hunting.huntingDay.huntingMethod"></th>
                <td colspan="2">
                    <span ng-if="day.huntingMethod"
                          ng-bind="::(day.huntingMethod | translateWithPrefix:'club.hunting.huntingMethod.')"></span>
                </td>
            </tr>
            <tr>
                <th colspan="2" translate="club.hunting.huntingDay.numberOfHunters"></th>
                <td ng-bind="::(day.numberOfHunters)"></td>
            </tr>
            <tr ng-if="day.numberOfHounds">
                <th colspan="2" translate="club.hunting.huntingDay.numberOfHounds"></th>
                <td ng-bind="::(day.numberOfHounds)"></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in day.gameEntries track by (entry.type + entry.id)"
                ng-class="{'text-muted': !entry.huntingDayId}">
                <td colspan="3" ng-click="ctrl.onEntryClick(entry, day)">
                    <div class="diary-entry-row">
                        <div>
                            <img ng-src="/static/elainlajikuvat/96x96/{{ ::entry.gameSpeciesCode }}.jpg"
                                 width="24" height="24"/>
                        </div>

                        <div>
                            <span ng-bind="::(entry.gameSpecies.name | rI18nNameFilter)"></span>
                            <span class="glyphicon glyphicon-asterisk text-danger" ng-hide="entry.huntingDayId"></span>
                            <span class="glyphicon glyphicon-briefcase text-warning" ng-show="entry.moderatorOverride"
                                  uib-tooltip="{{ 'gamediary.moderatorOverride' | translate }}" tooltip-append-to-body></span>
                        </div>

                        <div>
                            <span ng-if="entry.specimens && entry.specimens.length === 1"
                                  ng-bind="::(ctrl.getSpecimenType(entry.specimens[0]) | translateWithPrefix:'club.hunting.specimenAbbrv.')"></span>
                        </div>

                        <div>
                            <span ng-bind="::(entry.totalSpecimenAmount)"></span>
                            <span translate="gamediary.search.pieces"></span>
                        </div>

                        <div ng-bind="::(entry.pointOfTime | date:'HH:mm')"></div>

                        <div>
                            <span class="fa fa-crosshairs" ng-if="::entry.isHarvest()"></span>
                            <r-binoculars-symbol ng-if="::entry.isObservation()"></r-binoculars-symbol>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="day.totalHarvestSpecimenCount === 0">
                <td colspan="3"><span class="count-zero" translate="club.hunting.huntingDay.noHarvests"></span></td>
            </tr>
            <tr ng-show="day.totalObservationSpecimenCount === 0  && ctrl.isMooseGroupSelected()">
                <td colspan="3"><span class="count-zero" translate="club.hunting.huntingDay.noObservations"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</uib-accordion>
