<div ng-if="::$ctrl.standHuntingEntriesPresent">
    <table>
        <thead>
        <tr>
            <th translate="gamediary.deerHuntingType.STAND_HUNTING"></th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in $ctrl.standHuntingEntries track by (entry.type + entry.id)"
            ng-class="{'text-muted': !entry.huntingDayId}">
            <td colspan="3" ng-click="$ctrl.onSelectEntry({entry:entry, day:day})">
                <club-hunting-day-entry entry="entry"></club-hunting-day-entry>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="::$ctrl.dogHuntingEntriesPresent">
    <table>
        <thead>
        <tr>
            <th translate="gamediary.deerHuntingType.DOG_HUNTING"></th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in $ctrl.dogHuntingEntries track by (entry.type + entry.id)"
            ng-class="{'text-muted': !entry.huntingDayId}">
            <td colspan="3" ng-click="$ctrl.onSelectEntry({entry:entry, day:day})">
                <club-hunting-day-entry entry="entry"></club-hunting-day-entry>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="::$ctrl.otherHuntingEntriesPresent">
    <table>
        <thead>
        <tr>
            <th translate="gamediary.deerHuntingType.OTHER"></th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in $ctrl.otherHuntingEntries track by (entry.type + entry.id)"
            ng-class="{'text-muted': !entry.huntingDayId}">
            <td colspan="3" ng-click="$ctrl.onSelectEntry({entry:entry, day:day})">
                <club-hunting-day-entry entry="entry"></club-hunting-day-entry>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<table>
    <tbody>
    <tr ng-show="$ctrl.huntingDay.totalHarvestSpecimenCount === 0">
        <td colspan="3"><span class="count-zero" translate="club.hunting.huntingDay.noHarvests"></span></td>
    </tr>
    <tr ng-show="$ctrl.huntingDay.totalObservationSpecimenCount === 0">
        <td colspan="3"><span class="count-zero" translate="club.hunting.huntingDay.noObservations"></span></td>
    </tr>
    </tbody>
</table>
