.r-huntingcontrolevent-computed-value {
  margin-top: 10px;
  font-weight: bold;
}

@media (min-width: @screen-sm-min) {
  .r-huntingcontrolevent-button {
    margin-top: 25px;
  }
}

@media (min-width: @screen-md-min) {
  .r-huntingcontrolevent-button {
    margin-top: 0px;
  }
}

@media (max-width: @screen-xs-max) {
  .r-huntingcontrolevent-button {
    margin-bottom: 15px;
  }
}

@media (max-width: @screen-md-min) {
  .r-huntingcontrolevent .separated {
    padding: 2px 0px;
    border-bottom: 1px solid lightgrey;
  }
}

.r-huntingcontrolevent-selection-width-auto {

}

.r-huntingcontrolevent {

  .split-long-lines {
    white-space: normal;
  }

  .tight-row {
    padding-left: 15px;
    padding-right: 15px;

    .col-md-12, .col-md-3, .col-md-2, .col-md-1, .col-sm-6, .col-sm-3 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .mandatory-field:after {
    font-family: FontAwesome;
    content: "\f069";
    color: @r-red;
    font-size: small;
    white-space: nowrap;
    margin-left: 6px;
  }

  .status {
    font-size: large;
    font-weight: bold;
  }

  .accepted {
    color: @r-green;
  }

  .proposed {
    color: @r-yellow;
  }

  .rejected {
    color: @r-red;
  }

  th {
    border: none;
  }

  .header-row {
    background-color: #e3e3e3;
    padding-top: 8px;
    padding-bottom: 16px;
  }

  .details {
    width: 100%;
    tr:nth-child(even) > td {
      padding-bottom: 1em;
      padding-right: 10px;
    }
    tr > td {
      vertical-align: top;
    }
  }

  .attachment-list {
    padding: 4px 0px;
    vertical-align: middle;
    font-size: large;
    border-bottom: 1px solid lightgrey;
    display: flex;

    .filename {
      margin-top: auto;
      margin-bottom: auto;
    }

    .delete {
      margin-top: auto;
      margin-bottom: auto;
      color: @r-red;

      span {
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }

  .toggle-switch {
    .text-right;
    color: @r-green;
  }

  img {
    border-radius: 4px;
  }

}

.r-hunting-control-report-button-container {
  margin-top: 15px;
}