<div class="r-huntingcontrolevent">
    <div class="row tight-row">
        <div class="form-group col-md-2 col-sm-6">
            <label for="yearSelection" class="control-label">
                <span translate="global.year"></span>
            </label>

            <select name="yearSelection" id="yearSelection"
                    class="form-control r-huntingcontrolevent-selection-width-auto"
                    ng-model="$ctrl.calendarYear"
                    ng-options="year for year in $ctrl.availableYears"
                    ng-change="$ctrl.onSelectedYearChanged()">

                <option disabled value="">{{'global.selectCalendarYear' | translate}}</option>
            </select>
        </div>

        <div class="form-group col-md-3 col-sm-6">
            <label for="typeSelection" class="control-label">
                <span translate="rhy.huntingControlEvent.type"></span>
            </label>

            <select name="typeSelection" id="typeSelection"
                    class="form-control r-huntingcontrolevent-selection-width-auto"
                    ng-model="$ctrl.filters.type"
                    ng-options="type as 'rhy.huntingControlEvent.eventType.' + type | translate for type in $ctrl.filterOptions.types"
                    ng-change="$ctrl.onFilterChange()">
                <option value="">{{'global.showAll' | translate}}</option>
            </select>
        </div>

        <div class="form-group col-md-2 col-sm-6">
            <label for="cooperationSelection" class="control-label">
                <span translate="rhy.huntingControlEvent.cooperation"></span>
            </label>

            <select name="cooperationSelection" id="cooperationSelection"
                    class="form-control r-huntingcontrolevent-selection-width-auto"
                    ng-model="$ctrl.filters.cooperation"
                    ng-options="coop as 'rhy.huntingControlEvent.cooperationType.' + coop | translate for coop in $ctrl.filterOptions.cooperations"
                    ng-change="$ctrl.onFilterChange()">
                <option value="">{{'global.showAll' | translate}}</option>
            </select>
        </div>

        <div class="form-group col-md-2 col-sm-6">
            <label for="statusSelection" class="control-label">
                <span translate="rhy.huntingControlEvent.status"></span>
            </label>

            <select name="statusSelection" id="statusSelection"
                    class="form-control r-huntingcontrolevent-selection-width-auto"
                    ng-model="$ctrl.filters.status"
                    ng-options="status.value as status.name | translate for status in $ctrl.filterOptions.statuses"
                    ng-change="$ctrl.onStatusChange()">
                <option value="">{{'global.showAll' | translate}}</option>
            </select>
        </div>

        <div class="form-group col-md-3 col-sm-6">
            <label for="subsidizeSelection" class="control-label">
                <span translate="rhy.huntingControlEvent.subsidize"></span>
            </label>

            <select name="subsidizeSelection" id="subsidizeSelection"
                    class="form-control r-huntingcontrolevent-selection-width-auto"
                    ng-model="$ctrl.filters.subsidized"
                    ng-options="value.value as value.name | translate for value in $ctrl.filterOptions.subsidizedValues"
                    ng-change="$ctrl.onSubsidizedChange()">
                <option value="">{{'global.showAll' | translate}}</option>
            </select>
        </div>

        <div class="col-md-12 col-sm-6 text-right">
            <button type="button" ng-click="$ctrl.addEvent()" class="btn btn-primary r-huntingcontrolevent-button">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                <span translate="global.button.add"></span>
            </button>
        </div>

        <div class="col-md-12 col-sm-6 text-right r-hunting-control-report-button-container">
            <button type="button" ng-click="$ctrl.loadReport()" class="btn btn-default r-huntingcontrolevent-button">
                <span translate="rhy.huntingControlEvent.downloadReport"></span>
            </button>

            <span ng-switch="::$ctrl.isModerator">
                <div ng-switch-when="true" class="btn-group r-huntingcontrolevent-button" role="group" uib-dropdown dropdown-append-to-body>

                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                        <span translate="global.button.download"></span>&nbsp;
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li><a ng-click="$ctrl.exportToExcel()">
                            <span class="glyphicon glyphicon-th"></span>&nbsp;
                            <span translate="rhy.huntingControlEvent.excel.rhy"></span>
                        </a></li>
                        <li><a ng-click="$ctrl.exportAllToExcel()">
                            <span class="glyphicon glyphicon-th"></span>&nbsp;
                            <span translate="rhy.huntingControlEvent.excel.all"></span>
                        </a></li>
                    </ul>
                </div>

                <button ng-switch-when="false"
                        type="button"
                        ng-click="$ctrl.exportToExcel()"
                        class="btn btn-default r-huntingcontrolevent-button"
                        translate="rhy.huntingControlEvent.download">
                </button>
            </span>
        </div>
    </div>

    <hr class="invisible"/>

    <div class="table-responsive">
        <div ng-if="$ctrl.filteredEvents.length === 0" class="alert alert-info" translate="search.formatNoMatches"></div>
        <table ng-if="$ctrl.filteredEvents.length > 0" class="table table-striped">
            <thead>
            <tr>
                <th>
                    <div class="container-fluid">
                        <div class="row row-no-gutters">
                            <div class="col-sm-11">
                                <div class="row">
                                    <div class="col-md-2 col-xs-6" translate="rhy.huntingControlEvent.status"></div>
                                    <div class="col-md-1 col-xs-6" translate="rhy.huntingControlEvent.datetime"></div>
                                    <div class="col-md-2 col-xs-6" translate="rhy.huntingControlEvent.type"></div>
                                    <div class="col-md-2 col-xs-6" translate="rhy.huntingControlEvent.inspectors"></div>
                                    <div class="col-md-1 col-xs-6" translate="rhy.huntingControlEvent.cooperation"></div>
                                    <div class="col-md-2 col-xs-6" translate="rhy.huntingControlEvent.location"></div>
                                    <div class="col-md-1 col-xs-6" translate="rhy.huntingControlEvent.customers"></div>
                                    <div class="col-md-1 col-xs-6" translate="rhy.huntingControlEvent.proofOrders"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-init="collapsed = true" ng-repeat="event in $ctrl.filteredEvents track by event.id">
                <td>
                    <div class="container-fluid">
                        <div class="row row-no-gutters">
                            <div class="col-sm-11" ng-switch="collapsed">
                                <r-hunting-controller-event-brief ng-switch-when="true" event="event"></r-hunting-controller-event-brief>
                                <r-hunting-controller-event-details ng-switch-when="false"
                                                                    event="event"
                                                                    rhy-bounds="$ctrl.rhyBounds"
                                                                    rhy-geo-json="$ctrl.rhyGeoJson"
                                                                    is-coordinator="$ctrl.isCoordinator"
                                                                    on-change="$ctrl.onChange()">
                                </r-hunting-controller-event-details>
                            </div>
                            <div class="col-sm-1 toggle-switch" ng-click="collapsed = !collapsed" ng-switch="collapsed">
                                <span ng-switch-when="true" class="fa fa-2x fa-chevron-right"></span>
                                <span ng-switch-when="false" class="fa fa-2x fa-chevron-down"></span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>